{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- DATATABLE -->
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/css/dataTables.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/css/buttons.dataTables.min.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/extensions/responsive/css/responsive.dataTables.css') | css_tag }}
    <!-- END DATATABLE -->

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    {% if (errors.has('check_item')) %}
        <div class="m-alert m-alert--icon m-alert--air alert alert-danger alert-dismissible fade show" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
                <strong>
                    {{ errors.first('check_item') }}
                </strong>
            </div>
            <div class="m-alert__close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}

    <div class="card">
        <div class="card-header">
            <h5>{{ PageTitle }}</h5>
            <span>{{ PageDescription }}</span>
        </div>
        <div class="card-block">
            <form class="form-material" id="form-mutation" name="form-mutation" action="{{ route(RouteSave) }}" method="post">
                {{ csrf_field() }}
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <select class="form-control" id="school_category" name="school_category">
                                {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                                {% for  key,value in ListSchoolCategory %}
                                    <option value="{{ key }}" {% if SCHOOLCATEGORY %}{{ SCHOOLCATEGORY == key ? 'selected="selected"' : ''}}{% else %}{% if old('school_category') %}{{ old('school_category') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% if SCHOOLCATEGORY or old('school_category') %}
                        {% if(old('school_category')) %}
                            {% set SCHOOLCATEGORY = old('school_category') %}
                        {% endif %}
                        {% set ListLevelbySchoolCategory = call_helpers('get_ListLevelbySchoolCategory', SCHOOLCATEGORY) %}
                    {% endif %}
                    <div class="col-lg-3">
                        <div class="form-group">
                            <select class="form-control" id="level" name="level" {% if LEVEL is empty %}disabled{% endif %}>
                                {% if SCHOOLCATEGORY %}
                                    {% for  key,value in ListLevelbySchoolCategory %}
                                        <option value="{{ key }}" {% if LEVEL %}{{ LEVEL == key ? 'selected="selected"' : ''}}{% else %}{% if old('level') %}{{ old('level') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    {% if LEVEL or old('level')%}
                        {% if(old('level')) %}
                            {% set LEVEL = old('level') %}
                        {% endif %}
                        {% set ListClassInfobyLevel = call_helpers('get_ListClassInfobyLevel', LEVEL) %}
                    {% endif %}
                    <div class="col-lg-3">
                        <div class="form-group">
                            <select class="form-control" id="class_info" name="class_info"  {% if CLASSINFO is empty %}disabled{% endif %}>
                                {% if LEVEL %}
                                    {% for  key,value in ListClassInfobyLevel %}
                                        <option value="{{ key }}" {% if CLASSINFO %}{{ CLASSINFO == key ? 'selected="selected"' : ''}}{% else %}{% if old('class_info') %}{{ old('class_info') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="0">-- Pilih Tingkat terlebih dahulu --</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button type="submit" name="action" value="search" id="btn-SearchForm" class="btn btn-block btn-primary" ><i class="icofont icofont-document-search"></i> Cari Data</button>
                    </div>
                </div>
                    <table id="{{ datatables }}" class="table display">
                        <thead>
                        <tr>
                            {% for Row in RowDT %}
                                <th>{{ Row }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    </table>
                <hr>
                <h4 class="title text-primary">Target Mutasi {{ SchoolYear.name }}</h4>
                <hr>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group {% if (errors.has('school_category_target')) %}form-danger{% endif %} form-static-label">
                            <select class="form-control" id="school_category_target" name="school_category_target">
                                {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                                {% for  key,value in ListSchoolCategory %}
                                    <option value="{{ key }}" {% if SCHOOLCATEGORY %}{{ SCHOOLCATEGORY == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group  {% if (errors.has('level_target')) %}form-danger{% endif %} form-static-label">
                            <select class="form-control" id="level_target" name="level_target" {% if LEVEL is empty %}disabled{% endif %}>
                                {% if SCHOOLCATEGORY %}
                                    {% set ListLevelbySchoolCategory = call_helpers('get_ListLevelbySchoolCategory', SCHOOLCATEGORY) %}
                                    {% for  key,value in ListLevelbySchoolCategory %}
                                        <option value="{{ key }}" {% if old('level_target') %}{{ old('level_target') == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                                {% endif %}
                            </select>
                            {% if (errors.has('level_target')) %}<div class="col-form-label text-danger">{{ errors.first('level_target') }}</div>{% endif %}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group {% if (errors.has('class_info_target')) %}form-danger{% endif %} form-static-label">
                            <select class="form-control" id="class_info_target" name="class_info_target" disabled>
                                <option value="0">-- Pilih Tingkat terlebih dahulu --</option>
                            </select>
                            {% if (errors.has('class_info_target')) %}<div class="col-form-label text-danger">{{ errors.first('class_info_target') }}</div>{% endif %}
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <input type="hidden" name="school_year_id" id="school_year_id" value="{{ SchoolYear.id }}">
                        <input type="hidden" name="school_year_before_id" id="school_year_before_id" value="{{ SchoolYearBefore.id }}">
                        {% if CLASS_LAST == 1 %}
                            <button type="button" name="show" value="showGraduated" id="btn-showGraduated" class="btn btn-block btn-outline-danger"><i class="fa fa-wpforms"></i> Tampilkan Siswa Lulus</button>
                            <button type="submit" name="action" value="graduated" id="btn-SubmitForm" class="btn btn-block btn-info"><i class="fa fa-check"></i> Siswa Lulus</button>
                        {% endif %}
                        <button type="submit" name="action" value="mutation" id="btn-SubmitForm" class="btn btn-block btn-success"><i class="fa fa-exchange"></i> Mutasi Siswa</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="showClass">

    </div>
    {% endblock %}

{% block addmodal %}
    <!-- DELETE -->
    <div class="modal fade"  id="ConfirmDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="id">
                    <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light " onclick="ActionDelete()">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE -->

    <!-- INACTIVE -->
    <div class="modal fade"  id="ConfirmInactive" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning waves-effect waves-light " onclick="ActionInactive()">Inactive</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END INACTIVE -->

    <!-- ACTIVATE -->
    <div class="modal fade"  id="ConfirmActivate" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Activate Confirmation!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success waves-effect waves-light " onclick="ActionActivate()">Activate</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END ACTIVATE -->

{% endblock %}

{% block addjs %}

    <!-- DATATABLES -->
    {{ asset(ThemePlugins ~ 'datatables.net/js/jquery.dataTables.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/js/dataTables.bootstrap4.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive/js/dataTables.responsive.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') | script_tag }}


    <script>
        var ROUTE_DATATABLE     = '{{ RouteDatatables }}';
        var TBL_NAME            = '{{ datatables }}';
        var URL_PAGE            = '{{ UrlPage }}';
        var SCHOOLCATEGORY      = '{{ SCHOOLCATEGORY }}';
        var LEVEL               = '{{ LEVEL }}';
        var CLASSINFO           = '{{ CLASSINFO }}';

        function deleteList(id){
            $('#id').val(id);
            $('#ConfirmDelete').modal('show');
        }

        function ActionDelete(){
            var id = $('#id').val();
            window.location = BASE_URL + "/" + URL_PAGE + "/delete/" + id;
        }

        function inactiveList(id){
            $('#id').val(id);
            $('#ConfirmInactive').modal('show');
        }

        function ActionInactive(){
            var id = $('#id').val();
            window.location = BASE_URL + "/" + URL_PAGE + "/inactive/" + id;
        }

        function activateList(id){
            $('#id').val(id);
            $('#ConfirmActivate').modal('show');
        }

        function ActionActivate(){
            var id = $('#id').val();
            window.location = BASE_URL + "/" + URL_PAGE + "/activate/" + id;
        }
    </script>

    <!-- FUNCTION DATATABLE -->
    {{ asset(PathJS ~ 'datatable.js')|script_tag }}
    {{ asset(PathJS ~ 'main.js')|script_tag }}
{% endblock %}
