{% extends "admin::layouts." ~ config_get('themes.able_theme') %}
{% block addcss %}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/home') }}">
                                <i class="feather icon-home">Home</i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    {% if errors.has('message') %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="icofont icofont-close-line-circled"></i>
                            </button>
                            <strong>Warning!</strong> {{ errors.first('message') }}
                        </div>
                    {% endif %}


                    <form id="main" novalidate action="{{ route('profile_changed_password_act') }}" method="post">
                        {{ csrf_field() }}

                        <!-- PASSWORD -->
                        <div class="form-group row {% if (errors.has('password')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Password <label class="text-danger">*</label></label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control {% if (errors.has('password')) %}form-control-danger{% endif %}" name="password" id="password" placeholder="Password baru" value="">
                                <span class="messages"></span>
                                {% if (errors.has('password')) %}<div class="col-form-label">{{ errors.first('password') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PASSWORD -->

                        <!-- PASSWORD CONFIRMATION -->
                        <div class="form-group row {% if (errors.has('password_confirmation')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Ketik Ulang <label class="text-danger">*</label></label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control {% if (errors.has('password_confirmation')) %}form-control-danger{% endif %}" name="password_confirmation" id="password_confirmation" placeholder="Password baru" value="">
                                <span class="messages"></span>
                                {% if (errors.has('password_confirmation')) %}<div class="col-form-label">{{ errors.first('password_confirmation') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PASSWORD CONFIRMATION  -->


                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> Simpan perubahan</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block addjs %}
    <script>
        $( "#{{ ClassPage }}" ).addClass( "active pcoded-trigger" );
        $( "#{{ ClassPageSub }}" ).addClass( "active" );
    </script>

    {{ asset(ThemePlugins ~ 'jquery-slimscroll/js/jquery.slimscroll.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}
{% endblock %}
