{% extends "admin::layouts." ~ config_get('themes.able_theme') %}
{% block addcss %}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/home') }}">
                                <i class="feather icon-home">Home</i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    {% if errors.has('message') %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <i class="icofont icofont-close-line-circled"></i>
                            </button>
                            <strong>Warning!</strong> {{ errors.first('message') }}
                        </div>
                    {% endif %}


                    <form id="main" novalidate action="{{ route('profile_changed_pin_act') }}" method="post">
                        {{ csrf_field() }}

                        <input type="hidden" name="staff_id" id="staff_id" value="{{ User.employee.id }}">

                        <!-- PIN -->
                        <div class="form-group row {% if (errors.has('pin')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">PIN <label class="text-danger">*</label></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control pin {% if (errors.has('pin')) %}form-control-danger{% endif %}" name="pin" id="pin" placeholder="PIN baru" value="">
                                <span class="messages"></span>
                                {% if (errors.has('pin')) %}<div class="col-form-label">{{ errors.first('pin') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PIN -->

                        <!-- PIN CONFIRMATION -->
                        <div class="form-group row {% if (errors.has('pin_confirmation')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Ketik Ulang <label class="text-danger">*</label></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control pin {% if (errors.has('pin_confirmation')) %}form-control-danger{% endif %}" name="pin_confirmation" id="pin_confirmation" placeholder="Ketik ulang PIN baru" value="">
                                <span class="messages"></span>
                                {% if (errors.has('pin_confirmation')) %}<div class="col-form-label">{{ errors.first('pin_confirmation') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PIN CONFIRMATION  -->


                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> Simpan perubahan</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block addjs %}
    <script>
        $( "#{{ ClassPage }}" ).addClass( "active pcoded-trigger" );
        $( "#{{ ClassPageSub }}" ).addClass( "active" );
    </script>

    <!-- INPUT MASK -->
    {{ asset(ThemeAsset ~ 'pages/form-masking/inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/jquery.inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/autoNumeric.js') | script_tag }}
    {{ asset('js/masking.js') | script_tag }}
{% endblock %}
