{% extends "admin::layouts." ~ config_get('themes.able_theme') %}

{% block addcss %}
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/home') }}">
                                <i class="icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}



{% block body %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>{{ PageTitle }}</h5>
                <span>{{ PageDescription }}</span>
            </div>
            <div class="card-block">
                {% if errors.has('message') %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <i class="icofont icofont-close-line-circled"></i>
                        </button>
                        <strong>Warning!</strong> {{ errors.first('message') }}
                    </div>
                {% endif %}

                <form id="main" name="form-profile_info" novalidate action="{{ route('profile_info_saved') }}" method="post">
                    {{ csrf_field() }}

                    <!-- PICTURE -->
                    <div class="form-group row {% if (errors.has('picture')) %}has-danger{% endif %}">
                        <label class="col-sm-2 col-form-label">Foto Profil :</label>
                        {% if Data.picture %}
                            {{ url('storage/' ~ Data.picture) }}
                            <div class="col-sm-2">
                                <div class="thumbnail">
                                    <div class="thumb">
                                        <a href="{{ url('storage/' ~ Data.picture) }}" data-lightbox="1" data-title="{{ Data.fullname }}">
                                            <img src="{{ url('storage/' ~ Data.picture) }}" alt="" class="img-fluid img-thumbnail">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="col-sm-8">
                            <div id="load-picture">
                                {% if Data.picture %}
                                    <a class="btn btn-info" href="{{ route('student_download_picture', Data.id) }}"><i class="fa fa-download"></i> Download</a>
                                    <button class="btn btn-danger" type="button" id="btn-deletePicture"><i class="fa fa-trash"></i> Hapus</button>
                                {% else %}
                                    <input type="file" class="form-control {% if (errors.has('picture')) %}form-control-danger{% endif %}" name="picture" id="picture">
                                {% endif %}
                            </div>
                            <span class="messages"></span>
                            {% if (errors.has('picture')) %}<div class="col-form-label">{{ errors.first('picture') }}</div>{% endif %}
                        </div>
                    </div>
                    <!-- END PICTURE -->

                    <hr>

                    <!-- ACTION -->
                    <div class="form-group row">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> Simpan perubahan</button>
                        </div>
                    </div>
                    <!-- END ACTION -->

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block addmodal %}
{% endblock %}


{% block addjs %}
    <script>
        $( "#{{ ClassPage }}" ).addClass( "active pcoded-trigger" );
        $( "#{{ ClassPageSub }}" ).addClass( "active" );
    </script>

    {{ asset(ThemePlugins ~ 'jquery-slimscroll/js/jquery.slimscroll.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}

    {{ asset('modules/user/profile/main.js')|script_tag }}
    {{ asset('js/phone_number.js')|script_tag }}

{% endblock %}
