{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- DATATABLE -->
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/css/dataTables.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/css/buttons.dataTables.min.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/extensions/responsive/css/responsive.dataTables.css') | css_tag }}
    <!-- END DATATABLE -->
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">

                    <form id="main" novalidate action="{{ route(RouteSearch) }}" method="post">
                        {{ csrf_field() }}

                        <!-- SCHOOL CATEGORY -->
                        <div class="form-group row {% if (errors.has('school_category')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kategori Sekolah <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select name="school_category" class="form-control" id="school_category" {% if state == 'edit' %}disabled{% endif %}>
                                    {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                                    {% for  key,value in ListSchoolCategory %}
                                        <option value="{{ key }}" {% if state == 'add' %}{{ old('school_category') == key ? 'selected="selected"' : ''}}{% else %}{{ SCHOOLCATEGORY == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('school_category')) %}<div class="col-form-label">{{ errors.first('school_category') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END SCHOOL CATEGORY -->

                        {% if SCHOOLCATEGORY or old('school_category') %}
                            {% if(old('school_category')) %}
                                {% set SCHOOLCATEGORY = old('school_category') %}
                            {% endif %}
                            {% set ListLevelbySchoolCategory = call_helpers('get_ListLevelbySchoolCategory', SCHOOLCATEGORY) %}
                        {% endif %}

                        {% if LEVEL or old('level')%}
                            {% if(old('level')) %}
                                {% set LEVEL = old('level') %}
                            {% endif %}
                            {% set ListClassInfobyLevel = call_helpers('get_ListClassInfobyLevel', LEVEL) %}
                        {% endif %}

                        <!-- TINGKAT -->
                        <div class="form-group row {% if (errors.has('level')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tingkat</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="level" name="level" {% if LEVEL is empty %}disabled{% endif %} {% if state == 'edit' %}disabled{% endif %}>
                                    {% if SCHOOLCATEGORY %}
                                        {% for  key,value in ListLevelbySchoolCategory %}
                                            <option value="{{ key }}" {% if LEVEL %}{{ LEVEL == key ? 'selected="selected"' : ''}}{% else %}{% if old('level') %}{{ old('level') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('level')) %}<div class="col-form-label">{{ errors.first('level') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END TINGKAT -->

                        {% if CLASSINFO or old('class_info')%}
                            {% if(old('class_info')) %}
                                {% set CLASSINFO = old('class_info') %}
                            {% endif %}
                        {% endif %}

                        <!-- KELAS -->
                        <div class="form-group row {% if (errors.has('class_info')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kelas</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="class_info" name="class_info"  {% if CLASSINFO is empty %}disabled{% endif %} {% if state == 'edit' %}disabled{% endif %}>
                                    {% if LEVEL %}
                                        {% for  key,value in ListClassInfobyLevel %}
                                            <option value="{{ key }}" {% if CLASSINFO %}{{ CLASSINFO == key ? 'selected="selected"' : ''}}{% else %}{% if old('class_info') %}{{ old('class_info') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Tingkat terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('class_info')) %}<div class="col-form-label">{{ errors.first('class_info') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END KELAS -->

                        <!-- GURU -->
                        <div class="form-group row {% if (errors.has('teacher')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Guru</label>
                            <div class="col-sm-4">
                                <select class="form-control select2" id="teacher" name="teacher">
                                    {% for  key,value in call_helpers('get_ListTeacher') %}
                                        <option value="{{ key }}" {% if TEACHER %}{{ TEACHER == key ? 'selected="selected"' : ''}}{% else %}{% if old('teacher') %}{{ old('teacher') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('teacher')) %}<div class="col-form-label">{{ errors.first('teacher') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END GURU -->

                        <!-- MATA PELAJARAN -->
                        <div class="form-group row {% if (errors.has('program_study')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Mata Pelajaran</label>
                            <div class="col-sm-4">
                                <select class="form-control select2" id="program_study" name="program_study">
                                    <option value="">-- Pilih Mata Pelajaran --</option>
                                    {% if SCHOOLCATEGORY is not empty %}
                                    {% for  key,value in call_helpers('get_ListProgramStudy', SCHOOLCATEGORY) %}
                                        <option value="{{ key }}" {% if PROGRAMSTUDY %}{{ PROGRAMSTUDY == key ? 'selected="selected"' : ''}}{% else %}{% if old('teacher') %}{{ old('teacher') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('program_study')) %}<div class="col-form-label">{{ errors.first('program_study') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END MATA PELAJARAN -->

                        <!-- TGL MENGAJAR -->
                        <div class="form-group row {% if (errors.has('date_class')) %}has-danger{% elseif (errors.has('date_class')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tanggal Mengajar</label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <input type="text" name="date_class" id="date_class" class="form-control datepicker" value="{% if DATECLASS %}{{ DATECLASS | date('d-m-Y') }}{% else %}{{ DateDefault }}{% endif %}">
                                    <span class="input-group-append" id="basic-addon3">
                                        <label class="input-group-text"><i class="fa fa-calendar"></i></label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- END TGL MENGAJAR -->

                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-search"></i> Cari</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Hasil Pencarian</h5>
                <span>Filter pencarian : {{ Filter |raw }}</span>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    {% if Filter is not empty %}
                    <table id="{{ datatables }}" class="table display">
                        <thead>
                        <tr>
                            {% for Row in RowDT %}
                                <th>{{ Row }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block addmodal %}
{% endblock %}

{% block addjs %}
    <!-- DATATABLES -->
    {{ asset(ThemePlugins ~ 'datatables.net/js/jquery.dataTables.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/js/dataTables.bootstrap4.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive/js/dataTables.responsive.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') | script_tag }}

    <!-- SELECT2 -->
    {{ asset('js/select2.js')|script_tag }}

    <!-- BOOTSTRAP DATEPICKER -->
    {{ asset('js/datepicker.js')|script_tag }}


    <script>
    var DATECLASS           = '{{ DATECLASS }}';
    var SCHOOLCATEGORY      = '{{ SCHOOLCATEGORY }}';
    var LEVEL               = '{{ LEVEL }}';
    var CLASSINFO           = '{{ CLASSINFO }}';
    var PROGRAMSTUDY        = '{{ PROGRAMSTUDY }}';
    var TEACHER             = '{{ TEACHER }}';


    var URL_DATATABLE       = '{{ UrlDatatable }}';
    var TBL_NAME            = '{{ datatables }}';
    var URL_PAGE            = '{{ UrlPage }}';

    function deleteList(id){
        $('#id').val(id);
        $('#ConfirmDelete').modal('show');
    }

    function ActionDelete(){
        var id = $('#id').val();
        window.location = BASE_URL + "/" + URL_PAGE + "/delete/" + id;
    }

    function inactiveList(id){
        $('#id').val(id);
        $('#ConfirmInactive').modal('show');
    }

    function ActionInactive(){
        var id = $('#id').val();
        window.location = BASE_URL + "/" + URL_PAGE + "/inactive/" + id;
    }

    function activateList(id){
        $('#id').val(id);
        $('#ConfirmActivate').modal('show');
    }

    function ActionActivate(){
        var id = $('#id').val();
        window.location = BASE_URL + "/" + URL_PAGE + "/activate/" + id;
    }

</script>

    <!-- FUNCTION DATATABLE -->
    {{ asset(PathJS ~ 'datatable.js')|script_tag }}
    {{ asset('modules/classdetailwithteacher.js')|script_tag }}
{% endblock %}
