<!doctype html>
<html>
<head>
    <title>Data Absensi Siswa</title>
</head>
<body>
<h3 align="center">Data Absensi Siswa</h3>
<table>
    <tr>
        <th><strong>Filter</strong></th>
    </tr>
    {% if SchoolCategory is not empty %}
        <tr>
            <th>
                Sekolah : {{ SchoolCategory }} {% if Level is not empty %} - {{ Level }}{% endif %} {% if ClassInfo is not empty %}, {{ ClassInfo }} {% endif %}
            </th>
        </tr>
    {% endif %}
    {% if Student is not empty %}
        <tr>
            <th>
                Siswa : {{ Student }}
            </th>
        </tr>
    {% endif %}
    <tr>
        <th>
            Tanggal : {{ DateStart | date('d/m/Y')}} - {{ DateEnd | date('d/m/Y')}}
        </th>
    </tr>
</table>
<br>
<table border="2">
    <thead>
    <tr>
        <th style="font-size: 12px;" align="center" width="150">Nama</th>
        <th style="font-size: 12px;" align="center" width="100">Tanggal</th>
        <th style="font-size: 12px;" align="center" width="100">Datang</th>
        <th style="font-size: 12px;" align="center" width="100">Pulang</th>
        <th style="font-size: 12px;" align="center" width="100">Status</th>
    </tr>
    </thead>
    <tbody>
    {#{% if Vars.Absences.count > 0 %}#}
        {% for Data in Result %}
            <tr>
                <td style="font-size: 10px;">{{ Data.Name }}</td>
                <td style="font-size: 10px;" align="center">{{ Data.Date | date('d/m/Y') }}</td>
                <td style="font-size: 10px;" align="center">{{ Data.IN }}</td>
                <td style="font-size: 10px;" align="center">{{ Data.OUT }}</td>
                <td style="font-size: 10px;" align="center">{% if Data.Status == true %}Terlambat{% endif %}</td>
            </tr>
        {% endfor %}
    {#{% endif %}#}
    </tbody>
</table>
</body>
</html>
