{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- DATATABLE -->
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/css/dataTables.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/css/buttons.dataTables.min.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/extensions/responsive/css/responsive.dataTables.css') | css_tag }}
    <!-- END DATATABLE -->


{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            {% if errors.has('student') %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="icofont icofont-close-line-circled"></i>
                    </button>
                    <strong>Error!</strong> {{ errors.first('student') }}
                </div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <h5>Quis</h5>
                    <span>Hasil Quis anak didik anda</span>
                </div>
                <div class="card-block">
                    <form method="post" id="form_quis" name="form_quis" action="{{ route(RouteSearch) }}">
                        {{ csrf_field() }}

                        <input type="hidden" name="classroom_id" id="classroom_id" value="{{ ClassroomID }}">

                        <!-- QUIS -->
                        <div class="form-group row {% if (errors.has('quis')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Quis</label>
                            <div class="col-sm-10">
                                <select class="form-control select2" id="quis" name="quis">
                                    {% set ListQuisByHomeRoomTeacher = call_helpers_two('getListQuisByHomeRoomTeacher', SchoolYear.id, Classroom.class_info_id) %}
                                    {% for key,value in ListQuisByHomeRoomTeacher %}
                                        <option value="{{ key }}" {{ Datas.user_id == key ? 'selected="selected"' : ''}}>{{ value | raw}}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('quis')) %}<div class="col-form-label">{{ errors.first('quis') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END QUIS -->

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-block btn-outline-primary btn-out-dashed" ><i class="icofont icofont-document-search"></i> Tampilkan Nilai Siswa</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="tbl_Quis" class="table display">
                                    <thead>
                                    <tr>
                                        <th>Nama Siswa</th>
                                        <th>Nilai</th>
                                    </tr>
                                    </thead>
                                    <tbody id="resultQuis">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white card-primary" id="cardInfoQuis" style="display: none;">
                <div class="card-header">
                    <h5 class=" text-white">Informasi Quis</h5>
                </div>
                <div class="card-block">
                    <form method="post" class="form-material" id="form_search_programstudy" name="form_search_programstudy" action="">

                        <div class="form-group form-default form-static-label">
                            <input type="text" name="program_study" id="program_study" class="form-control text-white" placeholder="Mata Pelajaran" readonly>
                            <span class="form-bar"></span>
                            <label class="float-label text-white">Mata Pelajaran</label>
                        </div>

                        <div class="form-group form-default form-static-label">
                            <input type="text" name="title" id="title" class="form-control text-white" placeholder="Materi/Judul" readonly>
                            <span class="form-bar"></span>
                            <label class="float-label text-white">Materi/Judul</label>
                        </div>

                        <div class="form-group form-default form-static-label">
                            <input type="text" name="teacher" id="teacher" class="form-control text-white" placeholder="Pengajar" readonly>
                            <span class="form-bar"></span>
                            <label class="float-label text-white">Pengajar</label>
                        </div>

                        <div class="form-group form-default form-static-label">
                            <input type="text" name="start_date" id="start_date" class="form-control text-white" placeholder="Tanggal Mulai" readonly>
                            <span class="form-bar"></span>
                            <label class="float-label text-white">Tanggal Quis dimulai</label>
                        </div>

                        <div class="form-group form-default form-static-label">
                            <input type="text" name="end_date" id="end_date" class="form-control text-white" placeholder="Tanggal Berakhir" readonly>
                            <span class="form-bar"></span>
                            <label class="float-label text-white">Tanggal Quis Berakhir</label>
                        </div>

                        <div class="form-group form-default form-static-label">
                            <input type="text" name="total" id="total" class="form-control text-white" placeholder="Total Soal" readonly>
                            <span class="form-bar"></span>
                            <label class="float-label text-white">Total Soal</label>
                        </div>

                        {#<div class="form-group form-default form-static-label">#}
                            {#<input type="text" name="total_join" id="total_join" class="form-control text-white" placeholder="Total Siswa Bergabung" readonly>#}
                            {#<span class="form-bar"></span>#}
                            {#<label class="float-label text-white">Total Siswa bergabung</label>#}
                        {#</div>#}

                    </form>
            </div>
        </div>

    </div>

{% endblock %}

{% block addmodal %}
{% endblock %}

{% block addjs %}
    <!-- DATE -->
    {{ asset('js/datepicker.js')|script_tag }}

    <script>
        var URL_PAGE            = '{{ UrlPage }}';
        var USER_ID             = '{{ Datas.user_id }}';
        var START               = '{{ Datas.start }}';
        var END                 = '{{ Datas.end }}';
        var LATE                = '{{ LATE }}';

        function deleteList(id){
            $('#id').val(id);
            $('#ConfirmDelete').modal('show');
        }


    </script>
    {{ asset('js/select2.js')|script_tag }}


    <!-- FUNCTION DATATABLE -->
    {{ asset(PathJS ~ 'main.js')|script_tag }}
{% endblock %}

