{% extends "admin::layouts."~config_get('themes.metronic_theme') %}

{% block addcss %}
    <!-- DROPDOWN -->
    {{ asset('plugins/select2/css/select2.min.css')| css_tag }}
    {{ asset('plugins/select2/css/select2-bootstrap.min.css')| css_tag }}

    <!-- FILEINPUT -->
    {{ asset('plugins/dropify/dist/css/dropify.min.css') | css_tag }}

{% endblock %}

{% block pageheader %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">{{ MenuActive }}</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ url('/home') }}">Home</a></li>
                <li class="active">{{ MenuActive }}</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}


{% block body %}
    <div class="m-content">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <div class="m-portlet m-portlet--responsive-mobile m-portlet--info m-portlet--head-solid-bg m-portlet--bordered">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    <i class="fa fa-user"></i> {{ MenuDescription }}
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="m-portlet__body">

                        <div class="m-section">
                            <div class="m-section__content">
                                <table class="table footable">
                                    <thead>
                                    <tr>
                                        <th width="20%">
                                            Bank
                                        </th>
                                        <th width="30%">
                                            No. Rekening
                                        </th>
                                        <th width="40%">
                                            Pemilik Rekening
                                        </th>
                                        <th  data-sort-ignore="true" width="20%">
                                            <button type="button" class="btn m-btn m-btn--gradient-from-metal m-btn--gradient-to-accent" id="btn-AddBank"  data-toggle="m-tooltip" data-original-title="Tambah Rekening...">
                                                <i class="fa fa-plus-circle"></i>&nbsp;Tambah Rekening
                                            </button>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody id="rowBank">
                                    {% if User.user_bank.count %}
                                        {% for bank in User.user_bank %}
                                            {% if bank.is_active == 1 %}
                                                <tr id="row-{{ bank.id }}">
                                                    <td>{{ bank.bank.name }}</td>
                                                    <td>{{ bank.account_number }}</td>
                                                    <td>{{ bank.account_name }}</td>
                                                    <td><button type="button" class="btn btn-outline-info m-btn m-btn--outline-2x" onclick="editDetail({{ bank.id }})" data-toggle="m-tooltip" data-original-title="Ubah"><i class="flaticon-edit"></i></button>&nbsp;
                                                        <button type="button" class="btn btn-outline-danger m-btn m-btn--outline-2x" onclick="deleteDetail({{ bank.id }})" data-toggle="m-tooltip" data-original-title="Hapus"><i class="fa fa-trash"></i></button>&nbsp;
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <!--end::Portlet-->
            </div>
        </div>
    </div>
{% endblock %}

{% block addmodal %}
    <!-- BANK -->
    <div class="modal fade m_select2_modal" id="BankModal" role="dialog" aria-labelledby="BankLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Informasi Bank
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="FormBank" id="FormBank" method="post">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="statusform" name="statusform">
                        <input type="hidden" id="user_bank_id" name="user_bank_id">

                        <!-- BANK -->
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">
                                Bank:
                            </label>
                            <select name="bank" class="form-control m-select2 m_select2_1_modal" id="bank">
                                <option value="0">-- Pilih Bank --</option>
                                {% set ListBank = call_helpers('get_ListBank') %}
                                {% for key,value in ListBank %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <!-- END BANK -->

                        <!-- NO. REKENING -->
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">
                                No. Rekening:
                            </label>
                            <input name="account_number" id="account_number" class="form-control">
                        </div>
                        <!-- END NO. REKENING -->

                        <!-- PEMILIK REKENING -->
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">
                                Pemilik Rekening:
                            </label>
                            <input name="account_name" id="account_name" class="form-control">
                        </div>
                        <!-- END PEMILIK REKENING -->

                        <hr>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Tutup
                        </button>
                        <button type="submit" class="btn btn-warning">
                            Simpan
                        </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END BANK -->

    <!-- DELETE -->
    <div class="modal fade" tabindex="-1" id="ConfirmDeleteDetail" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Konfirmasi!
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            &times;
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Apakah anda yakin menghapus rekening ini?
                        <input type="hidden" name="id_delete" id="id_delete">
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Tutup
                    </button>
                    <button type="button" class="btn btn-danger" id="btn-deleteDetailAction">
                        Hapus
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- DELETE -->
{% endblock %}

{% block addjs %}
    {{ asset('js/select2.js') | script_tag }}
    {{ asset('modules/user/bank/main.js') | script_tag }}

{% endblock %}
