{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- lightbox Fremwork -->
    {{ asset(ThemePlugins ~ 'lightbox2/css/lightbox.min.css') | css_tag }}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate method="post" enctype="multipart/form-data">
                        {{ csrf_field() }}

                        <!-- FULLNAME -->
                        <div class="form-group row {% if (errors.has('fullname')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Name Lengkap <label class="text-danger">*</label></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('fullname')) %}form-control-danger{% endif %}" name="fullname" id="fullname" placeholder="Masukan Nama Lengkap..." value="{{ Data.fullname }}" readonly>
                                <span class="messages"></span>
                                {% if (errors.has('fullname')) %}<div class="col-form-label">{{ errors.first('fullname') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END FULLNAME -->

                        <!-- NICKNAME -->
                        <div class="form-group row {% if (errors.has('nickname')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Name panggilan :<label class="text-danger">*</label></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('nickname')) %}form-control-danger{% endif %}" name="nickname" id="nickname" placeholder="Masukan Nama Panggilan..." value="{{ Data.nickname }}" readonly>
                                <span class="messages"></span>
                                {% if (errors.has('nickname')) %}<div class="col-form-label">{{ errors.first('nickname') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END NICKNAME -->

                        <!-- EMAIL -->
                        <div class="form-group row {% if (errors.has('email')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Email :</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('email')) %}form-control-danger{% endif %}" name="email" id="email" placeholder="Masukan alamat Email..." value="{{ Data.email }}" readonly>
                                <span class="messages"></span>
                                {% if (errors.has('email')) %}<div class="col-form-label">{{ errors.first('email') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END EMAIL -->

                        <!-- PLACE, DATE of BIRD -->
                        <div class="form-group row {% if (errors.has('dob')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tempat & Tanggal Lahir :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="pob" id="pob" placeholder="Tempat kelahiran..." value="{{ Data.pob }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control date2" name="dob" id="dob" placeholder="dd-mm-yyyy" value="{{ Data.dob | date ('d-m-Y') }}" readonly>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END PLACE, DATE of BIRD  -->

                        <!-- CHILD TO & MAX -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Informasi keluarga :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control child " name="child_to" id="child_to" placeholder="Anak ke ..." value="{{ Data.child_to }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control child " name="child_max" id="child_max" placeholder="dari ... bersaudara" value="{{ Data.child_max }}" readonly>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END CHILD TO & MAX  -->

                        <!-- GENDER -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Jenis kelamin :</label>
                            <div class="col-sm-6">
                                <select name="gender" class="form-control" id="gender" disabled>
                                    {% set ListGender = call_helpers('get_ListGender') %}
                                    {% for key,value in ListGender %}
                                        <option value="{{ key }}" {{ Data.gender == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- END GENDER -->

                        <!-- PHONE, MOBILE -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">No. Telp & Handphone :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="phone" id="phone" placeholder="No. Telp..." value="{{ Data.phone }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="mobile" id="mobile" placeholder="+62818123xxxx" value="{{ Data.mobile }}" readonly>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END PHONE, MOBILE -->

                        <!-- ADDRESS -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Alamat</label>
                            <div class="col-sm-10">
                                <textarea  class="form-control" name="address" id="address" placeholder="Masukan Alamat Lengkap..." readonly>{{ Data.address }}</textarea>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END ADDRESS -->

                        <!-- RT, RW, CITY & ZIP CODE -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="rt" id="rt" placeholder="RT" value="{{ Data.rt }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="rw" id="rw" placeholder="RW" value="{{ Data.rw }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="city" id="city" placeholder="Kota..." value="{{ Data.city }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="zipcode" id="zipcode" placeholder="Kode Pos..." value="{{ Data.zipcode }}" readonly>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END RT, RW, CITY & ZIP CODE -->

                        <!-- RELIGION -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Agama :</label>
                            <div class="col-sm-6">
                                <select name="religion" class="form-control" id="religion" disabled>
                                    {% set ListReligion = call_helpers('get_ListReligion') %}
                                    {% for key,value in ListReligion %}
                                        <option value="{{ key }}" {{ Data.religion_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- END RELIGION -->

                        <!-- BLOOD TYPE -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Golongan Darah :</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="blood_type" id="blood_type" placeholder="Masukan Golongan Darah..." value="{{ Data.blood_type }}" readonly>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END BLOOD TYPE -->

                        <!-- OLD SCHOOL -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Asal Sekolah / Pindahan :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="old_school" id="old_school" placeholder="Nama Sekolah..." value="{{ Data.old_school }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-5">
                                <textarea  class="form-control" name="address_old_school" id="address_old_school" placeholder="Alamat Sekolah..." readonly>{{ Data.address_old_school }}</textarea>
                                <span class="messages"></span>
                            </div>

                        </div>
                        <!-- END OLD SCHOOL -->

                        <!-- DATE / NOMOR IJAZAH -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tanggal / Nomor Ijasah :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control date2" name="diploma_date" id="diploma_date" placeholder="dd-mm-yyyy" value="{{ Data.diploma_date|date('d-m-Y') }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="diploma_number" id="diploma_number" placeholder="Masukan No. Ijasah..." value="{{ Data.diploma_number }}" readonly>
                                <span class="messages"></span>
                            </div>

                        </div>
                        <!-- END DATE / NOMOR IJAZAH -->

                        <!-- DIPLOMA FILES -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Diploma Files :</label>
                            <div class="col-sm-10">
                                <div id="load-picture">
                                    {% if Data.picture %}
                                        {% if StatusView == 'Feedback' %}
                                            <a class="btn btn-info" href="{{ route('student_download_diploma_files', Data.id) }}"><i class="fa fa-download"></i> Download</a>
                                        {% else %}
                                            {#<a class="btn btn-info" href="{{ route('student_download_diploma_files, Data.id) }}"><i class="fa fa-download"></i> Download</a>#}
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END DIPLOMA FILES -->

                        <!-- NIK -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">NIK :</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="nik" id="nik" placeholder="Masukan Nomor Induk Kependudukan..." value="{{ Data.nik }}" readonly>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END NIK -->

                        <!-- NISN -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">NISN :</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="nisn" id="nisn" placeholder="Masukan Nomor Induk Siswa Nasional..." value="{{ Data.nisn }}" readonly>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END NISN -->

                        <!-- PICTURE -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Foto Profil :</label>
                            {% if Data.picture %}
                                <div class="col-sm-2">
                                    <div class="thumbnail">
                                        <div class="thumb">
                                            <a href="{{ url('storage/' ~ Data.picture) }}" data-lightbox="1" data-title="{{ Data.fullname }}">
                                                <img src="{{ url('storage/' ~ Data.picture) }}" alt="" class="img-fluid img-thumbnail">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col-sm-8">
                                <div id="load-picture">
                                    {% if Data.picture %}
                                        {% if StatusView == 'Feedback' %}
                                            <a class="btn btn-info" href="{{ route('student_feedback_download_picture', Data.id) }}"><i class="fa fa-download"></i> Download</a>
                                        {% else %}
                                            <a class="btn btn-info" href="{{ route('student_download_picture', Data.id) }}"><i class="fa fa-download"></i> Download</a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END PICTURE -->

                        <h4 class="title text-primary">Biodata Orang Tua</h4>
                        <hr>

                        <!-- FATHER NAME & JOB -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Nama Ayah :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="father_name" id="father_name" placeholder="Masukan Nama Ayah" value="{{ Data.father_name }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="father_job" id="father_job" placeholder="Masukan Pekerjaan/Pendidikan..." value="{{ Data.father_job }}" readonly>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END FATHER JOB -->

                        <!-- FATHER INSTANCE & SALARY -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Instansi / Perusahaan & Salary :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="father_agency" id="father_agency" placeholder="Masukan Tempat Ayah bekerja" value="{{ Data.father_agency }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control rupiah" name="father_salary" id="father_salary" placeholder="Masukan Penghasilan /bulan" value="{{ Data.father_salary }}" readonly>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END FATHER INSTANCE & SALARY -->

                        <!-- FATHER PLACE, DATE of BIRD -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tempat & Tanggal Lahir Ayah :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="father_pob" id="father_pob" placeholder="Tempat kelahiran..." value="{{ Data.father_pob }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control date2" name="father_dob" id="father_dob" placeholder="dd-mm-yyyy" value="{{ Data.father_dob|date('d-m-Y') }}" readonly>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END FATHER PLACE, DATE of BIRD  -->

                        <hr>

                        <!-- MOTHER NAME & JOB -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Nama Ibu :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="mother_name" id="mother_name" placeholder="Masukan Nama Ibu" value="{{ Data.mother_name }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="mother_job" id="mother_job" placeholder="Masukan Pekerjaan/Pendidikan..." value="{{ Data.mother_job }}" readonly>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END MOTHER JOB -->

                        <!-- MOTHER INSTANCE & SALARY -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Instansi / Perusahaan & Salary :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="mother_agency" id="mother_agency" placeholder="Masukan Tempat Ibu bekerja" value="{{ Data.mother_agency }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control rupiah" name="mother_salary" id="mother_salary" placeholder="Masukan Penghasilan /bulan" value="{{ Data.mother_salary }}" readonly>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END MOTHER INSTANCE & SALARY -->

                        <!-- MOTHER PLACE, DATE of BIRD -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tempat & Tanggal Lahir Ibu :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="mother_pob" id="mother_pob" placeholder="Tempat kelahiran..." value="{{ Data.mother_pob }}" readonly >
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control date2" name="mother_dob" id="mother_dob" placeholder="dd-mm-yyyy" value="{{ Data.mother_dob|date('d-m-Y') }}" readonly>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END MOTHER PLACE, DATE of BIRD  -->

                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <div class="border-checkbox-section">
                                    <div class="border-checkbox-group border-checkbox-group-primary">
                                        <input class="border-checkbox" type="checkbox" id="sda" name="sda" value="1" {% if Data.sda %}checked="checked"{% endif %} disabled>
                                        <label class="border-checkbox-label" for="sda">Sama dengan diatas...</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ADDRESS -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Alamat Orang tua</label>
                            <div class="col-sm-10">
                                <textarea  class="form-control" name="family_address" id="family_address" placeholder="Masukan Alamat Orang tua..." readonly>{{ Data.family_address }}</textarea>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END ADDRESS -->

                        <!-- RT, RW, CITY & ZIP CODE -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="family_rt" id="family_rt" placeholder="RT" value="{{ Data.family_rt }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="family_rw" id="family_rw" placeholder="RW" value="{{ Data.family_rw }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="family_city" id="family_city" placeholder="Kota..." value="{{ Data.family_city }}" readonly>
                                <span class="messages"></span>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" name="family_zipcode" id="family_zipcode" placeholder="Kode Pos..." value="{{ Data.family_zipcode }}" readonly>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END RT, RW, CITY & ZIP CODE -->

                        <!-- EMAIL ORANG TUA -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Email Orang Tua :</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="family_email" id="family_email" placeholder="Email Orang Tua" value="{{ Data.family_email }}" readonly>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END EMAIL ORANG TUA -->


                        <h4 class="sub-title text-danger">Saudara yang masih sekolah dibawah tanggungan orang tua / wali</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td width="30%">Nama</td>
                                    <td width="30%">Sekolah</td>
                                    <td width="20%">Kelas</td>
                                    <td width="15%">Besarnya Uang Sekolah</td>
                                </tr>
                                </thead>
                                <tbody id="div-family">
                                {% if Data.families %}
                                    {% for families in Data.families %}
                                        <tr id="row-{{ families.id }}">
                                            <td><input type="text" class="form-control" value="{{ families.name }}" name="family_name[]" id="amily-name{{ families.id }}" readonly></td>
                                            <td><input type="text" class="form-control" value="{{ families.school_name }}" name="family_school[]" id="family-school{{ families.id }}" readonly></td>
                                            <td><input type="text" class="form-control" value="{{ families.class }}" name="family_class[]" id="family-class{{ families.id }}" readonly></td>
                                            <td><input type="text" class="form-control" value="{{ families.school_fee }}" name="family_school_fee[]" id="family-school-fee{{ families.id }}" readonly></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>

                        <h4 class="sub-title text-danger">History Tahun Ajaran</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td width="30%">Sekolah</td>
                                    <td width="30%">Tahun Ajaran</td>
                                    <td width="20%">Tingkat</td>
                                    <td width="20%">Kelas</td>
                                </tr>
                                </thead>
                                <tbody id="div-family">
                                {% if Data.classes %}
                                    {% for classes in Data.classes %}
                                        <tr id="row-{{ classes.id }}">
                                            <td>{{ classes.school_category.name }}</td>
                                            <td>{{ classes.school_year.name }}</td>
                                            <td>{{ classes.level.name }}</td>
                                            <td>{{ classes.class_info.name }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>

                        <hr>

                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if Data.files.count > 0 %}
        <div class="row">
            <div class="col-sm-12">
                <div id="load-attachment">
                    <!-- LAMPIRAN -->
                    <div class="card">
                        <div class="card-header">
                            <h5>Lampiran File</h5>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                {% for file in Data.files %}
                                    {% set FileData = call_helpers_two('get_GenerateLinkImageUrl', 'storage/', file.file) %}
                                    <div class="col-lg-4 col-sm-6">
                                        <div class="thumbnail">
                                            <div class="thumb">
                                                <a href="{{ FileData }}" data-lightbox="1" data-title="{{ file.file_name }}">
                                                    <img src="{{ FileData }}" alt="" class="img-fluid img-thumbnail">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <!-- LAMPIRAN -->
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block addmodal %}
{% endblock %}

{% block addjs %}
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'lightbox2/js/lightbox.min.js') | script_tag }}

    <!-- INPUT MASK -->
    {{ asset(ThemeAsset ~ 'pages/form-masking/inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/jquery.inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/autoNumeric.js') | script_tag }}
    {{ asset('js/masking.js') | script_tag }}

    {{ asset(PathJS ~ 'main.js')|script_tag }}
{% endblock %}
