<!DOCTYPE html>
<html>

<head>

    <title>{{ vars.subject }}</title>
</head>

<body>
Dear {{ vars.name }},<br><br>
Terima kasih telah mendaftar di PSB online Sekolah Kristen Tunas Harapan.<br> Silahkan cetak file elektronik yang telah Anda download utk diserahkan ke Tata Usaha Pusat SKTH.<br><br>


<a href="{{ route('student_register_download', vars.register_id) }}">Download File Pendaftaran</a>

</body>

</html>
