{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- DATATABLE -->
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/css/dataTables.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/css/buttons.dataTables.min.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/extensions/responsive/css/responsive.dataTables.css') | css_tag }}
    <!-- END DATATABLE -->


{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            {% if errors.has('student') %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="icofont icofont-close-line-circled"></i>
                    </button>
                    <strong>Error!</strong> {{ errors.first('student') }}
                </div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <h5>Absen</h5>
                    <span>Cari Data Siswa Masuk dan pulang per hari</span>
                </div>
                <div class="card-block">
                    <form method="post" id="form-absence" name="form-absence" action="{{ route(RouteSearch) }}">
                        {{ csrf_field() }}

                        <!-- STUDENT -->
                        <div class="form-group row {% if (errors.has('student')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Murid</label>
                            <div class="col-sm-10">
                                <select class="form-control select2" id="student" name="student">
                                    {% set ListStudentByHomeroomTeacher = call_helpers_two('getListStudentByHomeroomTeacher', User.employee.id,'user_id') %}
                                    {#{{ dump(ListStudentByHomeroomTeacher) }}#}
                                    {% for key,value in ListStudentByHomeroomTeacher %}
                                        <option value="{{ key }}" {{ Datas.user_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('student')) %}<div class="col-form-label">{{ errors.first('student') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END STUDENT -->

                        <!-- TANGGAL -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tanggal</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                            <span class="input-group-prepend">
                                                <label class="input-group-text"><i class="fa fa-calendar"></i></label>
                                            </span>
                                    <input type="text" name="start" id="start" class="form-control datepicker" value="{% if Datas.start %}{{ Datas.start|date('d-m-Y') }}{% else %}{{ DateDefault }}{% endif %}">
                                </div>
                            </div>
                            <div class="col-sm-1">
                                s/d
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                            <span class="input-group-prepend">
                                                <label class="input-group-text"><i class="fa fa-calendar"></i></label>
                                            </span>
                                    <input type="text" name="end" id="end" class="form-control datepicker" value="{% if Datas.end %}{{ Datas.end|date('d-m-Y') }}{% else %}{{ DateDefault }}{% endif %}">
                                </div>
                            </div>
                        </div>
                        <!-- END TANGGAL -->

                        <!-- TERLAMBAT -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Terlambat</label>
                            <div class="col-sm-10">
                                <div class="border-checkbox-section">
                                    <div class="border-checkbox-group border-checkbox-group-primary">
                                        <input type="checkbox" class="border-checkbox" name="late" id="late" value="1" {% if LATE is not empty %}checked{% endif %}>
                                        <label class="border-checkbox-label" for="late">Terlambat</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END TERLAMBAT -->

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-block btn-primary" ><i class="icofont icofont-document-search"></i> Cari Data</button>
                            </div>
                        </div>
                        <!-- END ACTION -->



                    </form>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="{{ datatables }}" class="table display">
                                <thead>
                                <tr>
                                    {% for Row in RowDT %}
                                        <th>{{ Row }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Absen Mata Pelajaran</h5>
                    <span>Siswa yang tidak ikut pelajaran</span>
                </div>
                <div class="card-block">
                    <form method="post" id="form_search_programstudy" name="form_search_programstudy" action="{{ route('absence_homeroom_programstudy_search') }}">
                        {{ csrf_field() }}

                        <input type="hidden" name="classroom_id" id="classroom_id" value="{{ ClassroomID }}">

                        <!-- TANGGAL -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tanggal</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                            <span class="input-group-prepend">
                                                <label class="input-group-text"><i class="fa fa-calendar"></i></label>
                                            </span>
                                    <input type="text" name="date_program_study" id="date_program_study" class="form-control datepicker" value="">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-outline-primary" id="btn-SearchProgramStudy">Cari Mata Pelajaran</button>
                            </div>
                            <div class="col-sm-3">
                                <label id="dayInfo" class="label label-info" style="display:none;"></label>
                            </div>
                        </div>
                        <!-- END TANGGAL -->

                        <!-- PROGRAM STUDY -->
                        <div class="form-group row {% if (errors.has('agenda_history')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Mata Pelajaran</label>
                            <div class="col-sm-10">
                                <select class="form-control select2" id="agenda_history" name="agenda_history">
                                    <option value="0">-- Silakan Cari Tanggal --</option>
                                </select>
                                <span class="messages"></span>
                            </div>
                        </div>
                        <!-- END PROGRAM STUDY -->


                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-block btn-primary" ><i class="icofont icofont-document-search"></i> Cari Data</button>
                            </div>
                        </div>
                        <!-- END ACTION -->
                    </form>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="tbl_absenProgramStudy" class="table display">
                                    <thead>
                                    <tr>
                                        <th>Nama Siswa</th>
                                        <th>Alasan</th>
                                    </tr>
                                    </thead>
                                    <tbody id="resultAbsenceProgramStudy">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block addmodal %}
{% endblock %}

{% block addjs %}
    <!-- DATE -->
    {{ asset('js/datepicker.js')|script_tag }}

    <!-- DATATABLES -->
    {{ asset(ThemePlugins ~ 'datatables.net/js/jquery.dataTables.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/js/dataTables.bootstrap4.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive/js/dataTables.responsive.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') | script_tag }}
    <!-- Date-range picker js -->

    <script>
        var ROUTE_DATATABLE     = '{{ RouteDatatables }}';
        var TBL_NAME            = '{{ datatables }}';
        var URL_PAGE            = '{{ UrlPage }}';
        var USER_ID             = '{{ Datas.user_id }}';
        var START               = '{{ Datas.start }}';
        var END                 = '{{ Datas.end }}';
        var LATE                = '{{ LATE }}';

        function deleteList(id){
            $('#id').val(id);
            $('#ConfirmDelete').modal('show');
        }


    </script>
    {{ asset('js/select2.js')|script_tag }}
    {{ asset('js/date.js')|script_tag }}


    <!-- FUNCTION DATATABLE -->
    {{ asset('modules/setprogram_study.js')|script_tag }}
    {{ asset(PathJS ~ 'datatable.js')|script_tag }}
    {{ asset(PathJS ~ 'main.js')|script_tag }}
{% endblock %}

