{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- DATATABLE -->
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/css/dataTables.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/css/buttons.dataTables.min.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/extensions/responsive/css/responsive.dataTables.css') | css_tag }}
    <!-- END DATATABLE -->
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Berita yang berkaitan dengan anda</h5>
                </div>
                <div class="card-block">
                    <div class="dt-responsive table-responsive">
                        <table id="{{ datatables }}" class="table display">
                            <thead>
                            <tr>
                                {% for Row in RowDT %}
                                    <th>{{ Row }}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block addmodal %}
{% endblock %}

{% block addjs %}
    <!-- DATATABLES -->
    {{ asset(ThemePlugins ~ 'datatables.net/js/jquery.dataTables.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/js/dataTables.bootstrap4.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive/js/dataTables.responsive.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') | script_tag }}


    <script>
        var ROUTE_DATATABLE             = '{{ RouteDatatables }}';
        var TBL_NAME                    = '{{ datatables }}';
        var URL_PAGE                    = '{{ UrlPage }}';
    </script>

    <!-- FUNCTION DATATABLE -->
    {{ asset(PathJS ~ 'datatable.js')|script_tag }}
{% endblock %}
