{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    {{ asset(ThemeAsset ~ 'pages/message/message.css') | css_tag }}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="ti-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}
    <div class="row">
        <!-- Left column start -->
        <div class="col-lg-12 col-xl-9">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                </div>
                <div class="card-block">
                    <p>
                        {{ News.news | raw }}
                    </p>
                    <hr>
                    <p>
                        <strong class="text-primary">
                            <i>
                                Tgl. Berita Aktif : {{ News.created_at | date('d F Y H:i:s') }}<br>
                                Admin : {{ News.user.name }}
                            </i>
                        </strong>
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block addmodal %}

{% endblock %}

{% block addjs %}


    {{ asset(PathJS ~ 'main.js')|script_tag }}

{% endblock %}
