{% extends "admin::layouts." ~ config_get('themes.able_theme') %}

{% block addcss %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}

    <!-- TAGS INPUT -->
    {{ asset(ThemePlugins ~ 'bootstrap-tagsinput/css/bootstrap-tagsinput.css') | css_tag }}

    {{ asset(ThemeAsset ~ 'pages/jquery.filer/css/jquery.filer.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css') | css_tag }}

    <!-- DATEDROPPER -->
    {{ asset(ThemePlugins ~ 'datedropper/css/datedropper.min.css') | css_tag }}


{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post" enctype="multipart/form-data">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->

                        <!-- SCHOOL CATEGORY -->
                        <div class="form-group row {% if (errors.has('school_category')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kategori Sekolah <label class="text-danger">*</label></label>
                            <div class="col-sm-7">
                                <select class="form-control {% if (errors.has('school_category')) %}form-control-danger{% endif %}" id="school_category" name="school_category">
                                    {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                                    {% for  key,value in ListSchoolCategory %}
                                        <option value="{{ key }}" {% if Data.school_category_id %}{{ Data.school_category_id == key ? 'selected="selected"' : ''}}{% else %}{% if old('school_category') %}{{ old('school_category') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('school_category')) %}<div class="col-form-label">{{ errors.first('school_category') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END SCHOOL CATEGORY -->

                        <!-- TITLE -->
                        <div class="form-group row {% if (errors.has('title')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Judul <label class="text-danger">*</label></label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control {% if (errors.has('title')) %}form-control-danger{% endif %}" name="title" id="title" placeholder="Masukan Judul Materi" value="{% if state == 'add' %}{{ old('title') }}{% else %}{{ Data.title }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('title')) %}<div class="col-form-label">{{ errors.first('title') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END TITLE -->

                        <!-- HEADLINE -->
                        <div class="form-group row {% if (errors.has('headline')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Headline <label class="text-danger">*</label></label>
                            <div class="col-sm-7">
                                <textarea name="headline" id="headline" placeholder="Masukan Headline"  class="form-control {% if (errors.has('headline')) %}form-control-danger{% endif %}">{% if state == 'add' %}{{ old('headline') }}{% else %}{{ Data.headline }}{% endif %}</textarea>
                                <span class="messages"></span>
                                {% if (errors.has('headline')) %}<div class="col-form-label">{{ errors.first('headline') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END HEADLINE -->

                        <!-- PUBLISH -->
                        <div class="form-group row {% if (errors.has('publish_start')) %}has-danger{% elseif (errors.has('publish_end')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tanggal Disebarkan <label class="text-danger">*</label></label>
                            <div class="col-sm-3">
                                <input type="text" id="publish_start" data-dd-format="d-m-Y" name="publish_start" class="form-control dropper-default" placeholder="dd-mm-yyyy" value="{% if state == 'add' %}{% if old('publish_start') %}{{ old('publish_start') | date('d-m-Y') }}{% else %}{{ DateTimeDefault }}{% endif %}{% else %}{{ Data.publish_start | date('d-m-Y') }}{% endif %}"/>
                                <span class="messages"></span>
                                {% if (errors.has('publish_start')) %}<div class="col-form-label">{{ errors.first('publish_start') }}</div>{% endif %}
                            </div>
                            <label class="col-sm-1 col-form-label text-center">s/d</label>
                            <div class="col-sm-3">
                                <input type="text" id="publish_end" name="publish_end" class="form-control dropper-danger" placeholder="dd-mm-yyyy" value="{% if state == 'add' %}{% if old('publish_end') %}{{ old('publish_end') | date('d-m-Y') }}{% else %}{{ DateTimeDefault }}{% endif %}{% else %}{{ Data.publish_end | date('d-m-Y') }}{% endif %}" />
                                <span class="messages"></span>
                                {% if (errors.has('publish_end')) %}<div class="col-form-label">{{ errors.first('publish_end') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PUBLISH -->

                        <!-- NEWS -->
                        <div class="form-group row {% if (errors.has('news')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Deskripsi</label>
                            <div class="col-sm-7">
                                <textarea class="form-control {% if (errors.has('news')) %}form-control-danger{% endif %}" name="news" id="news">{% if state == 'add' %}{{ old('news') }}{% else %}{{ Data.news }}{% endif %}</textarea>
                                <span class="messages"></span>
                                {% if (errors.has('news')) %}<div class="col-form-label">{{ errors.first('news') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END NEWS -->

                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <a href="{{ route(RouteStore) }}" class="btn btn-inverse btn-square"><i class="ti-back-left"></i> Back</a>
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if state == 'edit' %}
        {% if Data.file_support.count > 0 %}
            <div class="row">
                <div class="col-sm-12">
                    <div id="load-filesupport">
                        <!-- LAMPIRAN -->
                        <div class="card">
                            <div class="card-header">
                                <h5>File Support</h5>
                            </div>
                            <div class="card-block">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th width="80%">Nama File</th>
                                        <th width="20%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for file in Data.file_support %}
                                    <tr>
                                        <td>{{ file.name }}</td>
                                        <td><button class="btn btn-outline-danger" type="button" onclick="deleteFileSupport({{ file.id }})"><i class="fa fa-trash"></i> Hapus</button>
                                            <button class="btn btn-outline-info" type="button" onclick="downloadFileSupport({{ file.id }})"><i class="fa fa-download"></i> Download</button></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- LAMPIRAN -->
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block addmodal %}
    <!-- DELETE FILE -->
    <div class="modal fade"  id="ModalDeleteFileConfirm" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi hapus File!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="file_id" id="file_id">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btn-deleteFileSupport">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE FILE -->
{% endblock %}

{% block addjs %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}
    {{ asset('js/select2.js')|script_tag }}

    {{ asset(ThemePlugins ~ 'bootstrap-tagsinput/js/bootstrap-tagsinput.js') | script_tag }}

    {{ asset(ThemePlugins ~ 'jquery-slimscroll/js/jquery.slimscroll.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}

    <!-- CKEDITOR -->
    {{ asset(ThemeAsset ~ 'pages/ckeditor/ckeditor.js') | script_tag }}

    {{ asset(ThemeAsset ~ 'pages/jquery.filer/js/jquery.filer.min.js') | script_tag }}
    {#{{ asset(ThemeAsset ~ 'pages/filer/custom-filer.js') | script_tag }}#}
    {#{{ asset(ThemeAsset ~ 'pages/filer/jquery.fileuploads.init.js') | script_tag }}#}
    {{ asset('js/fileupload.js')|script_tag }}

    <!-- Date-dropper js -->
    {{ asset(ThemePlugins ~ 'datedropper/js/datedropper.min.js') | script_tag }}
    {{ asset('js/dropper.js')|script_tag }}

    {{ asset(PathJS ~ 'editor.js')|script_tag }}
    {{ asset(PathJS ~ 'main.js')|script_tag }}

{% endblock %}
