<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kartu Pelajar</title>
    <link rel="stylesheet" href="card-style.css" type="text/css" />
</head>

<body>
<div id="cardwrap">
    <div class="header">
        <div class="main">
            <div class="header-logo">
                {{ Barcode | raw }}
                <br>
                <font style="letter-spacing: 9px;">{{ Data.account.barcode }}</font>
            </div>
            <div class="text-cop">
                <div class="pad-l">
                    <div class="cop-yayasan">YAYASAN TUNAS HARAPAN</div>
                    <div class="cop-sekolah">SMP KRISTEN TUNAS HARAPAN</div>
                    <div class="cop-alamat">
                        <div class="lst-cop"><div class="icon-cop"><img src="maps.png" alt="maps" /></div>Jl. Pahlawan No. 140-142, Bogor-Jawa Barat</div>
                        <div class="lst-cop"><div class="icon-cop"><img src="icon-phone.png" alt="phone" /></div> 0251-8322242</div>
                        <div class="lst-cop"><div class="icon-cop"><img src="icon-site.png" alt="phone" /></div>www.tunasharapan.sch.id</div>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <section>
        <div class="main">
            <div class="col-foto">
                <div class="foto">
                    <img src="default_foto.png" alt="foto nama" />
                </div>
                <div class="barcode">
                    <img src="barcode.png" alt="barcode nama" />
                </div>
            </div>
            <div class="col-txt">
                <h1>Kartu Pelajar</h1>
                <div class="row">
                    <div class="label-name">Nama </div>
                    <div class="label-ket">: Nama Siswa</div>
                </div>
                <div class="row">
                    <div class="label-name">NIS/NISN </div>
                    <div class="label-ket">: 020305077</div>
                </div>
                <div class="row">
                    <div class="label-name">Jenis Kelamin </div>
                    <div class="label-ket">: L</div>
                </div>
                <div class="row">
                    <div class="label-name">Agama </div>
                    <div class="label-ket">: Kristen</div>
                </div>
                <div class="row">
                    <div class="label-name">TTL </div>
                    <div class="label-ket">: Bogor, 01 Januari 1999</div>
                </div>
                <div class="row">
                    <div class="label-name">Alamat </div>
                    <div class="label-ket">: Alamat Rumah Siswa</div>
                </div>
                <div class="ttd-kepsek">
                    <div><strong>Bogor</strong>, 17 September 2018</div>
                    <img src="ttd.jpg" alt="ttd" />
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </section>
</div>
</body>
</html>
