{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- DATATABLE -->
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/css/dataTables.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/css/buttons.dataTables.min.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/extensions/responsive/css/responsive.dataTables.css') | css_tag }}
    <!-- END DATATABLE -->


{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Laporan</h5>
                    <span>Detail pelajaran yang anak didik anda pelajari</span>
                </div>
                <div class="card-block">
                    <form method="post" id="form_search_programstudy" name="form_search_programstudy" action="">
                        {{ csrf_field() }}

                        <input type="hidden" name="classroom_id" id="classroom_id" value="{{ ClassroomID }}">

                        <!-- TANGGAL -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Tanggal</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                            <span class="input-group-prepend">
                                                <label class="input-group-text"><i class="fa fa-calendar"></i></label>
                                            </span>
                                    <input type="text" name="date_program_study" id="date_program_study" class="form-control datepicker" value="">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn btn-outline-primary" id="btn-SearchProgramStudy">Tampilkan Mata Pelajaran</button>
                            </div>
                            <div class="col-sm-3">
                                <label id="dayInfo" class="label label-info" style="display:none;"></label>
                            </div>
                        </div>
                        <!-- END TANGGAL -->
                    </form>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table id="tbl_AgendaProgramStudy" class="table display">
                                    <thead>
                                    <tr>
                                        <th>Mata Pelajaran</th>
                                        <th>Pengajar</th>
                                        <th>Keterangan</th>
                                        <th align="center">Jam Belajar</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="resultAgendaProgramStudy">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="sub-title text-primary">Tugas</h4>
                            <div class="table-responsive">
                                <table class="table display">
                                    <thead>
                                    <tr class="bg-primary">
                                        <th>Mata Pelajaran</th>
                                        <th>Pengajar</th>
                                        <th>Keterangan</th>
                                    </tr>
                                    </thead>
                                    <tbody id="resultDetailTask">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="sub-title text-primary">Ulangan</h4>
                            <div class="table-responsive">
                                <table class="table display">
                                    <thead>
                                    <tr class="bg-danger">
                                        <th>Mata Pelajaran</th>
                                        <th>Pengajar</th>
                                        <th>Materi</th>
                                    </tr>
                                    </thead>
                                    <tbody id="resultDetailExam">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" id="cardResultAgendaDetail" style="display: none;">
                <div class="card-header">
                    <h5>Detail Pengajaran</h5>
                    <span>Materi pelajaran dari setiap pengajaran oleh guru mapel atau guru pengganti</span>
                </div>
                <div class="card-block">
                    <!-- KELAS -->
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Kelas</label>
                        <div class="col-sm-5">
                            <input type="text" name="class_info" id="class_info" class="form-control" readonly>
                        </div>
                    </div>
                    <!-- END KELAS -->

                    <!-- WALI KELAS -->
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Wali Kelas</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="homeroom_teacher_info" id="homeroom_teacher_info" value="" readonly>
                        </div>
                    </div>
                    <!-- END KELAS -->


                    <h4 class="sub-title text-primary">Detail Informasi Belajar</h4>

                    <form id="form_agenda_class" name="form_agenda_class" method="post" action="">

                        <!-- PROGRAM STUDY -->
                        <div class="form-group row ">
                            <label class="col-sm-4 col-form-label">Mata Pelajaran</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="program_study_info" id="program_study_info" value="" readonly>
                            </div>
                        </div>
                        <!-- END PROGRAM STUDY -->

                        <!-- DIISI OLEH -->
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Diajar oleh</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="teacher_info" id="teacher_info" value="" readonly>
                            </div>
                            <div class="col-sm-3">
                                <label class="label label-danger" id="replaceTeacher" style="display:none;">Guru Pengganti</label>
                            </div>
                        </div>
                        <!-- END DIISI OLEH -->

                        <!-- KOMPETENSI INTI -->
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Kompetensi Inti</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="study_competency_inti_info" id="study_competency_inti_info" value="" readonly>
                            </div>
                        </div>
                        <!-- END KOMPETENSI INTI -->

                        <!-- KOMPETENSI DASAR -->
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Kompetensi Dasar</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="study_competency_detail_info" id="study_competency_detail_info" value="" readonly>
                            </div>
                        </div>
                        <!-- END KOMPETENSI DASAR -->

                        <!-- NOTE -->
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Materi Mengajar</label>
                            <div class="col-sm-5">
                                <textarea class="form-control" id="note_info" name="note_info" readonly></textarea>
                            </div>
                        </div>
                        <!-- END NOTE -->

                        <!-- GDRIVE -->
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Link Google Drive</label>
                            <div class="col-sm-5">
                                <textarea class="form-control" id="gdrive_info" name="gdrive_info" readonly></textarea>
                            </div>
                        </div>
                        <!-- END GDRIVE -->

                        <!-- TASK -->
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Tugas & Tanggal pengumpulan</label>
                            <div class="col-sm-5">
                                <textarea class="form-control" id="task_description_info" name="task_description_info" placeholder="Berikan tugas sekarang..."  cols="5" readonly></textarea>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                            <span class="input-group-prepend">
                                                <label class="input-group-text"><i class="fa fa-calendar"></i></label>
                                            </span>
                                    <input type="text" class="form-control" readonly name="task_date_info" id="task_date_info" placeholder="dd-mm-yyyy" value="">
                                </div>
                            </div>
                        </div>
                        <!-- END TASK -->

                        <!-- EXAM -->
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Ulangan</label>
                            <div class="col-sm-5">
                                <textarea class="form-control" id="exam_info" name="exam_info" placeholder="Jadwalkan ulangan..."  cols="5" readonly></textarea>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                            <span class="input-group-prepend">
                                                <label class="input-group-text"><i class="fa fa-calendar"></i></label>
                                            </span>
                                    <input type="text" class="form-control" readonly name="exam_date_info" id="exam_date_info" placeholder="dd-mm-yyyy" value="">
                                </div>
                            </div>
                        </div>
                        <!-- END EXAM -->


                        <!-- CLOSE -->
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Status Kelas</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" name="is_closed_info" id="is_closed_info" value="" readonly>
                            </div>
                        </div>
                        <!-- END CLOSE -->
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block addmodal %}
{% endblock %}

{% block addjs %}
    <!-- DATE -->
    {{ asset('js/datepicker.js')|script_tag }}

    <!-- DATATABLES -->
    {{ asset(ThemePlugins ~ 'datatables.net/js/jquery.dataTables.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/js/dataTables.bootstrap4.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive/js/dataTables.responsive.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') | script_tag }}
    <!-- Date-range picker js -->

    <script>
        var ROUTE_DATATABLE     = '{{ RouteDatatables }}';
        var TBL_NAME            = '{{ datatables }}';
        var URL_PAGE            = '{{ UrlPage }}';
        var USER_ID             = '{{ Datas.user_id }}';
        var START               = '{{ Datas.start }}';
        var END                 = '{{ Datas.end }}';
        var LATE                = '{{ LATE }}';

        function deleteList(id){
            $('#id').val(id);
            $('#ConfirmDelete').modal('show');
        }


    </script>
    {{ asset('js/select2.js')|script_tag }}
    {{ asset('js/date.js')|script_tag }}


    <!-- FUNCTION DATATABLE -->
    {{ asset('modules/setprogram_study.js')|script_tag }}
    {{ asset(PathJS ~ 'main.js')|script_tag }}
{% endblock %}

