body{
	font-size: 12px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}
h1{
	padding: 5px 0;
	text-transform: uppercase;
	margin: 0;
}
#cardwrap{
	width: 500px;
	border: 1px solid #dedede;
	margin: 0 auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.header{
	background: #282b4e;
	color: white;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.text-cop{
	width: 410px;
	float: left;
}
.label-ket{
	width: 65%;
	float: left;
}
.header-logo{
	width: 70px;
	float: left;
}
.header-logo img{
	width: 100%
}
.cop-sekolah{
	font-size: 23px;
	font-weight: bold;
}
.cop-yayasan{
	font-size: 14px;
}
.col-foto{
	width: 30%;
	float: left;

}
.col-txt{
	width: 70%;
	float: left;

}
.clear{
	clear: both;
}
.main{
	padding: 10px;
}
.foto img, .barcode img{
	width: 100%;
}
.barcode{
	padding-top: 10px;
}
.row{
	padding: 2px 0;
}
.row:before, .row:after{
	display: table;
	content: "";
}
.row:after{
	clear: both;
}

.label-name{
	width: 35%;
	float: left;
}
.label-ket{
	width: calc(100% - 35%);
	float: left;
}
.ttd-kepsek{
	text-align: center;
	width: 200px;
	float: right;
	padding-top: 10px;
}
.ttd-kepsek img{
	width: 100%;
}
.pad-l{
	padding-left: 10px
}
.cop-alamat{
	font-size: 10px;
	line-height: 10px;
	padding-top: 5px;
}
.lst-cop{
	padding-right: 5px;
	display: inline-block;
	margin-bottom: 5px;
}
.icon-cop{
	width: 17px;
	height: 17px;
	display: inline-block;
	margin-right: 5px;
}
.icon-cop img{
	width: 100%;
	vertical-align: middle;
}