<!doctype html>
<html>
<head>
    <title>Data Guru & Pegawai</title>
</head>
<body>
<h3 align="center">Data  & Pegawai</h3>
<table>
    <thead>
    <tr>
        <th style="font-size: 12px;" align="center" width="150">Nama</th>
        <th style="font-size: 12px;" align="center" width="150">Username</th>
        <th style="font-size: 12px;" align="center" width="100">NIP</th>
    </tr>
    </thead>
    <tbody>
    {#{% if Result.count > 0 %}#}
        {#{% for Data in Result %}#}
            {#<tr>#}
                {#<td style="font-size: 10px;">{{ Data.fullname }}</td>#}
                {#<td style="font-size: 10px;">{{ Data.username }}</td>#}
                {#<td style="font-size: 10px;" align="center">{{ Data.nip }}</td>#}
            {#</tr>#}
        {#{% endfor %}#}
    {#{% endif %}#}
    </tbody>
</table>
</body>
</html>
