{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- lightbox Fremwork -->
    {{ asset(ThemePlugins ~ 'lightbox2/css/lightbox.min.css') | css_tag }}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->

                        <!-- FULLNAME -->
                        <div class="form-group row {% if (errors.has('fullname')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Name Lengkap <label class="text-danger">*</label></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('fullname')) %}form-control-danger{% endif %}" name="fullname" id="fullname" placeholder="Masukan Nama Lengkap..." value="{% if state == 'add' %}{{ old('fullname') }}{% else %}{{ Data.fullname }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('fullname')) %}<div class="col-form-label">{{ errors.first('fullname') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END FULLNAME -->

                        <!-- GENDER -->
                        <div class="form-group row {% if (errors.has('gender')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Jenis kelamin :</label>
                            <div class="col-sm-6">
                                <select name="gender" class="form-control {% if (errors.has('gender')) %}form-control-danger{% endif %}" id="gender">
                                    {% set ListGender = call_helpers('get_ListGender') %}
                                    {% for key,value in ListGender %}
                                        <option value="{{ key }}" {% if state == 'add' %}{{ old('gender') == key ? 'selected="selected"' : ''}}{% else %}{{ Data.gender == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                {% if (errors.has('gender')) %}<div class="col-form-label">{{ errors.first('gender') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END GENDER -->

                        <!-- ACADEMY DEGREE -->
                        <div class="form-group row {% if (errors.has('academy_degree')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Gelar Akademik :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('academy_degree')) %}form-control-danger{% endif %}" name="academy_degree" id="academy_degree" placeholder="Masukan Info Pendidikan terakhir..." value="{% if state == 'add' %}{{ old('academy_degree') }}{% else %}{{ Data.academy_degree }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('academy_degree')) %}<div class="col-form-label">{{ errors.first('academy_degree') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END ACADEMY DEGREE -->

                        <!-- NIP -->
                        <div class="form-group row {% if (errors.has('nip')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">NIP :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('nip')) %}form-control-danger{% endif %}" name="nip" id="nip" placeholder="Masukan NIP..." value="{% if state == 'add' %}{{ old('nip') }}{% else %}{{ Data.nip }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('nip')) %}<div class="col-form-label">{{ errors.first('nip') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END NIP -->

                        <!-- PLACE, DATE of BIRD -->
                        <div class="form-group row {% if (errors.has('dob')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tempat & Tanggal Lahir :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('pob')) %}form-control-danger{% endif %}" name="pob" id="pob" placeholder="Tempat kelahiran..." value="{% if state == 'add' %}{{ old('pob') }}{% else %}{{ Data.pob }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('pob')) %}<div class="col-form-label">{{ errors.first('pob') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control date2 {% if (errors.has('dob')) %}form-control-danger{% endif %}" name="dob" id="dob" placeholder="dd-mm-yyyy" value="{% if state == 'add' %}{{ old('dob') }}{% else %}{{ Data.dob|date('d-m-Y') }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('dob')) %}<div class="col-form-label">{{ errors.first('dob') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PLACE, DATE of BIRD  -->

                        <!-- NIK -->
                        <div class="form-group row {% if (errors.has('nik_number')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">No. KTP :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control nik_number {% if (errors.has('nik_number')) %}form-control-danger{% endif %}" name="nik_number" id="nik_number" placeholder="Masukan No. KTP..." value="{% if state == 'add' %}{{ old('nik_number') }}{% else %}{{ Data.nik_number }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('nik_number')) %}<div class="col-form-label">{{ errors.first('nik_number') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END NIK -->

                        <!-- RELIGION -->
                        <div class="form-group row {% if (errors.has('religion')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Agama :</label>
                            <div class="col-sm-6">
                                <select name="religion" class="form-control {% if (errors.has('religion')) %}form-control-danger{% endif %}" id="religion">
                                    {% set ListReligion = call_helpers('get_ListReligion') %}
                                    {% for key,value in ListReligion %}
                                        <option value="{{ key }}" {% if state == 'add' %}{{ old('religion') == key ? 'selected="selected"' : ''}}{% else %}{{ Data.religion_id == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                {% if (errors.has('religion')) %}<div class="col-form-label">{{ errors.first('religion') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END RELIGION -->

                        <!-- ADDRESS -->
                        <div class="form-group row {% if (errors.has('address')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Alamat</label>
                            <div class="col-sm-6">
                                <textarea  class="form-control {% if (errors.has('address')) %}form-control-danger{% endif %}" name="address" id="address" placeholder="Masukan Alamat Lengkap...">{% if state == 'add' %}{{ old('address') }}{% else %}{{ Data.address }}{% endif %}</textarea>
                                <span class="messages"></span>
                                {% if (errors.has('address')) %}<div class="col-form-label">{{ errors.first('address') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END ADDRESS -->

                        <!-- EMAIL -->
                        <div class="form-group row {% if (errors.has('email')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Alamat Email :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('email')) %}form-control-danger{% endif %}" name="email" id="email" placeholder="Masukan Email..." value="{% if state == 'add' %}{{ old('email') }}{% else %}{{ Data.email }}{% endif %}" {% if state == 'edit' %}readonly{% endif %}>
                                <span class="messages"></span>
                                {% if (errors.has('email')) %}<div class="col-form-label">{{ errors.first('email') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END EMAIL -->

                        <!-- PHONE -->
                        <div class="form-group row {% if (errors.has('phone')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">No. Telp. Rumah :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('phone')) %}form-control-danger{% endif %}" name="phone" id="phone" placeholder="Masukan No. Telp. Rumah..." value="{% if state == 'add' %}{{ old('phone') }}{% else %}{{ Data.phone }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('phone')) %}<div class="col-form-label">{{ errors.first('phone') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PHONE -->

                        <!-- MOBILE -->
                        <div class="form-group row {% if (errors.has('mobile')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">No. Handphone :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('mobile')) %}form-control-danger{% endif %}" name="mobile" id="mobile" placeholder="Masukan No. Handphone..." value="{% if state == 'add' %}{{ old('mobile') }}{% else %}{{ Data.mobile }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('mobile')) %}<div class="col-form-label">{{ errors.first('mobile') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END MOBILE -->

                        <!-- PIN BB -->
                        <div class="form-group row {% if (errors.has('pin')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">PIN BB :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('pin')) %}form-control-danger{% endif %}" name="pin" id="pin" placeholder="Masukan PIN BB..." value="{% if state == 'add' %}{{ old('pin') }}{% else %}{{ Data.pin }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('pin')) %}<div class="col-form-label">{{ errors.first('pin') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PIN BB -->

                        <!-- MARITAL STATUS -->
                        <div class="form-group row {% if (errors.has('marital_status')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Status Perkawian :</label>
                            <div class="col-sm-6">
                                <select name="marital_status" class="form-control {% if (errors.has('marital_status')) %}form-control-danger{% endif %}" id="marital_status">
                                    {% set ListMaritalStatus = call_helpers('get_ListMaritalStatus') %}
                                    {% for key,value in ListMaritalStatus %}
                                        <option value="{{ key }}" {% if state == 'add' %}{{ old('marital_status') == key ? 'selected="selected"' : ''}}{% else %}{{ Data.marital_status == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                {% if (errors.has('marital_status')) %}<div class="col-form-label">{{ errors.first('marital_status') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END MARITAL STATUS -->

                        <!-- ACCOUNT TYPE -->
                        <div class="form-group row {% if (errors.has('account_type')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tipe Akun :<label class="text-danger">*</label></label>
                            <div class="col-sm-6">
                                <select name="account_type" class="form-control {% if (errors.has('account_type')) %}form-control-danger{% endif %}" id="account_type">
                                    {% set ListAccountTypeStaff = call_helpers('get_ListAccountTypeStaff') %}
                                    {% for key,value in ListAccountTypeStaff %}
                                        <option value="{{ key }}" {% if state == 'add' %}{{ old('account_type') == key ? 'selected="selected"' : ''}}{% else %}{{ Data.account_type == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                {% if (errors.has('account_type')) %}<div class="col-form-label">{{ errors.first('account_type') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END ACCOUNT TYPE -->

                        <!-- POSITION -->
                        <div class="form-group row {% if (errors.has('position')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Jabatan :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('position')) %}form-control-danger{% endif %}" name="position" id="position" placeholder="Masukan Jabatan..." value="{% if state == 'add' %}{{ old('position') }}{% else %}{{ Data.position }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('position')) %}<div class="col-form-label">{{ errors.first('position') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END POSITION -->

                        <!-- WORK UNIT -->
                        <div class="form-group row {% if (errors.has('work_unit')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Unit Kerja :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('work_unit')) %}form-control-danger{% endif %}" name="work_unit" id="work_unit" placeholder="Masukan Unit Kerja..." value="{% if state == 'add' %}{{ old('work_unit') }}{% else %}{{ Data.work_unit }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('work_unit')) %}<div class="col-form-label">{{ errors.first('work_unit') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END WORK UNIT -->


                        <div id="divStaff" style="display: none;">
                            <!-- JABATAN POKOK STAFF -->
                            <div class="form-group row {% if (errors.has('primary_position')) %}has-danger{% endif %}">
                                <label class="col-sm-2 col-form-label">Jabatan Pokok Staff:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control {% if (errors.has('primary_position')) %}form-control-danger{% endif %}" name="primary_position" id="primary_position" placeholder="Masukan Jabatan Pokok..." value="{% if state == 'add' %}{{ old('primary_position') }}{% else %}{{ Data.primary_position }}{% endif %}">
                                    <span class="messages"></span>
                                    {% if (errors.has('primary_position')) %}<div class="col-form-label">{{ errors.first('primary_position') }}</div>{% endif %}
                                </div>
                            </div>
                            <!-- END JABATAN POKOK STAFF -->

                            <!-- TMT DI SKTH -->
                            <div class="form-group row {% if (errors.has('tmt_skth')) %}has-danger{% endif %}">
                                <label class="col-sm-2 col-form-label">TMT di SKTH :</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control {% if (errors.has('tmt_skth')) %}form-control-danger{% endif %}" name="tmt_skth" id="tmt_skth" placeholder="Masukan TMT di SKTH" value="{% if state == 'add' %}{{ old('tmt_skth') }}{% else %}{{ Data.tmt_skth }}{% endif %}">
                                    <span class="messages"></span>
                                    {% if (errors.has('tmt_skth')) %}<div class="col-form-label">{{ errors.first('tmt_skth') }}</div>{% endif %}
                                </div>
                            </div>
                            <!-- END TMT DI SKTH -->
                        </div>


                        <div id="divTeacher" style="{% if state == 'edit' %}{% if Data.account_type == 1 %}display:block;{% endif %}{% else %}display: none;{% endif %}">
                            <h4 class="sub-title text-danger">Tugas Pokok anda Seorang pendidik (guru)</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <td width="30%">Kategori Sekolah</td>
                                        <td width="35%">Mata Pelajaran</td>
                                        <td width="30%">Status</td>
                                        <td width="5%"><button class="btn btn-block btn-info" type="button" id="btn-addProgramStudy"><i class="fa fa-plus"></i></button></td>
                                    </tr>
                                    </thead>
                                    <tbody id="div-program-study">
                                    {% if Data.program_study %}
                                        {% for program_study in Data.program_study %}
                                            <tr id="row-program_study-{{ program_study.id }}">
                                                <td><select name="school_category[]" class="form-control" id="school_category{{ program_study.id }}">
                                                        {% for key, value in call_helpers('get_ListSchoolCategory') %}
                                                            <option value="{{ key }}" {{ program_study.school_category_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                        {% endfor %}
                                                    </select></td>
                                                <td><select name="program_study[]" class="form-control" id="program_study{{ program_study.id }}">
                                                        {% for key, value in call_helpers('get_ListProgramStudy', program_study.school_category_id) %}
                                                            <option value="{{ key }}" {{ program_study.program_study_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                        {% endfor %}
                                                    </select></td>
                                                <td><select name="program_study_status[]" class="form-control" id="program_study_status'.$Time.'">
                                                        {% for key, value in call_helpers('get_ListProgramStudyStatus') %}
                                                            <option value="{{ key }}" {{ program_study.status == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                        {% endfor %}
                                                    </select></td>
                                                <td><input type="hidden" class="form-control" name="program_study_id[]" id="program_study_id{{ program_study.id }}" value="{{ program_study.id }}"><button type="button" class="btn btn-outline-danger"  onclick="deleteProgramStudy({{ program_study.id }})"><i class="fa fa-trash"></i></button></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="divEmployee">

                        </div>

                        <hr>
                        <h4 class="title text-info">Riwayat Pendidikan Formal</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td width="30%" rowspan="2">Nama Sekolah/Perguruan Tinggi</td>
                                    <td width="15%" rowspan="2">Fakultas</td>
                                    <td width="15%" rowspan="2">Jurusan/Prodi</td>
                                    <td width="10%" rowspan="2">Jenjang</td>
                                    <td colspan="2" align="center">Tahun</td>
                                    <td width="10%" rowspan="2">Tgl. Lulus</td>
                                    <td width="5%" rowspan="2"><button class="btn btn-block btn-info" type="button" id="btn-addEducationFormalHistory"><i class="fa fa-plus"></i></button></td>
                                </tr>
                                <tr>
                                    <td width="10%">Masuk</td>
                                    <td width="10%">Keluar</td>
                                </tr>
                                </thead>
                                <tbody id="div-education-formal-history">
                                {% if Data.education_formal_history %}
                                    {% for education_formal_history in Data.education_formal_history %}
                                        <tr id="row-education_formal_history-{{ education_formal_history.id }}">
                                            <td><input class="form-control" id="education_formal_name{{ education_formal_history.id }}" name="education_formal_name[]" value="{{ education_formal_history.name }}"></td>
                                            <td><input class="form-control" id="education_formal_faculty{{ education_formal_history.id }}" name="education_formal_faculty[]" value="{{ education_formal_history.faculty }}"></td>
                                            <td><input class="form-control" id="education_formal_majors{{ education_formal_history.id }}" name="education_formal_majors[]" value="{{ education_formal_history.majors }}"></td>
                                            <td><input class="form-control" id="education_formal_level{{ education_formal_history.id }}" name="education_formal_level[]" value="{{ education_formal_history.level }}"></td>
                                            <td><input class="form-control" id="education_formal_year_in{{ education_formal_history.id }}" name="education_formal_year_in[]" value="{{ education_formal_history.year_in }}"></td>
                                            <td><input class="form-control" id="education_formal_year_out{{ education_formal_history.id }}" name="education_formal_year_out[]" value="{{ education_formal_history.year_out }}"></td>
                                            <td><input class="form-control" id="education_formal_date_graduation{{ education_formal_history.id }}" name="education_formal_date_graduation[]" value="{{ education_formal_history.date_graduation|date('d-m-Y') }}"></td>
                                            <td><input type="hidden" class="form-control" name="education_formal_id[]" id="education_formal_id{{ education_formal_history.id }}" value="{{ education_formal_history.id }}"><button type="button" class="btn btn-outline-danger"  onclick="deleteEducationFormalHistory({{ education_formal_history.id }})"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>


                        <hr>
                        <h4 class="title text-info">Riwayat Pendidikan Non Formal</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td width="30%" rowspan="2">Lembaga/Instansi</td>
                                    <td width="25%" rowspan="2">Bidang Study</td>
                                    <td width="25%" rowspan="2">Tingkat</td>
                                    <td colspan="2" align="center">Tahun</td>
                                    <td width="5%" rowspan="2"><button class="btn btn-block btn-info" type="button" id="btn-addEducationNonFormalHistory"><i class="fa fa-plus"></i></button></td>
                                </tr>
                                <tr>
                                    <td width="10%">Masuk</td>
                                    <td width="10%">Keluar</td>
                                </tr>
                                </thead>
                                <tbody id="div-education-nonformal-history">
                                {% if Data.education_non_formal_history %}
                                    {% for education_non_formal_history in Data.education_non_formal_history %}
                                        <tr id="row-education_nonformal_history-{{ education_non_formal_history.id }}">
                                            <td><input class="form-control" id="education_name_non{{ education_non_formal_history.id }}" name="education_name_non[]" value="{{ education_non_formal_history.name }}"></td>
                                            <td><input class="form-control" id="education_study_area_non{{ education_non_formal_history.id }}" name="education_study_area_non[]" value="{{ education_non_formal_history.study_area }}"></td>
                                            <td><input class="form-control" id="education_level_non{{ education_non_formal_history.id }}" name="education_level_non[]" value="{{ education_non_formal_history.level }}"></td>
                                            <td><input class="form-control" id="education_year_in_non{{ education_non_formal_history.id }}" name="education_year_in_non[]" value="{{ education_non_formal_history.year_in }}"></td>
                                            <td><input class="form-control" id="education_year_out_non{{ education_non_formal_history.id }}" name="education_year_out_non[]" value="{{ education_non_formal_history.year_out }}"></td>
                                            <td><input type="hidden" class="form-control" name="education_formal_non_id[]" id="education_formal_non_id{{ education_non_formal_history.id }}" value="{{ education_non_formal_history.id }}"><button type="button" class="btn btn-outline-danger"  onclick="deleteEducationNonFormalHistory({{ education_non_formal_history.id }})"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>

                        <hr>
                        <h4 class="title text-info">Riwayat Mengajar Sebelumnya</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td width="30%">Nama Perguruan</td>
                                    <td width="30%">Mata Pelajaran</td>
                                    <td width="20%">Tahun Ajaran</td>
                                    <td width="5%"><button class="btn btn-block btn-info" type="button" id="btn-addTeacherHistory"><i class="fa fa-plus"></i></button></td>
                                </tr>
                                </thead>
                                <tbody id="div-teacher-history">
                                {% if Data.teaching_history %}
                                    {% for teaching_history in Data.teaching_history %}
                                        <tr id="row-teacher_history-{{ teaching_history.id }}">
                                            <td><input class="form-control" id="teacher_history_name{{ teaching_history.id }}" name="teacher_history_name[]" value="{{ teaching_history.name }}"></td>
                                            <td><input class="form-control" id="teacher_history_programstudy{{ teaching_history.id }}" name="teacher_history_programstudy[]" value="{{ teaching_history.program_study }}"></td>
                                            <td><input class="form-control" id="teacher_history_ta{{ teaching_history.id }}" name="teacher_history_ta[]" value="{{ teaching_history.school_year }}"></td>
                                            <td><input type="hidden" class="form-control" name="teacher_history_id[]" id="teacher_history_id{{ teaching_history.id }}" value="{{ teaching_history.id }}"><button type="button" class="btn btn-outline-danger"  onclick="deleteTeacherHistory({{ teaching_history.id }})"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>

                        <hr>
                        <h4 class="title text-info">Riwayat Pekerjaan <small>(Selain Mengajar)</small></h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td width="30%">Nama Perguruan</td>
                                    <td width="30%">Mata Pelajaran</td>
                                    <td width="20%">Tahun Ajaran</td>
                                    <td width="25%">Jabatan</td>
                                    <td width="5%"><button class="btn btn-block btn-info" type="button" id="btn-addWorkHistory"><i class="fa fa-plus"></i></button></td>
                                </tr>
                                </thead>
                                <tbody id="div-work-history">
                                {% if Data.work_history %}
                                    {% for work_history in Data.work_history %}
                                        <tr id="row-work_history-{{ work_history.id }}">
                                            <td><input class="form-control" id="work_history_instance{{ work_history.id }}" name="work_history_instance[]" value="{{ work_history.name }}"></td>
                                            <td><input class="form-control" id="work_history_from{{ work_history.id }}" name="work_history_from[]" value="{{ work_history.from }}"></td>
                                            <td><input class="form-control" id="work_history_to{{ work_history.id }}" name="work_history_to[]" value="{{ work_history.to }}"></td>
                                            <td><input class="form-control" id="work_history_position{{ work_history.id }}" name="work_history_position[]" value="{{ work_history.position }}"></td>
                                            <td><input type="hidden" class="form-control" name="work_history_id[]" id="work_history_id{{ work_history.id }}" value="{{ work_history.id }}"><button type="button" class="btn btn-outline-danger"  onclick="deleteWorkHistory({{ work_history.id }})"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>


                        <hr>
                        <h4 class="title text-info">Keluarga</h4>

                        <!-- MOTHER NAME -->
                        <div class="form-group row {% if (errors.has('mother_name')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Orang Tua :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('mother_name')) %}form-control-danger{% endif %}" name="mother_name" id="mother_name" placeholder="Masukan nama Ibu Kandung..." value="{% if state == 'add' %}{{ old('mother_name') }}{% else %}{{ Data.mother_name }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('mother_name')) %}<div class="col-form-label">{{ errors.first('mother_name') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END MOTHER NAME -->

                        <!-- WIFE OR HUSBAND NAME -->
                        <div class="form-group row {% if (errors.has('wife_or_husband_name')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Nama Suami/Istri :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('wife_or_husband_name')) %}form-control-danger{% endif %}" name="wife_or_husband_name" id="wife_or_husband_name" value="{% if state == 'add' %}{{ old('wife_or_husband_name') }}{% else %}{{ Data.wife_or_husband_name }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('wife_or_husband_name')) %}<div class="col-form-label">{{ errors.first('wife_or_husband_name') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END WIFE OR HUSBAND NAME -->

                        <!-- WIFE OR HUSBAND WORK -->
                        <div class="form-group row {% if (errors.has('wife_or_husband_work')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Pekerjaan Suami/Istri :</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('wife_or_husband_work')) %}form-control-danger{% endif %}" name="wife_or_husband_work" id="wife_or_husband_work" value="{% if state == 'add' %}{{ old('wife_or_husband_work') }}{% else %}{{ Data.wife_or_husband_work }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('wife_or_husband_work')) %}<div class="col-form-label">{{ errors.first('wife_or_husband_work') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END WIFE OR HUSBAND WORK -->

                        <hr>
                        <h4 class="subtitle text-info">Anak</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td width="20%">Nama</td>
                                    <td width="10%">Status Anak</td>
                                    <td width="15%">Tempat Lahir</td>
                                    <td width="10%">Tanggal Lahir</td>
                                    <td width="10%">Jenjang Sekolah</td>
                                    <td width="10%">Tahun Masuk</td>
                                    <td width="5%"><button class="btn btn-block btn-info" type="button" id="btn-addFamily"><i class="fa fa-plus"></i></button></td>
                                </tr>
                                </thead>
                                <tbody id="div-family">
                                {% if Data.family %}
                                    {% for family in Data.family %}
                                        <tr id="row-family-{{ family.id }}">
                                            <td><input class="form-control" id="family_name{{ family.id }}" name="family_name[]" value="{{ family.name }}"></td>
                                            <td><input class="form-control" id="family_status{{ family.id }}" name="family_status[]" value="{{ family.status }}"></td>
                                            <td><input class="form-control" id="family_pob{{ family.id }}" name="family_pob[]" value="{{ family.pob }}"></td>
                                            <td><input class="form-control" id="family_dob{{ family.id }}" name="family_dob[]" value="{{ family.dob }}"></td>
                                            <td><input class="form-control" id="family_level{{ family.id }}" name="family_level[]" value="{{ family.level }}"></td>
                                            <td><input class="form-control" id="family_school_year{{ family.id }}" name="family_school_year[]" value="{{ family.school_year }}"></td>
                                            <td><input type="hidden" class="form-control" name="family_id[]" id="family_id{{ family.id }}" value="{{ family.id }}"><button type="button" class="btn btn-outline-danger"  onclick="deleteFamily({{ family.id }})"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>


                        <hr>
                        <h4 class="title text-info">Workshop/Seminar/Lokakarya/Diklat</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td width="30%">Jenis</td>
                                    <td width="15%">Tahun</td>
                                    <td width="20%">Peran</td>
                                    <td width="30%">Penyelenggara</td>
                                    <td width="5%"><button class="btn btn-block btn-info" type="button" id="btn-addWorkshop"><i class="fa fa-plus"></i></button></td>
                                </tr>
                                </thead>
                                <tbody id="div-workshop">
                                {% if Data.workshop %}
                                    {% for workshop in Data.workshop %}
                                        <tr id="row-workshop-{{ workshop.id }}">
                                            <td><input class="form-control" id="workshop_type{{ workshop.id }}" name="workshop_type[]" value="{{ workshop.type }}"></td>
                                            <td><input class="form-control" id="workshop_years{{ workshop.id }}" name="workshop_years[]" value="{{ workshop.years }}"></td>
                                            <td><input class="form-control" id="workshop_role{{ workshop.id }}" name="workshop_role[]" value="{{ workshop.role }}"></td>
                                            <td><input class="form-control" id="workshop_organizer{{ workshop.id }}" name="workshop_organizer[]" value="{{ workshop.organizer }}"></td>
                                            <td><input type="hidden" class="form-control" name="workshop_id[]" id="workshop_id{{ workshop.id }}" value="{{ workshop.id }}"><button type="button" class="btn btn-outline-danger"  onclick="deleteWorkshop({{ workshop.id }})"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>

                        <hr>
                        <h4 class="title text-info">Test Kebahasaan <small>(Contoh : TOEFL, TOEIC)</small></h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td width="30%">Nama Test/Uji</td>
                                    <td width="30%">Penyelenggara</td>
                                    <td width="15%">Tahun</td>
                                    <td width="20%">Nilai</td>
                                    <td width="5%"><button class="btn btn-block btn-info" type="button" id="btn-addLanguage"><i class="fa fa-plus"></i></button></td>
                                </tr>
                                </thead>
                                <tbody id="div-language">
                                {% if Data.language %}
                                    {% for language in Data.language %}
                                        <tr id="row-language-{{ language.id }}">
                                            <td><input class="form-control" id="language_name{{ language.id }}" name="language_name[]" value="{{ language.name }}"></td>
                                            <td><input class="form-control" id="language_organizer{{ language.id }}" name="language_organizer[]" value="{{ language.organizer }}"></td>
                                            <td><input class="form-control" id="language_years{{ language.id }}" name="language_years[]" value="{{ language.years }}"></td>
                                            <td><input class="form-control" id="language_point{{ language.id }}" name="language_point[]" value="{{ language.point }}"></td>
                                            <td><input type="hidden" class="form-control" name="language_id[]" id="language_id{{ language.id }}" value="{{ language.id }}"><button type="button" class="btn btn-outline-danger"  onclick="deleteLanguage({{ language.id }})"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>


                        {% if state == 'add' %}
                        <hr>
                        <!-- USERNAME -->
                        <div class="form-group row {% if (errors.has('username')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Username :<label class="text-danger">*</label></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('username')) %}form-control-danger{% endif %}" name="username" id="username" placeholder="Masukan Username..." value="{% if state == 'add' %}{{ old('username') }}{% else %}{{ Data.username }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('username')) %}<div class="col-form-label">{{ errors.first('username') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END USERNAME -->

                        <!-- PASSWORD -->
                        <div class="form-group row {% if (errors.has('password')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Password :<label class="text-danger">*</label></label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control {% if (errors.has('password')) %}form-control-danger{% endif %}" name="password" id="password" placeholder="Masukan Password..." value="{% if state == 'add' %}{{ old('password') }}{% else %}{{ Data.password }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('password')) %}<div class="col-form-label">{{ errors.first('password') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PASSWORD -->
                        {% elseif state == 'edit' %}
                            <!-- USERNAME -->
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Username :</label>
                                <div class="col-sm-4">
                                    <input type="text" name="username" id="username" class="form-control"  value="{{ Data.username }}">
                                    <span class="messages"></span>
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-warning" name="action" value="save_username"><i class="icofont icofont-check"></i> Simpan Perubahan</button>
                                </div>
                            </div>
                            <!-- END USERNAME -->
                        {% endif %}

                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <a href="{{ route(RouteStore) }}" class="btn btn-inverse btn-square"><i class="ti-back-left"></i> Back</a>
                                <button type="submit" class="btn btn-primary m-b-0" name="action" value="save"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block addmodal %}
    <!-- MODAL PROGRAM STUDY -->
    <div class="modal fade"  id="ModalProgramStudy" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_family" class="form-material" id="form_program_study" method="post" action="{{ route('employee_program_study_save') }}">
                        {{ csrf_field() }}
                        <input type="hidden" id="statusform" name="statusform" value="add">

                        <!-- SCHOOL CATEGORY -->
                        <div class="form-group form-default form-static-label" id="field-modal_school_category">
                            <select name="modal_school_category" class="form-control" id="modal_school_category">
                                {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                                {% for  key,value in ListSchoolCategory %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Kategori Sekolah</label>
                        </div>
                        <!-- END SCHOOL CATEGORY -->

                        <!-- NAME -->
                        <div class="form-group form-default form-static-label" id="field-modal_program_study_name">
                            <select name="modal_program_study" class="form-control" id="modal_program_study">
                                {% set ListProgramStudy = call_helpers('get_ListProgramStudy') %}
                                {% for key,value in ListProgramStudy %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Mata Pelajaran</label>
                        </div>
                        <!-- END NAME -->

                        <!-- STATUS -->
                        <div class="form-group form-default form-static-label" id="field-modal_program_study_name">
                            <select name="modal_program_study_status" class="form-control" id="modal_program_study_status">
                                {% set ListProgramStudyStatus = call_helpers('get_ListProgramStudyStatus') %}
                                {% for key,value in ListProgramStudyStatus %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Status</label>
                        </div>
                        <!-- END STATUS -->

                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light" id="btn-saveProgramStudyAction"><i class="fa fa-save"></i>Simpan</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL PROGRAM STUDY -->

    <!-- DELETE PROGRAM STUDY -->
    <div class="modal fade"  id="ConfirmDeleteProgramStudy" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="program_study_id" id="program_study_id">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btn-deleteProgramStudy">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE PROGRAM STUDY -->

    <!-- MODAL EDUCATION FORMAL HISTORY -->
    <div class="modal fade"  id="ModalEducationFormalHistory" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_family" class="form-material" id="form_eduction_formal_history" method="post" action="{{ route('employee_education_formal_history_save') }}">
                        {{ csrf_field() }}
                        <input type="hidden" id="statusform_efh" name="statusform_efh" value="add">

                        <!-- NAME -->
                        <div class="form-group form-default form-static-label" id="field-formal_history">
                            <input type="text" name="modal_education_name" id="modal_education_name" class="form-control" placeholder="Masukan Nama">
                            <span class="form-bar"></span>
                            <label class="float-label">Nama Sekolah/Perguruan Tinggi</label>
                        </div>
                        <!-- END NAME -->

                        <!-- FAKULTAS -->
                        <div class="form-group form-default form-static-label" id="field-education_faculty">
                            <input type="text" name="modal_education_faculty" id="modal_education_faculty" class="form-control" placeholder="Masukan Fakultas">
                            <span class="form-bar"></span>
                            <label class="float-label">Fakultas</label>
                        </div>
                        <!-- END FAKULTAS -->

                        <!-- JURUSAN -->
                        <div class="form-group form-default form-static-label" id="field-education_majors">
                            <input type="text" name="modal_education_majors" id="modal_education_majors" class="form-control" placeholder="Masukan Jurusan">
                            <span class="form-bar"></span>
                            <label class="float-label">Jurusan/Prodi</label>
                        </div>
                        <!-- END JURUSAN -->

                        <!-- JENJANG -->
                        <div class="form-group form-default form-static-label" id="field-education_level">
                            <input type="text" name="modal_education_level" id="modal_education_level" class="form-control" placeholder="Masukan Jenjang">
                            <span class="form-bar"></span>
                            <label class="float-label">Jenjang</label>
                        </div>
                        <!-- END JENJANG -->

                        <!-- TAHUN MASUK -->
                        <div class="form-group form-default form-static-label" id="field-education_year_in">
                            <input type="text" name="modal_education_year_in" id="modal_education_year_in" class="form-control" placeholder="Tahun Masuk">
                            <span class="form-bar"></span>
                            <label class="float-label">Tahun Masuk</label>
                        </div>
                        <!-- END TAHUN MASUK -->

                        <!-- TAHUN KELUAR -->
                        <div class="form-group form-default form-static-label" id="field-education_year_out">
                            <input type="text" name="modal_education_year_out" id="modal_education_year_out" class="form-control" placeholder="Tahun Keluar">
                            <span class="form-bar"></span>
                            <label class="float-label">Tahun Keluar</label>
                        </div>
                        <!-- END TAHUN KELUAR -->

                        <!-- TANGGAL LULUS -->
                        <div class="form-group form-default form-static-label" id="field-education_date_graduation">
                            <input type="text" name="modal_education_date_graduation" id="modal_education_date_graduation" class="form-control date2" placeholder="Tanggal kelulusan">
                            <span class="form-bar"></span>
                            <label class="float-label">Tanggal kelulusan</label>
                        </div>
                        <!-- END TANGGAL LULUS -->




                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light" id="btn-saveEducationFormalHistoryAction"><i class="fa fa-save"></i>Simpan</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL EDUCATION FORMAL HISTORY -->

    <!-- DELETE EDUCATION FORMAL HISTORY -->
    <div class="modal fade"  id="ConfirmDeleteEducationFormalHistory" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="education_formal_id" id="education_formal_id">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btn-deleteEducationFormalHistory">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE EDUCATION FORMAL HISTORY -->

    <!-- MODAL EDUCATION NON FORMAL HISTORY -->
    <div class="modal fade"  id="ModalEducationNonFormalHistory" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_education_nonformal_history" class="form-material" id="form_eduction_nonformal_history" method="post" action="{{ route('employee_education_nonformal_history_save') }}">
                        {{ csrf_field() }}
                        <input type="hidden" id="statusform_enfh" name="statusform_enfh" value="add">

                        <!-- NAME -->
                        <div class="form-group form-default form-static-label" id="field-modal_education_name_non">
                            <input type="text" name="modal_education_name_non" id="modal_education_name_non" class="form-control" placeholder="Masukan Nama Lembaga/Instansi">
                            <span class="form-bar"></span>
                            <label class="float-label">Nama Lembaga/Instansi</label>
                        </div>
                        <!-- END NAME -->

                        <!-- BIDANG STUDY -->
                        <div class="form-group form-default form-static-label" id="field-education_study_area_non">
                            <input type="text" name="modal_education_study_area_non" id="modal_education_study_area_non" class="form-control" placeholder="Masukan Bidang Study">
                            <span class="form-bar"></span>
                            <label class="float-label">Bidang Study</label>
                        </div>
                        <!-- END BIDANG STUDY -->

                        <!-- TINGKAT -->
                        <div class="form-group form-default form-static-label" id="field-education_faculty">
                            <input type="text" name="modal_education_level_non" id="modal_education_level_non" class="form-control" placeholder="Masukan Tingkat">
                            <span class="form-bar"></span>
                            <label class="float-label">Tingkat</label>
                        </div>
                        <!-- END TINGKAT -->


                        <!-- TAHUN MASUK -->
                        <div class="form-group form-default form-static-label" id="field-education_year_in">
                            <input type="text" name="modal_education_year_in_non" id="modal_education_year_in_non" class="form-control" placeholder="Tahun Masuk">
                            <span class="form-bar"></span>
                            <label class="float-label">Tahun Masuk</label>
                        </div>
                        <!-- END TAHUN MASUK -->

                        <!-- TAHUN KELUAR -->
                        <div class="form-group form-default form-static-label" id="field-education_year_out">
                            <input type="text" name="modal_education_year_out_non" id="modal_education_year_out_non" class="form-control" placeholder="Tahun Keluar">
                            <span class="form-bar"></span>
                            <label class="float-label">Tahun Keluar</label>
                        </div>
                        <!-- END TAHUN KELUAR -->


                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light" id="btn-saveEducationNonFormalHistoryAction"><i class="fa fa-save"></i>Simpan</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL EDUCATION NON FORMAL HISTORY -->

    <!-- DELETE EDUCATION NON FORMAL HISTORY -->
    <div class="modal fade"  id="ConfirmDeleteEducationNonFormalHistory" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="education_formal_non_id" id="education_formal_non_id">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btn-deleteEducationNonFormalHistory">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE EDUCATION NON FORMAL HISTORY -->

    <!-- MODAL TEACHER HISTORY -->
    <div class="modal fade"  id="ModalTeacherHistory" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_teacher_history" class="form-material" id="form_teacher_history" method="post" action="{{ route('employee_teacher_history_save') }}">
                        {{ csrf_field() }}
                        <input type="hidden" id="statusform_th" name="statusform_th" value="add">

                        <!-- NAME -->
                        <div class="form-group form-default form-static-label" id="field-teacher_history_name">
                            <input type="text" name="modal_teacher_history_name" id="modal_teacher_history_name" class="form-control" placeholder="Masukan Nama Perguruan">
                            <span class="form-bar"></span>
                            <label class="float-label">Nama Perguruan</label>
                        </div>
                        <!-- END NAME -->

                        <!-- MATA PELAJARAN -->
                        <div class="form-group form-default form-static-label" id="field-teacher_history_programstudy">
                            <input type="text" name="modal_teacher_history_programstudy" id="modal_teacher_history_programstudy" class="form-control" placeholder="Masukan Mata Pelajaran">
                            <span class="form-bar"></span>
                            <label class="float-label">Mata Pelajaran</label>
                        </div>
                        <!-- END MATA PELAJARAN -->


                        <!-- TAHUN AJARAN -->
                        <div class="form-group form-default form-static-label" id="field-teacher_history_ta">
                            <input type="text" name="modal_teacher_history_ta" id="modal_teacher_history_ta" class="form-control" placeholder="Masukan Tahun Ajaran">
                            <span class="form-bar"></span>
                            <label class="float-label">Tahun Ajaran</label>
                        </div>
                        <!-- END TAHUN AJARAN -->


                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light" id="btn-saveTeacherHistoryAction"><i class="fa fa-save"></i>Simpan</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL TEACHER HISTORY -->

    <!-- DELETE TEACHER HISTORY -->
    <div class="modal fade"  id="ConfirmDeleteTeacherHistory" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="modal_teacher_history_id" id="modal_teacher_history_id">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btn-deleteTeacherHistory">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE TEACHER HISTORY -->

    <!-- MODAL WORK HISTORY -->
    <div class="modal fade"  id="ModalWorkHistory" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_work_history" class="form-material" id="form_work_history" method="post" action="{{ route('employee_work_history_save') }}">
                        {{ csrf_field() }}
                        <input type="hidden" id="statusform_wh" name="statusform_wh" value="add">

                        <!-- NAME -->
                        <div class="form-group form-default form-static-label" id="field-work_history_instance">
                            <input type="text" name="modal_work_history_instance" id="modal_work_history_instance" class="form-control" placeholder="Masukan Nama Instansi">
                            <span class="form-bar"></span>
                            <label class="float-label">Nama Perguruan</label>
                        </div>
                        <!-- END NAME -->

                        <!-- DARI -->
                        <div class="form-group form-default form-static-label" id="field-work_history_from">
                            <input type="text" name="modal_work_history_from" id="modal_work_history_from" class="form-control" placeholder="Masukan masa tugas dari...">
                            <span class="form-bar"></span>
                            <label class="float-label">Masa tugas Dari</label>
                        </div>
                        <!-- END DARI -->

                        <!-- HINGGA -->
                        <div class="form-group form-default form-static-label" id="field-work_history_to">
                            <input type="text" name="modal_work_history_to" id="modal_work_history_to" class="form-control" placeholder="Masukan masa tugas hingga...">
                            <span class="form-bar"></span>
                            <label class="float-label">Masa Tugas Hingga</label>
                        </div>
                        <!-- END HINGGA -->


                        <!-- JABATAN -->
                        <div class="form-group form-default form-static-label" id="field-work_history_position">
                            <input type="text" name="modal_work_history_position" id="modal_work_history_position" class="form-control" placeholder="Jabatan">
                            <span class="form-bar"></span>
                            <label class="float-label">Jabatan</label>
                        </div>
                        <!-- END JABATAN -->


                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light" id="btn-saveWorkHistoryAction"><i class="fa fa-save"></i>Simpan</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL WORK HISTORY -->

    <!-- DELETE WORK HISTORY -->
    <div class="modal fade"  id="ConfirmDeleteWorkHistory" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="work_history_id" id="work_history_id">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btn-deleteWorkHistory">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE WORK HISTORY -->

    <!-- MODAL FAMILY -->
    <div class="modal fade"  id="ModalFamily" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_family" class="form-material" id="form_family" method="post" action="{{ route('employee_family_save') }}">
                        {{ csrf_field() }}
                        <input type="hidden" id="statusform_f" name="statusform_f" value="add">

                        <!-- NAME -->
                        <div class="form-group form-default form-static-label" id="field-family_name">
                            <input type="text" name="modal_family_name" id="modal_family_name" class="form-control" placeholder="Masukan Nama">
                            <span class="form-bar"></span>
                            <label class="float-label">Nama</label>
                        </div>
                        <!-- END NAME -->

                        <!-- STATUS ANAK -->
                        <div class="form-group form-default form-static-label" id="field-family_status">
                            <input type="text" name="modal_family_status" id="modal_family_status" class="form-control" placeholder="Masukan Status...">
                            <span class="form-bar"></span>
                            <label class="float-label">Status</label>
                        </div>
                        <!-- END STATUS ANAK -->

                        <!-- POB -->
                        <div class="form-group form-default form-static-label" id="field-family_pob">
                            <input type="text" name="modal_family_pob" id="modal_family_pob" class="form-control" placeholder="Masukan Tempat Lahir...">
                            <span class="form-bar"></span>
                            <label class="float-label">Tempat Lahir</label>
                        </div>
                        <!-- END POB -->

                        <!-- DOB -->
                        <div class="form-group form-default form-static-label" id="field-family_dob">
                            <input type="text" name="modal_family_dob" id="modal_family_dob" class="form-control" placeholder="Masukan Tanggal Lahir...">
                            <span class="form-bar"></span>
                            <label class="float-label">Tanggal Lahir</label>
                        </div>
                        <!-- END DOB -->

                        <!-- JENJANG SEKOLAH -->
                        <div class="form-group form-default form-static-label" id="field-family_level">
                            <input type="text" name="modal_family_level" id="modal_family_level" class="form-control" placeholder="Masukan Jenjang...">
                            <span class="form-bar"></span>
                            <label class="float-label">Jenjang</label>
                        </div>
                        <!-- END JENJANG SEKOLAH -->

                        <!-- TAHUN MASUK -->
                        <div class="form-group form-default form-static-label" id="field-family_school_year">
                            <input type="text" name="modal_family_school_year" id="modal_family_school_year" class="form-control" placeholder="Tahun Masuk">
                            <span class="form-bar"></span>
                            <label class="float-label">Tahun Masuk</label>
                        </div>
                        <!-- END TAHUN MASUK -->


                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light" id="btn-saveFamilyAction"><i class="fa fa-save"></i>Simpan</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL FAMILY -->

    <!-- DELETE FAMILY -->
    <div class="modal fade"  id="ConfirmDeleteFamily" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="modal_family_id" id="modal_family_id">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btn-deleteFamily">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE FAMILY -->

    <!-- MODAL WORKSHOP -->
    <div class="modal fade"  id="ModalWorkshop" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_workshop" class="form-material" id="form_workshop" method="post" action="{{ route('employee_workshop_save') }}">
                        {{ csrf_field() }}
                        <input type="hidden" id="statusform_w" name="statusform_w" value="add">

                        <!-- JENIS -->
                        <div class="form-group form-default form-static-label" id="field-workshop_type">
                            <input type="text" name="modal_workshop_type" id="modal_workshop_type" class="form-control" placeholder="Masukan jenis">
                            <span class="form-bar"></span>
                            <label class="float-label">Jenis</label>
                        </div>
                        <!-- END JENIS -->

                        <!-- TAHUN -->
                        <div class="form-group form-default form-static-label" id="field-workshop_years">
                            <input type="text" name="modal_workshop_years" id="modal_workshop_years" class="form-control" placeholder="Masukan Tahun...">
                            <span class="form-bar"></span>
                            <label class="float-label">Tahun</label>
                        </div>
                        <!-- END TAHUN -->

                        <!-- PERAN -->
                        <div class="form-group form-default form-static-label" id="field-workshop_role">
                            <input type="text" name="modal_workshop_role" id="modal_workshop_role" class="form-control" placeholder="Masukan Peran...">
                            <span class="form-bar"></span>
                            <label class="float-label">Peran</label>
                        </div>
                        <!-- END PERAN -->

                        <!-- PENYELENGGARA -->
                        <div class="form-group form-default form-static-label" id="field-workshop_organizer">
                            <input type="text" name="modal_workshop_organizer" id="modal_workshop_organizer" class="form-control" placeholder="Masukan Penyelenggara...">
                            <span class="form-bar"></span>
                            <label class="float-label">Penyelenggara</label>
                        </div>
                        <!-- END PENYELENGGARA -->

                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light" id="btn-saveWorkshopAction"><i class="fa fa-save"></i>Simpan</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL WORKSHOP -->

    <!-- DELETE WORKSHOP -->
    <div class="modal fade"  id="ConfirmDeleteWorkshop" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="modal_workshop_id" id="modal_workshop_id">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btn-deleteWorkshop">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE WORKSHOP -->

    <!-- MODAL LANGUAGE -->
    <div class="modal fade"  id="ModalLanguage" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_language" class="form-material" id="form_language" method="post" action="{{ route('employee_language_save') }}">
                        {{ csrf_field() }}
                        <input type="hidden" id="statusform_l" name="statusform_l" value="add">

                        <!-- NAME -->
                        <div class="form-group form-default form-static-label" id="field-language_name">
                            <input type="text" name="modal_language_name" id="modal_language_name" class="form-control" placeholder="Masukan Nama Tes">
                            <span class="form-bar"></span>
                            <label class="float-label">Name test/Uji</label>
                        </div>
                        <!-- END NAME -->

                        <!-- PENYELENGGARA -->
                        <div class="form-group form-default form-static-label" id="field-language_organizer">
                            <input type="text" name="modal_language_organizer" id="modal_language_organizer" class="form-control" placeholder="Masukan Penyelenggara...">
                            <span class="form-bar"></span>
                            <label class="float-label">Penyelenggara</label>
                        </div>
                        <!-- END PENYELENGGARA -->

                        <!-- TAHUN -->
                        <div class="form-group form-default form-static-label" id="field-language_years">
                            <input type="text" name="modal_language_years" id="modal_language_years" class="form-control" placeholder="Masukan Tahun...">
                            <span class="form-bar"></span>
                            <label class="float-label">Tahun</label>
                        </div>
                        <!-- END TAHUN -->

                        <!-- NILAI -->
                        <div class="form-group form-default form-static-label" id="field-language_point">
                            <input type="text" name="modal_language_point" id="modal_language_point" class="form-control" placeholder="Masukan Nilai...">
                            <span class="form-bar"></span>
                            <label class="float-label">Nilai</label>
                        </div>
                        <!-- END NILAI -->

                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light" id="btn-saveLanguageAction"><i class="fa fa-save"></i>Simpan</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL LANGUAGE -->

    <!-- DELETE LANGUAGE -->
    <div class="modal fade"  id="ConfirmDeleteLanguage" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" name="modal_language_id" id="modal_language_id">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btn-deleteLanguage">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE LANGUAGE -->

{% endblock %}

{% block addjs %}
    <!-- INPUT MASK -->
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'lightbox2/js/lightbox.min.js') | script_tag }}

    <!-- INPUT MASK -->
    {{ asset(ThemeAsset ~ 'pages/form-masking/inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/jquery.inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/autoNumeric.js') | script_tag }}
    {{ asset('js/masking.js') | script_tag }}

    <script>
        var URLPAGE                 = '{{ UrlPage }}';
    </script>

    {{ asset(PathJS ~ 'main.js')|script_tag }}
    {{ asset('modules/program_study.js')|script_tag }}
{% endblock %}
