{% extends "admin::layouts." ~ config_get('themes.able_theme') %}

{% block addcss %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}

    <!-- TAGS INPUT -->
    {{ asset(ThemePlugins ~ 'bootstrap-tagsinput/css/bootstrap-tagsinput.css') | css_tag }}

    {{ asset(ThemeAsset ~ 'pages/jquery.filer/css/jquery.filer.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css') | css_tag }}

    <!-- DATEDROPPER -->
    {{ asset(ThemePlugins ~ 'datedropper/css/datedropper.min.css') | css_tag }}


{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post" enctype="multipart/form-data">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ Data.id }}" />
                        <!-- PARAM -->

                        <!-- DATE ABSENCE  -->
                        <div class="form-group row {% if (errors.has('date_absence')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tanggal Absen</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control {% if (errors.has('date_absence')) %}form-control-danger{% endif %}" name="date_absence" id="date_absence" value="{{ Data.date_absence | date('d F Y') }}" readonly>
                                <span class="messages"></span>
                                {% if (errors.has('date_absence')) %}<div class="col-form-label">{{ errors.first('date_absence') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END DATE ABSENCE -->

                        <!-- ABSENCE IN  -->
                        <div class="form-group row {% if (errors.has('absence')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Waktu Absen</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control {% if (errors.has('absence')) %}form-control-danger{% endif %}" name="absence" id="absence" value="{{ Data.absence | date('d F Y H:i:s') }}" readonly>
                                <span class="messages"></span>
                                {% if (errors.has('absence')) %}<div class="col-form-label">{{ errors.first('absence') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END ABSENCE IN -->

                        <!-- EMPLOYEE GUARD  -->
                        <div class="form-group row {% if (errors.has('employee_guard')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Guru Piket</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control {% if (errors.has('employee_guard')) %}form-control-danger{% endif %}" name="employee_guard" id="employee_guard" value="{{ Data.employeeguard.employee.fullname }}" readonly>
                                <span class="messages"></span>
                                {% if (errors.has('employee_guard')) %}<div class="col-form-label">{{ errors.first('employee_guard') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END EMPLOYEE GUARD -->

                        <!-- NOTE LATE -->
                        <div class="form-group row {% if (errors.has('note_late')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Alasan <label class="text-danger">*</label></label>
                            <div class="col-sm-7">
                                <textarea name="note_late" id="note_late" placeholder="Masukan Alasan"  class="form-control {% if (errors.has('note_late')) %}form-control-danger{% endif %}">{% if old('note_late') %}{{ old('note_late') }}{% else %}{{ Data.note }}{% endif %}</textarea>
                                <span class="messages"></span>
                                {% if (errors.has('note_late')) %}<div class="col-form-label">{{ errors.first('note_late') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END NOTE LATE -->

                        <!-- NOTE -->
                        <div class="form-group row {% if (errors.has('note')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Keterangan <label class="text-danger">*</label></label>
                            <div class="col-sm-7">
                                <textarea class="form-control {% if (errors.has('note')) %}form-control-danger{% endif %}" name="note" id="note">{% if old('note') %}{{ old('note') }}{% else %}{{ Data.note }}{% endif %}</textarea>
                                <span class="messages"></span>
                                {% if (errors.has('note')) %}<div class="col-form-label">{{ errors.first('note') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END NOTE -->

                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <a href="{{ route(RouteStore) }}" class="btn btn-inverse btn-square"><i class="ti-back-left"></i> Back</a>
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> Update</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if state == 'edit' %}
        {% if Data.file_support.count > 0 %}
            <div class="row">
                <div class="col-sm-12">
                    <div id="load-filesupport">
                        <!-- LAMPIRAN -->
                        <div class="card">
                            <div class="card-header">
                                <h5>File Support</h5>
                            </div>
                            <div class="card-block">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th width="80%">Nama File</th>
                                        <th width="20%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for file in Data.file_support %}
                                    <tr>
                                        <td>{{ file.name }}</td>
                                        <td><button class="btn btn-outline-danger" type="button" onclick="deleteFileSupport({{ file.id }})"><i class="fa fa-trash"></i> Hapus</button>
                                            <button class="btn btn-outline-info" type="button" onclick="downloadFileSupport({{ file.id }})"><i class="fa fa-download"></i> Download</button></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- LAMPIRAN -->
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block addmodal %}
    <!-- DELETE FILE -->
    <div class="modal fade"  id="ModalDeleteFileConfirm" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi hapus File!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="file_id" id="file_id">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btn-deleteFileSupport">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE FILE -->
{% endblock %}

{% block addjs %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}
    {{ asset('js/select2.js')|script_tag }}

    {{ asset(ThemePlugins ~ 'bootstrap-tagsinput/js/bootstrap-tagsinput.js') | script_tag }}

    {{ asset(ThemePlugins ~ 'jquery-slimscroll/js/jquery.slimscroll.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}

    <!-- CKEDITOR -->
    {{ asset(ThemeAsset ~ 'pages/ckeditor/ckeditor.js') | script_tag }}

    {{ asset(ThemeAsset ~ 'pages/jquery.filer/js/jquery.filer.min.js') | script_tag }}
    {#{{ asset(ThemeAsset ~ 'pages/filer/custom-filer.js') | script_tag }}#}
    {#{{ asset(ThemeAsset ~ 'pages/filer/jquery.fileuploads.init.js') | script_tag }}#}
    {{ asset('js/fileupload.js')|script_tag }}

    <!-- Date-dropper js -->
    {{ asset(ThemePlugins ~ 'datedropper/js/datedropper.min.js') | script_tag }}
    {{ asset('js/dropper.js')|script_tag }}

    {{ asset(PathJS ~ 'editor.js')|script_tag }}
    {{ asset(PathJS ~ 'main.js')|script_tag }}

{% endblock %}
