{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- DATATABLE -->
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/css/dataTables.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/css/buttons.dataTables.min.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/extensions/responsive/css/responsive.dataTables.css') | css_tag }}
    <!-- END DATATABLE -->

    <!-- Date-range picker css  -->
    {{ asset(ThemeAsset ~ 'pages/advance-elements/css/bootstrap-datetimepicker.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'bootstrap-daterangepicker/css/daterangepicker.css') | css_tag }}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    {% if errors.has('student') %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="icofont icofont-close-line-circled"></i>
            </button>
            <strong>Error!</strong> {{ errors.first('student') }}
        </div>
    {% endif %}
    <div class="card">
        <div class="card-header">
            <h5>{{ PageTitle }}</h5>
            <span>{{ PageDescription }}</span>
        </div>
        <div class="card-block">
            <form class="form-material" method="post" id="form-absence" name="form-absence" action="{{ route(RouteSearch) }}">
                {{ csrf_field() }}


                <!-- SCHOOL CATEGORY -->
                <div class="form-group row {% if (errors.has('school_category')) %}has-danger{% endif %}">
                    <label class="col-sm-2 col-form-label">Kategori Sekolah</label>
                    <div class="col-sm-10">
                        <select class="form-control {% if (errors.has('school_category')) %}form-control-danger{% endif %}" id="school_category" name="school_category">
                            {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                            {% for  key,value in ListSchoolCategory %}
                                <option value="{{ key }}" {% if SCHOOL_CATEGORY %}{{ SCHOOL_CATEGORY == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                        <span class="messages"></span>
                        {% if (errors.has('school_category')) %}<div class="col-form-label">{{ errors.first('school_category') }}</div>{% endif %}
                    </div>
                </div>
                <!-- END SCHOOL CATEGORY -->

                <!-- LEVEL -->
                <div class="form-group row {% if (errors.has('level')) %}has-danger{% endif %}">
                    <label class="col-sm-2 col-form-label">Tingkat</label>
                    <div class="col-sm-10">
                        <select class="form-control {% if (errors.has('level')) %}form-control-danger{% endif %}" id="level" name="level" {% if SCHOOL_CATEGORY is empty %}disabled{% endif %}>
                            {% if SCHOOL_CATEGORY is not empty %}
                                {% set ListLevelbySchoolCategory = call_helpers('get_ListLevelbySchoolCategory', SCHOOL_CATEGORY) %}
                                {% for  key,value in ListLevelbySchoolCategory %}
                                    <option value="{{ key }}" {% if LEVEL %}{{ LEVEL == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                            {% endif %}
                        </select>
                        <span class="messages"></span>
                        {% if (errors.has('tingkat')) %}<div class="col-form-label">{{ errors.first('tingkat') }}</div>{% endif %}
                    </div>
                </div>
                <!-- END LEVEL -->

                <!-- CLASS INFO -->
                <div class="form-group row {% if (errors.has('class_info')) %}has-danger{% endif %}">
                    <label class="col-sm-2 col-form-label">Kelas</label>
                    <div class="col-sm-10">
                        <select class="form-control {% if (errors.has('class_info')) %}form-control-danger{% endif %}" id="class_info" name="class_info" {% if LEVEL is empty %}disabled{% endif %}>
                            {% if LEVEL is not empty %}
                                {% set ListClassInfobyLevel = call_helpers('get_ListClassInfobyLevel', LEVEL) %}
                                {% for  key,value in ListClassInfobyLevel %}
                                    <option value="{{ key }}" {% if CLASS_INFO %}{{ CLASS_INFO == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="0">-- Pilih Tingkat terlebih dahulu --</option>
                            {% endif %}
                        </select>
                        <span class="messages"></span>
                        {% if (errors.has('class_info')) %}<div class="col-form-label">{{ errors.first('class_info') }}</div>{% endif %}
                    </div>
                </div>
                <!-- END CLASS INFO -->

                <!-- STUDENT -->
                <div class="form-group row {% if (errors.has('student')) %}has-danger{% endif %}">
                    <label class="col-sm-2 col-form-label">Siswa</label>
                    <div class="col-sm-10">
                        <select class="form-control select2 {% if (errors.has('student')) %}form-control-danger{% endif %}" id="student" name="student" {% if CLASS_INFO is empty %}disabled{% endif %}>
                            {% if CLASS_INFO is not empty %}
                                {% set ListStudentByClass = call_helpers('get_ListStudentByClass', CLASS_INFO) %}
                                {% for  key,value in ListStudentByClass %}
                                    <option value="{{ key }}" {% if STUDENT %}{{ STUDENT == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                {% endfor %}
                            {% else %}
                                <option value="0">-- Pilih Kelas terlebih dahulu --</option>
                            {% endif %}
                        </select>
                        <span class="messages"></span>
                        {% if (errors.has('class_info')) %}<div class="col-form-label">{{ errors.first('class_info') }}</div>{% endif %}
                    </div>
                </div>
                <!-- END STUDENT -->

                <!-- TANGGAL START & END -->
                <div class="form-group row {% if (errors.has('dates')) %}has-danger{% endif %}">
                    <label class="col-sm-2 col-form-label">Tanggal</label>
                    <div class="col-sm-2">
                        <input type="text" name="dates" id="dates" class="form-control datepicker" value="{% if old('dates') %}{{ old('dates')|date('d-m-Y') }}{% else %}{{ DATE }}{% endif %}">
                        <span class="messages"></span>
                        {% if (errors.has('start')) %}<div class="col-form-label">{{ errors.first('start') }}</div>{% endif %}
                    </div>
                </div>
                <!-- END TANGGAL START & END -->

                <hr>

                <!-- ACTION -->
                <div class="form-group row">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary" name="action" value="search"><i class="icofont icofont-document-search"></i> Cari Data</button>
                    </div>
                </div>
                <!-- END ACTION -->


            </form>
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <table id="{{ datatables }}" class="table display">
                        <thead>
                        <tr>
                            {% for Row in RowDT %}
                                <th>{{ Row }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block addmodal %}
{% endblock %}

{% block addjs %}

    <!-- DATATABLES -->
    {{ asset(ThemePlugins ~ 'datatables.net/js/jquery.dataTables.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/js/dataTables.bootstrap4.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive/js/dataTables.responsive.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') | script_tag }}
    <!-- Date-range picker js -->

    {{ asset(ThemeAsset ~ 'pages/advance-elements/moment-with-locales.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'bootstrap-datepicker/js/bootstrap-datepicker.min.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/advance-elements/bootstrap-datetimepicker.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'bootstrap-daterangepicker/js/daterangepicker.js') | script_tag }}

    <!-- DATE -->
    {{ asset('js/datepicker.js')|script_tag }}
    {{ asset('js/date.js')|script_tag }}


    <script>
        var ROUTE_DATATABLE     = '{{ RouteDatatables }}';
        var TBL_NAME            = '{{ datatables }}';
        var URL_PAGE            = '{{ UrlPage }}';
        var USER_ID             = '{{ USERID }}';
        var DATE                = '{{ DATE }}';
        var CLASS_INFO          = '{{ CLASS_INFO }}';

        function deleteList(id){
            $('#id').val(id);
            $('#ConfirmDelete').modal('show');
        }


    </script>
    {{ asset('js/date.js')|script_tag }}


    <!-- FUNCTION DATATABLE -->
    {{ asset(PathJS ~ 'datatable.js')|script_tag }}
    {{ asset(PathJS ~ 'main.js')|script_tag }}

    {{ asset('modules/classdetail.js')|script_tag }}

{% endblock %}

