{% extends "admin::layouts." ~ config_get('themes.able_theme_blank') %}

{% block addcss %}
    <!-- lightbox Fremwork -->
    {{ asset(ThemePlugins ~ 'lightbox2/css/lightbox.min.css') | css_tag }}


    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}


{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <!-- Alert card start -->
            <div class="card">
                <div class="card-block">
                    <div class="sub-title text-center">Konfirmasi Pendaftaran Penerimaan Siswa Baru</div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <!-- Border Alert start -->
                            <div class="alert alert-primary text-center">
                                <strong>Selamat!</strong> Terima kasih telah mendaftar di PSB online Sekolah Kristen Tunas Harapan.<br>
                                Silahkan cetak file elektronik yang telah Anda download utk diserahkan ke Tata Usaha   Pusat SKTH.<br><br>
                                <a class="btn btn-out-dashed waves-effect waves-light btn-primary btn-square" href="{{ route('student_register_download', REGISTERID) }}"><i class="fa fa-download"></i>&nbsp;Download File Pendaftaran</a>
                            </div>
                        </div>
                    </div>
                    <!-- icon Alert end -->
                </div>
            </div>
            <!-- Alert card end -->
        </div>
    </div>

{% endblock %}

{% block addjs %}
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'lightbox2/js/lightbox.min.js') | script_tag }}

    <!-- INPUT MASK -->
    {{ asset(ThemeAsset ~ 'pages/form-masking/inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/jquery.inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/autoNumeric.js') | script_tag }}
    {{ asset('js/masking.js') | script_tag }}

    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}
    {{ asset('js/select2.js')|script_tag }}

    {{ asset('modules/area/main.js')|script_tag }}

    {{ asset(PathJS ~ 'main.js')|script_tag }}
{% endblock %}
