<!-- LAMPIRAN -->
<div class="card">
    <div class="card-header">
        <h5>Lampiran File</h5>
    </div>
    <div class="card-block">
        <div class="row">
            {% for file in Data.files %}
                {% set FileData = call_helpers_two('get_GenerateLinkImageUrl', 'storage/', file.file) %}
                <div class="col-lg-4 col-sm-6">
                    <div class="thumbnail">
                        <div class="thumb">
                            <a href="{{ FileData }}" data-lightbox="1" data-title="{{ file.file_name }}">
                                <img src="{{ FileData }}" alt="" class="img-fluid img-thumbnail">
                            </a>
                        </div>
                    </div>
                    <button class="btn btn-block btn-outline-danger" type="button" onclick="deleteAttachment({{ file.id }})"><i class="fa fa-trash"></i> Hapus</button>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- LAMPIRAN -->
