<!DOCTYPE html>
<html lang="en">

    {% set ProjectName  = call_helpers_two('getSettingInfo', config_get('app.setting_id'),'project_name') %}
    {% set Logo         = call_helpers_two('getSettingInfo', config_get('app.setting_id'),'logo') %}
    {% set PathImage    = call_helpers('getPathLogo') %}
    {% set UrlLogo      = call_helpers_two('get_GenerateLinkImageUrl', PathImage, Logo) %}
    {% set ThemeAsset   = config_get('themes.paths.base')~'/'~config_get('themes.active')~'/'~config_get('themes.paths.assets')~'/default/assets/' %}

    <head>
        {% block metadata %}
            <meta charset="utf-8">
            <title>{{ config_get('app.name') }} {% block app_title %}{% endblock %}</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="{{ Settings.description }}">
            <meta name="author" content="">
            <meta name="csrf-token" content="{{ csrf_token() }}">

            {% block addmeta %}

            {% endblock %}

        {% endblock %}

        {% block css_assets %}
            <script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
            <script>
                WebFont.load({
                    google: {"families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]},
                    active: function () {
                        sessionStorage.fonts = true;
                    }
                });
            </script>
            <!--end::Web font -->


            <!-- begin::Page Vendors -->
            {{ asset(ThemeAsset~'vendors/custom/fullcalendar/fullcalendar.bundle.css') | css_tag }}
            <!-- end::Page Vendors -->

            <!-- begin::Base Styles -->
            {{ asset(ThemeAsset~'vendors/base/vendors.bundle.css') | css_tag }}

            {{ asset(ThemeAsset~'demo/default/base/style.bundle.css') | css_tag }}
            <!-- end::Base Styles -->

            {{ asset(ThemeAsset~'demo/default/media/img/logo/favicon.ico') | css_tag }}


            {# {{ asset('admin::') | css_tag }} #}

        {% endblock %}

        {#    {{ asset('css/style.css') | css_tag }}#}

    </head>

    <body class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
        <!-- begin:: Page -->
        <div class="m-grid m-grid--hor m-grid--root m-page">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-1" id="m_login" 
                 style="background-image: url({{ThemeAsset}}app/media/img//bg/bg-2.jpg);">
                <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
                    <div class="m-login__container">
                        <div class="m-login__logo">
                            <a href="#">
                                {% if Logo %}
                                    <img src="{{ UrlLogo }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="m-login__signin">
                            <div class="m-login__head">
                                <h3 class="m-login__title">
                                    Sign In To {{ ProjectName }}
                                </h3>
                            </div>

                            <form class="m-login__form m-form" action="#" method="post">
                                {{ csrf_field() }}
                                {% if (session('scsMsg')) %}
                                    <div class="m-alert m-alert--icon m-alert--air alert alert-success alert-dismissible fade show" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="la la-warning"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>
                                                {{ session('scsMsg') | raw}}
                                            </strong>
                                        </div>
                                        <div class="m-alert__close">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    </div>
                                {% endif %}

                                {% if errors.any %}
                                    {% for error in errors.all %}
                                        <div class="alert alert-danger alert-dismissible fade show   m-alert m-alert--air" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                            <strong>
                                                {{ error }}
                                            </strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="form-group m-form__group">
                                    <input class="form-control m-input"   type="text" placeholder="Email" name="email" autocomplete="off" value="{{ old('email') }}">
                                </div>
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="password">
                                </div>
                                <div class="row m-login__form-sub">
                                    <div class="col m--align-left m-login__form-left">
                                        <label class="m-checkbox  m-checkbox--light">
                                            <input type="checkbox" name="remember">
                                            Remember me
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col m--align-right m-login__form-right">
                                        <a href="javascript:void(0);" id="m_login_forget_password" class="m-link">
                                            Forget Password ?
                                        </a>
                                    </div>
                                </div>
                                <div class="m-login__form-action">
                                    <button id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air  m-login__btn m-login__btn--primary">
                                        Sign In
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="m-login__signup">
                            <div class="m-login__head">
                                <h3 class="m-login__title">
                                    Sign Up
                                </h3>
                                <div class="m-login__desc">
                                    Enter your details to create your account:
                                </div>
                            </div>
                            <form class="m-login__form m-form" action="">
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="text" placeholder="Email" name="email" autocomplete="off">
                                </div>
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="password" placeholder="Password" name="password">
                                </div>
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="rpassword">
                                </div>
                                <div class="row form-group m-form__group m-login__form-sub">
                                    <div class="col m--align-left">
                                        <label class="m-checkbox m-checkbox--light">
                                            <input type="checkbox" name="agree">
                                            I Agree the
                                            <a href="#" class="m-link m-link--focus">
                                                terms and conditions
                                            </a>
                                            .
                                            <span></span>
                                        </label>
                                        <span class="m-form__help"></span>
                                    </div>
                                </div>
                                <div class="m-login__form-action">
                                    <button id="m_login_signup_submit" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                                        Sign Up
                                    </button>
                                    &nbsp;&nbsp;
                                    <button id="m_login_signup_cancel" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="m-login__forget-password">
                            <div class="m-login__head">
                                <h3 class="m-login__title">
                                    Forgotten Password ?
                                </h3>
                                <div class="m-login__desc">
                                    Enter your email to reset your password:
                                </div>
                            </div>
                            <form class="m-login__form m-form" action="" method="post">
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="text" placeholder="Email" name="email" id="m_email" autocomplete="off">
                                    <input type="hidden" name="return_callback" value="json">
                                </div>
                                <div class="m-login__form-action">
                                    <button id="m_login_forget_password_submit" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
                                        Request
                                    </button>
                                    &nbsp;&nbsp;
                                    <button id="m_login_forget_password_cancel" class="btn m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn">
                                        Cancel
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Page -->
        <script>
    var BASE_URL = '{{ url('/') }}';
    var CSRF_TOKEN = '{{ csrf_token() }}';

        </script>

        <!-- begin::Base Scripts -->
        {{ asset(ThemeAsset~'vendors/base/vendors.bundle.js')| script_tag }}
        {{ asset(ThemeAsset~'demo/default/base/scripts.bundle.js')| script_tag }}
        <!-- end::Base Scripts -->
        <!-- begin::Jquery Validation -->
        {#{{ asset('plugins/jquery-validation/dist/jquery.validate.js')| script_tag }}
        {{ asset('plugins/jquery-validation/dist/additional-methods.js')| script_tag }}
        {{ asset('js/metronic/framework/components/plugins/forms/jquery-validation.init.js')| script_tag }}#}
        <!-- end::Jquery Validation -->
        <!-- begin::Page Snippets -->
        {{ asset(ThemeAsset~'snippets/pages/user/login.js')| script_tag }}
        <!-- end::Page Snippets -->

    </body>

</html>
