{% extends "admin::layouts." ~ config_get('themes.able_theme') %}

{% block css_assets %}
    {{ parent() }}
{% endblock %}

{% block subheader %}
    <!-- [ breadcrumb ] start -->
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                         <h4 class="m-b-10">Home</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
    <!-- [ breadcrumb ] end -->
{% endblock %}


{% block body %}
<div class="row">
    {% if call_helpers('bool_CheckAccessUser','home-count') == TRUE %}
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-block text-center">
                <i class="feather icon-file-text text-c-blue d-block f-40"></i>
                <h4 class="m-t-20"><span class="text-c-blue">1k</span> Materi</h4>
                <p class="m-b-20">Data Materi yang dapat dipelajari Murid</p>
                <button class="btn btn-primary btn-sm btn-round">Manage materi...</button>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-block text-center">
                <i class="icon-people text-c-green d-block f-40"></i>
                <h4 class="m-t-20"><span class="text-c-green">{{ CountEmployee|number_format() }}</span> Guru & Karyawan</h4>
                <p class="m-b-20">Seluruh staff yang terdaftar di sistem</p>
                <a class="btn btn-success btn-sm btn-round" href="{{ route('employee_store') }}">Selengkapnya...</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-block text-center">
                <i class="feather icon-users text-c-red d-block f-40"></i>
                <h4 class="m-t-20"><span class="text-c-red">{{ CountStudent|number_format() }}</span> Murid</h4>
                <p class="m-b-20">Jumlah Murid yang aktif</p>
                <a class="btn btn-danger btn-sm btn-round" href="{{ route('student_store') }}">Selengkapnya...</a>
            </div>
        </div>
    </div>
    {% endif %}


    {% if call_helpers('bool_CheckAccessUser','home-absence') == TRUE %}
    <div class="col-md-12 col-lg-4">
        <div class="card">
            <div class="card-header text-center">
                <i class="icofont icofont-wall-clock text-c-blue d-block f-40"></i>
                <h4 class="m-t-20"><span class="text-c-blue"> ABSENSI</span></h4>
            </div>
            <div class="card-block text-center">
                <form id="form_absence" name="form_absence" class="form-material">
                    <div class="form-group form-primary form-static-label">
                        <input type="text" name="barcode_absence" id="barcode_absence" class="form-control barcode" placeholder="13 Digit..." required="">
                        <span class="form-bar"></span>
                        <label class="float-label">Scan Barcode disini</label>
                    </div>


                </form>
                <div class="form-group form-primary form-static-label">
                    <select name="barcode_status_absence" id="barcode_status_absence" class="form-control">
                        <option value="IN">MASUK</option>
                        <option value="OUT">KELUAR</option>
                    </select>
                </div>
                <br>
                <br>
                <p><strong>Masukan Guru Piket</strong></p>
                <div class="form-group form-success form-static-label" id="field-username">
                    <select class="col-sm-12" id="employee_absence" name="employee_absence">
                        <option value="0">-- Masukan Guru --</option>
                    </select>
                </div>


            </div>
        </div>
    </div>
    <div id="result-absence" class="col-md-12 col-lg-4" style="display: none;">
    </div>
    <div class="col-md-12 col-lg-4">
        <button type="button" id="ShowButtonManuallyAbsen" class="btn btn-success btn-block" style="display: none;"><i class="fa fa-wpforms"></i>Tampilkan Absen Manual</button>
        <button type="button" id="HideButtonManuallyAbsen" class="btn btn-danger btn-block"><i class="fa fa-remove"></i>Tutup Absen Manual</button>
        <div class="card" id="absenceResultManual">
            <div class="card-header text-center">
                <i class="fa fa-wpforms text-c-green d-block f-40"></i>
                <h4 class="m-t-20"><span class="text-c-green">ABSEN MANUAL</span></h4>
            </div>
            <div class="card-block text-center">
                <form id="form_manual_absence" name="form_manual_absence" class="form-material" method="post" action="{{ route('absence_manual_auth') }}">
                    {{ csrf_field() }}

                    <div class="form-group form-success form-static-label">
                        <input type="text" name="username" id="username_absence" class="form-control" placeholder="Masukan Login Guru">
                        <span class="form-bar"></span>
                        <label class="float-label">Username</label>
                    </div>

                    <div class="form-group form-success form-static-label">
                        <input type="password" name="pin" id="pin_absence" class="form-control" placeholder="****">
                        <span class="form-bar"></span>
                        <label class="float-label">PIN</label>
                    </div>
                    <hr>

                    <div class="form-group form-success form-static-label" id="field-username">
                        <select class="col-sm-12" id="students" name="student">
                            <option value="0">-- Masukan Nama Siswa --</option>
                        </select>
                    </div>

                    <div class="form-group form-success form-static-label">
                        <select name="status" id="manual_status_absence" class="form-control">
                            <option value="IN">MASUK</option>
                            <option value="OUT">KELUAR</option>
                        </select>
                    </div>

                    <div class="form-group form-primary form-static-label">
                        <button type="submit" class="btn btn-outline-success btn-block"><i class="fa fa-clock-o"></i> Manually</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    {% if call_helpers('bool_CheckAccessUser','home-student') == TRUE %}
    <div class="col-md-12 col-lg-4">
        <a href="{{ route('student_idcard_show') }}" target="_blank">
            <div class="card">
                <div class="card-block text-center">
                    <i class="fa fa-barcode text-c-blue d-block f-40"></i>
                    <h4 class="m-t-20">{{ Barcode | raw }}</h4>
                    <h4>{{ BarcodeCode }}</h4>
                    <p class="m-b-20">Kode yang dipakai untuk absen</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-block text-center">
                <i class="icon-people text-c-green d-block f-40"></i>
                <h4 class="m-t-20">{{ StudentClass.class_info.name }}</h4>
                <p class="m-b-20">{{ StudentClass.school_category.name }} {{ StudentClass.level.name }} {{ StudentClass.school_year.name }}</p>
                <a class="btn btn-success btn-sm btn-round" href="{{ route('student_view',  Student.id) }}">Selengkapnya...</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
    {% if call_helpers('bool_CheckAccessUser','home-student') == TRUE %}
        {% if DataQuis %}
            <div class="row">
                {% for Quis in DataQuis %}
                    {% set QuisPlay = call_helpers('checkMyQuis', Quis.id) %}
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-block text-center">
                                <i class="ti-receipt text-c-red d-block f-40"></i>
                                <h4 class="m-t-20">Quis {{ Quis.program_study.name }}</h4>
                                <p class="m-b-20">
                                    {{ Quis.title }}
                                    <br>Guru : {{ Quis.teacher.fullname }}
                                    {% if QuisPlay.count == 0 %}
                                    <br><strong class="text-danger">{{ Quis.start_date | date('d/m/Y H:i:s') }} - {{ Quis.end_date | date('d/m/Y H:i:s') }}</strong>
                                    <br>Total {{ Quis.total }} Soal
                                    {% else %}
                                        {% set QuisPlayInfo = QuisPlay.first %}
                                        <br><strong class="text-danger">{{ Quis.start_date | date('d/m/Y H:i:s') }} - {{ Quis.end_date | date('d/m/Y H:i:s') }}</strong>
                                        <br>Total {{ Quis.total }} Soal ({{ QuisPlayInfo.answer_true }} Jawaban Benar)
                                        <br><strong class="text-primary sub-title"><i>Nilai anda : {{ QuisPlayInfo.score }}</i></strong>
                                    {% endif %}
                                </p>
                                {% if QuisPlay.count == 0 %}
                                    <a class="btn btn-danger btn-sm btn-round" href="javascript:void(0)" onclick="startQuis({{ Quis.id }})"><i class="fa fa-power-off"></i>Mulai sekarang...</a>
                                {% else %}
                                    <a class="btn btn-success btn-sm btn-round" href="{{ route('quis_play_view',QuisPlay.first.id) }}"><i class="fa fa-check-circle-o"></i>Lihat Quis</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="card text-white card-danger">
                    <div class="card-header">
                        <h5 class="text-white">Jadwal Ulangan</h5>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-hover table-borderless">
                                <thead>
                                <tr>
                                    <th>Mata Pelajaran</th>
                                    <th>Materi</th>
                                    <th>Tanggal Ujian</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for Exam in ExamList %}
                                    <tr>
                                        <td>{{ Exam.program_study.name }}</td>
                                        <td>{{ Exam.description }}</td>
                                        <td class="text-center"><label class="label label-info">{{ Exam.date_exam | date('d/m/Y') }}</label></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-md-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h5>Tugas</h5>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-hover table-borderless">
                                <thead>
                                <tr>
                                    <th>Mata Pelajaran</th>
                                    <th>Tugas</th>
                                    <th>Tanggal Tugas dikumpulkan</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for Task in TaskList %}
                                    <tr>
                                        <td>{{ Task.agenda_history.classroom_program_study.program_study.name }}</td>
                                        <td>{{ Task.description }}</td>
                                        <td class="text-center"><label class="label label-info">{{ Task.deadline | date('d/m/Y') }}</label></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="text-right m-r-20">
                                {#<a href="{{ route('news_show') }}" class=" b-b-primary text-primary">Lihat Semua Tugas</a>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-md-12">
                <div class="card table-card">
                    <div class="card-header">
                        <h5>Berita</h5>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-hover table-borderless">
                                <thead>
                                <tr>
                                    <th>Judul</th>
                                    <th>Headline</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for News in NewsStudent %}
                                <tr>
                                    <td><a href="{{ route('news_view',News.id) }}" class="text-primary">{{ News.title }}</a></td>
                                    <td>{{ News.headline }}</td>
                                </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="text-right m-r-20">
                                <a href="{{ route('news_show') }}" class=" b-b-primary text-primary">Lihat Semua Berita</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

        {% if call_helpers('bool_CheckAccessUser','home-teacher') == TRUE %}
        <div class="row">
            {% for Day in DayList %}
                {% if call_helpers_two('checkTeacherSchedule', Day.id, TeacherID) > 0 %}
            <div class="col-md-3 col-lg-4">
                <div class="card">
                    <div class="card-block text-center">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th colspan="2"><strong class="text-primary">{{ Day.name }}</strong></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for programstudy in ClassRoomProgramStudyInfo %}
                                {% if programstudy.dayname_id == Day.id %}
                                <tr>
                                    <td>{{ programstudy.time_start }} - {{ programstudy.time_end }}</td>
                                    <td align="center">
                                        {{ programstudy.classroom.school_category.name }}<br>
                                        {{ programstudy.classroom.level.name }}&nbsp;{{ programstudy.classroom.class_info.name }}<br>
                                        {{ programstudy.program_study.name }}
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

{% block addmodal %}
    <!-- MODAL START QUIS -->
    <div class="modal fade"  id="ConfirmStartQuis" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">KERJAKAN QUIS?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        Apakah anda yakin Memulai Quis ini?<br>
                        Jika Quis dimulai silakan selesaikan dengan baik.
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="quis_id" name="quis_id" value="0">
                    <button type="button" class="btn waves-effect waves-light btn-inverse btn-outline-inverse" data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btnStartQuis"><i class="fa fa-check-square"></i>MULAI</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL START QUIS -->

{% endblock %}

{% block addjs %}
    <!-- INPUT MASK -->
    {{ asset(ThemeAsset ~ 'pages/form-masking/inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/jquery.inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/autoNumeric.js') | script_tag }}
    {{ asset('js/masking.js') | script_tag }}

    {{ asset(PathJS ~ 'main.js')|script_tag }}
{% endblock %}