<!DOCTYPE html>
<html lang="en">

    {% set ProjectName  = call_helpers_two('getSettingInfo', config_get('app.setting_id'),'project_name') %}
    {% set Logo         = call_helpers_two('getSettingInfo', config_get('app.setting_id'),'logo') %}
    {% set PathImage    = call_helpers('getPathLogo') %}
    {% set UrlLogo      = call_helpers_two('get_GenerateLinkImageUrl', PathImage, Logo) %}

    {% set ThemeAsset   = config_get('themes.paths.base') ~ '/' ~ config_get('themes.active') ~ '/' ~ config_get('themes.paths.assets')~'/' %}
    {% set ThemePlugins = config_get('themes.paths.base') ~ '/' ~ config_get('themes.active') ~ '/' ~ config_get('themes.paths.plugins')~'/' %}

    <head>
        {% block metadata %}
            <meta charset="utf-8">
            <title>{{ config_get('app.name') }} {% block app_title %}{% endblock %}</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="{{ Settings.description }}">
            <meta name="author" content="">
            <meta name="csrf-token" content="{{ csrf_token() }}">

            {% block addmeta %}

            {% endblock %}

        {% endblock %}

        {% block css_assets %}
            <link rel="icon" href="{{ ThemeAsset }}images/favicon.ico" type="image/x-icon">
            <!-- Google font-->
            <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">



            <!-- Required Fremwork -->
            {{ asset(ThemePlugins ~ 'bootstrap/css/bootstrap.min.css') | css_tag }}

            <!-- waves.css -->
            {{ asset(ThemeAsset ~ 'pages/waves/css/waves.min.css') | css_tag }}
            <!-- themify-icons line icon -->
            {{ asset(ThemeAsset ~ 'icon/themify-icons/themify-icons.css') | css_tag }}
            <!-- ico font -->
            {{ asset(ThemeAsset ~ 'icon/icofont/css/icofont.css') | css_tag }}
            <!-- Font Awesome -->
            {{ asset(ThemeAsset ~ 'icon/font-awesome/css/font-awesome.min.css') | css_tag }}
            <!-- Style.css -->
            {{ asset(ThemeAsset ~ 'css/style.css') | css_tag }}
            {{ asset(ThemeAsset ~ 'css/pages.css') | css_tag }}
        {% endblock %}

    </head>

    <body themebg-pattern="theme1">
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="loader-track">
            <div class="preloader-wrapper">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>

                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <section class="login-block">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->

                    <form class="md-float-material form-material" name="login-form" id="form-login" action="{{ route('login_act') }}" method="post">
                        {{ csrf_field() }}
                        <div class="text-center">
                            <h3 class="text-white"><strong>Tunas</strong><i>Harapan</i></h3>
                            {#<img src="../files/assets/images/logo.png" alt="logo.png">#}
                        </div>
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-center">Login</h3>
                                    </div>
                                </div>
                                {% if session('WrngMsg') %}
                                    <div class="alert alert-warning">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <i class="icofont icofont-close-line-circled"></i>
                                        </button>
                                        <strong>Warning!</strong> {{ session('WrngMsg') }}
                                    </div>
                                {% endif %}
                                {% if session('ScsMsg') %}
                                    <div class="alert alert-success">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <i class="icofont icofont-close-line-circled"></i>
                                        </button>
                                        <strong>Success!</strong> {{ session('ScsMsg') }}
                                    </div>
                                {% endif %}
                                {% if session('ErrMsg') %}
                                <div class="alert alert-danger">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="icofont icofont-close-line-circled"></i>
                                    </button>
                                    <strong>Error!</strong> {{ session('ErrMsg') }}
                                </div>
                                {% endif %}
                                <div class="form-group form-primary">
                                    <input type="text" name="username" class="form-control" id="username" value="{{ old('username') }}">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Masukan Username...</label>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="password" name="password" class="form-control" id="password" value="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Masukan Kata Sandi...</label>
                                </div>
                                <div class="row m-t-25 text-left">
                                    <div class="col-12">
                                        <div class="checkbox-fade fade-in-primary d-">
                                            <label>
                                                <input type="checkbox" value="">
                                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                <span class="text-inverse">Remember me</span>
                                            </label>
                                        </div>
                                        <div class="forgot-phone text-right float-right">
                                            <a href="{{ route('password_request') }}" class="text-right f-w-600"> Lupa Kata Sandi?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign in</button>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-10">
                                        <p class="text-inverse text-left m-b-0 text-info">powered by</p>
                                        <p class="text-inverse text-left"><a href="http://creativemidnight.id" target="_blank"><b><i>Creative Midnight</i></b></a></p>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- end of form -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 10]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="../files/assets/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="../files/assets/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="../files/assets/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="../files/assets/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="../files/assets/images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->

    <script>
        var BASE_URL        = '{{ url('/') }}';
        var CSRF_TOKEN      = '{{ csrf_token() }}';
    </script>
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    {{ asset(ThemePlugins ~ 'jquery/js/jquery.min.js')| script_tag }}
    {{ asset(ThemePlugins ~ 'jquery-ui/js/jquery-ui.min.js')| script_tag }}
    {{ asset(ThemePlugins ~ 'popper.js/js/popper.min.js')| script_tag }}
    {{ asset(ThemePlugins ~ 'bootstrap/js/bootstrap.min.js')| script_tag }}
    <!-- waves js -->
    {{ asset(ThemeAsset ~ 'pages/waves/js/waves.min.js')| script_tag }}
    <!-- jquery slimscroll js -->
    {{ asset(ThemePlugins ~ 'jquery-slimscroll/js/jquery.slimscroll.js')| script_tag }}
    <!-- modernizr js -->
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js')| script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js')| script_tag }}
    <!-- i18next.min.js -->
    {{ asset(ThemePlugins ~ 'i18next/js/i18next.min.js')| script_tag }}
    {{ asset(ThemePlugins ~ 'i18next-xhr-backend/js/i18nextXHRBackend.min.js')| script_tag }}
    {{ asset(ThemePlugins ~ 'i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js')| script_tag }}
    {{ asset(ThemePlugins ~ 'jquery-i18next/js/jquery-i18next.min.js')| script_tag }}
    {{ asset(ThemeAsset ~ 'js/common-pages.js')| script_tag }}
    </body>

</html>
