{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- Date-range picker css  -->
    {{ asset(ThemeAsset ~ 'pages/advance-elements/css/bootstrap-datetimepicker.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'bootstrap-daterangepicker/css/daterangepicker.css') | css_tag }}

    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}


{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        {% for Day in DayList %}
            {% if call_helpers_two('checkTeacherSchedule', Day.id, TeacherID) > 0 %}
                <div class="col-md-3 col-lg-4">
                    <div class="card {% if Day.name_en == "now"|date('l') %}card-primary text-white{% endif %}">
                        <div class="card-block text-center">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th colspan="3"><strong  {% if Day.name_en != "now"|date('l') %}class="text-primary"{% endif %}>{{ Day.name }}</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for programstudy in ClassRoomProgramStudyInfo %}
                                        {% if programstudy.dayname_id == Day.id %}
                                            <tr>
                                                <td>{{ programstudy.time_start }} - {{ programstudy.time_end }}</td>
                                                <td align="center">
                                                    {% if Day.name_en == "now"|date('l') %}<a href="javascript:void(0);" onclick="setDataStudent({{ programstudy.id }})" class="text-white">{% endif %}
                                                        {{ programstudy.classroom.school_category.name }}<br>
                                                        {{ programstudy.classroom.level.name }}&nbsp;{{ programstudy.classroom.class_info.name }}<br>
                                                        {{ programstudy.program_study.name }}
                                                        {% if Day.name_en != "now"|date('l') %}</a>{% endif %}
                                                </td>
                                                <td>
                                                    {% set CheckExistID = call_helpers_two('checkExistClass', programstudy.classroom_id, programstudy.id) %}
                                                    {% if CheckExistID is not empty %}
                                                        <a href="{{ url('classroom/agenda/stundentclass/' ~ CheckExistID) }}" class="btn waves-effect waves-light btn-inverse btn-outline-inverse"><i class="fa fa-check-circle-o"></i>&nbsp;Isi kelas</a>
                                                    {% else %}
                                                        <button type="button" class="btn waves-effect waves-light btn-inverse btn-outline-inverse" onclick="setLoginClass({{ programstudy.id }})"><i class="fa fa-check-circle-o"></i>&nbsp;Isi kelas</button>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block addmodal %}
    <!-- MODAL FORM SET -->
    <div class="modal fade" id="ModalSetForm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Form Materi</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_agenda_setform" class="form-material" id="form_agenda_setform" method="post" action="{{ route('classroom_agenda_setform') }}">
                        {{ csrf_field() }}
                        <input type="hidden" id="teacher_id" name="teacher_id" value="0">
                        <input type="hidden" id="agenda_id2" name="agenda_id" value="0">

                        <!-- PROGRAM STUDY -->
                        <div class="form-group form-default form-static-label" id="field-program_study">
                            <input type="text" name="program_study" id="program_study" class="form-control" readonly>
                            <span class="form-bar"></span>
                            <label class="float-label">Mata Pelajaran</label>
                        </div>
                        <!-- END PROGRAM STUDY -->

                        <!-- TEACHER -->
                        <div class="form-group form-default form-static-label" id="field-teacher_program_study">
                            <input type="text" name="teacher_program_study" id="teacher_program_study" class="form-control" readonly>
                            <span class="form-bar"></span>
                            <label class="float-label">Guru</label>
                        </div>
                        <!-- END TEACHER -->

                        <!-- DIISI OLEH -->
                        <div class="form-group form-default form-static-label" id="field-teacher">
                            <input type="text" name="teacher" id="teacher" class="form-control" readonly>
                            <span class="form-bar"></span>
                            <label class="float-label">Kelas diisi oleh</label>
                        </div>
                        <!-- END DIISI OLEH -->

                        <!-- KOMPETENSI DASAR 3 -->
                        <div class="form-group form-default form-static-label" id="field-kd3">
                            <select name="kd3" id="kd3" class="form-control">
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Kompetensi Dasar 3</label>
                        </div>
                        <!-- KOMPETENSI DASAR 3 -->

                        <!-- KOMPETENSI DASAR 3 -->
                        <div class="form-group form-default form-static-label" id="field-kd4">
                            <select name="kd4" id="kd4" class="form-control">
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Kompetensi Dasar 4</label>
                        </div>
                        <!-- KOMPETENSI DASAR 3 -->

                        <!-- TANGGAL -->
                        <div class="form-group form-default form-static-label" id="field-teacher">
                            <input type="text" name="date_transaction" id="date_transaction" class="form-control datepicker" value="{{ "now" | date('d-m-Y') }}" readonly>
                            <span class="form-bar"></span>
                            <label class="float-label">Tanggal</label>
                        </div>
                        <!-- END TANGGAL -->


                        <!-- NOTE -->
                        <div class="form-group form-default form-static-label" id="field-note">
                            <textarea id="note" name="note" class="form-control" placeholder="isi Materi Pelajaran yang akan diberikan"></textarea>
                        </div>
                        <!-- END NOTE -->

                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light"><i class="fa fa-save"></i>Simpan Data</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL FORM SET -->
{% endblock %}

{% block addjs %}

    <!-- DATE -->
    {{ asset('js/datepicker.js')|script_tag }}
    {{ asset('js/date.js')|script_tag }}

    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}
    {{ asset('js/select2.js')|script_tag }}


    {{ asset(PathJS ~ 'main.js')|script_tag }}


{% endblock %}
