{% extends "admin::layouts." ~ config_get('themes.able_theme') %}

{% block addcss %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->



                        <!-- DATE EXAM -->
                        <div class="form-group row {% if (errors.has('date_exam')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tanggal Ulangan <label class="text-danger">*</label></label>
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <label class="input-group-text"><i class="fa fa-calendar"></i></label>
                                    </span>
                                    <input type="text" class="form-control datepicker text-right" readonly name="date_exam" id="date_exam" placeholder="dd-mm-yyyy" value="{% if state == 'add' %}{{ old('date_exam') | date('d-m-Y') }}{% else %}{{ Data.date_exam | date('d-m-Y') }}{% endif %}">
                                </div>
                                {% if (errors.has('date_exam')) %}<div class="col-form-label">{{ errors.first('date_exam') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END DATE EXAM -->

                        <!-- PROGRAM STUDY -->
                        <div class="form-group row {% if (errors.has('program_study')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Mata Pelajaran <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select class="form-control select2 {% if (errors.has('program_study')) %}form-control-danger{% endif %}" id="program_study" name="program_study">
                                    {% set ListProgramStudyByTeacher = call_helpers('get_ListProgramStudyByTeacher', User.employee.id) %}
                                    {% for  key,value in ListProgramStudyByTeacher %}
                                        <option value="{{ key }}" {% if Data.program_study_id %}{{ Data.program_study_id == key ? 'selected="selected"' : ''}}{% else %}{% if old('school_category') %}{{ old('school_category') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                {% if (errors.has('program_study')) %}<div class="col-form-label">{{ errors.first('program_study') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PROGRAM STUDY -->

                        <!-- CLASSROOM -->
                        <div class="form-group row {% if (errors.has('classroom')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kelas <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select class="form-control select2 {% if (errors.has('classroom')) %}form-control-danger{% endif %}" id="classroom" name="classroom">
                                    {% if Data.classroom_id is not empty %}
                                        {% set ListClassByTeacher = call_helpers_two('getListClassByTeacher', User.employee.id, Data.program_study_id) %}
                                        {% for  key,value in ListClassByTeacher %}
                                            <option value="{{ key }}" {% if Data.classroom_id %}{{ Data.classroom_id == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Kelas --</option>
                                    {% endif %}
                                </select>
                                {% if (errors.has('classroom')) %}<div class="col-form-label">{{ errors.first('classroom') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END CLASSROOM -->


                        <!-- DESCRIPTION -->
                        <div class="form-group row {% if (errors.has('description')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Materi <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <textarea class="form-control {% if (errors.has('description')) %}form-control-danger{% endif %}" name="description" id="description">{% if state == 'add' %}{{ old('description') }}{% else %}{{ Data.description }}{% endif %}</textarea>
                                <span class="messages"></span>
                                {% if (errors.has('description')) %}<div class="col-form-label">{{ errors.first('description') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END DESCRIPTION -->

                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <a href="{{ route(RouteStore) }}" class="btn btn-inverse btn-square"><i class="ti-back-left"></i> Back</a>
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block addjs %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}
    {{ asset('js/select2.js')|script_tag }}

    <!-- DATE -->
    {{ asset('js/datepicker.js')|script_tag }}


    {{ asset(ThemePlugins ~ 'jquery-slimscroll/js/jquery.slimscroll.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}

    {{ asset(PathJS ~ 'main.js')|script_tag }}
{% endblock %}
