
    <div class="m-content">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    {{ MenuDescription }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <form class="m-form m-form--fit m-form--label-align-right" id="user_add" action="{% if state == "add" %}{{ route('user_post') }}{% else %}{{ route('user_update') }}{% endif %}" method="post">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->

                        <div class="m-portlet__body">
                            <div class="m-form__content">
                                <div class="m-alert m-alert--icon alert alert-danger m--hide" role="alert" id="m_form_1_msg">
                                    <div class="m-alert__icon">
                                        <i class="la la-warning"></i>
                                    </div>
                                    <div class="m-alert__text">
                                        <strong>Perhatian!</strong> Mohon Lengkapi Data di bawah ini
                                    </div>
                                    <div class="m-alert__close">
                                        <button type="button" class="close" data-close="alert" aria-label="Close"></button>
                                    </div>
                                </div>
                            </div>

                            <!-- NAME -->
                            <div class="form-group m-form__group row {% if (errors.has('name')) %}has-danger{% endif %}">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Name   <text class="text-danger">*</text>
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <input class="form-control m-input" type="text" value="{% if state == 'add' %}{{ old('name') }}{% else %}{{ UserEdit.name }}{% endif %}" id="name" name="name" placeholder="Please enter your full name">
                                    {% if (errors.has('name')) %}<div class="form-control-feedback">{{ errors.first('name') }}</div>{% endif %}
                                </div>
                            </div>
                            <!-- END NAME -->


                            <!-- EMAIL -->
                            <div class="form-group m-form__group row {% if (errors.has('email')) %}has-danger{% endif %}">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Email address  <text class="text-danger">*</text>
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <input class="form-control m-input" type="text" value="{% if state == 'add' %}{{ old('email') }}{% else %}{{ UserEdit.email }}{% endif %}" id="email" name="email" placeholder="Please enter your email">
                                    {% if (errors.has('email')) %}<div class="form-control-feedback">{{ errors.first('email') }}</div>{% endif %}
                                </div>
                            </div>
                            <!-- END EMAIL -->

                            {#<!-- PASSWORD -->#}
                            {#<div class="form-group m-form__group row {% if (errors.has('password')) %}has-danger{% endif %}">#}
                                {#<label class="col-form-label col-lg-3 col-sm-12">#}
                                    {#Password  <text class="text-danger">*</text>#}
                                {#</label>#}
                                {#<div class="col-lg-4 col-md-9 col-sm-12">#}
                                    {#<input class="form-control m-input" type="password" value="{% if state == 'add' %}{{ old('password') }}{% else %}{{ UserEdit.password }}{% endif %}" id="password" name="password" placeholder="Please enter your password">#}
                                    {#{% if (errors.has('password')) %}<div class="form-control-feedback">{{ errors.first('password') }}</div>{% endif %}#}
                                {#</div>#}
                            {#</div>#}
                            {#<!-- END PASSWORD -->#}

                            {#<!-- RETYPE-PASSWORD -->#}
                            {#<div class="form-group m-form__group row {% if (errors.has('password_confirmation')) %}has-danger{% endif %}">#}
                                {#<label class="col-form-label col-lg-3 col-sm-12">#}
                                    {#Re-type Password  <text class="text-danger">*</text>#}
                                {#</label>#}
                                {#<div class="col-lg-4 col-md-9 col-sm-12">#}
                                    {#<input class="form-control m-input" type="password" value="{% if state == 'add' %}{{ old('password_confirmation') }}{% else %}{{ UserEdit.password_confirmation }}{% endif %}" id="password_confirmation" name="password_confirmation" placeholder="Please enter your re-type password">#}
                                    {#{% if (errors.has('password_confirmation')) %}<div class="form-control-feedback">{{ errors.first('password_confirmation') }}</div>{% endif %}#}
                                {#</div>#}
                            {#</div>#}
                            {#<!-- END RETYPE-PASSWORD -->#}

                            <hr>
                            <!-- ROLES -->
                            <div class="form-group m-form__group row {% if (errors.has('role')) %}has-danger{% endif %}">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Role  <text class="text-danger">*</text>
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <select name="role" class="form-control m-select2 m_select2_validate" id="role">
                                        {% set ListRole = call_helpers('get_ListRole') %}
                                        {% for key,value in ListRole %}
                                            <option value="{{ key }}" {% if state == 'add' %}{{ old('role') == key ? 'selected="selected"' : ''}}{% else %}{{ RoleID == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    </select>
                                    {% if (errors.has('role')) %}<div class="form-control-feedback">{{ errors.first('role') }}</div>{% endif %}
                                </div>
                            </div>
                            <!-- END ROLES -->

                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions">
                                <div class="row">
                                    <div class="col-lg-9 ml-lg-auto">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-save"></i>
                                            Save
                                        </button>
                                        <a href="{{ route('user_show') }}" class="btn btn-secondary">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>
        </div>
    </div>