{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}



{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->

                        <!-- USERNAME -->
                        <div class="form-group row {% if (errors.has('username')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Username <label class="text-danger">*</label></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('username')) %}form-control-danger{% endif %}" name="username" id="username" placeholder="Please input Username..." value="{% if state == 'add' %}{{ old('username') }}{% else %}{{ Data.username }}{% endif %}" {% if state == 'edit'%}readonly{% endif %}>
                                <span class="messages"></span>
                                {% if (errors.has('username')) %}<div class="col-form-label">{{ errors.first('username') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END USERNAME -->

                        <!-- NAME -->
                        <div class="form-group row {% if (errors.has('name')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Name <label class="text-danger">*</label></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('name')) %}form-control-danger{% endif %}" name="name" id="name" placeholder="Please input Name..." value="{% if state == 'add' %}{{ old('name') }}{% else %}{{ Data.name }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('name')) %}<div class="col-form-label">{{ errors.first('name') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END NAME -->

                        <!-- EMAIL -->
                        <div class="form-group row {% if (errors.has('email')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Email <label class="text-danger">*</label></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('email')) %}form-control-danger{% endif %}" name="email" id="email" placeholder="Please input Email..." value="{% if state == 'add' %}{{ old('email') }}{% else %}{{ Data.email }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('email')) %}<div class="col-form-label">{{ errors.first('email') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END EMAIL -->

                        {% if state == 'add' %}
                        <!-- PASSWORD -->
                        <div class="form-group row {% if (errors.has('password')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Password <label class="text-danger">*</label></label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control {% if (errors.has('password')) %}form-control-danger{% endif %}" name="password" id="password" placeholder="Please input Password..." value="">
                                <span class="messages"></span>
                                {% if (errors.has('password')) %}<div class="col-form-label">{{ errors.first('password') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PASSWORD -->

                        <!-- PASSWORD CONFIRMATION -->
                        <div class="form-group row {% if (errors.has('password_confirmation')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Confirm <label class="text-danger">*</label></label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control {% if (errors.has('password_confirmation')) %}form-control-danger{% endif %}" name="password_confirmation" id="password_confirmation" placeholder="Please retype Password..." value="">
                                <span class="messages"></span>
                                {% if (errors.has('password_confirmation')) %}<div class="col-form-label">{{ errors.first('password_confirmation') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PASSWORD CONFIRMATION -->
                        {% endif %}

                        <!-- ROLE -->
                        <div class="form-group row {% if (errors.has('role')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Role <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select name="role" class="form-control" id="role">
                                    {% set ListRole = call_helpers('get_ListRole') %}
                                    {% for key,value in ListRole %}
                                        <option value="{{ key }}" {% if state == 'add' %}{{ old('role') == key ? 'selected="selected"' : ''}}{% else %}{{ RoleID == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('role')) %}<div class="col-form-label">{{ errors.first('role') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END ROLE -->

                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <a href="{{ route(RouteStore) }}" class="btn btn-inverse btn-square"><i class="ti-back-left"></i> Back</a>
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block addjs %}
{% endblock %}
