{% extends "admin::layouts." ~ config_get('themes.able_theme') %}

{% block addcss %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->

                        <!-- SCHOOL CATEGORY -->
                        <div class="form-group row {% if (errors.has('school_category')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kategori Sekolah <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select name="school_category" class="form-control" id="school_category" {% if state == 'edit' %}disabled{% endif %}>
                                    {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                                    {% for  key,value in ListSchoolCategory %}
                                        <option value="{{ key }}" {% if state == 'add' %}{{ old('school_category') == key ? 'selected="selected"' : ''}}{% else %}{{ Data.school_category_id == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('school_category')) %}<div class="col-form-label">{{ errors.first('school_category') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END SCHOOL CATEGORY -->

                        {% if SCHOOLCATEGORY or old('school_category') %}
                            {% if(old('school_category')) %}
                                {% set SCHOOLCATEGORY = old('school_category') %}
                            {% endif %}
                            {% set ListLevelbySchoolCategory = call_helpers('get_ListLevelbySchoolCategory', SCHOOLCATEGORY) %}
                        {% endif %}

                        {% if LEVEL or old('level')%}
                            {% if(old('level')) %}
                                {% set LEVEL = old('level') %}
                            {% endif %}
                            {% set ListClassInfobyLevel = call_helpers('get_ListClassInfobyLevel', LEVEL) %}
                        {% endif %}

                        <!-- TINGKAT -->
                        <div class="form-group row {% if (errors.has('level')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tingkat <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select class="form-control" id="level" name="level" {% if LEVEL is empty %}disabled{% endif %} {% if state == 'edit' %}disabled{% endif %}>
                                    {% if SCHOOLCATEGORY %}
                                        {% for  key,value in ListLevelbySchoolCategory %}
                                            <option value="{{ key }}" {% if LEVEL %}{{ LEVEL == key ? 'selected="selected"' : ''}}{% else %}{% if old('level') %}{{ old('level') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('level')) %}<div class="col-form-label">{{ errors.first('level') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END TINGKAT -->

                        {% if CLASSINFO or old('class_info')%}
                            {% if(old('class_info')) %}
                                {% set CLASSINFO = old('class_info') %}
                            {% endif %}
                        {% endif %}

                        <!-- KELAS -->
                        <div class="form-group row {% if (errors.has('class_info')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kelas <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select class="form-control" id="class_info" name="class_info"  {% if CLASSINFO is empty %}disabled{% endif %} {% if state == 'edit' %}disabled{% endif %}>
                                    {% if LEVEL %}
                                        {% for  key,value in ListClassInfobyLevel %}
                                            <option value="{{ key }}" {% if CLASSINFO %}{{ CLASSINFO == key ? 'selected="selected"' : ''}}{% else %}{% if old('class_info') %}{{ old('class_info') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Tingkat terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('class_info')) %}<div class="col-form-label">{{ errors.first('class_info') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END KELAS -->

                        <!-- WALI KELAS -->
                        <div class="form-group row {% if (errors.has('homeroom_teacher')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Wali Kelas <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select class="form-control" id="homeroom_teacher" name="homeroom_teacher">
                                {% for  key,value in call_helpers('get_ListTeacher') %}
                                    <option value="{{ key }}" {% if Data.homeroom_teacher %}{{ Data.homeroom_teacher == key ? 'selected="selected"' : ''}}{% else %}{% if old('homeroom_teacher') %}{{ old('homeroom_teacher') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('homeroom_teacher')) %}<div class="col-form-label">{{ errors.first('homeroom_teacher') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END KELAS -->

                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <a href="{{ route(RouteStore) }}" class="btn btn-inverse btn-square"><i class="ti-back-left"></i> Back</a>
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block addjs %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}
    {{ asset('js/select2.js')|script_tag }}

    {{ asset(ThemePlugins ~ 'jquery-slimscroll/js/jquery.slimscroll.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}

    {{ asset(PathJS ~ 'main.js')|script_tag }}

{% endblock %}
