{% extends "admin::layouts." ~ config_get('themes.able_theme') %}

{% block addcss %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post" enctype="multipart/form-data">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->

                        <!-- PERMIT TYPE -->
                        <div class="form-group row {% if (errors.has('permit_type')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kategori Ijin <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select name="permit_type" class="form-control" id="permit_type">
                                    {% set ListPermitType = call_helpers('get_ListPermitType') %}
                                    {% for  key,value in ListPermitType %}
                                        <option value="{{ key }}" {% if state == 'add' %}{{ old('permit_type') == key ? 'selected="selected"' : ''}}{% else %}{{ Data.permit_type_id == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('permit_type')) %}<div class="col-form-label">{{ errors.first('permit_type') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PERMIT TYPE -->

                        <!-- DATE PERMIT -->
                        <div class="form-group row {% if (errors.has('date_permit')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tanggal <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control date {% if (errors.has('date_permit')) %}form-control-danger{% endif %}" name="date_permit" id="date_permit" placeholder="" value="{% if state == 'add' %}{% if old('date_permit') %}{{ old('date_permit') }}{% else %}{{ DateDefault }}{% endif %}{% else %}{{ Data.date_permit|date('d-m-Y') }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('date_permit')) %}<div class="col-form-label">{{ errors.first('date_permit') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END DATE PERMIT -->

                        <!-- TIME START -->
                        <div class="form-group row {% if (errors.has('time_start')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Datang <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control hour {% if (errors.has('time_start')) %}form-control-danger{% endif %}" name="time_start" id="time_start" placeholder="" value="{% if state == 'add' %}{{ old('time_start') }}{% else %}{{ Data.time_start }}{% endif %}" readonly>
                                <span class="messages"></span>
                                {% if (errors.has('time_start')) %}<div class="col-form-label">{{ errors.first('time_start') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END TIME START -->

                        <!-- TIME END -->
                        <div class="form-group row {% if (errors.has('time_end')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Pulang <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control hour {% if (errors.has('time_end')) %}form-control-danger{% endif %}" name="time_end" id="time_end" placeholder="" value="{% if state == 'add' %}{{ old('time_end') }}{% else %}{{ Data.time_end }}{% endif %}" readonly>
                                <span class="messages"></span>
                                {% if (errors.has('time_end')) %}<div class="col-form-label">{{ errors.first('time_end') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END TIME END -->

                        <!-- NOTE -->
                        <div class="form-group row {% if (errors.has('note')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Keterangan <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <textarea class="form-control {% if (errors.has('note')) %}form-control-danger{% endif %}" name="note" id="note">{% if state == 'add' %}{{ old('note') }}{% else %}{{ Data.note }}{% endif %}</textarea>
                                <span class="messages"></span>
                                {% if (errors.has('note')) %}<div class="col-form-label">{{ errors.first('note') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END NOTE -->

                            <!-- ATTACHMENT -->
                            <div class="form-group row {% if (errors.has('attachment')) %}has-danger{% endif %}">
                                <label class="col-sm-2 col-form-label">File Lampiran</label>
                                <div class="col-sm-4">
                                    {% if state == 'edit' %}
                                    {% else %}
                                    <input type="file" class="form-control {% if (errors.has('attachment')) %}form-control-danger{% endif %}" name="attachment" id="attachment">
                                    <span class="messages"></span>
                                    {% if (errors.has('attachment')) %}<div class="col-form-label">{{ errors.first('attachment') }}</div>{% endif %}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- END ATTACHMENT -->

                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <a href="{{ route(RouteStore) }}" class="btn btn-inverse btn-square"><i class="ti-back-left"></i> Back</a>
                                {% if state == edit %}
                                    {% if Data.status == 'Submit' %}
                                        <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                                    {% endif %}
                                {% else %}
                                    <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                                {% endif %}
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block addjs %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}
    {{ asset('js/select2.js')|script_tag }}

    <!-- MASKING -->
    {{ asset(ThemeAsset ~ 'pages/form-masking/inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/jquery.inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/autoNumeric.js') | script_tag }}
    {{ asset('js/masking.js')|script_tag }}

    {{ asset(ThemePlugins ~ 'jquery-slimscroll/js/jquery.slimscroll.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}

    <!-- FUNCTION -->
    {{ asset(PathJS ~ 'main.js') | script_tag }}

{% endblock %}
