{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- lightbox Fremwork -->
    {{ asset(ThemePlugins ~ 'lightbox2/css/lightbox.min.css') | css_tag }}


    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}


{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post" enctype="multipart/form-data">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->

                        <!-- BARCODE -->
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <div class="input-group input-group-success">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-success" type="button" id="btn-copyBarcode"><i class="icofont icofont-ui-copy"></i></button>
                                    </div>
                                    <input type="text" id="code" class="form-control" value="{{ Data.account.barcode }}" readonly>
                                </div>
                            </div>
                            <div class="col-sm-10">{{ Barcode | raw }}</div>
                        </div>
                        <!-- END BARCODE -->


                        <!-- FULLNAME -->
                        <div class="form-group row {% if (errors.has('fullname')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Name Lengkap <label class="text-danger">*</label></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('fullname')) %}form-control-danger{% endif %}" name="fullname" id="fullname" placeholder="Masukan Nama Lengkap..." value="{% if state == 'add' %}{{ old('fullname') }}{% else %}{{ Data.fullname }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('fullname')) %}<div class="col-form-label">{{ errors.first('fullname') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END FULLNAME -->

                        <!-- NICKNAME -->
                        <div class="form-group row {% if (errors.has('nickname')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Name panggilan :<label class="text-danger">*</label></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('nickname')) %}form-control-danger{% endif %}" name="nickname" id="nickname" placeholder="Masukan Nama Panggilan..." value="{% if state == 'add' %}{{ old('nickname') }}{% else %}{{ Data.nickname }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('nickname')) %}<div class="col-form-label">{{ errors.first('nickname') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END NICKNAME -->


                        <!-- NIK SISWA -->
                        <div class="form-group row {% if (errors.has('nik_school')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">NIK Sekolah :<label class="text-danger">*</label></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('nik_school')) %}form-control-danger{% endif %}" name="nik_school" id="nik_school" placeholder="Masukan NIK Sekolah..." value="{% if state == 'add' %}{{ old('nik_school') }}{% else %}{{ Data.nik_school }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('nik_school')) %}<div class="col-form-label">{{ errors.first('nik_school') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END NIK SISWA -->

                        <!-- EMAIL -->
                        <div class="form-group row {% if (errors.has('email')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Email :</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('email')) %}form-control-danger{% endif %}" name="email" id="email" placeholder="Masukan alamat Email..." value="{% if state == 'add' %}{{ old('email') }}{% else %}{{ Data.email }}{% endif %}" {% if state == 'edit' %}{% if Data.email %}readonly{% endif %}{% endif %}>
                                <span class="messages"></span>
                                {% if (errors.has('email')) %}<div class="col-form-label">{{ errors.first('email') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END EMAIL -->

                        <!-- PLACE, DATE of BIRD -->
                        <div class="form-group row {% if (errors.has('dob')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tempat & Tanggal Lahir :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('pob')) %}form-control-danger{% endif %}" name="pob" id="pob" placeholder="Tempat kelahiran..." value="{% if state == 'add' %}{{ old('pob') }}{% else %}{{ Data.pob }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('pob')) %}<div class="col-form-label">{{ errors.first('pob') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control date2 {% if (errors.has('dob')) %}form-control-danger{% endif %}" name="dob" id="dob" placeholder="dd-mm-yyyy" value="{% if state == 'add' %}{{ old('dob') }}{% else %}{{ Data.dob }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('dob')) %}<div class="col-form-label">{{ errors.first('dob') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PLACE, DATE of BIRD  -->

                        <!-- CHILD TO & MAX -->
                        <div class="form-group row {% if (errors.has('child_to')) %}has-danger{% elseif (errors.has('child_max'))%}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Informasi keluarga :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control child {% if (errors.has('child_to')) %}form-control-danger{% endif %}" name="child_to" id="child_to" placeholder="Anak ke ..." value="{% if state == 'add' %}{{ old('child_to') }}{% else %}{{ Data.child_to }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('child_to')) %}<div class="col-form-label">{{ errors.first('child_to') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control child {% if (errors.has('child_max')) %}form-control-danger{% endif %}" name="child_max" id="child_max" placeholder="dari ... bersaudara" value="{% if state == 'add' %}{{ old('child_max') }}{% else %}{{ Data.child_max }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('child_max')) %}<div class="col-form-label">{{ errors.first('child_max') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END CHILD TO & MAX  -->

                        <!-- GENDER -->
                        <div class="form-group row {% if (errors.has('gender')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Jenis kelamin :</label>
                            <div class="col-sm-6">
                                <select name="gender" class="form-control {% if (errors.has('gender')) %}form-control-danger{% endif %}" id="gender">
                                    {% set ListGender = call_helpers('get_ListGender') %}
                                    {% for key,value in ListGender %}
                                        <option value="{{ key }}" {% if state == 'add' %}{{ old('gender') == key ? 'selected="selected"' : ''}}{% else %}{{ Data.gender == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                {% if (errors.has('gender')) %}<div class="col-form-label">{{ errors.first('gender') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END GENDER -->

                        <!-- PHONE, MOBILE -->
                        <div class="form-group row {% if (errors.has('phone')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">No. Telp & Handphone :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('phone')) %}form-control-danger{% endif %}" name="phone" id="phone" placeholder="No. Telp..." value="{% if state == 'add' %}{{ old('phone') }}{% else %}{{ Data.phone }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('phone')) %}<div class="col-form-label">{{ errors.first('phone') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('mobile')) %}form-control-danger{% endif %}" name="mobile" id="mobile" placeholder="+62818123xxxx" value="{% if state == 'add' %}{{ old('mobile') }}{% else %}{{ Data.mobile }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('mobile')) %}<div class="col-form-label">{{ errors.first('mobile') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PHONE, MOBILE -->

                        <!-- ADDRESS -->
                        <div class="form-group row {% if (errors.has('address')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Alamat</label>
                            <div class="col-sm-10">
                                <textarea  class="form-control {% if (errors.has('address')) %}form-control-danger{% endif %}" name="address" id="address" placeholder="Masukan Alamat Lengkap...">{% if state == 'add' %}{{ old('address') }}{% else %}{{ Data.address }}{% endif %}</textarea>
                                <span class="messages"></span>
                                {% if (errors.has('address')) %}<div class="col-form-label">{{ errors.first('address') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END ADDRESS -->

                        <!-- RT, RW, CITY & ZIP CODE -->
                        <div class="form-group row {% if (errors.has('phone')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control {% if (errors.has('rt')) %}form-control-danger{% endif %}" name="rt" id="rt" placeholder="RT" value="{% if state == 'add' %}{{ old('rt') }}{% else %}{{ Data.rt }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('rt')) %}<div class="col-form-label">{{ errors.first('rt') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control {% if (errors.has('rw')) %}form-control-danger{% endif %}" name="rw" id="rw" placeholder="RW" value="{% if state == 'add' %}{{ old('rw') }}{% else %}{{ Data.rw }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('rw')) %}<div class="col-form-label">{{ errors.first('rw') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-3">
                                <select class="col-sm-12" id="province" name="province">
                                    {% if old('province') %}
                                        <option value="{{ old('province') }}" selected="selected">{{ old('province') }}</option>
                                    {% elseif Data.province is not empty %}
                                        <option value="{{ Data.province }}" selected="selected">{{ Data.province }}</option>
                                    {% else %}
                                        <option value="0" selected="selected">-- Pilih Propinsi --</option>
                                    {% endif %}
                                </select>
                                {% if (errors.has('province')) %}<div class="col-form-label">{{ errors.first('province') }}</div>{% endif %}
                                <span class="messages"></span>
                                {% if (errors.has('city')) %}<div class="col-form-label">{{ errors.first('city') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-3">
                                <select class="col-sm-12" id="city" name="city">
                                    {% if old('city') %}
                                        <option value="{{ old('city') }}" selected="selected">{{ old('city') }}</option>
                                    {% elseif Data.city is not empty %}
                                        <option value="{{ Data.city }}" selected="selected">{{ Data.city }}</option>
                                    {% else %}
                                        <option value="0" selected="selected">-- Pilih Kota --</option>
                                    {% endif %}
                                </select>
                                {% if (errors.has('city')) %}<div class="col-form-label">{{ errors.first('city') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END RT, RW, CITY & ZIP CODE -->

                        <div class="form-group row {% if (errors.has('phone')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-3">
                                <select class="col-sm-12" id="kecamatan" name="kecamatan">
                                    {% if old('kecamatan') %}
                                        <option value="{{ old('kecamatan') }}" selected="selected">{{ old('kecamatan') }}</option>
                                    {% elseif Data.kecamatan is not empty %}
                                        <option value="{{ Data.kecamatan }}" selected="selected">{{ Data.kecamatan }}</option>
                                    {% else %}
                                        <option value="0" selected="selected">-- Pilih Kecamatan --</option>
                                    {% endif %}
                                </select>
                                {% if (errors.has('kecamatan')) %}<div class="col-form-label">{{ errors.first('kecamatan') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-3">
                                <select class="col-sm-12" id="kelurahan" name="kelurahan">
                                    {% if old('kelurahan') %}
                                        <option value="{{ old('kelurahan') }}" selected="selected">{{ old('kelurahan') }}</option>
                                    {% elseif Data.kelurahan is not empty %}
                                        <option value="{{ Data.kelurahan }}" selected="selected">{{ Data.kelurahan }}</option>
                                    {% else %}
                                        <option value="0" selected="selected">-- Pilih Kelurahan --</option>
                                    {% endif %}
                                </select>
                                {% if (errors.has('kelurahan')) %}<div class="col-form-label">{{ errors.first('kelurahan') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control {% if (errors.has('zipcode')) %}form-control-danger{% endif %}" name="zipcode" id="zipcode" placeholder="Kode Pos..." value="{% if state == 'add' %}{{ old('zipcode') }}{% else %}{{ Data.zipcode }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('zipcode')) %}<div class="col-form-label">{{ errors.first('zipcode') }}</div>{% endif %}
                            </div>
                        </div>

                        <!-- RELIGION -->
                        <div class="form-group row {% if (errors.has('religion')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Agama :</label>
                            <div class="col-sm-6">
                                <select name="religion" class="form-control {% if (errors.has('religion')) %}form-control-danger{% endif %}" id="religion">
                                    {% set ListReligion = call_helpers('get_ListReligion') %}
                                    {% for key,value in ListReligion %}
                                        <option value="{{ key }}" {% if state == 'add' %}{{ old('religion') == key ? 'selected="selected"' : ''}}{% else %}{{ Data.religion_id == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                {% if (errors.has('religion')) %}<div class="col-form-label">{{ errors.first('religion') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control {% if (errors.has('religion_other')) %}form-control-danger{% endif %}" name="religion_other" id="religion_other" placeholder="Lainnya" value="{% if state == 'add' %}{{ old('religion_other') }}{% else %}{{ Data.religion_other }}{% endif %}" {% if Data.religion_id != 6  %}readonly{% endif %}>
                            </div>
                        </div>
                        <!-- END RELIGION -->

                        <!-- BLOOD TYPE -->
                        <div class="form-group row {% if (errors.has('blood_type')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Golongan Darah :</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('blood_type')) %}form-control-danger{% endif %}" name="blood_type" id="blood_type" placeholder="Masukan Golongan Darah..." value="{% if state == 'add' %}{{ old('blood_type') }}{% else %}{{ Data.blood_type }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('blood_type')) %}<div class="col-form-label">{{ errors.first('blood_type') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END BLOOD TYPE -->

                        <!-- OLD SCHOOL -->
                        <div class="form-group row {% if (errors.has('old_school')) %}has-danger{% elseif (errors.has('address_old_school')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Asal Sekolah / Pindahan :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('old_school')) %}form-control-danger{% endif %}" name="old_school" id="old_school" placeholder="Nama Sekolah..." value="{% if state == 'add' %}{{ old('old_school') }}{% else %}{{ Data.old_school }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('old_school')) %}<div class="col-form-label">{{ errors.first('old_school') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-5">
                                <textarea  class="form-control {% if (errors.has('address_old_school')) %}form-control-danger{% endif %}" name="address_old_school" id="address_old_school" placeholder="Alamat Sekolah...">{% if state == 'add' %}{{ old('address_old_school') }}{% else %}{{ Data.address_old_school }}{% endif %}</textarea>
                                <span class="messages"></span>
                                {% if (errors.has('address_old_school')) %}<div class="col-form-label">{{ errors.first('address_old_school') }}</div>{% endif %}
                            </div>

                        </div>
                        <!-- END OLD SCHOOL -->

                        <!-- DATE / NOMOR IJAZAH -->
                        <div class="form-group row {% if (errors.has('diploma_date')) %}has-danger{% elseif (errors.has('diploma_number')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tanggal / Nomor Ijasah :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control date2{% if (errors.has('diploma_date')) %}form-control-danger{% endif %}" name="diploma_date" id="diploma_date" placeholder="dd-mm-yyyy" value="{% if state == 'add' %}{{ old('diploma_date') }}{% else %}{{ Data.diploma_date|date('d-m-Y') }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('diploma_date')) %}<div class="col-form-label">{{ errors.first('diploma_date') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('diploma_number')) %}form-control-danger{% endif %}" name="diploma_number" id="diploma_number" placeholder="Masukan No. Ijasah..." value="{% if state == 'add' %}{{ old('diploma_number') }}{% else %}{{ Data.diploma_number }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('diploma_number')) %}<div class="col-form-label">{{ errors.first('diploma_number') }}</div>{% endif %}
                            </div>

                        </div>
                        <!-- END DATE / NOMOR IJAZAH -->

                        <!-- NISN -->
                        <div class="form-group row {% if (errors.has('nisn')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">NISN :</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('nisn')) %}form-control-danger{% endif %}" name="nisn" id="nisn" placeholder="Masukan Nomor Induk Siswa Nasional..." value="{% if state == 'add' %}{{ old('nisn') }}{% else %}{{ Data.nisn }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('nisn')) %}<div class="col-form-label">{{ errors.first('nisn') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END NISN -->

                        <!-- PICTURE -->
                        <div class="form-group row {% if (errors.has('picture')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Foto Profil :</label>
                            <div class="col-sm-10">
                                <div id="load-picture">
                                    {% if Data.picture %}
                                        <a class="btn btn-info" href="{{ route('student_download_picture', Data.id) }}"><i class="fa fa-download"></i> Download</a>
                                        <button class="btn btn-danger" type="button" id="btn-deletePicture"><i class="fa fa-trash"></i> Hapus</button>
                                    {% else %}
                                        <input type="file" class="form-control {% if (errors.has('picture')) %}form-control-danger{% endif %}" name="picture" id="picture">
                                    {% endif %}
                                </div>
                                <span class="messages"></span>
                                {% if (errors.has('picture')) %}<div class="col-form-label">{{ errors.first('picture') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PICTURE -->



                        <h4 class="title text-primary">Biodata Orang Tua</h4>
                        <hr>

                        <!-- FATHER NAME & JOB -->
                        <div class="form-group row {% if (errors.has('father_name')) %}has-danger{% elseif (errors.has('father_job')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Nama Ayah :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('father_name')) %}form-control-danger{% endif %}" name="father_name" id="father_name" placeholder="Masukan Nama Ayah" value="{% if state == 'add' %}{{ old('father_name') }}{% else %}{{ Data.father_name }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('father_name')) %}<div class="col-form-label">{{ errors.first('father_name') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('father_job')) %}form-control-danger{% endif %}" name="father_job" id="father_job" placeholder="Masukan Pekerjaan/Pendidikan..." value="{% if state == 'add' %}{{ old('father_job') }}{% else %}{{ Data.father_job }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('father_job')) %}<div class="col-form-label">{{ errors.first('father_job') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END FATHER JOB -->

                        <!-- FATHER INSTANCE & SALARY -->
                        <div class="form-group row {% if (errors.has('father_agency')) %}has-danger{% elseif (errors.has('father_salary')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Instansi / Perusahaan & Salary :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('father_agency')) %}form-control-danger{% endif %}" name="father_agency" id="father_agency" placeholder="Masukan Tempat Ayah bekerja" value="{% if state == 'add' %}{{ old('father_agency') }}{% else %}{{ Data.father_agency }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('father_agency')) %}<div class="col-form-label">{{ errors.first('father_agency') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control rupiah {% if (errors.has('mother_salary')) %}form-control-danger{% endif %}" name="father_salary" id="father_salary" placeholder="Masukan Penghasilan /bulan" value="{% if state == 'add' %}{{ old('father_salary') }}{% else %}{{ Data.father_salary }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('father_salary')) %}<div class="col-form-label">{{ errors.first('father_salary') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END FATHER INSTANCE & SALARY -->

                        <!-- FATHER PLACE, DATE of BIRD -->
                        <div class="form-group row {% if (errors.has('father_dob')) %}has-danger{% elseif (errors.has('father_pob')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tempat & Tanggal Lahir Ayah :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('father_pob')) %}form-control-danger{% endif %}" name="father_pob" id="father_pob" placeholder="Tempat kelahiran..." value="{% if state == 'add' %}{{ old('father_pob') }}{% else %}{{ Data.father_pob }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('father_pob')) %}<div class="col-form-label">{{ errors.first('father_pob') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control date2 {% if (errors.has('father_dob')) %}form-control-danger{% endif %}" name="father_dob" id="father_dob" placeholder="dd-mm-yyyy" value="{% if state == 'add' %}{{ old('father_dob') }}{% else %}{{ Data.father_dob|date('d-m-Y') }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('father_dob')) %}<div class="col-form-label">{{ errors.first('father_dob') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END FATHER PLACE, DATE of BIRD  -->

                        <!-- FATHER EMAIL & PHONE -->
                        <div class="form-group row {% if (errors.has('father_email')) %}has-danger{% elseif (errors.has('father_phone')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Email & Telp./Handphone:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('father_email')) %}form-control-danger{% endif %}" name="father_email" id="father_email" placeholder="example@ext.com..." value="{% if state == 'add' %}{{ old('father_email') }}{% else %}{{ Data.father_email }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('father_email')) %}<div class="col-form-label">{{ errors.first('father_email') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('father_phone')) %}form-control-danger{% endif %}" name="father_phone" id="father_phone" placeholder="08xxxxxxxx" value="{% if state == 'add' %}{{ old('father_phone') }}{% else %}{{ Data.father_phone }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('father_phone')) %}<div class="col-form-label">{{ errors.first('father_phone') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END FATHER EMAIL & PHONE  -->

                        <hr>

                        <!-- MOTHER NAME & JOB -->
                        <div class="form-group row {% if (errors.has('mother_name')) %}has-danger{% elseif (errors.has('father_job')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Nama Ibu :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('mother_name')) %}form-control-danger{% endif %}" name="mother_name" id="mother_name" placeholder="Masukan Nama Ibu" value="{% if state == 'add' %}{{ old('mother_name') }}{% else %}{{ Data.mother_name }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('mother_name')) %}<div class="col-form-label">{{ errors.first('mother_name') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('mother_job')) %}form-control-danger{% endif %}" name="mother_job" id="mother_job" placeholder="Masukan Pekerjaan/Pendidikan..." value="{% if state == 'add' %}{{ old('mother_job') }}{% else %}{{ Data.mother_job }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('mother_job')) %}<div class="col-form-label">{{ errors.first('mother_job') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END MOTHER JOB -->

                        <!-- MOTHER INSTANCE & SALARY -->
                        <div class="form-group row {% if (errors.has('mother_agency')) %}has-danger{% elseif (errors.has('mother_salary')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Instansi / Perusahaan & Salary :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('mother_agency')) %}form-control-danger{% endif %}" name="mother_agency" id="mother_agency" placeholder="Masukan Tempat Ibu bekerja" value="{% if state == 'add' %}{{ old('mother_agency') }}{% else %}{{ Data.mother_agency }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('mother_agency')) %}<div class="col-form-label">{{ errors.first('mother_agency') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control rupiah {% if (errors.has('mother_salary')) %}form-control-danger{% endif %}" name="mother_salary" id="mother_salary" placeholder="Masukan Penghasilan /bulan" value="{% if state == 'add' %}{{ old('mother_salary') }}{% else %}{{ Data.mother_salary }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('mother_salary')) %}<div class="col-form-label">{{ errors.first('mother_salary') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END MOTHER INSTANCE & SALARY -->

                        <!-- MOTHER PLACE, DATE of BIRD -->
                        <div class="form-group row {% if (errors.has('mother_dob')) %}has-danger{% elseif (errors.has('mother_pob')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tempat & Tanggal Lahir Ibu :</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('mother_pob')) %}form-control-danger{% endif %}" name="mother_pob" id="mother_pob" placeholder="Tempat kelahiran..." value="{% if state == 'add' %}{{ old('mother_pob') }}{% else %}{{ Data.mother_pob }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('mother_pob')) %}<div class="col-form-label">{{ errors.first('mother_pob') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control date2 {% if (errors.has('mother_dob')) %}form-control-danger{% endif %}" name="mother_dob" id="mother_dob" placeholder="dd-mm-yyyy" value="{% if state == 'add' %}{{ old('mother_dob') }}{% else %}{{ Data.mother_dob|date('d-m-Y') }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('mother_dob')) %}<div class="col-form-label">{{ errors.first('mother_dob') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END MOTHER PLACE, DATE of BIRD  -->

                        <!-- MOTHER EMAIL & PHONE -->
                        <div class="form-group row {% if (errors.has('mother_email')) %}has-danger{% elseif (errors.has('mother_phone')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Email & Telp./Handphone:</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('mother_email')) %}form-control-danger{% endif %}" name="mother_email" id="mother_email" placeholder="example@ext.com..." value="{% if state == 'add' %}{{ old('mother_email') }}{% else %}{{ Data.mother_email }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('mother_email')) %}<div class="col-form-label">{{ errors.first('mother_email') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('mother_phone')) %}form-control-danger{% endif %}" name="mother_phone" id="mother_phone" placeholder="08xxxxxxxx" value="{% if state == 'add' %}{{ old('mother_phone') }}{% else %}{{ Data.mother_phone }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('mother_phone')) %}<div class="col-form-label">{{ errors.first('mother_phone') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END MOTHER EMAIL & PHONE  -->

                        <div class="form-group row {% if (errors.has('sda')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <div class="border-checkbox-section">
                                    <div class="border-checkbox-group border-checkbox-group-primary">
                                        <input class="border-checkbox" type="checkbox" id="sda" name="sda" value="1" {% if state == 'add' %}{% if old('sda') %}checked="checked"{% endif %} {% else %}{% if Data.sda %}checked="checked"{% endif %}{% endif %}>
                                        <label class="border-checkbox-label" for="sda">Sama dengan diatas...</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ADDRESS -->
                        <div class="form-group row {% if (errors.has('family_address')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Alamat Orang tua</label>
                            <div class="col-sm-10">
                                <textarea  class="form-control {% if (errors.has('family_address')) %}form-control-danger{% endif %}" name="family_address" id="family_address" placeholder="Masukan Alamat Orang tua...">{% if state == 'add' %}{{ old('family_address') }}{% else %}{{ Data.family_address }}{% endif %}</textarea>
                                <span class="messages"></span>
                                {% if (errors.has('family_address')) %}<div class="col-form-label">{{ errors.first('family_address') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END ADDRESS -->

                        <!-- RT, RW, CITY & ZIP CODE -->
                        <div class="form-group row {% if (errors.has('family_phone')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control {% if (errors.has('family_rt')) %}form-control-danger{% endif %}" name="family_rt" id="family_rt" placeholder="RT" value="{% if state == 'add' %}{{ old('family_rt') }}{% else %}{{ Data.family_rt }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('family_rt')) %}<div class="col-form-label">{{ errors.first('family_rt') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control {% if (errors.has('family_rw')) %}form-control-danger{% endif %}" name="family_rw" id="family_rw" placeholder="RW" value="{% if state == 'add' %}{{ old('family_rw') }}{% else %}{{ Data.family_rw }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('family_rw')) %}<div class="col-form-label">{{ errors.first('family_rw') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control {% if (errors.has('family_city')) %}form-control-danger{% endif %}" name="family_city" id="family_city" placeholder="Kota..." value="{% if state == 'add' %}{{ old('family_city') }}{% else %}{{ Data.family_city }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('family_city')) %}<div class="col-form-label">{{ errors.first('family_city') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control {% if (errors.has('family_zipcode')) %}form-control-danger{% endif %}" name="family_zipcode" id="family_zipcode" placeholder="Kode Pos..." value="{% if state == 'add' %}{{ old('family_zipcode') }}{% else %}{{ Data.family_zipcode }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('family_zipcode')) %}<div class="col-form-label">{{ errors.first('family_zipcode') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END RT, RW, CITY & ZIP CODE -->

                        <h4 class="sub-title text-danger">Saudara yang masih sekolah dibawah tanggungan orang tua / wali</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td width="30%">Nama</td>
                                    <td width="30%">Sekolah</td>
                                    <td width="20%">Kelas</td>
                                    <td width="15%">Besarnya Uang Sekolah</td>
                                    <td width="5%"><button class="btn btn-block btn-info" type="button" id="btn-addFamily"><i class="fa fa-plus"></i></button></td>
                                </tr>
                                </thead>
                                <tbody id="div-family">
                                {% if Data.families %}
                                    {% for families in Data.families %}
                                        <tr id="row-{{ families.id }}">
                                            <td><input type="text" class="form-control" value="{{ families.name }}" name="family_name[]" id="amily-name{{ families.id }}"></td>
                                            <td><input type="text" class="form-control" value="{{ families.school_name }}" name="family_school[]" id="family-school{{ families.id }}"></td>
                                            <td><input type="text" class="form-control" value="{{ families.class }}" name="family_class[]" id="family-class{{ families.id }}"></td>
                                            <td><input type="text" class="form-control" value="{{ families.school_fee }}" name="family_school_fee[]" id="family-school-fee{{ families.id }}"></td>
                                            <td><input type="hidden" class="form-control" name="family_id[]" id="family_id{{ families.id }}" value="{{ families.id }}"><button type="button" class="btn btn-outline-danger"  onclick="deleteFamily({{ families.id }})"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>

                        {% if state == 'add' %}
                        <h4 class="title text-primary">Data Kelas per {{ SchoolYear.name }}</h4>
                        <hr>

                        <!-- SCHOOL CATEGORY -->
                        <div class="form-group row {% if (errors.has('school_category')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kategori Sekolah</label>
                            <div class="col-sm-10">
                                <select class="form-control {% if (errors.has('school_category')) %}form-control-danger{% endif %}" id="school_category" name="school_category">
                                    {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                                    {% for  key,value in ListSchoolCategory %}
                                        <option value="{{ key }}" {% if SCHOOLCATEGORY %}{{ SCHOOLCATEGORY == key ? 'selected="selected"' : ''}}{% else %}{% if old('school_category') %}{{ old('school_category') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('school_category')) %}<div class="col-form-label">{{ errors.first('school_category') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END SCHOOL CATEGORY -->

                        <!-- LEVEL -->
                        <div class="form-group row {% if (errors.has('level')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tingkat</label>
                            <div class="col-sm-10">
                                <select class="form-control {% if (errors.has('level')) %}form-control-danger{% endif %}" id="level" name="level" disabled>
                                    <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('tingkat')) %}<div class="col-form-label">{{ errors.first('tingkat') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END LEVEL -->

                        <!-- CLASS INFO -->
                        <div class="form-group row {% if (errors.has('class_info')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kelas</label>
                            <div class="col-sm-10">
                                <select class="form-control {% if (errors.has('class_info')) %}form-control-danger{% endif %}" id="class_info" name="class_info" disabled>
                                    <option value="0">-- Pilih Tingkat terlebih dahulu --</option>
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('class_info')) %}<div class="col-form-label">{{ errors.first('class_info') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END CLASS INFO -->
                        {% else %}
                            <h4 class="sub-title text-danger">History Tahun Ajaran</h4>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <td width="30%">Sekolah</td>
                                        <td width="30%">Tahun Ajaran</td>
                                        <td width="20%">Tingkat</td>
                                        <td width="20%">Kelas</td>
                                    </tr>
                                    </thead>
                                    <tbody id="div-family">
                                    {% if Data.classes %}
                                        {% for classes in Data.classes %}
                                            <tr id="row-{{ classes.id }}">
                                                <td>{{ classes.school_category.name }}</td>
                                                <td>{{ classes.school_year.name }}</td>
                                                <td>{{ classes.level.name }}</td>
                                                <td>{{ classes.class_info.name }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}

                        <hr>
                        <!-- FILE -->
                        <div class="form-group row {% if (errors.has('username')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-primary" id="btn-addFile"><i class="fa fa-plus-circle"></i> File</button>
                                <div class="col-form-label">Mohon lampirkan Copy Slip Gaji, Rekening Listrik dan Telepon (3 Bulan Terakhir)</div>
                            </div>
                        </div>

                        <div id="file-add">
                        </div>
                        <!-- END FILE -->


                        {% if state == 'add' %}
                        {#<hr>#}
                        {#<!-- USERNAME -->#}
                        {#<div class="form-group row {% if (errors.has('username')) %}has-danger{% endif %}">#}
                            {#<label class="col-sm-2 col-form-label">Username :<label class="text-danger">*</label></label>#}
                            {#<div class="col-sm-6">#}
                                {#<input type="text" class="form-control {% if (errors.has('username')) %}form-control-danger{% endif %}" name="username" id="username" placeholder="Masukan Username..." value="{% if state == 'add' %}{{ old('username') }}{% else %}{{ Data.username }}{% endif %}">#}
                                {#<span class="messages"></span>#}
                                {#{% if (errors.has('username')) %}<div class="col-form-label">{{ errors.first('username') }}</div>{% endif %}#}
                            {#</div>#}
                        {#</div>#}
                        {#<!-- END USERNAME -->#}

                        {#<!-- PASSWORD -->#}
                        {#<div class="form-group row {% if (errors.has('password')) %}has-danger{% endif %}">#}
                            {#<label class="col-sm-2 col-form-label">Password :<label class="text-danger">*</label></label>#}
                            {#<div class="col-sm-6">#}
                                {#<input type="password" class="form-control {% if (errors.has('password')) %}form-control-danger{% endif %}" name="password" id="password" placeholder="Masukan Password..." value="{% if state == 'add' %}{{ old('password') }}{% else %}{{ Data.password }}{% endif %}">#}
                                {#<span class="messages"></span>#}
                                {#{% if (errors.has('password')) %}<div class="col-form-label">{{ errors.first('password') }}</div>{% endif %}#}
                            {#</div>#}
                        {#</div>#}
                        {#<!-- END PASSWORD -->#}
                        {% endif %}

                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <a href="{{ route(RouteStore) }}" class="btn btn-inverse btn-square"><i class="ti-back-left"></i> Back</a>
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if state == 'edit' %}
        {% if Data.files.count > 0 %}
            <div class="row">
                <div class="col-sm-12">
                    <div id="load-attachment">
                        <!-- LAMPIRAN -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Lampiran File</h5>
                            </div>
                            <div class="card-block">
                                <div class="row">
                                    {% for file in Data.files %}
                                        {% set FileData = call_helpers_two('get_GenerateLinkImageUrl', 'storage/', file.file) %}
                                        <div class="col-lg-4 col-sm-6">
                                            <div class="thumbnail">
                                                <div class="thumb">
                                                    <a href="{{ FileData }}" data-lightbox="1" data-title="{{ file.file_name }}">
                                                        <img src="{{ FileData }}" alt="" class="img-fluid img-thumbnail">
                                                    </a>
                                                </div>
                                            </div>
                                            <button class="btn btn-block btn-outline-danger" type="button" onclick="deleteAttachment({{ file.id }})"><i class="fa fa-trash"></i> Hapus</button>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- LAMPIRAN -->
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}

{% block addmodal %}
    <!-- MODAL FAMILY -->
    <div class="modal fade"  id="ModalFamily" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_family" class="form-material" id="form_family" method="post" action="{{ route('student_save_family') }}">
                        {{ csrf_field() }}
                        <input type="hidden" id="statusform" name="statusform" value="add">

                        <!-- NAME -->
                        <div class="form-group form-default form-static-label" id="field-modal_family_name">
                            <input type="text" name="modal_family_name" id="modal_family_name" class="form-control" placeholder="Masukan Nama">
                            <span class="form-bar"></span>
                            <label class="float-label">Nama</label>
                        </div>
                        <!-- END NAME -->

                        <!-- SCHOOL -->
                        <div class="form-group form-default form-static-label" id="field-modal_family_school">
                            <input type="text" name="modal_family_school" id="modal_family_school" class="form-control" placeholder="Masukan Nama Sekolah">
                            <span class="form-bar"></span>
                            <label class="float-label">Nama Sekolah</label>
                        </div>
                        <!-- END SCHOOL -->

                        <!-- CLASS -->
                        <div class="form-group form-default form-static-label" id="field-modal_family_class">
                            <input type="text" name="modal_family_class" id="modal_family_class" class="form-control" placeholder="Masukan Kelas">
                            <span class="form-bar"></span>
                            <label class="float-label">Kelas</label>
                        </div>
                        <!-- END CLASS -->

                        <!-- SCHOOL FEE -->
                        <div class="form-group form-default form-static-label" id="field-modal_family_school_fee">
                            <input type="text" name="modal_family_school_fee" id="modal_family_school_fee" class="form-control rupiah" placeholder="Masukan Besarnya uang Sekolah" value="0">
                            <span class="form-bar"></span>
                            <label class="float-label">Uang Sekolah</label>
                        </div>
                        <!-- END SCHOOL FEE -->

                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light" id="btn-saveFamilyAction"><i class="fa fa-save"></i>Simpan</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL FAMILY -->

    <!-- DELETE -->
    <div class="modal fade"  id="ConfirmDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="family_id" id="family_id">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btn-deleteFamily">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE -->

    <!-- DELETE PICTURE -->
    <div class="modal fade"  id="ConfirmDeletePicture" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btn-deletePictureAct">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE PICTURE -->

    <!-- DELETE ATTACHMENT -->
    <div class="modal fade"  id="ConfirmDeleteAttachment" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Apakah anda yakin?</p>
                    <input type="hidden" id="attachment_id" name="attachment_id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btn-deleteAttachment">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE ATTACHMENT -->

{% endblock %}

{% block addjs %}
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'lightbox2/js/lightbox.min.js') | script_tag }}

    <!-- INPUT MASK -->
    {{ asset(ThemeAsset ~ 'pages/form-masking/inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/jquery.inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/autoNumeric.js') | script_tag }}
    {{ asset('js/masking.js') | script_tag }}

    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}
    {{ asset('js/select2.js')|script_tag }}

    {{ asset('modules/area/main.js')|script_tag }}

    {{ asset(PathJS ~ 'main.js')|script_tag }}
{% endblock %}
