{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- DATATABLE -->
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/css/dataTables.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/css/buttons.dataTables.min.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/extensions/responsive/css/responsive.dataTables.css') | css_tag }}
    <!-- END DATATABLE -->
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h5>{{ PageTitle }}</h5>
            <span>{{ PageDescription }}</span>
            <div class="card-header-right">
                {% if RouteAdd %}
                <a class="btn waves-effect waves-light btn-primary" href="{{ route(RouteAdd) }}"><i class="icon-user-follow text-white"></i> Tambah</a>
                {% endif %}
            </div>
        </div>
        <div class="card-block">
            <form id="main" novalidate action="{{ route('student_feedback_search') }}" method="post" enctype="multipart/form-data">
                {{ csrf_field() }}
                <!-- SCHOOL CATEGORY -->
                <div class="form-group row {% if (errors.has('school_category')) %}has-danger{% endif %}">
                    <label class="col-sm-4 col-form-label">Kategori Sekolah <label class="text-danger">*</label></label>
                    <div class="col-sm-3">
                        <select class="form-control {% if (errors.has('school_category')) %}form-control-danger{% endif %}" id="school_category" name="school_category">
                            {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                            {% for  key,value in ListSchoolCategory %}
                                <option value="{{ key }}" {% if SCHOOLCATEGORY %}{{ SCHOOLCATEGORY == key ? 'selected="selected"' : ''}}{% else %}{% if old('school_category') %}{{ old('school_category') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                        <span class="messages"></span>
                        {% if (errors.has('school_category')) %}<div class="col-form-label">{{ errors.first('school_category') }}</div>{% endif %}
                    </div>
                </div>
                <!-- END SCHOOL CATEGORY -->

                <!-- STATUS -->
                <div class="form-group row {% if (errors.has('status')) %}has-danger{% endif %}">
                    <label class="col-sm-4 col-form-label">Status Registrasi</label>
                    <div class="col-sm-3">
                        <select class="form-control {% if (errors.has('status')) %}form-control-danger{% endif %}" id="status" name="status">
                            {% set ListStatusRegister = call_helpers('get_ListStatusRegister') %}
                            {% for  key,value in ListStatusRegister %}
                                <option value="{{ key }}" {% if STATUSREGISTER %}{{ STATUSREGISTER == key ? 'selected="selected"' : ''}}{% else %}{% if old('status') %}{{ old('status') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                        <span class="messages"></span>
                        {% if (errors.has('status')) %}<div class="col-form-label">{{ errors.first('status') }}</div>{% endif %}
                    </div>
                </div>
                <!-- END STATUS -->

                <div class="row">
                    <label class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-search"></i> Tampilkan</button>
                    </div>
                    <div class="col-sm-3">
                    </div>
                </div>
            </form>
            <table id="{{ datatables }}" class="table display">
                <thead>
                <tr>
                    {% for Row in RowDT %}
                        <th>{{ Row }}</th>
                    {% endfor %}
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block addmodal %}
    <!-- PARAM -->
    <input type="hidden" name="id" id="id">
    <!-- REJECT -->
    <div class="modal fade"  id="ConfirmReject" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Reject Confirmation!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-warning waves-effect waves-light " onclick="ActionReject()">Tolak</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END REJECT -->

    <!-- DELETE -->
    <div class="modal fade"  id="ConfirmDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light " onclick="ActionDelete()">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE -->

    <!-- APPROVE -->
    <div class="modal fade"  id="ConfirmApprove" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Terima!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-success waves-effect waves-light " onclick="ActionApprove()">Terima</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END APPROVE -->

{% endblock %}

{% block addjs %}

    <!-- DATATABLES -->
    {{ asset(ThemePlugins ~ 'datatables.net/js/jquery.dataTables.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/js/dataTables.bootstrap4.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive/js/dataTables.responsive.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') | script_tag }}


    <script>
        var ROUTE_DATATABLE     = '{{ RouteDatatables }}';
        var TBL_NAME            = '{{ datatables }}';
        var URL_PAGE            = '{{ UrlPage }}';
        var SCHOOLCATEGORY      = '{{ SCHOOLCATEGORY }}';
        var STATUSREGISTER      = '{{ STATUSREGISTER }}';

        function rejectList(id){
            $('#id').val(id);
            $('#ConfirmReject').modal('show');
        }

        function ActionReject(){
            var id = $('#id').val();
            window.location = BASE_URL + "/" + URL_PAGE + "/reject/" + id;
        }


        function deleteList(id){
            $('#id').val(id);
            $('#ConfirmDelete').modal('show');
        }

        function ActionDelete(){
            var id = $('#id').val();
            window.location = BASE_URL + "/" + URL_PAGE + "/delete/" + id;
        }

        function approveList(id){
            $('#id').val(id);
            $('#ConfirmApprove').modal('show');
        }

        function ActionApprove(){
            var id = $('#id').val();
            window.location = BASE_URL + "/" + URL_PAGE + "/approve/" + id;
        }
    </script>

    <!-- FUNCTION DATATABLE -->
    {{ asset(PathJS ~ 'datatable.js')|script_tag }}
{% endblock %}
