{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- Date-range picker css  -->
    {{ asset(ThemeAsset ~ 'pages/advance-elements/css/bootstrap-datetimepicker.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'bootstrap-daterangepicker/css/daterangepicker.css') | css_tag }}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    {% if errors.has('account_type') %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="icofont icofont-close-line-circled"></i>
            </button>
            <strong>Error!</strong> {{ errors.first('account_type') }}
        </div>
    {% endif %}
    <div class="card">
        <div class="card-header">
            <h5>{{ PageTitle }}</h5>
            <span>{{ PageDescription }}</span>
        </div>
        <div class="card-block">
            <form class="form-material" method="post" id="form-absence" name="form-absence" action="{{ route(RouteSave) }}">
                {{ csrf_field() }}
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group form-default form-static-label">
                            <select class="form-control" id="account_type" name="account_type">
                                {% set ListAccountTypeAbsence = call_helpers('get_ListAccountTypeAbsence') %}
                                {% for key,value in ListAccountTypeAbsence %}
                                    <option value="{{ key }}" {{ old('account_type') == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                {% endfor %}
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Akun Tipe</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group form-default form-static-label">
                            <input type="date" name="start" id="start" class="form-control" value="{% if old('start') %}{{ old('start')|date('Y-m-d') }}{% else %}{{ DateDefault }}{% endif %}">
                            <span class="form-bar"></span>
                            <label class="float-label">Mulai</label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group form-default form-static-label">
                            <input type="date" name="end" id="end" class="form-control" value="{% if old('end') %}{{ old('end')|date('Y-m-d') }}{% else %}{{ DateDefault }}{% endif %}">
                            <span class="form-bar"></span>
                            <label class="float-label">Berakhir</label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-block btn-success" name="action" value="rekapitulasi"><i class="icofont icofont-data"></i> Rekapitulasi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block addmodal %}
{% endblock %}

{% block addjs %}
    {{ asset(ThemeAsset ~ 'pages/advance-elements/moment-with-locales.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'bootstrap-datepicker/js/bootstrap-datepicker.min.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/advance-elements/bootstrap-datetimepicker.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'bootstrap-daterangepicker/js/daterangepicker.js') | script_tag }}

    {{ asset('js/select2.js')|script_tag }}
    {{ asset('js/date.js')|script_tag }}
{% endblock %}

