<!DOCTYPE html>
<html lang="en">

{% set ProjectName  = call_helpers_two('getSettingInfo', config_get('app.setting_id'),'project_name') %}
{% set Description  = call_helpers_two('getSettingInfo', config_get('app.setting_id'),'description') %}
{% set Logo         = call_helpers_two('getSettingInfo', config_get('app.setting_id'),'logo') %}
{% set PathImage    = call_helpers('getPathLogo') %}
{% set UrlLogo      = call_helpers_two('get_GenerateLinkImageUrl', PathImage, Logo) %}
{% set ThemeAsset   = config_get('themes.paths.base') ~ '/' ~ config_get('themes.active') ~ '/' ~ config_get('themes.paths.assets')~'/' %}
{% set ThemePlugins = config_get('themes.paths.base') ~ '/' ~ config_get('themes.active') ~ '/' ~ config_get('themes.paths.plugins')~'/' %}

<head>

    {% block metadata %}
        {% include "admin::partials/metadata" %}
    {% endblock %}

    {% block css_assets %}
        {% include "admin::partials/css_assets" %}
    {% endblock %}

    {% block addcss %}
    {% endblock %}

    <!-- Style.css -->
    {{ asset(ThemeAsset ~ 'css/style.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'css/pages.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'css/widget.css') | css_tag }}


</head>
<!-- END HEAD -->

<body>
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-bar"></div>
</div>
<!-- [ Pre-loader ] end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <!-- [ Header ] start -->
        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">
                <div class="navbar-logo">
                    <a href="{{ url('/') }}">
                        <h3 class="text-white"><strong>Tunas</strong><i>Harapan</i></h3>
                    </a>
                </div>
                <div class="navbar-container container-fluid">
                    <ul class="nav-left">
                        <li>
                            <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                <i class="full-screen feather icon-maximize"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- [ Header ] end -->


        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    {% if session('InfoMsg') %}
                                        <div class="alert alert-primary">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <i class="icofont icofont-close-line-circled"></i>
                                            </button>
                                            <strong>Info!</strong> {{ session('InfoMsg') }}
                                        </div>
                                    {% endif %}

                                    {% if session('ScsMsg') %}
                                        <div class="alert alert-success">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <i class="icofont icofont-close-line-circled"></i>
                                            </button>
                                            <strong>Success!</strong> {{ session('ScsMsg') }}
                                        </div>
                                    {% endif %}

                                    {% if session('WrngMsg') %}
                                        <div class="alert alert-warning">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <i class="icofont icofont-close-line-circled"></i>
                                            </button>
                                            <strong>Warning!</strong> {{ session('WrngMsg') }}
                                        </div>
                                    {% endif %}

                                    {% if session('ErrMsg') %}
                                        <div class="alert alert-danger">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <i class="icofont icofont-close-line-circled"></i>
                                            </button>
                                            <strong>Error!</strong> {{ session('ErrMsg') }}
                                        </div>
                                    {% endif %}

<br><br>
                                    {% block body %}

                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% block addmodal %}

{% endblock %}

{% block js_assets %}

    <script>
        var BASE_URL = '{{ url('/') }}';
        var CSRF_TOKEN = '{{ csrf_token() }}';

    </script>

    {% include "admin::partials/js_assets" %}


{% endblock %}

{% block addjs %}

{% endblock %}

</body>

</html>
