<!DOCTYPE html>
<html lang="en">

{% set ProjectName  = call_helpers_two('getSettingInfo', config_get('app.setting_id'),'project_name') %}
{% set Description  = call_helpers_two('getSettingInfo', config_get('app.setting_id'),'description') %}
{% set Logo         = call_helpers_two('getSettingInfo', config_get('app.setting_id'),'logo') %}
{% set PathImage    = call_helpers('getPathLogo') %}
{% set UrlLogo      = call_helpers_two('get_GenerateLinkImageUrl', PathImage, Logo) %}
{% set User         = call_helpers('get_UserInformation') %}
{% set LastLogin    = call_helpers('get_LastLogin') %}
{% set ThemeAsset   = config_get('themes.paths.base') ~ '/' ~ config_get('themes.active') ~ '/' ~ config_get('themes.paths.assets')~'/' %}
{% set ThemePlugins = config_get('themes.paths.base') ~ '/' ~ config_get('themes.active') ~ '/' ~ config_get('themes.paths.plugins')~'/' %}

<head>

    {% block metadata %}
        {% include "admin::partials/metadata" %}
    {% endblock %}

    {% block css_assets %}
        {% include "admin::partials/css_assets" %}
    {% endblock %}

    {% block addcss %}
    {% endblock %}

    <!-- Style.css -->
{#    {{ asset(ThemeAsset ~ 'css/style.css') | css_tag }}#}
{#    {{ asset(ThemeAsset ~ 'css/pages.css') | css_tag }}#}
{#    {{ asset(ThemeAsset ~ 'css/widget.css') | css_tag }}#}


</head>
<!-- END HEAD -->

<body>
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->

<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar theme-horizontal menu-light brand-blue">
    <div class="navbar-wrapper">
        <div class="navbar-content sidenav-horizontal" id="layout-sidenav">
            <ul class="nav pcoded-inner-navbar sidenav-inner">
                <li class="nav-item">
                    <a href="{{ url('/') }}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li>

                <!--- MENU PARTIAL -->
                {% include "admin::partials/menu"%}
                <!--- MENU PARTIAL -->
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->

<!-- [ Header ] start -->
<header class="navbar pcoded-header navbar-expand-lg header-blue navbar-light">
    <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        <a href="#!" class="b-brand">
            <!-- ========   change your logo hear   ============ -->
            <H5 class="text-white">Tunas<i>Harapan</i></H5>
        </a>
        <a href="#!" class="mob-toggler">
            <i class="feather icon-more-vertical"></i>
        </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="#!" class="pop-search">{{ User.user_account.account_type.name }}</a>
                <div class="search-bar">
                    <input type="text" class="form-control border-0 shadow-none" placeholder="Search hear">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li>
                <div class="dropdown drp-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="feather icon-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-notification">
                        <div class="pro-head">
                            <img src="{{ asset('img/avatar.png') }}" class="img-radius" alt="User-Profile-Image">
                            <span>{{ User.name }}</span>

                            <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                                {{ csrf_field() }}
                            </form>
                        </div>
                        <ul class="pro-body">
                            <li>
                                <a href="{{ route('profile_info') }}" class="dropdown-item">
                                    <i class="feather icon-user"></i> Profile
                                </a>
                            </li>
                            <li>
                                <a href="{{ route('profile_changed_password') }}" class="dropdown-item">
                                    <i class="feather icon-unlock"></i> Ubah Password
                                </a>
                            </li>
                            {% if call_helpers('get_ListAccountTypebyLogin') == 'Guru' %}
                                <li>
                                    <a href="{{ route('profile_changed_pin') }}" class="dropdown-item">
                                        <i class="feather icon-unlock"></i> Ubah PIN
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="javascript:void(0);" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" title="Logout" class="dropdown-item">
                                    <i class="feather icon-log-out"></i> Log Out
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>
<!-- [ Header ] end -->

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-wrapper">
            <div class="page-header">
                <div class="page-block">
                    <!-- BEGIN: Subheader -->
                    {% block subheader %}

                    {% endblock %}
{#                    <div class="row align-items-center">#}
{#                        <div class="col-md-12">#}
{#                            <div class="page-header-title">#}
{#                                <h5 class="m-b-10">Horizontal Layout</h5>#}
{#                            </div>#}
{#                            <ul class="breadcrumb">#}
{#                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>#}
{#                                <li class="breadcrumb-item"><a href="#!">Page Layout</a></li>#}
{#                                <li class="breadcrumb-item"><a href="#!">Horizontal Layout</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
                    <!-- END: Subheader -->

                </div>
            </div>
            <!-- [ Main Content ] start -->

            {% if session('InfoMsg') %}
                <div class="alert alert-primary">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="icofont icofont-close-line-circled"></i>
                    </button>
                    <strong>Info!</strong> {{ session('InfoMsg') }}
                </div>
            {% endif %}

            {% if session('ScsMsg') %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="icofont icofont-close-line-circled"></i>
                    </button>
                    <strong>Success!</strong> {{ session('ScsMsg') }}
                </div>
            {% endif %}

            {% if session('WrngMsg') %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="icofont icofont-close-line-circled"></i>
                    </button>
                    <strong>Warning!</strong> {{ session('WrngMsg') }}
                </div>
            {% endif %}

            {% if session('ErrMsg') %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="icofont icofont-close-line-circled"></i>
                    </button>
                    <strong>Error!</strong> {{ session('ErrMsg') }}
                </div>
            {% endif %}
            <!-- BODY -->
            {% block body %}

            {% endblock %}
            <!-- BODY -->


        </div>
    </div>
</div>
<!-- [ Main Content ] end -->


{% block addmodal %}

{% endblock %}

{% block js_assets %}

    <script>
        var BASE_URL = '{{ url('/') }}';
        var CSRF_TOKEN = '{{ csrf_token() }}';

    </script>

    {% include "admin::partials/js_assets" %}


{% endblock %}

{% block addjs %}

{% endblock %}

</body>

</html>
