{% extends "admin::layouts." ~ config_get('themes.able_theme') %}

{% block addcss %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                    <div class="card-header-right">
                        <a href="{{ route(RouteStore) }}" class="btn waves-effect waves-light btn-inverse btn-outline-inverse"><i class="ti-back-left"></i> Kembali</a>
                    </div>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->

                        <!-- SCHOOL CATEGORY -->
                        <div class="form-group row {% if (errors.has('school_category')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kategori Sekolah <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select name="school_category" class="form-control" id="school_category" disabled>
                                    {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                                    {% for  key,value in ListSchoolCategory %}
                                        <option value="{{ key }}" {% if state == 'add' %}{{ old('school_category') == key ? 'selected="selected"' : ''}}{% else %}{{ Data.school_category_id == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('school_category')) %}<div class="col-form-label">{{ errors.first('school_category') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END SCHOOL CATEGORY -->

                        {% if SCHOOLCATEGORY or old('school_category') %}
                            {% if(old('school_category')) %}
                                {% set SCHOOLCATEGORY = old('school_category') %}
                            {% endif %}
                            {% set ListLevelbySchoolCategory = call_helpers('get_ListLevelbySchoolCategory', SCHOOLCATEGORY) %}
                        {% endif %}

                        {% if LEVEL or old('level')%}
                            {% if(old('level')) %}
                                {% set LEVEL = old('level') %}
                            {% endif %}
                            {% set ListClassInfobyLevel = call_helpers('get_ListClassInfobyLevel', LEVEL) %}
                        {% endif %}

                        <!-- TINGKAT -->
                        <div class="form-group row {% if (errors.has('level')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tingkat <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select class="form-control" id="level" name="level" disabled>
                                    {% if SCHOOLCATEGORY %}
                                        {% for  key,value in ListLevelbySchoolCategory %}
                                            <option value="{{ key }}" {% if LEVEL %}{{ LEVEL == key ? 'selected="selected"' : ''}}{% else %}{% if old('level') %}{{ old('level') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('level')) %}<div class="col-form-label">{{ errors.first('level') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END TINGKAT -->

                        {% if CLASSINFO or old('class_info')%}
                            {% if(old('class_info')) %}
                                {% set CLASSINFO = old('class_info') %}
                            {% endif %}
                        {% endif %}

                        <!-- KELAS -->
                        <div class="form-group row {% if (errors.has('class_info')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kelas <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select class="form-control" id="class_info" name="class_info" disabled>
                                    {% if LEVEL %}
                                        {% for  key,value in ListClassInfobyLevel %}
                                            <option value="{{ key }}" {% if CLASSINFO %}{{ CLASSINFO == key ? 'selected="selected"' : ''}}{% else %}{% if old('class_info') %}{{ old('class_info') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Tingkat terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('class_info')) %}<div class="col-form-label">{{ errors.first('class_info') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END KELAS -->

                        <!-- WALI KELAS -->
                        <div class="form-group row {% if (errors.has('homeroom_teacher')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Wali Kelas <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select class="form-control" id="homeroom_teacher" name="homeroom_teacher" disabled>
                                {% for  key,value in call_helpers('get_ListTeacher') %}
                                    <option value="{{ key }}" {% if Data.homeroom_teacher %}{{ Data.homeroom_teacher == key ? 'selected="selected"' : ''}}{% else %}{% if old('homeroom_teacher') %}{{ old('homeroom_teacher') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('homeroom_teacher')) %}<div class="col-form-label">{{ errors.first('homeroom_teacher') }}</div>{% endif %}
                            </div>
                            <div class="col-sm-4">
                                <a href="javascript:void(0)" class="btn waves-effect waves-light btn-primary" id="btn-addProgramStudy"><i class="ti-plus"></i> Tambah</a>
                            </div>
                        </div>
                        <!-- END KELAS -->

                        <hr>

                        <div class="row">
                            <!-- SENIN -->
                            <div class="col-sm-12">
                                <h3 class="sub-title text-primary">Senin</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="table-Senin">
                                        <thead>
                                        <tr>
                                            <th>Mulai</th>
                                            <th>Berakhir</th>
                                            <th>Jam Ke</th>
                                            <th>Mata Pelajaran</th>
                                            <th>Note</th>
                                            <th>Guru</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="div-Senin">
                                        {% if DataSenin.isNotEmpty()%}
                                            {% for Item in DataSenin %}
                                                <tr id="row-{{ Item.dayname.name }}-{{ Item.id }}">
                                                    <td><input type="time" class="form-control" id="time_start{{ Item.id }}" name="time_start[]" value="{{ Item.time_start }}"></td>
                                                    <td><input type="time" class="form-control" id="time_end{{ Item.id }}" name="time_end[]" value="{{ Item.time_end }}"></td>
                                                    <td><input type="text" class="form-control" id="part{{ Item.id }}" name="part[]" value="{{ Item.part }}"></td>
                                                    <td>
                                                        <select name="program_study[]" class="form-control" id="program_study{{ Item.id }}" onchange="changeProgramStudy(this.value,{{ Item.id }})">
                                                            {% set ListProgramStudy = call_helpers('get_ListProgramStudy', Data.school_category_id) %}
                                                            {% for key,value in ListProgramStudy %}
                                                                <option value="{{ key }}" {{ Item.program_study_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" id="note{{ Item.id }}" name="note[]" value="{{ Item.note }}"></td>
                                                    <td>
                                                        <select name="teacher[]" class="form-control" id="teacher{{ Item.id }}">
                                                            {% if Item.teacher_id is not empty %}
                                                                {% set ListTeacherbyProgramStudy = call_helpers('get_ListTeacherbyProgramStudy',Item.program_study_id) %}
                                                                {% for key,value in ListTeacherbyProgramStudy %}
                                                                    <option value="{{ key }}" {{ Item.teacher_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="hidden" class="form-control" name="classroom_program_study_id[]" id="classroom_program_study_id{{ Item.id }}" value="{{ Item.id }}">
                                                        <button type="button" class="btn btn-outline-danger"  onclick="deleteProgramStudy({{ Item.id }})"><i class="fa fa-trash"></i></button>
                                                        <button type="button" class="btn btn-outline-success"  onclick="updateProgramStudy({{ Item.id }})"><i class="fa fa-save"></i></button>
                                                    </td>
                                                 </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END SENIN -->
                        </div>

                        <!-- SELASA -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="sub-title text-primary">Selasa</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="table-Selasa">
                                        <thead>
                                        <tr>
                                            <th width="10%">Mulai</th>
                                            <th width="10%">Berakhir</th>
                                            <th width="10%">Jam Ke</th>
                                            <th width="20%">Mata Pelajaran</th>
                                            <th width="20%">Note</th>
                                            <th width="20%">Guru</th>
                                            <th width="10%"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="div-Selasa">
                                        {% if DataSelasa.isNotEmpty()%}
                                            {% for Item in DataSelasa %}
                                                <tr id="row-{{ Item.dayname.name }}-{{ Item.id }}">
                                                    <td><input type="time" class="form-control" id="time_start{{ Item.id }}" name="time_start[]" value="{{ Item.time_start }}"></td>
                                                    <td><input type="time" class="form-control" id="time_end{{ Item.id }}" name="time_end[]" value="{{ Item.time_end }}"></td>
                                                    <td><input type="text" class="form-control" id="part{{ Item.id }}" name="part[]" value="{{ Item.part }}"></td>
                                                    <td>
                                                        <select name="program_study[]" class="form-control" id="program_study{{ Item.id }}">
                                                            {% set ListProgramStudy = call_helpers('get_ListProgramStudy', Data.school_category_id) %}
                                                            {% for key,value in ListProgramStudy %}
                                                                <option value="{{ key }}" {{ Item.program_study_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" id="note{{ Item.id }}" name="note[]" value="{{ Item.note }}"></td>
                                                    <td>
                                                        <select name="teacher[]" class="form-control" id="teacher{{ Item.id }}">
                                                            {% if Item.teacher_id is not empty %}
                                                                {% set ListTeacherbyProgramStudy = call_helpers('get_ListTeacherbyProgramStudy',Item.program_study_id) %}
                                                                {% for key,value in ListTeacherbyProgramStudy %}
                                                                    <option value="{{ key }}" {{ Item.teacher_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="hidden" class="form-control" name="classroom_program_study_id[]" id="classroom_program_study_id{{ Item.id }}" value="{{ Item.id }}">
                                                        <button type="button" class="btn btn-outline-danger"  onclick="deleteProgramStudy({{ Item.id }})"><i class="fa fa-trash"></i></button>
                                                        <button type="button" class="btn btn-outline-success"  onclick="updateProgramStudy({{ Item.id }})"><i class="fa fa-save"></i></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END SELASA -->

                        <div class="row">
                            <!-- RABU -->
                            <div class="col-sm-12">
                                <h3 class="sub-title text-primary">Rabu</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="table-Rabu">
                                        <thead>
                                        <tr>
                                            <th>Mulai</th>
                                            <th>Berakhir</th>
                                            <th>Jam Ke</th>
                                            <th>Mata Pelajaran</th>
                                            <th>Note</th>
                                            <th>Guru</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="div-Rabu">
                                        {% if DataRabu.isNotEmpty()%}
                                            {% for Item in DataRabu %}
                                                <tr id="row-{{ Item.dayname.name }}-{{ Item.id }}">
                                                    <td><input type="time" class="form-control" id="time_start{{ Item.id }}" name="time_start[]" value="{{ Item.time_start }}"></td>
                                                    <td><input type="time" class="form-control" id="time_end{{ Item.id }}" name="time_end[]" value="{{ Item.time_end }}"></td>
                                                    <td><input type="text" class="form-control" id="part{{ Item.id }}" name="part[]" value="{{ Item.part }}"></td>
                                                    <td>
                                                        <select name="program_study[]" class="form-control" id="program_study{{ Item.id }}">
                                                            {% set ListProgramStudy = call_helpers('get_ListProgramStudy', Data.school_category_id) %}
                                                            {% for key,value in ListProgramStudy %}
                                                                <option value="{{ key }}" {{ Item.program_study_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" id="note{{ Item.id }}" name="note[]" value="{{ Item.note }}"></td>
                                                    <td>
                                                        <select name="teacher[]" class="form-control" id="teacher{{ Item.id }}">
                                                            {% if Item.teacher_id is not empty %}
                                                                {% set ListTeacherbyProgramStudy = call_helpers('get_ListTeacherbyProgramStudy',Item.program_study_id) %}
                                                                {% for key,value in ListTeacherbyProgramStudy %}
                                                                    <option value="{{ key }}" {{ Item.teacher_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="hidden" class="form-control" name="classroom_program_study_id[]" id="classroom_program_study_id{{ Item.id }}" value="{{ Item.id }}">
                                                        <button type="button" class="btn btn-outline-danger"  onclick="deleteProgramStudy({{ Item.id }})"><i class="fa fa-trash"></i></button>
                                                        <button type="button" class="btn btn-outline-success"  onclick="updateProgramStudy({{ Item.id }})"><i class="fa fa-save"></i></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END RABU -->
                        </div>

                        <!-- KAMIS -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="sub-title text-primary">Kamis</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="table-Kamis">
                                        <thead>
                                        <tr>
                                            <th>Mulai</th>
                                            <th>Berakhir</th>
                                            <th>Jam Ke</th>
                                            <th>Mata Pelajaran</th>
                                            <th>Note</th>
                                            <th>Guru</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="div-Kamis">
                                        {% if DataKamis.isNotEmpty()%}
                                            {% for Item in DataKamis %}
                                                <tr id="row-{{ Item.dayname.name }}-{{ Item.id }}">
                                                    <td><input type="time" class="form-control" id="time_start{{ Item.id }}" name="time_start[]" value="{{ Item.time_start }}"></td>
                                                    <td><input type="time" class="form-control" id="time_end{{ Item.id }}" name="time_end[]" value="{{ Item.time_end }}"></td>
                                                    <td><input type="text" class="form-control" id="part{{ Item.id }}" name="part[]" value="{{ Item.part }}"></td>
                                                    <td>
                                                        <select name="program_study[]" class="form-control" id="program_study{{ Item.id }}">
                                                            {% set ListProgramStudy = call_helpers('get_ListProgramStudy', Data.school_category_id) %}
                                                            {% for key,value in ListProgramStudy %}
                                                                <option value="{{ key }}" {{ Item.program_study_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" id="note{{ Item.id }}" name="note[]" value="{{ Item.note }}"></td>
                                                    <td>
                                                        <select name="teacher[]" class="form-control" id="teacher{{ Item.id }}">
                                                            {% if Item.teacher_id is not empty %}
                                                                {% set ListTeacherbyProgramStudy = call_helpers('get_ListTeacherbyProgramStudy',Item.program_study_id) %}
                                                                {% for key,value in ListTeacherbyProgramStudy %}
                                                                    <option value="{{ key }}" {{ Item.teacher_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="hidden" class="form-control" name="classroom_program_study_id[]" id="classroom_program_study_id{{ Item.id }}" value="{{ Item.id }}">
                                                        <button type="button" class="btn btn-outline-danger"  onclick="deleteProgramStudy({{ Item.id }})"><i class="fa fa-trash"></i></button>
                                                        <button type="button" class="btn btn-outline-success"  onclick="updateProgramStudy({{ Item.id }})"><i class="fa fa-save"></i></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END KAMIS -->


                        <div class="row">
                            <!-- JUMAT -->
                            <div class="col-sm-12">
                                <h3 class="sub-title text-primary">Jumat</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="table-Jumat">
                                        <thead>
                                        <tr>
                                            <th>Mulai</th>
                                            <th>Berakhir</th>
                                            <th>Jam Ke</th>
                                            <th>Mata Pelajaran</th>
                                            <th>Note</th>
                                            <th>Guru</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="div-Jumat">
                                        {% if DataJumat.isNotEmpty()%}
                                            {% for Item in DataJumat %}
                                                <tr id="row-{{ Item.dayname.name }}-{{ Item.id }}">
                                                    <td><input type="time" class="form-control" id="time_start{{ Item.id }}" name="time_start[]" value="{{ Item.time_start }}"></td>
                                                    <td><input type="time" class="form-control" id="time_end{{ Item.id }}" name="time_end[]" value="{{ Item.time_end }}"></td>
                                                    <td><input type="text" class="form-control" id="part{{ Item.id }}" name="part[]" value="{{ Item.part }}"></td>
                                                    <td>
                                                        <select name="program_study[]" class="form-control" id="program_study{{ Item.id }}">
                                                            {% set ListProgramStudy = call_helpers('get_ListProgramStudy', Data.school_category_id) %}
                                                            {% for key,value in ListProgramStudy %}
                                                                <option value="{{ key }}" {{ Item.program_study_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" id="note{{ Item.id }}" name="note[]" value="{{ Item.note }}"></td>
                                                    <td>
                                                        <select name="teacher[]" class="form-control" id="teacher{{ Item.id }}">
                                                            {% if Item.teacher_id is not empty %}
                                                                {% set ListTeacherbyProgramStudy = call_helpers('get_ListTeacherbyProgramStudy',Item.program_study_id) %}
                                                                {% for key,value in ListTeacherbyProgramStudy %}
                                                                    <option value="{{ key }}" {{ Item.teacher_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="hidden" class="form-control" name="classroom_program_study_id[]" id="classroom_program_study_id{{ Item.id }}" value="{{ Item.id }}">
                                                        <button type="button" class="btn btn-outline-danger"  onclick="deleteProgramStudy({{ Item.id }})"><i class="fa fa-trash"></i></button>
                                                        <button type="button" class="btn btn-outline-success"  onclick="updateProgramStudy({{ Item.id }})"><i class="fa fa-save"></i></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END JUMAT -->
                        </div>


                        <!-- SABTU -->
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="sub-title text-primary">Sabtu</h3>
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="table-Sabtu">
                                        <thead>
                                        <tr>
                                            <th>Mulai</th>
                                            <th>Berakhir</th>
                                            <th>Jam Ke</th>
                                            <th>Mata Pelajaran</th>
                                            <th>Note</th>
                                            <th>Guru</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="div-Sabtu">
                                        {% if DataSabtu.isNotEmpty()%}
                                            {% for Item in DataSabtu %}
                                                <tr id="row-{{ Item.dayname.name }}-{{ Item.id }}">
                                                    <td><input type="time" class="form-control" id="time_start{{ Item.id }}" name="time_start[]" value="{{ Item.time_start }}"></td>
                                                    <td><input type="time" class="form-control" id="time_end{{ Item.id }}" name="time_end[]" value="{{ Item.time_end }}"></td>
                                                    <td><input type="text" class="form-control" id="part{{ Item.id }}" name="part[]" value="{{ Item.part }}"></td>
                                                    <td>
                                                        <select name="program_study[]" class="form-control" id="program_study{{ Item.id }}">
                                                            {% set ListProgramStudy = call_helpers('get_ListProgramStudy', Data.school_category_id ) %}
                                                            {% for key,value in ListProgramStudy %}
                                                                <option value="{{ key }}" {{ Item.program_study_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </td>
                                                    <td><input type="text" class="form-control" id="note{{ Item.id }}" name="note[]" value="{{ Item.note }}"></td>
                                                    <td>
                                                        <select name="teacher[]" class="form-control" id="teacher{{ Item.id }}">
                                                            {% if Item.teacher_id is not empty %}
                                                                {% set ListTeacherbyProgramStudy = call_helpers('get_ListTeacherbyProgramStudy',Item.program_study_id) %}
                                                                {% for key,value in ListTeacherbyProgramStudy %}
                                                                    <option value="{{ key }}" {{ Item.teacher_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                                {% endfor %}
                                                            {% endif %}
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="hidden" class="form-control" name="classroom_program_study_id[]" id="classroom_program_study_id{{ Item.id }}" value="{{ Item.id }}">
                                                        <button type="button" class="btn btn-outline-danger"  onclick="deleteProgramStudy({{ Item.id }})"><i class="fa fa-trash"></i></button>
                                                        <button type="button" class="btn btn-outline-success"  onclick="updateProgramStudy({{ Item.id }})"><i class="fa fa-save"></i></button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END SABTU -->

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block addmodal %}
    <!-- MODAL PROGRAM STUDY -->
    <div class="modal fade"  id="ModalProgramStudy" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_programstudy" class="form-material" id="form_programstudy" method="post" action="{{ route('setprogramstudy_set') }}">
                        {{ csrf_field() }}
                        <input type="hidden" id="statusform" name="statusform" value="add">
                        <input type="hidden" id="id_classroom" name="id_classroom" value="{{ id }}">
                        <input type="hidden" id="school_category_id" name="school_category_id" value="{{ Data.school_category_id }}">

                        <!-- HARI -->
                        <div class="form-group form-default form-static-label" id="field-modal_day">
                            <select name="modal_day" class="form-control" id="modal_day">
                                {% set ListDay = call_helpers('get_ListDay') %}
                                {% for key,value in ListDay %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Hari</label>
                        </div>
                        <!-- END HARI -->

                        <!-- JAM KE -->
                        <div class="form-group form-default form-static-label" id="field-modal_part">
                            <input type="text" name="modal_part" id="modal_part" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Jam ke</label>
                        </div>
                        <!-- END JAM KE -->

                        <!-- MATA PELAJARAN -->
                        <div class="form-group form-default form-static-label" id="field-modal_program_study">
                            <select name="modal_program_study" class="form-control" id="modal_program_study">
                                {% set ListProgramStudy = call_helpers('get_ListProgramStudy', SCHOOLCATEGORY ) %}
                                {% for key,value in ListProgramStudy %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Mata Pelajaran</label>
                        </div>
                        <!-- END MATA PELAJARAN -->

                        <!-- WAKTU MULAI -->
                        <div class="form-group form-default form-static-label" id="field-modal_time_start">
                            <input type="time" name="modal_time_start" id="modal_time_start" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Mulai</label>
                        </div>
                        <!-- END WAKTU MULAI -->

                        <!-- WAKTU BERAKHIR -->
                        <div class="form-group form-default form-static-label" id="field-modal_time_end">
                            <input type="time" name="modal_time_end" id="modal_time_end" class="form-control">
                            <span class="form-bar"></span>
                            <label class="float-label">Berakhir</label>
                        </div>
                        <!-- END WAKTU BERAKHIR -->

                        <!-- CATATAN -->
                        <div class="form-group form-default form-static-label" id="field-modal_note">
                            <textarea name="modal_note" id="modal_note" class="form-control"></textarea>
                            <span class="form-bar"></span>
                            <label class="float-label">Catatan</label>
                        </div>
                        <!-- END CATATAN -->

                        <!-- GURU -->
                        <div class="form-group form-default form-static-label" id="field-modal_teacher">
                            <select name="modal_teacher" class="form-control" id="modal_teacher">
                                {#{% set ListTeacher = call_helpers('get_ListTeacher') %}#}
                                {#{% for key,value in ListTeacher %}#}
                                    {#<option value="{{ key }}">{{ value }}</option>#}
                                {#{% endfor %}#}
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Guru yang Mengisi</label>
                        </div>
                        <!-- END GURU -->

                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light" id="btn-saveProgramStudyAction"><i class="fa fa-save"></i>Simpan</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL PROGRAM STUDY -->

    <!-- DELETE -->
    <div class="modal fade"  id="ConfirmDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id_delete" id="id_delete">
                    <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light " id="btn-deleteProgramStudy">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE -->
{% endblock %}

{% block addjs %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}
    {{ asset('js/select2.js')|script_tag }}

    {{ asset(ThemePlugins ~ 'jquery-slimscroll/js/jquery.slimscroll.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}

    {{ asset(PathJS ~ 'main.js')|script_tag }}

{% endblock %}
