{% extends "admin::layouts." ~ config_get('themes.able_theme') %}

{% block addcss %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form name="form_classroom_agenda" id="form_classroom_agenda" novalidate action="{{ route('classroom_agenda_search') }}" method="post">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="0" />
                        <!-- PARAM -->

                        <!-- SCHOOL CATEGORY -->
                        <div class="form-group row {% if (errors.has('school_category')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kategori Sekolah <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select name="school_category" class="form-control" id="school_category" {% if state == 'edit' %}disabled{% endif %}>
                                    {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                                    {% for  key,value in ListSchoolCategory %}
                                        <option value="{{ key }}" {% if state == 'add' %}{{ old('school_category') == key ? 'selected="selected"' : ''}}{% else %}{{ SCHOOLCATEGORY == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('school_category')) %}<div class="col-form-label">{{ errors.first('school_category') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END SCHOOL CATEGORY -->

                        {% if SCHOOLCATEGORY or old('school_category') %}
                            {% if(old('school_category')) %}
                                {% set SCHOOLCATEGORY = old('school_category') %}
                            {% endif %}
                            {% set ListLevelbySchoolCategory = call_helpers('get_ListLevelbySchoolCategory', SCHOOLCATEGORY) %}
                        {% endif %}

                        {% if LEVEL or old('level')%}
                            {% if(old('level')) %}
                                {% set LEVEL = old('level') %}
                            {% endif %}
                            {% set ListClassInfobyLevel = call_helpers('get_ListClassInfobyLevel', LEVEL) %}
                        {% endif %}

                        <!-- TINGKAT -->
                        <div class="form-group row {% if (errors.has('level')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tingkat <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select class="form-control" id="level" name="level" {% if LEVEL is empty %}disabled{% endif %} {% if state == 'edit' %}disabled{% endif %}>
                                    {% if SCHOOLCATEGORY %}
                                        {% for  key,value in ListLevelbySchoolCategory %}
                                            <option value="{{ key }}" {% if LEVEL %}{{ LEVEL == key ? 'selected="selected"' : ''}}{% else %}{% if old('level') %}{{ old('level') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('level')) %}<div class="col-form-label">{{ errors.first('level') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END TINGKAT -->

                        {% if CLASSINFO or old('class_info')%}
                            {% if(old('class_info')) %}
                                {% set CLASSINFO = old('class_info') %}
                            {% endif %}
                        {% endif %}

                        <!-- KELAS -->
                        <div class="form-group row {% if (errors.has('class_info')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kelas <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select class="form-control" id="class_info" name="class_info"  {% if CLASSINFO is empty %}disabled{% endif %} {% if state == 'edit' %}disabled{% endif %}>
                                    {% if LEVEL %}
                                        {% for  key,value in ListClassInfobyLevel %}
                                            <option value="{{ key }}" {% if CLASSINFO %}{{ CLASSINFO == key ? 'selected="selected"' : ''}}{% else %}{% if old('class_info') %}{{ old('class_info') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Tingkat terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('class_info')) %}<div class="col-form-label">{{ errors.first('class_info') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END KELAS -->

                        <!-- WALI KELAS -->
                        <div class="form-group row {% if (errors.has('homeroom_teacher')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Wali Kelas <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="homeroom_teacher" id="homeroom_teacher" value="{% if old('day') %}{% else %}{{ HomeroomTeacher }}{% endif %}" readonly>
                                <span class="messages"></span>
                                {% if (errors.has('homeroom_teacher')) %}<div class="col-form-label">{{ errors.first('homeroom_teacher') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END KELAS -->

                        <!-- DAY -->
                        <div class="form-group row {% if (errors.has('day')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Hari <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select class="form-control" id="day" name="day">
                                    {% for key,value in call_helpers('get_ListDay') %}
                                        <option value="{{ key }}" {% if DAY %}{{ DAY == key ? 'selected="selected"' : ''}}{% else %}{% if old('day') %}{{ old('day') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('day')) %}<div class="col-form-label">{{ errors.first('day') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END DAY -->

                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-search"></i> Cari Jadwal</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>

                    <div id="table-program-study">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block addmodal %}
    <!-- MODAL AGENDA SET -->
    <div class="modal fade"  id="ModalAgendaSet" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Isi Kelas</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_agenda" class="form-material" id="form_agenda" method="post" action="{{ route('classroom_agenda_set') }}">
                        {{ csrf_field() }}
                        <input type="hidden" id="agenda_id" name="agenda_id" value="0">

                        <!-- USERNAME -->
                        <div class="form-group form-default form-static-label" id="field-username">
                            <input type="text" name="username" id="username" class="form-control" placeholder="Masukan login guru">
                            <span class="form-bar"></span>
                            <label class="float-label">Username</label>
                        </div>
                        <!-- END USERNAME -->

                        <!-- PIN -->
                        <div class="form-group form-default form-static-label" id="field-pin">
                            <input type="password" name="pin" id="pin" class="form-control" placeholder="****">
                            <span class="form-bar"></span>
                            <label class="float-label">PIN</label>
                        </div>
                        <!-- END PIN -->

                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light"><i class="fa fa-save"></i>Isi Kelas</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL AGENDA SET -->

    <!-- MODAL FORM SET -->
    <div class="modal fade" id="ModalSetForm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Form Materi</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_agenda_setform" class="form-material" id="form_agenda_setform" method="post" action="{{ route('classroom_agenda_setform') }}">
                        {{ csrf_field() }}
                        <input type="hidden" id="teacher_id" name="teacher_id" value="0">
                        <input type="hidden" id="agenda_id2" name="agenda_id" value="0">

                        <!-- PROGRAM STUDY -->
                        <div class="form-group form-default form-static-label" id="field-program_study">
                            <input type="text" name="program_study" id="program_study" class="form-control" readonly>
                            <span class="form-bar"></span>
                            <label class="float-label">Mata Pelajaran</label>
                        </div>
                        <!-- END PROGRAM STUDY -->

                        <!-- TEACHER -->
                        <div class="form-group form-default form-static-label" id="field-teacher_program_study">
                            <input type="text" name="teacher_program_study" id="teacher_program_study" class="form-control" readonly>
                            <span class="form-bar"></span>
                            <label class="float-label">Guru</label>
                        </div>
                        <!-- END TEACHER -->

                        <!-- DIISI OLEH -->
                        <div class="form-group form-default form-static-label" id="field-teacher">
                            <input type="text" name="teacher" id="teacher" class="form-control" readonly>
                            <span class="form-bar"></span>
                            <label class="float-label">Kelas diisi oleh</label>
                        </div>
                        <!-- END DIISI OLEH -->

                        <!-- KOMPETENSI INTI -->
                        <div class="form-group form-default form-static-label" id="field-study_competency">
                            <select name="study_competency" id="study_competency" class="form-control">
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Kompetensi Inti</label>
                        </div>
                        <!-- KOMPETENSI INTI -->

                        <!-- KOMPETENSI DASAR -->
                        <div class="form-group form-default form-static-label" id="field-study_competency_detail">
                            <select name="study_competency_detail" id="study_competency_detail" class="form-control">
                            </select>
                            <span class="form-bar"></span>
                            <label class="float-label">Kompetensi Dasar</label>
                        </div>
                        <!-- KOMPETENSI DASAR -->

                        <!-- TANGGAL -->
                        <div class="form-group form-default form-static-label" id="field-teacher">
                            <input type="date" name="date_transaction" id="date_transaction" class="form-control date2" value="{{ "now"|date('Y-m-d') }}">
                            <span class="form-bar"></span>
                            <label class="float-label">Tanggal</label>
                        </div>
                        <!-- END TANGGAL -->


                        <!-- NOTE -->
                        <div class="form-group form-default form-static-label" id="field-note">
                            <textarea id="note" name="note" class="form-control" placeholder="isi Materi Pelajaran yang akan diberikan"></textarea>
                        </div>
                        <!-- END NOTE -->

                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light"><i class="fa fa-save"></i>Simpan Data</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL FORM SET -->
{% endblock %}


{% block addjs %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}
    {{ asset('js/select2.js')|script_tag }}

    {{ asset(ThemePlugins ~ 'jquery-slimscroll/js/jquery.slimscroll.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}

    <!-- CKEDITOR -->
    {#{{ asset(ThemeAsset ~ 'pages/ckeditor/ckeditor.js') | script_tag }}#}
    {#{{ asset('js/ckeditor.js')|script_tag }}#}

    <!-- SWEETALERT -->
    {{ asset(ThemePlugins ~ 'sweetalert/js/sweetalert.min.js') | script_tag }}


    {{ asset(PathJS ~ 'main.js')|script_tag }}

{% endblock %}
