{% extends "admin::layouts." ~ config_get('themes.able_theme') %}

{% block addcss %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}

    <!-- FILE UPLOAD -->
    {{ asset(ThemeAsset ~ 'pages/jquery.filer/css/jquery.filer.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css') | css_tag }}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                        <!-- SCHOOL CATEGORY -->
                        <div class="form-group row {% if (errors.has('school_category')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kategori Sekolah <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select name="school_category" class="form-control" id="school_category" disabled>
                                    {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                                    {% for  key,value in ListSchoolCategory %}
                                        <option value="{{ key }}" {{ SCHOOLCATEGORY == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('school_category')) %}<div class="col-form-label">{{ errors.first('school_category') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END SCHOOL CATEGORY -->

                        {% if SCHOOLCATEGORY  %}
                            {% set ListLevelbySchoolCategory = call_helpers('get_ListLevelbySchoolCategory', SCHOOLCATEGORY) %}
                        {% endif %}

                        {% if LEVEL %}
                            {% set ListClassInfobyLevel = call_helpers('get_ListClassInfobyLevel', LEVEL) %}
                        {% endif %}

                        <!-- TINGKAT -->
                        <div class="form-group row {% if (errors.has('level')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tingkat <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select class="form-control" id="level" name="level"disabled>
                                    {% if SCHOOLCATEGORY %}
                                        {% for  key,value in ListLevelbySchoolCategory %}
                                            <option value="{{ key }}" {{ LEVEL == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('level')) %}<div class="col-form-label">{{ errors.first('level') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END TINGKAT -->


                        <!-- KELAS -->
                        <div class="form-group row {% if (errors.has('class_info')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kelas <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select class="form-control" id="class_info" name="class_info"disabled>
                                    {% if LEVEL %}
                                        {% for  key,value in ListClassInfobyLevel %}
                                            <option value="{{ key }}" {{ CLASSINFO == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Tingkat terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('class_info')) %}<div class="col-form-label">{{ errors.first('class_info') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END KELAS -->

                        <!-- WALI KELAS -->
                        <div class="form-group row {% if (errors.has('homeroom_teacher')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Wali Kelas <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="homeroom_teacher" id="homeroom_teacher" value="{{ HomeroomTeacher }}" readonly>
                                <span class="messages"></span>
                                {% if (errors.has('homeroom_teacher')) %}<div class="col-form-label">{{ errors.first('homeroom_teacher') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END KELAS -->


                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-primary m-b-0" id="showForm" style="display:none;"><i class="ti-angle-down"></i> Buka Data Mengajar</button>
                                <button type="button" class="btn btn-primary m-b-0" id="hideForm" style="display:block;"><i class="ti-angle-up"></i> Tutup Data Mengajar</button>
                            </div>
                        </div>

                        {#<hr>#}
                        <div id="agendaData" style="display: block;">
                            <h4 class="sub-title text-primary">Lengkapi data Belajar</h4>

                            <form id="form_agenda_class" name="form_agenda_class" method="post" action="{{ route('classroom_agenda_setform_update') }}">
                                {{ csrf_field() }}

                                <input type="hidden" name="agenda_id" id="agenda_id" value="{{ ClassroomAgendaHistory.id }}">

                                <!-- PROGRAM STUDY -->
                                <div class="form-group row {% if (errors.has('program_study')) %}has-danger{% endif %}">
                                    <label class="col-sm-2 col-form-label">Mata Pelajaran <label class="text-danger">*</label></label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="program_study" id="program_study" value="{{ ClassroomAgendaHistory.classroom_program_study.program_study.name }}" readonly>
                                        <span class="messages"></span>
                                        {% if (errors.has('program_study')) %}<div class="col-form-label">{{ errors.first('program_study') }}</div>{% endif %}
                                    </div>
                                </div>
                                <!-- END PROGRAM STUDY -->

                                <!-- DIISI OLEH -->
                                <div class="form-group row {% if (errors.has('teacher')) %}has-danger{% endif %}">
                                    <label class="col-sm-2 col-form-label">Diajar oleh <label class="text-danger">*</label></label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="teacher" id="teacher" value="{{ ClassroomAgendaHistory.teacher.fullname }}" readonly>
                                        <span class="messages"></span>
                                        {% if (errors.has('teacher')) %}<div class="col-form-label">{{ errors.first('teacher') }}</div>{% endif %}
                                    </div>
                                </div>
                                <!-- END DIISI OLEH -->

                                <!-- KOMPETENSI DASAR 3 -->
                                <div class="form-group row {% if (errors.has('kd3')) %}has-danger{% endif %}">
                                    <label class="col-sm-2 col-form-label">Kompetensi Dasar 3 <label class="text-danger">*</label></label>
                                    <div class="col-sm-4">
                                        {% set ListCompetencyK3 = call_helpers('getListCompetencyKd', ArrKd3) %}
                                        <select name="kd3" id="kd3" class="form-control select2">
                                            {% for  key,value in ListCompetencyK3 %}
                                                <option value="{{ key }}" {{ ClassroomAgendaHistory.kd3 == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="messages"></span>
                                        {% if (errors.has('kd3')) %}<div class="col-form-label">{{ errors.first('kd3') }}</div>{% endif %}
                                    </div>
                                </div>
                                <!-- END KOMPETENSI DASAR 3 -->

                                <!-- KOMPETENSI DASAR 4 -->
                                <div class="form-group row {% if (errors.has('kd4')) %}has-danger{% endif %}">
                                    <label class="col-sm-2 col-form-label">Kompetensi Dasar 4 <label class="text-danger">*</label></label>
                                    <div class="col-sm-4">
                                        <select name="kd4" id="kd4" class="form-control select2">
                                            {#<option value="0" >-- Pilih Kompetensi Dasar --</option>#}
                                            {% set ListCompetencyK4 = call_helpers('getListCompetencyKd', ArrKd4) %}
                                            {% for  key,value in ListCompetencyK4 %}
                                                <option value="{{ key }}" {{ ClassroomAgendaHistory.kd4 == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                            {% endfor %}
                                        </select>
                                        <span class="messages"></span>
                                        {% if (errors.has('kd4')) %}<div class="col-form-label">{{ errors.first('kd4') }}</div>{% endif %}
                                    </div>
                                </div>
                                <!-- END KOMPETENSI DASAR 4 -->

                                <!-- NOTE -->
                                <div class="form-group row {% if (errors.has('note')) %}has-danger{% endif %}">
                                    <label class="col-sm-2 col-form-label">Materi Mengajar</label>
                                    <div class="col-sm-4">
                                        <textarea class="form-control" id="note" name="note" {% if ClassroomAgendaHistory.is_closed == 'Yes' %}readonly{% endif %}>{{ ClassroomAgendaHistory.note }}</textarea>
                                        <span class="messages"></span>
                                        {% if (errors.has('note')) %}<div class="col-form-label">{{ errors.first('note') }}</div>{% endif %}
                                    </div>
                                </div>
                                <!-- END NOTE -->

                                <!-- GDRIVE -->
                                <div class="form-group row {% if (errors.has('gdrive')) %}has-danger{% endif %}">
                                    <label class="col-sm-2 col-form-label">Link Google Drive</label>
                                    <div class="col-sm-4">
                                        <textarea class="form-control" id="gdrive" name="gdrive" {% if ClassroomAgendaHistory.is_closed == 'Yes' %}readonly{% endif %}>{{ ClassroomAgendaHistory.gdrive }}</textarea>
                                        <span class="messages"></span>
                                        {% if (errors.has('gdrive')) %}<div class="col-form-label">{{ errors.first('gdrive') }}</div>{% endif %}
                                    </div>
                                </div>
                                <!-- END GDRIVE -->

                                <!-- TASK -->
                                <div class="form-group row {% if (errors.has('task_description')) %}has-danger{% endif %}">
                                    <label class="col-sm-2 col-form-label">Tugas & Tanggal pengumpulan</label>
                                    <div class="col-sm-4">
                                        <textarea class="form-control" id="task_description" name="task_description" placeholder="Berikan tugas sekarang..."  cols="5" {% if ClassroomAgendaHistory.is_closed == 'Yes' %}readonly{% endif %}>{{ ClassroomAgendaHistory.task.description }}</textarea>
                                        <span class="messages"></span>
                                        {% if (errors.has('task_description')) %}<div class="col-form-label">{{ errors.first('task_description') }}</div>{% endif %}
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <label class="input-group-text"><i class="fa fa-calendar"></i></label>
                                            </span>
                                            <input type="text" class="form-control datepicker text-right" readonly name="task_date" id="task_date" placeholder="dd-mm-yyyy" value="{% if ClassroomAgendaHistory.task.deadline is not empty %}{{ ClassroomAgendaHistory.task.deadline | date('d-m-Y') }}{% endif %}">
                                        </div>
                                    </div>
                                </div>
                                <!-- END TASK -->

                                <!-- EXAM -->
                                <div class="form-group row {% if (errors.has('exam')) %}has-danger{% endif %}">
                                    <label class="col-sm-2 col-form-label">Ulangan</label>
                                    <div class="col-sm-4">
                                        <textarea class="form-control" id="exam" name="exam" placeholder="Jadwalkan ulangan..."  cols="5" {% if ClassroomAgendaHistory.is_closed == 'Yes' %}readonly{% endif %}>{{ ClassroomAgendaHistory.exam.description }}</textarea>
                                        <span class="messages"></span>
                                        {% if (errors.has('exam')) %}<div class="col-form-label">{{ errors.first('exam') }}</div>{% endif %}
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <label class="input-group-text"><i class="fa fa-calendar"></i></label>
                                            </span>
                                            <input type="text" class="form-control datepicker text-right" readonly name="exam_date" id="exam_date" placeholder="dd-mm-yyyy" value="{% if ClassroomAgendaHistory.exam.date_exam is not empty %}{{ ClassroomAgendaHistory.exam.date_exam | date('d-m-Y') }}{% endif %}">
                                        </div>
                                    </div>
                                </div>
                                <!-- END EXAM -->

                                <!--  UPLOAD -->
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">File Pendukung</label>
                                    <div class="col-sm-4">
                                        <input type="file" name="file_support[]" id="filer_input" multiple="multiple">
                                    </div>
                                    <div class="col-sm-2" id="contentDownloadFile" style="display: {% if ClassroomAgendaHistory.files.count() %}block{% else %}none{% endif %};">
                                        <button class="btn btn-outline-primary" type="button" name="btn-downloadFile" id="btn-downloadFile"><i class="fa fa-download"></i>Download</button>&nbsp;<label id="countFile" class="text-info">{% if ClassroomAgendaHistory.files.count() > 0 %}{{ ClassroomAgendaHistory.files.count() }} File ditemukan{% endif %}</label>
                                    </div>
                                </div>
                                <!-- END UPLOAD -->

                                <!-- CLOSE -->
                                <div class="form-group row {% if (errors.has('close')) %}has-danger{% endif %}">
                                    <label class="col-sm-2 col-form-label">Status</label>
                                    <div class="col-sm-4">
                                        <div class="border-checkbox-section">
                                            <div class="border-checkbox-group border-checkbox-group-danger">
                                                <input type="checkbox" class="border-checkbox" name="is_closed" id="is_closed" value="Yes" {% if ClassroomAgendaHistory.is_closed == 'Yes' %}checked{% endif %}>
                                                <label class="border-checkbox-label" for="is_closed">Tutup Kelas hari ini</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END CLOSE -->


                                {% if ClassroomAgendaHistory.is_closed == 'No' %}
                                    <div class="form-group row">
                                        <label class="col-sm-2"></label>
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-success m-b-0"><i class="fa fa-save"></i> Simpan Data</button>
                                        </div>
                                    </div>
                                {% endif %}
                            </form>


                        </div>


                        <h4 class="sub-title text-primary">Data Siswa yang masuk hari ini</h4>
                        <table class="table table-bordered">
                            <tr>
                                <td>Nama Siswa</td>
                                <td width="20%"></td>
                            </tr>
                            {% if Classroom.student.count() > 0 %}
                                {% for Student in Classroom.student %}
                                    <tr>
                                        <td>
                                            {% if call_helpers_two('checkStudentAbsenceNow',Student.id, ClassroomAgendaHistory.id) > 0 %}
                                                {{ Student.fullname }}
                                            {% else %}
                                                <label class="label label-danger">{{ Student.fullname }}</label>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if call_helpers_two('checkStudentAbsenceNow',Student.id, ClassroomAgendaHistory.id) > 0 %}
                                                {% if call_helpers_two('checkStudentAbsenceStatus',Student.id, ClassroomAgendaHistory.id) > 0 %}
                                                    {% set checked = 'checked' %}
                                                {% else %}
                                                    {% set checked = '' %}
                                                {% endif %}
                                                <div class="border-checkbox-section">
                                                    <div class="border-checkbox-group border-checkbox-group-danger">
                                                        <input class="border-checkbox" type="checkbox" name="student[]" value="{{ Student.id }}" id="student-{{ Student.id }}" onclick="setAbsenceStudent({{ Student.id }}, {{ ClassroomAgendaHistory.id }})" {{ checked }}>
                                                        <label class="border-checkbox-label text-danger" for="student-{{ Student.id }}">Tidak hadir</label>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <label class="label label-danger">Belum Hadir/Tidak Masuk</label>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block addmodal %}

{% endblock %}


{% block addjs %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}
    {{ asset('js/select2.js')|script_tag }}

    <!-- DATE -->
    {{ asset('js/datepicker.js')|script_tag }}

    <!-- CKEDITOR -->
    {#{{ asset(ThemeAsset ~ 'pages/ckeditor/ckeditor.js') | script_tag }}#}


    <!-- FILE UPLOAD -->
    {{ asset(ThemeAsset ~ 'pages/jquery.filer/js/jquery.filer.min.js') | script_tag }}
    {{ asset('js/fileupload.js')|script_tag }}

    <script>
        $('#showForm').click(function () {
            $('#agendaData').show();
            $('#hideForm').show();
            $('#showForm').hide();
        });

        $('#hideForm').click(function () {
            $('#agendaData').hide();
            $('#hideForm').hide();
            $('#showForm').show();
        });

    </script>

    {{ asset(PathJS ~ 'main.js')|script_tag }}
    {#{{ asset(PathJS ~ 'editor.js')|script_tag }}#}

{% endblock %}
