{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <div class="card card-primary text-white">
            <div class="card-header">
                <h4 class="text-white">Keterangan Quis</h4>
            </div>
            <div class="card-block">
                <form class="form-material">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group form-default form-static-label">
                                <input type="text" name="school_year" class="form-control text-white" value="{{ Quis.school_year.name }}" readonly>
                                <span class="form-bar"></span>
                                <label class="float-label text-white">Tahun Ajaran</label>
                            </div>

                            <div class="form-group form-default form-static-label">
                                <input type="text" name="program_study" class="form-control text-white" value="{{ Quis.program_study.name }}" readonly>
                                <span class="form-bar"></span>
                                <label class="float-label text-white">Mata Pelajaran</label>
                            </div>

                            <div class="form-group form-default form-static-label">
                                <input type="text" name="school_info" class="form-control text-white" value="{{ Quis.school_category.name }} - {{ Quis.level.name }}" readonly>
                                <span class="form-bar"></span>
                                <label class="float-label text-white">Informasi Sekolah</label>
                            </div>

                            <div class="form-group form-default form-static-label">
                                <input type="text" name="title" class="form-control text-white" value="{{ Quis.title }}" readonly>
                                <span class="form-bar"></span>
                                <label class="float-label text-white">Judul Quis</label>
                            </div>

                            <div class="form-group form-default form-static-label">
                                <input type="text" name="teacher" class="form-control text-white" value="{{ Quis.teacher.fullname }}" readonly>
                                <span class="form-bar"></span>
                                <label class="float-label text-white">Guru</label>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-default form-static-label">
                                <input type="text" name="quis_date" class="form-control text-white" value="{{ Quis.start_date | date('d F Y H:i:s') }} - {{ Quis.end_date | date('d F Y H:i:s') }}" readonly>
                                <span class="form-bar"></span>
                                <label class="float-label text-white">Tanggal Quis</label>
                            </div>

                            <div class="form-group form-default form-static-label">
                                <input type="text" name="total" class="form-control text-white" value="{{ Quis.total }}" readonly>
                                <span class="form-bar"></span>
                                <label class="float-label text-white">Total Soal</label>
                            </div>

                            {% if state == 'view' %}
                                <div class="form-group form-success form-static-label">
                                    <input type="text" name="answer_true" class="form-control text-white" value="{{ QuisPlay.answer_true }}" readonly>
                                    <span class="form-bar"></span>
                                    <label class="float-label">Jawaban Benar</label>
                                </div>

                                <div class="form-group form-success form-static-label">
                                    <input type="text" name="score" class="form-control text-white" value="{{ QuisPlay.score }}" readonly>
                                    <span class="form-bar"></span>
                                    <label class="float-label">Nilai</label>
                                </div>

                                <div class="form-group form-success form-static-label">
                                    <input type="text" name="answer_true" class="form-control text-white" value="{{ QuisPlay.play_start | date('d F Y H:i:s') }}" readonly>
                                    <span class="form-bar"></span>
                                    <label class="float-label">Mulai Mengerjakan</label>
                                </div>

                            {% endif %}
                        </div>
                    </div>



                </form>
            </div>
        </div>
    </div>
</div>

{% set i = 1 %}
{% for Detail in Quis.detail %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4>Soal {{ i }}</h4>
                    <span>{{ Detail.question | raw}}</span>
                </div>
                <div class="card-block">
                        <form>

                            <div class="form-radio">
                            {% if Detail.d is not empty %}
                            <div class="form-group">
                                <div class="radio radio-outline radio-inline">
                                    <label>
                                        <input type="radio" name="answer-{{ Detail.id }}" id="answer-{{ Detail.id }}-a" value="a" {% if state == 'view' %}disabled{% else %}onclick="saveAnswer({{ Quis.id }},{{ Detail.id }},{{ QuisPlayID }},'a')"{% endif %} {% if call_helpers_three('checkAnswer', QuisPlayID, Detail.id, 'a' ) %}checked{% endif %}>
                                        <i class="helper"></i>{{ Detail.a }}
                                    </label>
                                </div>
                            </div>
                            {% endif %}
                            {% if Detail.d is not empty %}
                            <div class="form-group">
                                <div class="radio radio-outline radio-inline">
                                    <label>
                                        <input type="radio" name="answer-{{ Detail.id }}" id="answer-{{ Detail.id }}-b" value="b" {% if state == 'view' %}disabled{% else %}onclick="saveAnswer({{ Quis.id }},{{ Detail.id }},{{ QuisPlayID }},'b')"{% endif %} {% if call_helpers_three('checkAnswer', QuisPlayID, Detail.id, 'b' ) %}checked{% endif %}>
                                        <i class="helper"></i>{{ Detail.b }}
                                    </label>
                                </div>
                            </div>
                            {% endif %}
                            {% if Detail.d is not empty %}
                            <div class="form-group">
                                <div class="radio radio-outline radio-inline">
                                    <label>
                                        <input type="radio" name="answer-{{ Detail.id }}" id="answer-{{ Detail.id }}-c" value="c" {% if state == 'view' %}disabled{% else %}onclick="saveAnswer({{ Quis.id }},{{ Detail.id }},{{ QuisPlayID }},'c')"{% endif %} {% if call_helpers_three('checkAnswer', QuisPlayID, Detail.id, 'c' ) %}checked{% endif %}>
                                        <i class="helper"></i>{{ Detail.c }}
                                    </label>
                                </div>
                            </div>
                            {% endif %}
                            {% if Detail.d is not empty %}
                            <div class="form-group">
                                <div class="radio radio-outline radio-inline">
                                    <label>
                                        <input type="radio" name="answer-{{ Detail.id }}" id="answer-{{ Detail.id }}-d" value="d" {% if state == 'view' %}disabled{% else %}onclick="saveAnswer({{ Quis.id }},{{ Detail.id }},{{ QuisPlayID }},'d')"{% endif %} {% if call_helpers_three('checkAnswer', QuisPlayID, Detail.id, 'd' ) %}checked{% endif %}>
                                        <i class="helper"></i>{{ Detail.d }}
                                    </label>
                                </div>
                            </div>
                            {% endif %}
                            {% if Detail.e is not empty %}
                            <div class="form-group">
                                <div class="radio radio-outline radio-inline">
                                    <label>
                                        <input type="radio" name="answer-{{ Detail.id }}" id="answer-{{ Detail.id }}-e" value="e" {% if state == 'view' %}disabled{% else %}onclick="saveAnswer({{ Quis.id }},{{ Detail.id }},{{ QuisPlayID }},'e')"{% endif %} {% if call_helpers_three('checkAnswer', QuisPlayID, Detail.id, 'e' ) %}checked{% endif %}>
                                        <i class="helper"></i>{{ Detail.e }}
                                    </label>
                                </div>
                            </div>
                            {% endif %}
                            </div>

                            {% if state == 'view' %}
                                {% set StatusAnswer = call_helpers_two('checkAnswerValue', QuisPlayID, Detail.id ) %}
                                <hr>
                                {% if StatusAnswer.status == 'True' %}
                                    <label class="label label-lg label-success text-white"><i class="fa fa-check-circle-o"></i> Benar</label>
                                {% else %}
                                    <label class="label label-lg label-danger text-white"><i class="fa fa-remove"></i> Salah</label>
                                {% endif %}
                            {% endif %}
                        </form>
                </div>
            </div>
        </div>
    </div>
    {% set i = i + 1 %}
{% endfor %}

{% if state != 'view' %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-block">

                    <form id="form_finish" novalidate action="{{ route('quis_play_finish') }}" method="post" >
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="quis_play_id" value="{{ QuisPlayID }}" />
                        <!-- PARAM -->

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-out waves-effect waves-light btn-success btn-square" id="btn-finishQuis"><i class="icofont icofont-save"></i> Selesai</button>
                            </div>
                        </div>
                        <!-- END ACTION -->
                    </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block addmodal %}
    <!-- CONFIRM -->
    <div class="modal fade"  id="ConfirmSubmit" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Selesai!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="delete_id" id="delete_id">
                    <p>Apakah anda yakin dengan seluruh jawabannya?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Kembali</button>
                    <button type="button" class="btn btn-out waves-effect waves-light btn-success btn-square" id="btn-finishAction"><i class="fa fa-check-circle"></i> Selesai</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONFIRM -->
{% endblock %}

{% block addjs %}


    <script>
        var ROUTE_DATATABLE         = '{{ RouteDatatables }}';
        var TBL_NAME                = '{{ datatables }}';
        var URL_PAGE                = '{{ UrlPage }}';
        var SCHOOL_CATEGORY         = '{{ SCHOOL_CATEGORY }}';
        var LEVEL                   = '{{ LEVEL }}';


        function deleteList(id){
            $('#id').val(id);
            $('#ConfirmDelete').modal('show');
        }

        function ActionDelete(){
            var id = $('#id').val();
            window.location = BASE_URL + "/" + URL_PAGE + "/delete/" + id;
        }

        function inactiveList(id){
            $('#id').val(id);
            $('#ConfirmInactive').modal('show');
        }

        function ActionInactive(){
            var id = $('#id').val();
            window.location = BASE_URL + "/" + URL_PAGE + "/inactive/" + id;
        }

        function activateList(id){
            $('#id').val(id);
            $('#ConfirmActivate').modal('show');
        }

        function ActionActivate(){
            var id = $('#id').val();
            window.location = BASE_URL + "/" + URL_PAGE + "/activate/" + id;
        }
    </script>

    <!-- FUNCTION DATATABLE -->
    {{ asset(PathJS ~ 'datatable.js')|script_tag }}

    {{ asset(PathJS ~ 'main.js')|script_tag }}
    {{ asset('modules/program_study.js')|script_tag }}
    {{ asset('modules/classdetail.js')|script_tag }}

{% endblock %}
