<!-- GOOGLE FONT -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

<!-- prism css -->
{{ asset(ThemeAsset ~ 'css/plugins/prism-coy.css') | css_tag }}
{{ asset(ThemeAsset ~ 'css/style.css') | css_tag }}




{#<!-- Required Fremwork -->#}
{#{{ asset(ThemePlugins ~ 'bootstrap/css/bootstrap.min.css') | css_tag }}#}
{#<!-- waves.css -->#}
{#{{ asset(ThemeAsset ~ 'pages/waves/css/waves.min.css') | css_tag }}#}
{#<!-- feather icon -->#}
{#{{ asset(ThemeAsset ~ 'icon/feather/css/feather.css') | css_tag }}#}
<!-- themify-icons line icon -->
{#{{ asset(ThemeAsset ~ 'icon/themify-icons/themify-icons.css') | css_tag }}#}
<!-- simple line font -->
{#{{ asset(ThemeAsset ~ 'icon/simple-line-icons/css/simple-line-icons.css') | css_tag }}#}
{#<!-- ico font -->#}
{#{{ asset(ThemeAsset ~ 'icon/icofont/css/icofont.css') | css_tag }}#}
{#<!-- Font Awesome -->#}
{#{{ asset(ThemeAsset ~ 'icon/font-awesome/css/font-awesome.min.css') | css_tag }}#}

<!-- PNOTIFY -->
{{ asset(ThemePlugins ~ 'pnotify/css/pnotify.css') | css_tag }}
{{ asset(ThemePlugins ~ 'pnotify/css/pnotify.brighttheme.css') | css_tag }}
{{ asset(ThemePlugins ~ 'pnotify/css/pnotify.mobile.css') | css_tag }}
{{ asset(ThemeAsset ~ 'pages/pnotify/notify.css') | css_tag }}

<!-- SELECT2 -->
{{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}

<!-- DATEPICKER -->
{#{{ asset(ThemeAsset ~ 'css/jquery-ui.css') | css_tag }}#}
{#{{ asset(ThemePlugins ~ 'bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') | css_tag }}#}