<script>
    window.Laravel = {{ {'csrfToken': csrf_token()}|json_encode()|raw }};
    {% if call_helpers('get_UsersInformation','id') is not empty %}
    window.userid = {{ call_helpers('get_UsersInformation','id') }};
    {% endif %}
    window.username = "{{ call_helpers('get_UsersInformation','name') }}";
</script>

<!-- Warning Section Ends -->

{{ asset(ThemeAsset ~ 'js/vendor-all.min.js')|script_tag }}
{{ asset(ThemeAsset ~ 'js/plugins/bootstrap.min.js')|script_tag }}
{{ asset(ThemeAsset ~ 'js/ripple.js')|script_tag }}
{{ asset(ThemeAsset ~ 'js/pcoded.min.js')|script_tag }}
{#{{ asset(ThemeAsset ~ 'js/menu-setting.min.js')|script_tag }}#}


{{ asset(ThemeAsset ~ 'js/plugins/prism.js')|script_tag }}

{{ asset(ThemeAsset ~ 'js/horizontal-menu.js')|script_tag }}

<!-- SELECT2 -->
{{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}

<!-- pnotify -->
{{ asset(ThemePlugins ~ 'pnotify/js/pnotify.js')|script_tag }}
{{ asset(ThemePlugins ~ 'pnotify/js/pnotify.mobile.js')|script_tag }}



<!-- BOOTSTRAP DATEPICKER -->
{{ asset(ThemeAsset ~ 'js/jquery-ui.js') | script_tag }}
{{ asset(ThemePlugins ~ 'bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') | script_tag }}
{{ asset(ThemePlugins ~ 'bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.fr.js') | script_tag }}


{{ asset(ThemeAsset ~ 'pages/malsup.jquery/jquery.form.min.js')|script_tag }}


<script>
    (function() {
        if ($('#layout-sidenav').hasClass('sidenav-horizontal') || window.layoutHelpers.isSmallScreen()) {
            return;
        }
        try {
            window.layoutHelpers._getSetting("Rtl")
            window.layoutHelpers.setCollapsed(
                localStorage.getItem('layoutCollapsed') === 'true',
                false
            );
        } catch (e) {}
    })();
    $(function() {
        $('#layout-sidenav').each(function() {
            new SideNav(this, {
                orientation: $(this).hasClass('sidenav-horizontal') ? 'horizontal' : 'vertical'
            });
        });
        $('body').on('click', '.layout-sidenav-toggle', function(e) {
            e.preventDefault();
            window.layoutHelpers.toggleCollapsed();
            if (!window.layoutHelpers.isSmallScreen()) {
                try {
                    localStorage.setItem('layoutCollapsed', String(window.layoutHelpers.isCollapsed()));
                } catch (e) {}
            }
        });
    });
    $(document).ready(function() {
        $("#pcoded").pcodedmenu({
            themelayout: 'horizontal',
            MenuTrigger: 'hover',
            SubMenuTrigger: 'hover',
        });
    });
</script>


<!-- Required Jquery -->
{#{{ asset(ThemePlugins ~ 'bootstrap/js/bootstrap.min.js')|script_tag }}#}



