<meta charset="utf-8">
<title>{{ config_get('app.name') }} {% block app_title %}{% endblock %}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ Settings.description }}">
<meta name="author" content="">
<meta name="csrf-token" content="{{ csrf_token() }}">


{% block addmeta %}

{% endblock %}
