{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        {% for Day in DayList %}
            {% if call_helpers_two('checkStudentSchedule', Day.id, ClassroomID) > 0 %}
                <div class="col-md-6 col-lg-6">
                    <div class="card">
                        <div class="card-block text-center">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th colspan="4"><strong class="text-primary">{{ Day.name }}</strong></th>
                                    </tr>
                                    <tr>
                                        <th>Jam ke</th>
                                        <th>Waktu</th>
                                        <th>Mata Pelajaran</th>
                                        <th>Pengajar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for programstudy in ClassRoomProgramStudyInfo %}
                                        {% if programstudy.dayname_id == Day.id %}
                                            <tr>
                                                <td> {{ programstudy.part }}</td>
                                                <td>{{ programstudy.time_start }} - {{ programstudy.time_end }}</td>
                                                {% if programstudy.note is not empty %}
                                                    <td align="center" colspan="2">
                                                        {{ programstudy.note }}
                                                    </td>
                                                {% else %}
                                                    <td>{{ programstudy.program_study.name }}</td>
                                                    <td>{{ programstudy.teacher.fullname }}</td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block addmodal %}
    <!-- DELETE -->
    <div class="modal fade"  id="ConfirmDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="id">
                    <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light " onclick="ActionDelete()">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE -->

    <!-- INACTIVE -->
    <div class="modal fade"  id="ConfirmInactive" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning waves-effect waves-light " onclick="ActionInactive()">Inactive</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END INACTIVE -->

    <!-- ACTIVATE -->
    <div class="modal fade"  id="ConfirmActivate" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Activate Confirmation!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success waves-effect waves-light " onclick="ActionActivate()">Activate</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END ACTIVATE -->

{% endblock %}

{% block addjs %}


{% endblock %}
