{% extends "admin::layouts." ~ config_get('themes.able_theme') %}

{% block addcss %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}

    <!-- TAGS INPUT -->
    {{ asset(ThemePlugins ~ 'bootstrap-tagsinput/css/bootstrap-tagsinput.css') | css_tag }}

    {{ asset(ThemeAsset ~ 'pages/jquery.filer/css/jquery.filer.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/jquery.filer/css/themes/jquery.filer-dragdropbox-theme.css') | css_tag }}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post" enctype="multipart/form-data">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->

                        <!-- TITLE -->
                        <div class="form-group row {% if (errors.has('title')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Judul <label class="text-danger">*</label></label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('title')) %}form-control-danger{% endif %}" name="title" id="title" placeholder="Masukan Judul Materi" value="{% if state == 'add' %}{{ old('title') }}{% else %}{{ Data.title }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('title')) %}<div class="col-form-label">{{ errors.first('title') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END TITLE -->

                        <!-- SUBTITLE -->
                        <div class="form-group row {% if (errors.has('subtitle')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Sub-Judul</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('subtitle')) %}form-control-danger{% endif %}" name="subtitle" id="subtitle" placeholder="Masukan Sub Judul Materi" value="{% if state == 'add' %}{{ old('subtitle') }}{% else %}{{ Data.subtitle }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('subtitle')) %}<div class="col-form-label">{{ errors.first('subtitle') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END SUBTITLE -->

                        <!-- TAG -->
                        <div class="form-group row {% if (errors.has('tag')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tag</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control {% if (errors.has('tag')) %}form-control-danger{% endif %}" name="tag" id="tag" data-role="tagsinput" placeholder="Masukan Tags" value="{% if state == 'add' %}{{ old('tag') }}{% else %}{{ Data.tag }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('tag')) %}<div class="col-form-label">{{ errors.first('subtitle') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END TAG -->

                        <!-- DESCRIPTION -->
                        <div class="form-group row {% if (errors.has('description')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Deskripsi</label>
                            <div class="col-sm-6">
                                <textarea class="form-control {% if (errors.has('description')) %}form-control-danger{% endif %}" name="description" id="description">{% if state == 'add' %}{{ old('description') }}{% else %}{{ Data.description }}{% endif %}</textarea>
                                <span class="messages"></span>
                                {% if (errors.has('description')) %}<div class="col-form-label">{{ errors.first('description') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END DESCRIPTION -->

                        <!-- EMBED VIDEO -->
                        <div class="form-group row {% if (errors.has('embed_video')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Embed Video</label>
                            <div class="col-sm-6">
                                <textarea class="form-control {% if (errors.has('embed_video')) %}form-control-danger{% endif %}" name="embed_video" id="embed_video">{% if state == 'add' %}{{ old('embed_video') }}{% else %}{{ Data.embed_video }}{% endif %}</textarea>
                                <span class="messages"></span>
                                {% if (errors.has('embed_video')) %}<div class="col-form-label">{{ errors.first('embed_video') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END EMBED VIDEO -->

                        <h4 class="title text-primary">Filter Pencarian</h4>
                        <h4 class="sub-title">Silakan pilih kriteria untuk filter pencarian materi</h4>

                        <!-- SCHOOL CATEGORY -->
                        <div class="form-group row {% if (errors.has('school_category')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kategori Sekolah</label>
                            <div class="col-sm-6">
                                <select class="form-control select2 {% if (errors.has('school_category')) %}form-control-danger{% endif %}" id="school_category" name="school_category">
                                    {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                                    {% for  key,value in ListSchoolCategory %}
                                        <option value="{{ key }}" {% if Data.school_category_id %}{{ Data.school_category_id == key ? 'selected="selected"' : ''}}{% else %}{% if old('school_category') %}{{ old('school_category') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('school_category')) %}<div class="col-form-label">{{ errors.first('school_category') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END SCHOOL CATEGORY -->

                        <!-- LEVEL -->
                        <div class="form-group row {% if (errors.has('level')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tingkat</label>
                            <div class="col-sm-6">
                                <select class="form-control select2 {% if (errors.has('level')) %}form-control-danger{% endif %}" id="level" name="level" {% if Data.school_category_id is empty %}disabled{% endif %}>
                                    {% if Data.school_category_id is not empty %}
                                        {% set ListLevelbySchoolCategory = call_helpers('get_ListLevelbySchoolCategory', Data.school_category_id) %}
                                        {% for  key,value in ListLevelbySchoolCategory %}
                                            <option value="{{ key }}" {% if Data.level_id %}{{ Data.level_id == key ? 'selected="selected"' : ''}}{% else %}{% if old('level') %}{{ old('level') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('tingkat')) %}<div class="col-form-label">{{ errors.first('tingkat') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END LEVEL -->

                        <!-- PROGRAM STUDY -->
                        <div class="form-group row {% if (errors.has('program_study')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Mata Pelajaran</label>
                            <div class="col-sm-6">
                                <select name="program_study" class="form-control select2" id="program_study">
                                    {% set ListProgramStudyByTeacher = call_helpers('get_ListProgramStudyByTeacher',User.employee.id) %}
                                    {% for  key,value in ListProgramStudyByTeacher %}
                                        <option value="{{ key }}" {% if state == 'add' %}{{ old('program_study') == key ? 'selected="selected"' : ''}}{% else %}{{ Data.program_study_id == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('program_study')) %}<div class="col-form-label">{{ errors.first('program_study') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PROGRAM STUDY -->

                        <hr>

                        <!-- ELEARNING CATEGORY -->
                        <div class="form-group row {% if (errors.has('elearning_category')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kategori Materi</label>
                            <div class="col-sm-6">
                                <select name="elearning_category" class="form-control select2 {% if (errors.has('elearning_category')) %}form-control-danger{% endif %}" id="elearning_category">
                                    {% set ListElearningCategory = call_helpers('get_ListElearningCategory') %}
                                    {% for  key,value in ListElearningCategory %}
                                        <option value="{{ key }}" {% if state == 'add' %}{{ old('elearning_category') == key ? 'selected="selected"' : ''}}{% else %}{{ Data.elearning_category_id == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('elearning_category')) %}<div class="col-form-label">{{ errors.first('elearning_category') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END ELEARNING CATEGORY -->

                        {% if SCHOOLCATEGORY or old('school_category') %}
                            {% if(old('school_category')) %}
                                {% set SCHOOLCATEGORY = old('school_category') %}
                            {% endif %}
                            {% set ListLevelbySchoolCategory = call_helpers('get_ListLevelbySchoolCategory', SCHOOLCATEGORY) %}
                        {% endif %}



                        <!-- ELEARNING SUBCATEGORY -->
                        <div class="form-group row {% if (errors.has('elearning_subcategory')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Sub-Kategori Materi</label>
                            <div class="col-sm-6">
                                <select name="elearning_subcategory" class="form-control select2" id="elearning_subcategory">
                                    {% if Data.elearning_category_id or old('elearning_category') %}
                                        {% if Data.elearning_category_id %}
                                            {% set list_param = Data.elearning_category_id %}
                                            {% set elearning_subcategory = Data.elearning_subcategory_id %}
                                        {% else %}
                                            {% set list_param = old('elearning_category') %}
                                            {% set elearning_subcategory = old('elearning_subcategory') %}
                                        {% endif %}
                                        {% set ListElearningSubcategoryByElearningCategory = call_helpers('get_ListElearningSubcategoryByElearningCategory', list_param) %}
                                        {% for  key,value in ListElearningSubcategoryByElearningCategory %}
                                            <option value="{{ key }}" {% if elearning_subcategory %}{{ elearning_subcategory == key ? 'selected="selected"' : ''}}{% else %}{% if old('elearning_subcategory') %}{{ old('elearning_subcategory') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('elearning_subcategory')) %}<div class="col-form-label">{{ errors.first('elearning_subcategory') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END ELEARNING SUBCATEGORY -->

                        <hr>

                        <!-- FILE PENDUKUNG -->
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">File Pendukung</label>
                            <div class="col-sm-6">
                                <input type="file" name="file_support[]" id="filer_input" multiple="multiple">
                            </div>
                        </div>
                        <!-- END FILE PENDUKUNG -->


                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <a href="{{ route(RouteStore) }}" class="btn btn-inverse btn-square"><i class="ti-back-left"></i> Back</a>
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if state == 'edit' %}
        {% if Data.file_support.count > 0 %}
            <div class="row">
                <div class="col-sm-12">
                    <div id="load-filesupport">
                        <!-- LAMPIRAN -->
                        <div class="card">
                            <div class="card-header">
                                <h5>File Support</h5>
                            </div>
                            <div class="card-block">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th width="80%">Nama File</th>
                                        <th width="20%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for file in Data.file_support %}
                                    <tr>
                                        <td>{{ file.name }}</td>
                                        <td><button class="btn btn-outline-danger" type="button" onclick="deleteFileSupport({{ file.id }})"><i class="fa fa-trash"></i> Hapus</button>
                                            <button class="btn btn-outline-info" type="button" onclick="downloadFileSupport({{ file.id }})"><i class="fa fa-download"></i> Download</button></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- LAMPIRAN -->
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block addmodal %}
    <!-- DELETE FILE -->
    <div class="modal fade"  id="ModalDeleteFileConfirm" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi hapus File!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="file_id" id="file_id">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btn-deleteFileSupport">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE FILE -->
{% endblock %}

{% block addjs %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}
    {{ asset('js/select2.js')|script_tag }}

    {{ asset(ThemePlugins ~ 'bootstrap-tagsinput/js/bootstrap-tagsinput.js') | script_tag }}

    {{ asset(ThemePlugins ~ 'jquery-slimscroll/js/jquery.slimscroll.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}

    <!-- CKEDITOR -->
    {{ asset(ThemeAsset ~ 'pages/ckeditor/ckeditor.js') | script_tag }}

    {{ asset(ThemeAsset ~ 'pages/jquery.filer/js/jquery.filer.min.js') | script_tag }}
    {#{{ asset(ThemeAsset ~ 'pages/filer/custom-filer.js') | script_tag }}#}
    {#{{ asset(ThemeAsset ~ 'pages/filer/jquery.fileuploads.init.js') | script_tag }}#}
    {{ asset('js/fileupload.js')|script_tag }}


    {{ asset(PathJS ~ 'editor.js')|script_tag }}
    {{ asset(PathJS ~ 'main.js')|script_tag }}

{% endblock %}
