<div class="card">
    <div class="card-header">
        <h5>File Support</h5>
    </div>
    <div class="card-block">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th width="80%">Nama File</th>
                <th width="20%"></th>
            </tr>
            </thead>
            <tbody>
            {% for file in Data.file_support %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td><button class="btn btn-outline-danger" type="button" onclick="deleteFileSupport({{ file.id }})"><i class="fa fa-trash"></i> Hapus</button>
                        <button class="btn btn-outline-info" type="button" onclick="downloadFileSupport({{ file.id }})"><i class="fa fa-download"></i> Download</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
