{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- SELECT2 -->
    {#{{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}#}

{% endblock %}


{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->

                        <!-- NAME -->
                        <div class="form-group row {% if (errors.has('name')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Name <label class="text-danger">*</label></label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('name')) %}form-control-danger{% endif %}" name="name" id="name" placeholder="Please input Name..." value="{% if state == 'add' %}{{ old('name') }}{% else %}{{ Data.name }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('name')) %}<div class="col-form-label">{{ errors.first('name') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END NAME -->

                        <!-- URL -->
                        <div class="form-group row {% if (errors.has('url')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Url</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('url')) %}form-control-danger{% endif %}" name="url" id="url" placeholder="Please input Url..." value="{% if state == 'add' %}{{ old('url') }}{% else %}{{ Data.url }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('url')) %}<div class="col-form-label">{{ errors.first('url') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END URL -->


                        <!-- PERMISSION -->
                        <div class="form-group row {% if (errors.has('permission')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Permission</label>
                            <div class="col-sm-10">
                                <select name="permission" class="form-control select2" id="permission">
                                    {% set ListPermission = call_helpers('get_ListPermission') %}
                                    {% for key,value in ListPermission %}
                                        <option value="{{ key != '0' ? key : '' }}" {{ Data.permission == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('permission')) %}<div class="col-form-label">{{ errors.first('permission') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PERMISSION -->

                        <!-- ICON -->
                        <div class="form-group row {% if (errors.has('icon')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Icon</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('icon')) %}form-control-danger{% endif %}" name="icon" id="icon" placeholder="Please input Icon..." value="{% if state == 'add' %}{{ old('icon') }}{% else %}{{ Data.icon }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('icon')) %}<div class="col-form-label">{{ errors.first('icon') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END ICON -->

                        <!-- HEAD MENU -->
                        <div id="head_select"></div>
                        <!-- END HEAD MENU -->

                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <a href="{{ route(RouteStore) }}" class="btn btn-inverse btn-square"><i class="ti-back-left"></i> Back</a>
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div style="display: none;">
        <div id="hidden_head_menu">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Head Menu</label>
                <div class="col-sm-10">
                    <select name="head_menu[]" class="form-control head_menu_select"></select>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block addjs %}
    <!-- SELECT2 -->
    {#{{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}#}
    {{ asset('js/select2.js')|script_tag }}

    {{ asset(PathJS ~ 'form.js')|script_tag }}
{% endblock %}
