{% extends "admin::layouts."~config_get('themes.metronic_theme') %}

{% block addcss %}
{% endblock %}


{% block subheader %}
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    {{ MenuActive }}
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="{{ url('/home') }}" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="javascript:void(0)" class="m-nav__link">
                            <span class="m-nav__link-text">
                                {{ MenuActive }}
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                Menu Order
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
{% endblock %}

{% block body %}

    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <form id="menu_form" method="post" role="form" action="{{ route('menu_order_save') }}">
                    {{ csrf_field() }}
                    <div class="form-body">
                        <div class="form-group">
                            <div id="jstree_demo_div">
                                <ul>
                                    <li class="jstree-open" data-jstree='{"opened":true, "disabled":true}'>Dashboard</li>
                                        {% for data in menus %}
                                        <li class="jstree-open" data-jstree='{"opened":true}'>
                                            {{ data.name }}<input type="hidden" name="menu[]" value="{{ data.id }}">
                                            <ul>
                                                {% for child in data.get_child %}
                                                    <li class="jstree-open">{{ child.name }}<input type="hidden" name="menu[{{ data.id }}][]" value="{{ child.id }}"></li>
                                                    {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="m-portlet__foot">
                <div class="row align-items-center">
                    <div class="col-lg-6 m--valign-middle"></div>
                    <div class="col-lg-6 m--align-right">
                        <button type="submit" class="btn btn-brand">Submit</button>
                        <span class="m--margin-left-10"><a href="{{ route('menu') }}" class="m-link m--font-bold">Cancel</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block addjs %}
    {{ asset('modules/menu/menu_order.js')|script_tag }}
{% endblock %}
