{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- DATATABLE -->
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/css/dataTables.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/css/buttons.dataTables.min.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/extensions/responsive/css/responsive.dataTables.css') | css_tag }}
    <!-- END DATATABLE -->

    <!-- Date-range picker css  -->
    {{ asset(ThemeAsset ~ 'pages/advance-elements/css/bootstrap-datetimepicker.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'bootstrap-daterangepicker/css/daterangepicker.css') | css_tag }}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    {% if errors.has('student') %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="icofont icofont-close-line-circled"></i>
            </button>
            <strong>Error!</strong> {{ errors.first('student') }}
        </div>
    {% endif %}
    <div class="card">
        <div class="card-header">
            <h5>{{ PageTitle }}</h5>
            <span>{{ PageDescription }}</span>
        </div>
        <div class="card-block">
            <form class="form-material" method="post" id="form-absence" name="form-absence" action="{{ route('absence_search') }}">
                {{ csrf_field() }}

                {% if call_helpers('bool_CheckAccessUser','student-showall') %}
                    <!-- SCHOOL CATEGORY -->
                    <div class="form-group row {% if (errors.has('school_category')) %}has-danger{% endif %}">
                        <label class="col-sm-2 col-form-label">Kategori Sekolah</label>
                        <div class="col-sm-10">
                            <select class="form-control {% if (errors.has('school_category')) %}form-control-danger{% endif %}" id="school_category" name="school_category">
                                {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                                {% for  key,value in ListSchoolCategory %}
                                    <option value="{{ key }}" {% if SCHOOL_CATEGORY %}{{ SCHOOL_CATEGORY == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                            <span class="messages"></span>
                            {% if (errors.has('school_category')) %}<div class="col-form-label">{{ errors.first('school_category') }}</div>{% endif %}
                        </div>
                    </div>
                    <!-- END SCHOOL CATEGORY -->

                    <!-- LEVEL -->
                    <div class="form-group row {% if (errors.has('level')) %}has-danger{% endif %}">
                        <label class="col-sm-2 col-form-label">Tingkat</label>
                        <div class="col-sm-10">
                            <select class="form-control {% if (errors.has('level')) %}form-control-danger{% endif %}" id="level" name="level" {% if SCHOOL_CATEGORY is empty %}disabled{% endif %}>
                                {% if SCHOOL_CATEGORY is not empty %}
                                    {% set ListLevelbySchoolCategory = call_helpers('get_ListLevelbySchoolCategory', SCHOOL_CATEGORY) %}
                                    {% for  key,value in ListLevelbySchoolCategory %}
                                        <option value="{{ key }}" {% if LEVEL %}{{ LEVEL == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                                {% endif %}
                            </select>
                            <span class="messages"></span>
                            {% if (errors.has('tingkat')) %}<div class="col-form-label">{{ errors.first('tingkat') }}</div>{% endif %}
                        </div>
                    </div>
                    <!-- END LEVEL -->

                    <!-- CLASS INFO -->
                    <div class="form-group row {% if (errors.has('class_info')) %}has-danger{% endif %}">
                        <label class="col-sm-2 col-form-label">Kelas</label>
                        <div class="col-sm-10">
                            <select class="form-control {% if (errors.has('class_info')) %}form-control-danger{% endif %}" id="class_info" name="class_info" {% if LEVEL is empty %}disabled{% endif %}>
                                {% if LEVEL is not empty %}
                                    {% set ListClassInfobyLevel = call_helpers('get_ListClassInfobyLevel', LEVEL) %}
                                    {% for  key,value in ListClassInfobyLevel %}
                                        <option value="{{ key }}" {% if CLASS_INFO %}{{ CLASS_INFO == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="0">-- Pilih Tingkat terlebih dahulu --</option>
                                {% endif %}
                            </select>
                            <span class="messages"></span>
                            {% if (errors.has('class_info')) %}<div class="col-form-label">{{ errors.first('class_info') }}</div>{% endif %}
                        </div>
                    </div>
                    <!-- END CLASS INFO -->

                    <!-- STUDENT -->
                    <div class="form-group row {% if (errors.has('student')) %}has-danger{% endif %}">
                        <label class="col-sm-2 col-form-label">Siswa</label>
                        <div class="col-sm-10">
                            <select class="form-control select2 {% if (errors.has('student')) %}form-control-danger{% endif %}" id="student" name="student" {% if CLASS_INFO is empty %}disabled{% endif %}>
                                {% if CLASS_INFO is not empty %}
                                    {% set ListStudentByClass = call_helpers('get_ListStudentByClass', CLASS_INFO) %}
                                    {% for  key,value in ListStudentByClass %}
                                        <option value="{{ key }}" {% if STUDENT %}{{ STUDENT == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="0">-- Pilih Kelas terlebih dahulu --</option>
                                {% endif %}
                            </select>
                            <span class="messages"></span>
                            {% if (errors.has('class_info')) %}<div class="col-form-label">{{ errors.first('class_info') }}</div>{% endif %}
                        </div>
                    </div>
                    <!-- END STUDENT -->

                {% else %}
                    <input type="hidden" name="student" value="{{ User.student.id }}">
                {% endif %}
                <!-- TANGGAL START & END -->
                <div class="form-group row {% if (errors.has('start')) %}has-danger{% elseif (errors.has('end')) %}has-danger{% endif %}">
                    <label class="col-sm-2 col-form-label">Tgl. Mulai</label>
                    <div class="col-sm-2">
                        <input type="text" name="start" id="start" class="form-control datepicker" value="{% if Datas.start %}{{ Datas.start|date('d-m-Y') }}{% else %}{{ DateDefault }}{% endif %}">
                        <span class="messages"></span>
                        {% if (errors.has('start')) %}<div class="col-form-label">{{ errors.first('start') }}</div>{% endif %}
                    </div>
                    <label class="col-sm-2 col-form-label text-center">s/d</label>
                    <div class="col-sm-2">
                        <input type="text" name="end" id="end" class="form-control datepicker" value="{% if Datas.end %}{{ Datas.end|date('d-m-Y') }}{% else %}{{ DateDefault }}{% endif %}">
                        <span class="messages"></span>
                        {% if (errors.has('end')) %}<div class="col-form-label">{{ errors.first('end') }}</div>{% endif %}
                    </div>
                </div>
                <!-- END TANGGAL START & END -->

                <div class="form-group row {% if (errors.has('school_category')) %}has-danger{% endif %}">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <div class="border-checkbox-section">
                            <div class="border-checkbox-group border-checkbox-group-primary">
                                <input type="checkbox" class="border-checkbox" name="late" id="late" value="1">
                                <label class="border-checkbox-label" for="late">Terlambat</label>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>

                <!-- ACTION -->
                <div class="form-group row">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-4">
                        {% if state == 'search' %}
                            <button type="submit" class="btn btn-primary" name="action" value="search"><i class="icofont icofont-document-search"></i> Cari Data</button>
                            {% if call_helpers('bool_CheckAccessUser','student-showall') %}
                                <button type="submit" class="btn btn-warning" name="action" value="rekap"><i class="icofont icofont-data"></i> Rekap Absensi</button>
                            {% endif %}
                            <button type="submit" class="btn btn-success" name="action" value="excel"><i class="fa fa-file-excel-o"></i> Export Excel</button>
                        {% else %}
                            <button type="submit" class="btn btn-block btn-primary" name="action" value="search"><i class="icofont icofont-document-search"></i> Cari Data</button>
                        {% endif %}
                    </div>
                </div>
                <!-- END ACTION -->

            </form>

            {#<form class="form-material" method="post" id="form-absence" name="form-absence" action="{{ route(RouteSave) }}">#}
                {#{{ csrf_field() }}#}
                {#<div class="row">#}

                    {#{% if call_helpers('bool_CheckAccessUser','student-showall') %}#}
                        {#<div class="col-lg-4">#}
                            {#<div class="form-group form-default form-static-label">#}
                                {#<select class="form-control" id="student" name="student">#}
                                    {#{% if Datas.user_id  %}#}
                                        {#<option value="{{ Datas.user_id }}">{{ call_helpers('get_UserInformationByID',Datas.user_id).name }}</option>#}
                                    {#{% else %}#}
                                    {#<option value="0">-- Pilih Murid --</option>#}
                                    {#{% endif %}#}
                                {#</select>#}
                                {#<span class="form-bar"></span>#}
                                {#<label class="float-label">Murid</label>#}
                            {#</div>#}
                    {#</div>#}
                    {#{% else %}#}
                        {#<input type="hidden" name="student" value="{{ User.id }}">#}
                    {#{% endif %}#}

                    {#<div class="col-lg-2">#}
                        {#<div class="form-group form-default form-static-label">#}
                            {#<input type="date" name="start" id="start" class="form-control" value="{% if Datas.start %}{{ Datas.start|date('Y-m-d') }}{% else %}{{ DateDefault }}{% endif %}">#}
                            {#<span class="form-bar"></span>#}
                            {#<label class="float-label">Mulai</label>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-lg-2">#}
                        {#<div class="form-group form-default form-static-label">#}
                            {#<input type="date" name="end" id="end" class="form-control" value="{% if Datas.end %}{{ Datas.end|date('Y-m-d') }}{% else %}{{ DateDefault }}{% endif %}">#}
                            {#<span class="form-bar"></span>#}
                            {#<label class="float-label">Berakhir</label>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-lg-2">#}
                        {#<div class="form-group form-default form-static-label">#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-lg-2">#}
                            {#<button type="submit" class="btn btn-block btn-primary" ><i class="icofont icofont-document-search"></i> Cari Data</button>#}
                    {#</div>#}
                {#</div>#}
            {#</form>#}
            <hr>
            <div class="row">
                <div class="col-lg-12">
                    <table id="{{ datatables }}" class="table display">
                        <thead>
                        <tr>
                            {% for Row in RowDT %}
                                <th>{{ Row }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block addmodal %}
{% endblock %}

{% block addjs %}

    <!-- DATATABLES -->
    {{ asset(ThemePlugins ~ 'datatables.net/js/jquery.dataTables.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/js/dataTables.bootstrap4.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive/js/dataTables.responsive.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') | script_tag }}
    <!-- Date-range picker js -->

    {{ asset(ThemeAsset ~ 'pages/advance-elements/moment-with-locales.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'bootstrap-datepicker/js/bootstrap-datepicker.min.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/advance-elements/bootstrap-datetimepicker.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'bootstrap-daterangepicker/js/daterangepicker.js') | script_tag }}


    <script>
        var ROUTE_DATATABLE     = '{{ RouteDatatables }}';
        var TBL_NAME            = '{{ datatables }}';
        var URL_PAGE            = '{{ UrlPage }}';
        var USER_ID             = '{{ Datas.user_id }}';
        var START               = '{{ Datas.start }}';
        var END                 = '{{ Datas.end }}';
        var LATE                = '{{ LATE }}';

        function deleteList(id){
            $('#id').val(id);
            $('#ConfirmDelete').modal('show');
        }


    </script>
    {{ asset('js/select2.js')|script_tag }}
    {#{{ asset('js/date.js')|script_tag }}#}

    <!-- DATE -->
    {{ asset('js/datepicker.js')|script_tag }}


    <!-- FUNCTION DATATABLE -->
    {{ asset(PathJS ~ 'data/datatable.js')|script_tag }}
    {{ asset(PathJS ~ 'main.js')|script_tag }}

    {{ asset('modules/classdetail.js')|script_tag }}

{% endblock %}

