{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- lightbox Fremwork -->
    {{ asset(ThemePlugins ~ 'lightbox2/css/lightbox.min.css') | css_tag }}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->

                        <!-- TAHUN AJARAN -->
                        <div class="form-group row {% if (errors.has('school_year')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tahun Ajaran <label class="text-danger">*</label></label>
                            <div class="col-sm-6">
                                <select class="form-control" id="school_year" name="school_year" {% if state == 'edit' %}disabled{% endif %}>
                                    {% set ListSchoolYear = call_helpers('get_ListSchoolYear') %}
                                    {% for  key,value in ListSchoolYear %}
                                        <option value="{{ key }}" {% if Data.school_year_id %}{{ Data.school_year_id == key ? 'selected="selected"' : ''}}{% else %}{% if old('school_year') %}{{ old('school_year') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                {% if (errors.has('school_year')) %}<div class="col-form-label">{{ errors.first('school_year') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END TAHUN AJARAN -->

                        <!-- KATEGORI SEKOLAH -->
                        <div class="form-group row {% if (errors.has('school_category')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kategori Sekolah <label class="text-danger">*</label></label>
                            <div class="col-sm-6">
                                <select class="form-control" id="school_category" name="school_category" {% if state == 'edit' %}disabled{% endif %}>
                                    {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                                    {% for  key,value in ListSchoolCategory %}
                                        <option value="{{ key }}" {% if SCHOOLCATEGORY %}{{ SCHOOLCATEGORY == key ? 'selected="selected"' : ''}}{% else %}{% if old('school_category') %}{{ old('school_category') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                {% if (errors.has('school_category')) %}<div class="col-form-label">{{ errors.first('school_category') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END KATEGORI SEKOLAH -->
                        {% if SCHOOLCATEGORY or old('school_category') %}
                            {% if(old('school_category')) %}
                                {% set SCHOOLCATEGORY = old('school_category') %}
                            {% endif %}
                            {% set ListLevelbySchoolCategory = call_helpers('get_ListLevelbySchoolCategory', SCHOOLCATEGORY) %}
                        {% endif %}

                        <!-- TINGKAT -->
                        <div class="form-group row {% if (errors.has('level')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tingkat <label class="text-danger">*</label></label>
                            <div class="col-sm-6">
                                <select class="form-control" id="level" name="level" {% if LEVEL is empty %}disabled{% endif %} {% if state == 'edit' %}disabled{% endif %}>
                                    {% if SCHOOLCATEGORY %}
                                        {% for  key,value in ListLevelbySchoolCategory %}
                                            <option value="{{ key }}" {% if LEVEL %}{{ LEVEL == key ? 'selected="selected"' : ''}}{% else %}{% if old('level') %}{{ old('level') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                {% if (errors.has('level')) %}<div class="col-form-label">{{ errors.first('level') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END TINGKAT -->

                        <!-- MATA PELAJARAN -->
                        {#<div class="form-group row {% if (errors.has('program_study')) %}has-danger{% endif %}">#}
                            {#<label class="col-sm-2 col-form-label">Mata Pelajaran <label class="text-danger">*</label></label>#}
                            {#<div class="col-sm-6">#}
                                {#<select class="form-control" id="program_study" name="program_study" {% if state == 'edit' %}disabled{% endif %}>#}
                                    {#{% for  key,value in call_helpers('get_ListProgramStudy') %}#}
                                        {#<option value="{{ key }}" {% if Data.program_study_id %}{{ Data.program_study_id == key ? 'selected="selected"' : ''}}{% else %}{% if old('program_study') %}{{ old('program_study') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>#}
                                    {#{% endfor %}#}
                                {#</select>#}
                                {#{% if (errors.has('program_study')) %}<div class="col-form-label">{{ errors.first('program_study') }}</div>{% endif %}#}
                            {#</div>#}
                        {#</div>#}
                        <!-- END MATA PELAJARAN -->

                        <!-- KOMPETENSI INTI (PENGETAHUAN) -->
                        <div class="form-group row {% if (errors.has('main_competency_3')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kompetensi Inti (Pengetahuan)</label>
                            <div class="col-sm-6">
                                <textarea id="main_competency_3" name="main_competency_3" placeholder="Silakan isi Kompetensi Dasar (Pengetahuan)" class="form-control" rows="5">{% if Data.main_competency_3 %}{{ Data.main_competency_3 }}{% else %}{{ old('main_competency_3')}}{% endif %}</textarea>
                                {% if (errors.has('main_competency_3')) %}<div class="col-form-label">{{ errors.first('main_competency_3') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END KOMPETENSI INTI (PENGETAHUAN) -->

                        <!-- KOMPETENSI INTI (KETERAMPILAN) -->
                        <div class="form-group row {% if (errors.has('main_competency_4')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kompetensi Inti (Keterampilan)</label>
                            <div class="col-sm-6">
                                <textarea id="main_competency_4" name="main_competency_4" placeholder="Silakan isi Kompetensi Dasar (Keterampilan)" class="form-control" rows="5">{% if Data.main_competency_4 %}{{ Data.main_competency_4 }}{% else %}{{ old('main_competency_4')}}{% endif %}</textarea>
                                {% if (errors.has('main_competency_4')) %}<div class="col-form-label">{{ errors.first('main_competency_3') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END KOMPETENSI INTI (KETERAMPILAN) -->



                        <hr>
                        <h4 class="title text-info">Detail</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td width="45%">Kompetensi Dasar 3</td>
                                    <td width="45%">Kompetensi Dasar 4</td>
                                    {#<td width="20%">Materi Pokok</td>#}
                                    {#<td width="20%">Pembelajaran</td>#}
                                    {#<td width="10%">Penilaian</td>#}
                                    {#<td width="10%">Alokasi Waktu</td>#}
                                    {#<td width="15%">Sumber Belajar</td>#}
                                    <td width="10%"><button class="btn btn-block btn-info" type="button" id="btn-addDetail"><i class="fa fa-plus"></i></button></td>
                                </tr>
                                </thead>
                                <tbody id="div-detail">
                                {% if Data.detail %}
                                    {% for detail in Data.detail %}
                                        <tr id="row-detail-{{ detail.id }}">
                                            <td><textarea class="form-control" id="modal_detail_kd3{{ detail.id }}" name="modal_detail_kd3[]">{{ detail.kd3 }}</textarea></td>
                                            <td><textarea class="form-control" id="modal_detail_kd4l{{ detail.id }}" name="modal_detail_kd4[]">{{ detail.kd4 }}</textarea></td>
                                            {#<td><textarea class="form-control" id="modal_detail_competency{{ detail.id }}" name="modal_detail_competency[]">{{ detail.competency }}</textarea></td>#}
                                            {#<td><textarea class="form-control" id="modal_detail_material{{ detail.id }}" name="modal_detail_material[]">{{ detail.material }}</textarea></td>#}
                                            {#<td><textarea class="form-control" id="modal_detail_learning{{ detail.id }}" name="modal_detail_learning[]">{{ detail.learning }}</textarea></td>#}
                                            {#<td><textarea class="form-control" id="modal_detail_assessment{{ detail.id }}" name="modal_detail_assessment[]">{{ detail.assessment }}</textarea></td>#}
                                            {#<td><textarea class="form-control" id="modal_detail_time_allocation{{ detail.id }}" name="modal_detail_time_allocation[]">{{ detail.time_allocation }}</textarea></td>#}
                                            {#<td><textarea class="form-control" id="modal_detail_learning_resources{{ detail.id }}" name="modal_detail_learning_resources[]">{{ detail.learning_resources }}</textarea></td>#}
                                            <td><input type="hidden" class="form-control" name="modal_detail_id[]" id="modal_detail_id{{ detail.id }}" value="{{ detail.id }}"><button type="button" class="btn btn-outline-danger"  onclick="deleteDetail({{ detail.id }})"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>


                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <a href="{{ route(RouteStore) }}" class="btn btn-inverse btn-square"><i class="ti-back-left"></i> Back</a>
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block addmodal %}
    <!-- MODAL DETAIL -->
    <div class="modal fade"  id="ModalDetail" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_detail" class="form-material" id="form_detail" method="post" action="{{ route('studycompetency_detail_save') }}">
                        {{ csrf_field() }}
                        <input type="hidden" id="statusform" name="statusform" value="add">

                        <!-- KOMPETENSI DASAR 3 -->
                        <div class="form-group form-default form-static-label" id="field-competency">
                            <textarea id="kd3" name="kd3" placeholder="Silakan isi Kompetensi Dasar 3.." class="form-control" rows="5"></textarea>
                            <span class="form-bar"></span>
                            <label class="float-label">Kompetensi Dasar 3</label>
                        </div>
                        <!-- END KOMPETENSI DASAR 3 -->

                        <!-- KOMPETENSI DASAR 4 -->
                        <div class="form-group form-default form-static-label" id="field-competency">
                            <textarea id="kd4" name="kd4" placeholder="Silakan isi Kompetensi Dasar 4.." class="form-control" rows="5"></textarea>
                            <span class="form-bar"></span>
                            <label class="float-label">Kompetensi Dasar 4</label>
                        </div>
                        <!-- END KOMPETENSI DASAR 4 -->


                        {#<!-- KOMPETENSI -->#}
                        {#<div class="form-group form-default form-static-label" id="field-competency">#}
                            {#<textarea id="competency" name="competency" placeholder="Silakan isi Kompetensi.." class="form-control" rows="5"></textarea>#}
                            {#<span class="form-bar"></span>#}
                            {#<label class="float-label">Kompetensi</label>#}
                        {#</div>#}
                        {#<!-- END KOMPETENSI -->#}

                        {#<!-- MATERI POKOK -->#}
                        {#<div class="form-group form-default form-static-label" id="field-material">#}
                            {#<textarea id="material" name="material" placeholder="Silakan isi Materi Pokok.." class="form-control" rows="5"></textarea>#}
                            {#<span class="form-bar"></span>#}
                            {#<label class="float-label">Materi Pokok</label>#}
                        {#</div>#}
                        {#<!-- END MATERI POKOK -->#}

                        {#<!-- PEMBELAJARAN -->#}
                        {#<div class="form-group form-default form-static-label" id="field-learning">#}
                            {#<textarea id="learning" name="learning" placeholder="Silakan isi Pembelajaran.." class="form-control" rows="5"></textarea>#}
                            {#<span class="form-bar"></span>#}
                            {#<label class="float-label">Pembelajaran</label>#}
                        {#</div>#}
                        {#<!-- END PEMBELAJARAN -->#}

                        {#<!-- PENILAIAN -->#}
                        {#<div class="form-group form-default form-static-label" id="field-assessment">#}
                            {#<textarea id="assessment" name="assessment" placeholder="Silakan isi Penilaian.." class="form-control" rows="5"></textarea>#}
                            {#<span class="form-bar"></span>#}
                            {#<label class="float-label">Penilaian</label>#}
                        {#</div>#}
                        {#<!-- END PENILAIAN -->#}

                        {#<!-- ALOKASI WAKTU -->#}
                        {#<div class="form-group form-default form-static-label" id="field-time_allocation">#}
                            {#<textarea id="time_allocation" name="time_allocation" placeholder="Silakan isi Alokasi Waktu.." class="form-control" rows="5"></textarea>#}
                            {#<span class="form-bar"></span>#}
                            {#<label class="float-label">Alokasi Waktu</label>#}
                        {#</div>#}
                        {#<!-- END ALOKASI WAKTU -->#}

                        {#<!-- SUMBER BELAJAR -->#}
                        {#<div class="form-group form-default form-static-label" id="field-learning_resources">#}
                            {#<textarea id="learning_resources" name="learning_resources" placeholder="Silakan isi Sumber Belajar.." class="form-control" rows="5"></textarea>#}
                            {#<span class="form-bar"></span>#}
                            {#<label class="float-label">Sumber Belajar</label>#}
                        {#</div>#}
                        {#<!-- END SUMBER BELAJAR -->#}

                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light" id="btn-saveDetailAction"><i class="fa fa-save"></i>Simpan</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL DETAIL -->

    <!-- DELETE DETAIL -->
    <div class="modal fade"  id="ConfirmDeleteDetail" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" name="detail_id" id="detail_id">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btn-deleteDetail">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE DETAIL -->

{% endblock %}

{% block addjs %}
    <!-- INPUT MASK -->
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'lightbox2/js/lightbox.min.js') | script_tag }}

    <!-- INPUT MASK -->
    {{ asset(ThemeAsset ~ 'pages/form-masking/inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/jquery.inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/autoNumeric.js') | script_tag }}
    {{ asset('js/masking.js') | script_tag }}

    <script>
        var URLPAGE                 = '{{ UrlPage }}';
        console.log(URLPAGE);
    </script>

    {{ asset(PathJS ~ 'main.js')|script_tag }}
{% endblock %}
