{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- DATATABLE -->
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/css/dataTables.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/css/buttons.dataTables.min.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/extensions/responsive/css/responsive.dataTables.css') | css_tag }}
    <!-- END DATATABLE -->

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h5>{{ PageTitle }}</h5>
            <span>{{ PageDescription }}</span>
            <div class="card-header-right">
                <a class="btn waves-effect waves-light btn-primary" href="{{ route(RouteAdd) }}"><i class="ti ti-plus text-white"></i>New</a>
            </div>
        </div>
        <div class="card-block">
            <table id="{{ datatables }}" class="table display">
                <thead>
                <tr>
                    {% for Row in RowDT %}
                        <th>{{ Row }}</th>
                    {% endfor %}
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block addmodal %}
    <!-- DELETE -->
    <div class="modal fade"  id="ConfirmDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="id">
                    <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light " onclick="ActionDelete()">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE -->

    <!-- INACTIVE -->
    <div class="modal fade"  id="ConfirmInactive" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning waves-effect waves-light " onclick="ActionInactive()">Inactive</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END INACTIVE -->

    <!-- ACTIVATE -->
    <div class="modal fade"  id="ConfirmActivate" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Activate Confirmation!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success waves-effect waves-light " onclick="ActionActivate()">Activate</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END ACTIVATE -->

{% endblock %}

{% block addjs %}

    <!-- DATATABLES -->
    {{ asset(ThemePlugins ~ 'datatables.net/js/jquery.dataTables.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/js/dataTables.bootstrap4.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive/js/dataTables.responsive.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') | script_tag }}


    <script>
        var ROUTE_DATATABLE     = '{{ RouteDatatables }}';
        var TBL_NAME            = '{{ datatables }}';
        var URL_PAGE            = '{{ UrlPage }}';

        function deleteList(id){
            $('#id').val(id);
            $('#ConfirmDelete').modal('show');
        }

        function ActionDelete(){
            var id = $('#id').val();
            window.location = BASE_URL + "/" + URL_PAGE + "/delete/" + id;
        }

        function inactiveList(id){
            $('#id').val(id);
            $('#ConfirmInactive').modal('show');
        }

        function ActionInactive(){
            var id = $('#id').val();
            window.location = BASE_URL + "/" + URL_PAGE + "/inactive/" + id;
        }

        function activateList(id){
            $('#id').val(id);
            $('#ConfirmActivate').modal('show');
        }

        function ActionActivate(){
            var id = $('#id').val();
            window.location = BASE_URL + "/" + URL_PAGE + "/activate/" + id;
        }
    </script>

    <!-- FUNCTION DATATABLE -->
    {{ asset(PathJS ~ 'datatable.js')|script_tag }}
{% endblock %}
