{% extends "admin::layouts." ~ config_get('themes.able_theme') %}

{% block addcss %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->

                        <!-- NAME -->
                        <div class="form-group row {% if (errors.has('name')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Name <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control {% if (errors.has('name')) %}form-control-danger{% endif %}" name="name" id="name" placeholder="Contoh : Tahun Ajaran 2018/2019" value="{% if state == 'add' %}{{ old('name') }}{% else %}{{ Data.name }}{% endif %}" {% if state == 'edit' %}readonly{% endif %}>
                                <span class="messages"></span>
                                {% if (errors.has('name')) %}<div class="col-form-label">{{ errors.first('name') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END NAME -->

                        <!-- START MONTH -->
                        <div class="form-group row {% if (errors.has('start_month')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tanggal Mulai</label>
                            <div class="col-lg-4">
                                <div class="form-group form-default form-static-label">
                                    <input type="date" name="start_month" id="start_month" class="form-control {% if (errors.has('start_month')) %}form-control-danger{% endif %}" value="{% if old('start_month') %}{{ old('start_month')|date('Y-m-d') }}{% else %}{{ Data.start_month|date('Y-m-d') }}{% endif %}">
                                    <span class="form-bar"></span>
                                </div>
                                <span class="messages"></span>
                                {% if (errors.has('start_month')) %}<div class="col-form-label">{{ errors.first('start_month') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END START MONTH -->

                        <!-- END MONTH -->
                        <div class="form-group row {% if (errors.has('end_month')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tanggal Berakhir</label>
                            <div class="col-lg-4">
                                <div class="form-group form-default form-static-label">
                                    <input type="date" name="end_month" id="end_month" class="form-control {% if (errors.has('end_month')) %}form-control-danger{% endif %}" value="{% if old('end_month') %}{{ old('end_month')|date('Y-m-d') }}{% else %}{{ Data.end_month|date('Y-m-d') }}{% endif %}">
                                    <span class="form-bar"></span>
                                </div>
                                <span class="messages"></span>
                                {% if (errors.has('end_month')) %}<div class="col-form-label">{{ errors.first('end_month') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END END MONTH -->

                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <a href="{{ route(RouteStore) }}" class="btn btn-inverse btn-square"><i class="ti-back-left"></i> Back</a>
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block addjs %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}
    {{ asset('js/select2.js')|script_tag }}

    {{ asset(ThemePlugins ~ 'jquery-slimscroll/js/jquery.slimscroll.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}
{% endblock %}
