{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>{{ PageTitle }}</h5>
                <span>{{ PageDescription }}</span>
            </div>
            <div class="card-block">
                <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post">
                    {{ csrf_field() }}

                    <!-- PARAM -->
                    <input type="hidden" id="id" name="id" value="{{ id }}" />
                    <!-- PARAM -->

                    <!-- NAME -->
                    <div class="form-group row {% if (errors.has('name')) %}has-danger{% endif %}">
                        <label class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control {% if (errors.has('name')) %}form-control-danger{% endif %}" name="name" id="name" placeholder="Please input Name..." value="{% if state == 'add' %}{{ old('name') }}{% else %}{{ Data.name }}{% endif %}">
                            <span class="messages"></span>
                            {% if (errors.has('name')) %}<div class="col-form-label">{{ errors.first('name') }}</div>{% endif %}
                        </div>
                    </div>
                    <!-- END NAME -->

                    <!-- DISPLAY NAME -->
                    <div class="form-group row {% if (errors.has('display_name')) %}has-danger{% endif %}">
                        <label class="col-sm-2 col-form-label">Display Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control {% if (errors.has('description')) %}form-control-danger{% endif %}" name="display_name" id="display_name" placeholder="Please input Display Name..." value="{% if state == 'add' %}{{ old('display_name') }}{% else %}{{ Data.display_name }}{% endif %}">
                            <span class="messages"></span>
                            {% if (errors.has('display_name')) %}<div class="col-form-label">{{ errors.first('display_name') }}</div>{% endif %}
                        </div>
                    </div>
                    <!-- END DISPLAY NAME -->

                    <!-- DESCRIPTION -->
                    <div class="form-group row {% if (errors.has('description')) %}has-danger{% endif %}">
                        <label class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea  class="form-control {% if (errors.has('description')) %}form-control-danger{% endif %}" name="description" id="description" placeholder="Please input Display Name...">{% if state == 'add' %}{{ old('description') }}{% else %}{{ Data.description }}{% endif %}</textarea>
                            <span class="messages"></span>
                            {% if (errors.has('description')) %}<div class="col-form-label">{{ errors.first('description') }}</div>{% endif %}
                        </div>
                    </div>
                    <!-- END DESCRIPTION -->

                    <hr>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>No.
                                </th>
                                <th>Menu</th>
                                <th colspan="3">Access</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set Permissions = call_helpers('get_ListPermissionbyParentID',0) %}
                            {% for permission in Permissions %}
                                <tr>
                                    <td>{{ permission.id}}</td>
                                    <td>{{ permission.display_name}}</td>
                                    <td colspan="3">
                                        {% set checklist = false %}
                                        {% for value in listPermissions %}
                                            {% if value.permission_id == permission.id %}
                                                {% set checklist = true %}
                                            {% endif %}
                                        {% endfor %}
                                        <div class="border-checkbox-section">
                                            <div class="border-checkbox-group border-checkbox-group-primary">
                                                <input class="border-checkbox" type="checkbox" id="access{{ permission.id }}" name="access{{ permission.id }}" value="{{ permission.id }}" {% if checklist == true %} checked="checked" {% endif %}>
                                                <label class="border-checkbox-label" for="access{{ permission.id }}"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% set PermissionParents = call_helpers('get_ListPermissionbyParentID',permission.id) %}
                                {% if PermissionParents %}
                                    {% for PermissionParent in PermissionParents %}
                                        <tr>
                                            <td>{{ PermissionParent.id}}</td>
                                            <td><i class="fa fa-chevron-right"></i>&nbsp;{{ PermissionParent.display_name}}</td>
                                            <td><small><strong><i>Parent</i></strong></small></td>
                                            <td>
                                                {% set checklist = false %}
                                                {% for value in listPermissions %}
                                                    {% if value.permission_id == PermissionParent.id %}
                                                        {% set checklist = true %}
                                                    {% endif %}
                                                {% endfor %}
                                                <div class="border-checkbox-section">
                                                    <div class="border-checkbox-group border-checkbox-group-primary">
                                                        <input class="border-checkbox" type="checkbox" id="access{{ PermissionParent.id }}" name="access{{ PermissionParent.id }}" value="{{ PermissionParent.id }}" {% if checklist == true %} checked="checked" {% endif %}>
                                                        <label class="border-checkbox-label" for="access{{ PermissionParent.id }}"></label>
                                                    </div>
                                                </div>
                                            </td>
                                            <td></td>
                                        </tr>

                                        {% set PermissionSubParents = call_helpers('get_ListPermissionbyParentID',PermissionParent.id) %}
                                        {% if PermissionSubParents %}
                                            {% for PermissionSubParent in PermissionSubParents %}
                                                <tr>
                                                    <td>{{ PermissionSubParent.id}}</td>
                                                    <td><i class="fa fa-chevron-right"></i>&nbsp;{{ PermissionSubParent.display_name}}</td>
                                                    <td></td>
                                                    <td><small><strong><i>Sub</i></strong></small></td>
                                                    <td>
                                                        {% set checklist = false %}
                                                        {% for value in listPermissions %}
                                                            {% if value.permission_id == PermissionSubParent.id %}
                                                                {% set checklist = true %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        <div class="border-checkbox-section">
                                                            <div class="border-checkbox-group border-checkbox-group-primary">
                                                                <input class="border-checkbox" type="checkbox" id="access{{ PermissionSubParent.id }}" name="access{{ PermissionSubParent.id }}" value="{{ PermissionSubParent.id }}" {% if checklist == true %} checked="checked" {% endif %}>
                                                                <label class="border-checkbox-label" for="access{{ PermissionSubParent.id }}"></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}

                                    {% endfor %}
                                {% endif %}

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <hr>

                    <!-- ACTION -->
                    <div class="form-group row">
                        <label class="col-sm-2"></label>
                        <div class="col-sm-10">
                            <a href="{{ route(RouteStore) }}" class="btn btn-inverse btn-square"><i class="ti-back-left"></i> Back</a>
                            <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                        </div>
                    </div>
                    <!-- END ACTION -->

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block addjs %}

{% endblock %}
