{% extends "admin::layouts."~config_get('themes.metronic_theme') %}

{% block addcss %}
    <!-- DROPDOWN -->
    {{ asset('plugins/select2/css/select2.min.css')| css_tag }}
    {{ asset('plugins/select2/css/select2-bootstrap.min.css')| css_tag }}

    <!-- FILEINPUT -->
    {{ asset('plugins/dropify/dist/css/dropify.min.css') | css_tag }}

{% endblock %}

{% block pageheader %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">{{ MenuActive }}</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{{ url('/home') }}">Home</a></li>
                <li class="active">{{ MenuActive }}</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}


{% block body %}
    <div class="m-content">
        <div class="row">
            <div class="col-lg-12">
                <!--begin::Portlet-->
                <div class="m-portlet">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                                <h3 class="m-portlet__head-text">
                                    {{ MenuDescription }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <!--begin::Form-->
                    <form class="m-form m-form--fit m-form--label-align-right" id="user_add" action="{% if state == "add" %}{{ route('user_post') }}{% else %}{{ route('user_update') }}{% endif %}" method="post">
                        {{ csrf_field() }}

                        <div class="m-portlet__body">
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                </label>
                                <div class="col-lg-4 col-md-9 col-sm-12">
                                    <input class="form-control m-input" type="text" value="Saya disini sebagai {{ User.user_level.level.name }}" id="username" name="username" disabled>
                                </div>
                            </div>
                            {% for Level in ArrayLevel %}
                                {% if Level.level_id != 1 %}
                                    <div class="form-group m-form__group row">
                                        <label class="col-form-label col-lg-3 col-sm-12">
                                            {{ Level.level_name }}
                                        </label>
                                        <div class="col-lg-4 col-md-9 col-sm-12">
                                            <input class="form-control m-input" type="text" value="{{ Level.user_name }}" id="username" name="username" disabled>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions m-form__actions">
                                    <div class="row">
                                        <div class="col-lg-9 ml-lg-auto">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Portlet-->
            </div>
        </div>
    </div>

{% endblock %}

{% block addmodal %}
{% endblock %}

{% block addjs %}
    {{ asset('js/select2.js') | script_tag }}
    {{ asset('modules/user/bank/main.js') | script_tag }}

{% endblock %}
