{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    {% if Setting.logo %}
        {% set getPathLogo = call_helpers('getPathLogo') %}
        {% set Logo = call_helpers_two('get_GenerateLinkImageUrl', getPathLogo, Setting.logo) %}
    {% endif %}

    {% if Setting.icon %}
        {% set getPathIcon = call_helpers('getPathIcon') %}
        {% set Icon = call_helpers_two('get_GenerateLinkImageUrl', getPathIcon, Setting.icon) %}
    {% endif %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->

                        <!-- NAME -->
                        <div class="form-group row {% if (errors.has('project_name')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Project Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control {% if (errors.has('project_name')) %}form-control-danger{% endif %}" name="project_name" id="project_name" placeholder="Please input Project Name..." value="{% if state == 'add' %}{{ old('project_name') }}{% else %}{{ Data.project_name }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('project_name')) %}<div class="col-form-label">{{ errors.first('project_name') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END NAME -->

                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block addmodal %}
{% endblock %}


{% block addjs %}
    {#{{ asset('modules/setting/validation.js') | script_tag }}#}
{% endblock %}
