{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- lightbox Fremwork -->
    {{ asset(ThemePlugins ~ 'lightbox2/css/lightbox.min.css') | css_tag }}


    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}


{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post" enctype="multipart/form-data">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->

                        {% if old('school_category') %}
                            {% set ListLevelbySchoolCategory    = call_helpers('get_ListLevelbySchoolCategory',old('school_category') )  %}
                            {% set ListProgramStudy             = call_helpers('get_ListProgramStudy',old('school_category') )  %}
                        {% elseif Data.school_category_id is not empty %}
                            {% set ListLevelbySchoolCategory    = call_helpers('get_ListLevelbySchoolCategory', Data.school_category_id )  %}
                            {% set ListProgramStudy             = call_helpers('get_ListProgramStudy', Data.school_category_id )  %}
                        {% endif %}


                        <!-- SCHOOL CATEGORY -->
                        <div class="form-group row {% if (errors.has('school_category')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kategori Sekolah <label class="text-danger">*</label></label>
                            <div class="col-sm-5">
                                <select class="form-control {% if (errors.has('school_category')) %}form-control-danger{% endif %}" id="school_category" name="school_category">
                                    {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                                    {% for  key,value in ListSchoolCategory %}
                                        <option value="{{ key }}" {% if Data.school_category_id %}{{ Data.school_category_id == key ? 'selected="selected"' : ''}}{% else %}{% if old('school_category') %}{{ old('school_category') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('school_category')) %}<div class="col-form-label">{{ errors.first('school_category') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END SCHOOL CATEGORY -->

                        <!-- LEVEL -->
                        <div class="form-group row {% if (errors.has('level')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tingkat <label class="text-danger">*</label></label>
                            <div class="col-sm-5">
                                <select class="form-control {% if (errors.has('level')) %}form-control-danger{% endif %}" id="level" name="level" {% if ListLevelbySchoolCategory is empty %}disabled{% endif %}>
                                    {% if ListLevelbySchoolCategory is not empty %}
                                        {% for  key,value in ListLevelbySchoolCategory %}
                                            <option value="{{ key }}" {% if Data.level_id %}{{ Data.level_id == key ? 'selected="selected"' : ''}}{% else %}{% if old('level') %}{{ old('level') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('tingkat')) %}<div class="col-form-label">{{ errors.first('tingkat') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END LEVEL -->

                        <!-- CLASS INFO -->
                        <div class="form-group row {% if (errors.has('class_info')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Kelas</label>
                            <div class="col-sm-5">
                                <select class="form-control select-multiple {% if (errors.has('class_info')) %}form-control-danger{% endif %}" id="class_info" name="class_info[]" {% if Data.level_id is empty %}disabled{% endif %} multiple>
                                    {% if Data.level_id is not empty %}
                                        {% set ListClassInfobyLevel = call_helpers('get_ListClassInfobyLevel', Data.level_id) %}
                                        {% set valueClass = 0 %}
                                        {% for  key,value in ListClassInfobyLevel %}
                                            {% if key > 0 %}
                                                    {% for Class in Data.class_info %}
                                                        {% if (Class.class_info_id == key) %}
                                                            <option value="{{ key }}" {{ Class.class_info_id == key ? 'selected="selected"' : ''}}>{{ value }}</option>
                                                            {% set valueClass = Class.class_info_id %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if (valueClass != key) %}
                                                        <option value="{{ key }}">{{ value }}</option>
                                                    {% endif %}
                                                    {#<option value="{{ key }}" {{ valueClass == key ? 'selected="selected"' : ''}}>{{ value }}</option>#}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Tingkat terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('class_info')) %}<div class="col-form-label">{{ errors.first('class_info') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END CLASS INFO -->


                        <!-- PROGRAM STUDY -->
                        <div class="form-group row {% if (errors.has('program_study')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Mata Pelajaran <label class="text-danger">*</label></label>
                            <div class="col-sm-5">
                                <select class="form-control {% if (errors.has('program_study')) %}form-control-danger{% endif %} select2" id="program_study" name="program_study"  {% if ListProgramStudy is empty %}disabled{% endif %}>
                                    {% if ListProgramStudy is not empty %}
                                        {% for  key,value in ListProgramStudy %}
                                            <option value="{{ key }}" {% if Data.program_study_id %}{{ Data.program_study_id == key ? 'selected="selected"' : ''}}{% else %}{% if old('program_study') %}{{ old('program_study') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <option value="0">-- Pilih Kategori Sekolah terlebih dahulu --</option>
                                    {% endif %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('program_study')) %}<div class="col-form-label">{{ errors.first('program_study') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END PROGRAM STUDY -->

                        <!-- TITLE -->
                        <div class="form-group row {% if (errors.has('title')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Judul Quis <label class="text-danger">*</label></label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control {% if (errors.has('title')) %}form-control-danger{% endif %}" name="title" id="title" placeholder="Masukan Judul..." value="{% if state == 'add' %}{{ old('title') }}{% else %}{{ Data.title }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('title')) %}<div class="col-form-label">{{ errors.first('title') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END TITLE -->


                        <div class="form-group row {% if (errors.has('date')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tanggal <label class="text-danger">*</label></label>
                            <div class="col-sm-5">
                                <div class="form-group form-default form-static-label">
                                    <input type="date" name="date" id="date" class="form-control" value="{% if state == 'add' %}{% if old('date') %}{{ old('date') | date('Y-m-d') }}{% endif %}{% else %}{{ Data.start_date | date('Y-m-d') }}{% endif %}">
                                    <span class="form-bar"></span>
                                    <span class="messages">Format : dd/mm/yyyy</span>
                                    {% if (errors.has('date')) %}<div class="col-form-label">{{ errors.first('date') }}</div>{% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row {% if (errors.has('time_start')) %}has-danger{% elseif (errors.has('time_end')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Waktu <label class="text-danger">*</label></label>
                            <div class="col-sm-2">
                                <div class="form-group form-default form-static-label">
                                    <input type="time" name="time_start" id="time_start" class="form-control" value="{% if state == 'add' %}{% if old('time_start') %}{{ old('time_start') | date('H:i') }}{% endif %}{% else %}{{ Data.start_date | date('H:i') }}{% endif %}">
                                    <span class="form-bar"></span>
                                    <span class="messages">Format : HH:ii</span>
                                </div>
                                {% if (errors.has('time_start')) %}<div class="col-form-label">{{ errors.first('time_start') }}</div>{% endif %}
                            </div>
                            <label class="col-sm-1 col-form-label text-center">s/d</label>
                            <div class="col-sm-2">
                                <div class="form-group form-default form-static-label">
                                    <input type="time" name="time_end" id="time_end" class="form-control" value="{% if state == 'add' %}{% if old('time_end') %}{{ old('time_end') | date('H:i') }}{% endif %}{% else %}{{ Data.end_date | date('H:i') }}{% endif %}">
                                    <span class="form-bar"></span>
                                    <span class="messages">Format : HH:ii</span>
                                </div>
                                {% if (errors.has('time_end')) %}<div class="col-form-label">{{ errors.first('time_end') }}</div>{% endif %}
                            </div>
                        </div>
                        
                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <a href="{{ route(RouteStore) }}" class="btn btn-inverse btn-square"><i class="ti-back-left"></i> Back</a>
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                                {% if state == 'edit' %}
                                <a href="javascript:void(0)" onclick="deleteList({{ Data.id }})" class="btn btn-danger m-b-0" title="Delete">
                                    <i class="fa fa-remove"></i> Hapus
                                </a>
                                    <a href="{{ route('quis_manage_report', Data.id) }}" class="btn btn-out-dashed waves-effect waves-light btn-success btn-square"><i class="fa fa-wpforms"></i> Laporan</a>
                                {% endif %}
                            </div>
                        </div>
                        <!-- END ACTION -->

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Pertanyaan</th>
                                    <th>Jawab A</th>
                                    <th>Jawab B</th>
                                    <th>Jawab C</th>
                                    <th>Jawab D</th>
                                    <th>Jawab E</th>
                                    <th width="10%">Kunci Jawaban</th>
                                    <th width="10%"><button type="button" class="btn btn-out waves-effect waves-light btn-primary btn-square btn-block" id="btn-addDetailQuestion"><i class="fa fa-plus-square"></i></button></th>
                                </tr>
                                </thead>
                                <tbody id="div-detail">
                                {% for Detail in Data.detail %}
                                    <tr id="row-detail-{{ Detail.id }}">
                                        <td>{{ Detail.question |raw }}</td>
                                        <td>{{ Detail.a }}</td>
                                        <td>{{ Detail.b }}</td>
                                        <td>{{ Detail.c }}</td>
                                        <td>{{ Detail.d }}</td>
                                        <td>{{ Detail.e }}</td>
                                        <td class="text-center">{{ Detail.key_answer }}</td>
                                        <td width="10%">
                                            <button type="button" class="btn btn-out waves-effect waves-light btn-info btn-square" onclick="editDetail({{ Detail.id }})"><i class="fa fa-edit"></i></button>
                                            <button type="button" class="btn btn-out waves-effect waves-light btn-danger btn-square" onclick="confirmDelete({{ Detail.id }})"><i class="fa fa-trash-o"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block addmodal %}
    <!-- MODAL DETAIL -->
    <div class="modal fade"  id="ModalDetail" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_detail" id="form_detail" method="post" action="{{ route('quis_manage_save_detail') }}" enctype="multipart/form-data">
                        {{ csrf_field() }}

                        <!-- PARAM DETAIL -->
                        <input type="hidden" id="statusform" name="statusform" value="add">
                        <input type="hidden" id="quis_id" name="quis_id" value="{{ id }}">
                        <input type="hidden" id="quis_detail_id" name="quis_detail_id" value="0">
                        <!-- END PARAM DETAIL -->

                        <!-- QUESTION -->
                        <div class="form-group" id="field-modal_question">
                            <label class="col-sm-4 col-form-label">Pertanyaan <label class="text-danger">*</label></label>
                            <div class="col-sm-12">
                                <textarea name="modal_question" id="modal_question" class="form-control"></textarea>
                            </div>
                        </div>
                        <!-- END QUESTION -->

                        <!-- CHOOSE A -->
                        <div class="form-group" id="field-modal_answer_a">
                            <label class="col-sm-2 col-form-label">Pilihan A <label class="text-danger">*</label></label>
                            <div class="col-sm-12">
                                <textarea name="modal_answer_a" id="modal_answer_a" class="form-control"></textarea>
                            </div>
                        </div>
                        <!-- END CHOOSE A -->

                        <!-- CHOOSE B -->
                        <div class="form-group" id="field-modal_answer_b">
                            <label class="col-sm-4 col-form-label">Pilihan B <label class="text-danger">*</label></label>
                            <div class="col-sm-12">
                                <textarea name="modal_answer_b" id="modal_answer_b" class="form-control"></textarea>
                            </div>
                        </div>
                        <!-- END CHOOSE B -->

                        <!-- CHOOSE C -->
                        <div class="form-group" id="field-modal_answer_c">
                            <label class="col-sm-2 col-form-label">Pilihan C <label class="text-danger">*</label></label>
                            <div class="col-sm-12">
                                <textarea name="modal_answer_c" id="modal_answer_c" class="form-control"></textarea>
                            </div>
                        </div>
                        <!-- END CHOOSE C -->

                        <!-- CHOOSE D -->
                        <div class="form-group" id="field-modal_answer_d">
                            <label class="col-sm-2 col-form-label">Pilihan D <label class="text-danger">*</label></label>
                            <div class="col-sm-12">
                                <textarea name="modal_answer_d" id="modal_answer_d" class="form-control"></textarea>
                            </div>
                        </div>
                        <!-- END CHOOSE D -->

                        <!-- CHOOSE E -->
                        <div class="form-group " id="field-modal_answer_e">
                            <label class="col-sm-2 col-form-label">Pilihan E <label class="text-danger">*</label></label>
                            <div class="col-sm-12">
                                <textarea name="modal_answer_e" id="modal_answer_e" class="form-control"></textarea>
                            </div>
                        </div>
                        <!-- END CHOOSE E -->

                        <!-- KEY ANSWER -->
                        <div class="form-group" id="field-modal_key_answer">
                            <label class="col-sm-4 col-form-label">Kunci Jawaban <label class="text-danger">*</label></label>
                            <div class="col-sm-12">
                                <select class="form-control" id="modal_key_answer" name="modal_key_answer">
                                    {% set ListChooseAnswer    = call_helpers('getListChooseAnswer')  %}
                                    {% for  key,value in ListChooseAnswer %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- END KEY ANSWER -->

                        <hr>

                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light" id="btn-saveDetailAction"><i class="fa fa-save"></i>Simpan</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL DETAIL -->

    <!-- DELETE -->
    <div class="modal fade"  id="ConfirmDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="delete_id" id="delete_id">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light " id="btn-deleteAction">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE -->


    <!-- DELETE QUIS -->
    <div class="modal fade"  id="ConfirmDeleteQuis" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn waves-effect waves-light btn-inverse btn-outline-inverse" data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light " onclick="ActionDelete()">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE QUIS -->

{% endblock %}

{% block addjs %}
    {{ asset(ThemePlugins ~ 'modernizr/js/modernizr.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'modernizr/js/css-scrollbars.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'lightbox2/js/lightbox.min.js') | script_tag }}

    <!-- INPUT MASK -->
    {{ asset(ThemeAsset ~ 'pages/form-masking/inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/jquery.inputmask.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/form-masking/autoNumeric.js') | script_tag }}
    {{ asset('js/masking.js') | script_tag }}

    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}
    {{ asset('js/select2.js')|script_tag }}

    <!-- ck editor -->
    {{ asset(ThemeAsset ~ 'pages/ckeditor/ckeditor.js') | script_tag }}
    {{ asset(ThemeAsset ~ 'pages/ckeditor/ckeditor-custom.js') | script_tag }}

    <script>
        var URL_PAGE                = '{{ UrlPage }}';

        function deleteList(id){
            $('#ConfirmDeleteQuis').modal('show');
        }

        function ActionDelete(){
            var id = $('#id').val();
            window.location = BASE_URL + "/" + URL_PAGE + "/delete/" + id;
        }
    </script>

    {{ asset(PathJS ~ 'main.js')|script_tag }}
    {{ asset('modules/classdetail.js')|script_tag }}
    {{ asset('modules/program_study.js')|script_tag }}
{% endblock %}
