{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-primary text-white">
                <div class="card-header">
                    <h4 class="text-white">Keterangan Quis</h4>
                </div>
                <div class="card-block">
                    <form class="form-material">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group form-default form-static-label">
                                    <input type="text" name="school_year" class="form-control text-white" value="{{ Quis.school_year.name }}" readonly>
                                    <span class="form-bar"></span>
                                    <label class="float-label text-white">Tahun Ajaran</label>
                                </div>

                                <div class="form-group form-default form-static-label">
                                    <input type="text" name="program_study" class="form-control text-white" value="{{ Quis.program_study.name }}" readonly>
                                    <span class="form-bar"></span>
                                    <label class="float-label text-white">Mata Pelajaran</label>
                                </div>

                                <div class="form-group form-default form-static-label">
                                    <input type="text" name="school_info" class="form-control text-white" value="{{ Quis.school_category.name }} - {{ Quis.level.name }}" readonly>
                                    <span class="form-bar"></span>
                                    <label class="float-label text-white">Informasi Sekolah</label>
                                </div>

                                <div class="form-group form-default form-static-label">
                                    <input type="text" name="title" class="form-control text-white" value="{{ Quis.title }}" readonly>
                                    <span class="form-bar"></span>
                                    <label class="float-label text-white">Judul Quis</label>
                                </div>

                                <div class="form-group form-default form-static-label">
                                    <input type="text" name="teacher" class="form-control text-white" value="{{ Quis.teacher.fullname }}" readonly>
                                    <span class="form-bar"></span>
                                    <label class="float-label text-white">Guru</label>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-default form-static-label">
                                    <input type="text" name="quis_date" class="form-control text-white" value="{{ Quis.start_date | date('d F Y H:i:s') }} - {{ Quis.end_date | date('d F Y H:i:s') }}" readonly>
                                    <span class="form-bar"></span>
                                    <label class="float-label text-white">Tanggal Quis</label>
                                </div>

                                <div class="form-group form-default form-static-label">
                                    <input type="text" name="total" class="form-control text-white" value="{{ Quis.total }}" readonly>
                                    <span class="form-bar"></span>
                                    <label class="float-label text-white">Total Soal</label>
                                </div>
                            </div>
                        </div>


                        <!-- ACTION -->
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <a href="{{ route('quis_manage_edit', Quis.id) }}" class="btn btn-out-dashed waves-effect waves-light btn-inverse btn-square"><i class="fa fa-backward"></i> Kembali</a>
                            </div>
                        </div>
                        <!-- END ACTION -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% for Class in Quis.class_info %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-primary">{{ PageTitle }} Kelas {{ Class.class_info.name }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th width="40%" class="text-center">Nama Siswa</th>
                                    <th width="20%" class="text-center">Waktu Mengerjakan</th>
                                    <th width="10%" class="text-center">Jawaban Benar</th>
                                    <th width="10%" class="text-center">Nilai</th>
                                </tr>
                                </thead>
                                <tbody id="div-detail">
                                {% set DataQuisByClassInfo = call_helpers_two('getDataQuisByClassInfo', Class.class_info_id, Class.quis.id  ) %}
                                {% for Data in DataQuisByClassInfo %}
                                    <tr>
                                        <td>{{ Data.student.fullname }}</td>
                                        <td class="text-center">{{ Data.play_start| date('d F Y H:i:s') }}</td>
                                        <td class="text-right">{{ Data.answer_true }} soal</td>
                                        <td class="text-center">{{ Data.score }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


{% endblock %}

{% block addmodal %}
    <!-- MODAL DETAIL -->
    <div class="modal fade"  id="ModalDetail" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form name="form_detail" id="form_detail" method="post" action="{{ route('quis_manage_save_detail') }}" enctype="multipart/form-data">
                        {{ csrf_field() }}

                        <!-- PARAM DETAIL -->
                        <input type="hidden" id="statusform" name="statusform" value="add">
                        <input type="hidden" id="quis_id" name="quis_id" value="{{ id }}">
                        <input type="hidden" id="quis_detail_id" name="quis_detail_id" value="0">
                        <!-- END PARAM DETAIL -->

                        <!-- QUESTION -->
                        <div class="form-group" id="field-modal_question">
                            <label class="col-sm-4 col-form-label">Pertanyaan <label class="text-danger">*</label></label>
                            <div class="col-sm-12">
                                <textarea name="modal_question" id="modal_question" class="form-control"></textarea>
                            </div>
                        </div>
                        <!-- END QUESTION -->

                        <!-- CHOOSE A -->
                        <div class="form-group" id="field-modal_answer_a">
                            <label class="col-sm-2 col-form-label">Pilihan A <label class="text-danger">*</label></label>
                            <div class="col-sm-12">
                                <textarea name="modal_answer_a" id="modal_answer_a" class="form-control"></textarea>
                            </div>
                        </div>
                        <!-- END CHOOSE A -->

                        <!-- CHOOSE B -->
                        <div class="form-group" id="field-modal_answer_b">
                            <label class="col-sm-4 col-form-label">Pilihan B <label class="text-danger">*</label></label>
                            <div class="col-sm-12">
                                <textarea name="modal_answer_b" id="modal_answer_b" class="form-control"></textarea>
                            </div>
                        </div>
                        <!-- END CHOOSE B -->

                        <!-- CHOOSE C -->
                        <div class="form-group" id="field-modal_answer_c">
                            <label class="col-sm-2 col-form-label">Pilihan C <label class="text-danger">*</label></label>
                            <div class="col-sm-12">
                                <textarea name="modal_answer_c" id="modal_answer_c" class="form-control"></textarea>
                            </div>
                        </div>
                        <!-- END CHOOSE C -->

                        <!-- CHOOSE D -->
                        <div class="form-group" id="field-modal_answer_d">
                            <label class="col-sm-2 col-form-label">Pilihan D <label class="text-danger">*</label></label>
                            <div class="col-sm-12">
                                <textarea name="modal_answer_d" id="modal_answer_d" class="form-control"></textarea>
                            </div>
                        </div>
                        <!-- END CHOOSE D -->

                        <!-- CHOOSE E -->
                        <div class="form-group " id="field-modal_answer_e">
                            <label class="col-sm-2 col-form-label">Pilihan E <label class="text-danger">*</label></label>
                            <div class="col-sm-12">
                                <textarea name="modal_answer_e" id="modal_answer_e" class="form-control"></textarea>
                            </div>
                        </div>
                        <!-- END CHOOSE E -->

                        <!-- KEY ANSWER -->
                        <div class="form-group" id="field-modal_key_answer">
                            <label class="col-sm-4 col-form-label">Kunci Jawaban <label class="text-danger">*</label></label>
                            <div class="col-sm-12">
                                <select class="form-control" id="modal_key_answer" name="modal_key_answer">
                                    {% set ListChooseAnswer    = call_helpers('getListChooseAnswer')  %}
                                    {% for  key,value in ListChooseAnswer %}
                                        <option value="{{ key }}">{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- END KEY ANSWER -->

                        <hr>

                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-inverse waves-effect" data-dismiss="modal">Tutup</button>
                                <button type="submit" class="btn btn-primary waves-effect waves-light" id="btn-saveDetailAction"><i class="fa fa-save"></i>Simpan</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL DETAIL -->

    <!-- DELETE -->
    <div class="modal fade"  id="ConfirmDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="delete_id" id="delete_id">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light " id="btn-deleteAction">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE -->


    <!-- DELETE QUIS -->
    <div class="modal fade"  id="ConfirmDeleteQuis" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Konfirmasi Hapus!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Apakah anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn waves-effect waves-light btn-inverse btn-outline-inverse" data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light " onclick="ActionDelete()">Hapus</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE QUIS -->

{% endblock %}

{% block addjs %}
    {{ asset(PathJS ~ 'main.js')|script_tag }}
{% endblock %}
