{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="ti-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-{% if HomeRoomTeacher > 0 %}4{% else %}6{% endif %}">
            <div class="card bg-c-green text-white widget-visitor-card">
                <div class="card-block-small text-center">
                    <h2>{{ TotalMateri| number_format() }}</h2>
                    <h6>Materi</h6>
                    <i class="ti-agenda"></i>
                </div>
            </div>
        </div>
        <div class="col-sm-{% if HomeRoomTeacher > 0 %}4{% else %}6{% endif %}">
            <div class="card bg-c-blue text-white widget-visitor-card">
                <div class="card-block-small text-center">
                    <h2>{{ TotalMember | number_format() }}</h2>
                    <h6>Siswa</h6>
                    <i class="icon-user"></i>
                </div>
            </div>
        </div>
        {% if HomeRoomTeacher > 0 %}
            <div class="col-sm-4">
                <a href="">
                <div class="card bg-c-red text-white widget-visitor-card">
                    <div class="card-block-small text-center">
                        <h2>Kelas</h2>
                        <h6>Didik Saya</h6>
                        <i class="fa fa-wpforms"></i>
                    </div>
                </div>
                </a>
            </div>
        {% endif %}
        <div class="col-sm-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <p class="txt-highlight text-center m-t-20">Cari apa yang kamu inginkan disini?</p>
                        </div>
                    </div>
                    <div class="row seacrh-header">
                        <div class="col-lg-4 offset-lg-4 offset-sm-3 col-sm-6 offset-sm-1 col-xs-12">
                            <form class="form-material" action="{{ route('elearning_forum_search') }}" method="post">
                                {{ csrf_field() }}
                                <input type="hidden" name="action" value="Search">

                                <div class="md-group-add-on form-group form-primary">
                                    <span class="md-add-on-file">
                                        <button class="btn btn-primary waves-effect waves-light" type="submit">Cari!</button>
                                    </span>
                                    <div class="md-input-file">
                                        <input type="text" id="keyword" name="keyword" class="md-form-control md-form-file form-control" placeholder="Ketikan minimal satu kata...">
                                        <span class="form-bar"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light">
                <div class="card-header">
                    <h5>Kategori Materi</h5>
                </div>
                <div class="card-block">
                    <div class="row">

                        {% if Categories is not empty %}
                            {% for Category in Categories %}
                            <div class="col-sm-6">
                                <div class="p-20 z-depth-top-0" data-toggle="tooltip" data-placement="top" title="" data-original-title=".z-depth-top-0">
                                    <h6 class="sub-title"><a href="{{ route('elearning_forum_viewByCategory', Category.id) }}" class="text-primary"><strong>{{ Category.name }}</strong></a></h6>
                                    {% if Category.subcategory.count() > 0 %}
                                        <ol>
                                            {% for subcategory in Category.subcategory %}
                                            <a href="{{ url('elearning/forum/bysubcategory/' ~ Category.id ~ '/' ~ subcategory.id) }}">
                                                <li>
                                                    {{ subcategory.name }}
                                                    <p><small>{{ subcategory.description }} </small></p>
                                                </li>
                                            </a>
                                            {% endfor %}
                                        </ol>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% if call_helpers('bool_CheckAccessUser','home-student') == TRUE %}
<div class="row">
    <div class="col-sm-12">
        <div class="card bg-light">
            <div class="card-header">
                <h5>Quis</h5>
            </div>
            <div class="card-block">
                {% if DataQuis %}
                    <div class="row">
                        {% for Quis in DataQuis %}
                            {% set QuisPlay = call_helpers('checkMyQuis', Quis.id) %}

                            <div class="col-md-6 col-lg-4">
                                <div class="card">
                                    <div class="card-block text-center">
                                        <i class="ti-receipt text-c-red d-block f-40"></i>
                                        <h4 class="m-t-20">Quis {{ Quis.program_study.name }}</h4>
                                        <p class="m-b-20">
                                            {{ Quis.title }}
                                            <br>Guru : {{ Quis.teacher.fullname }}
                                            {% if QuisPlay.count == 0 %}
                                                <br><strong class="text-danger">{{ Quis.start_date | date('d/m/Y H:i:s') }} - {{ Quis.end_date | date('d/m/Y H:i:s') }}</strong>
                                                <br>Total {{ Quis.total }} Soal
                                            {% else %}
                                                {% set QuisPlayInfo = QuisPlay.first %}
                                                <br><strong class="text-danger">{{ Quis.start_date | date('d/m/Y H:i:s') }} - {{ Quis.end_date | date('d/m/Y H:i:s') }}</strong>
                                                <br>Total {{ Quis.total }} Soal ({{ QuisPlayInfo.answer_true }} Jawaban Benar)
                                                <br><strong class="text-primary sub-title"><i>Nilai anda : {{ QuisPlayInfo.score }}</i></strong>
                                            {% endif %}
                                        </p>
                                        {% if QuisPlay.count == 0 %}
                                            <a class="btn btn-danger btn-sm btn-round" href="javascript:void(0)" onclick="startQuis({{ Quis.id }})"><i class="fa fa-power-off"></i>Mulai sekarang...</a>
                                        {% else %}
                                            <a class="btn btn-success btn-sm btn-round" href="{{ route('quis_play_view',QuisPlay.first.id) }}"><i class="fa fa-check-circle-o"></i>Lihat Quis</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <h4 class="sub-title text-primary"><strong>Riwayat Quis</strong></h4>
                            <table class="table table-bordered">
                                <tr>
                                    <th width="5%">#</th>
                                    <th width="20%">Tahun Ajaran</th>
                                    <th width="25%">Informasi Quis</th>
                                    <th width="20%">Guru</th>
                                    <th width="20%">Waktu dikerjakan</th>
                                    <th width="10%">Jml. Soal</th>
                                    <th width="10%">Nilai</th>
                                </tr>
                                {% if DataQuisPlay %}
                                    {% for Play in DataQuisPlay %}
                                        <tr>
                                            <td>
                                                {% if Play.is_lock == 'Yes' %}
                                                    <a href="{{ route('quis_play_view', Play.id) }}" class="btn btn-out-dashed waves-effect waves-light btn-primary btn-square" target="_blank"><i class="fa fa-wpforms"></i></a>
                                                {% else %}
                                                    <a href="{{ route('quis_play', Play.quis_id) }}" class="btn btn-out-dashed waves-effect waves-light btn-danger btn-square" target="_blank"><i class="fa fa-wpforms"></i></a>
                                                {% endif %}
                                            </td>
                                            <td>{{ Play.school_year }}</td>
                                            <td>{{ Play.school_category }}, {{ Play.level }}
                                                {% if Play.title is not empty %}
                                                    <br>{{ Play.title }}
                                                {% endif %}
                                                <br><label class="badge badge-primary">{{ Play.program_study }}</label>
                                            </td>
                                            <td>{{ Play.teacher }}</td>
                                            <td>{{ Play.play_start | date('d F Y H:i:s') }}</td>
                                            <td class="text-right">{{ Play.total }}&nbsp;<label class="badge badge-success" title="Jawaban Benar">{{ Play.answer_true }}</label></td>
                                            <td class="text-center">{{ Play.score }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% endblock %}


{% block addmodal %}
    <!-- MODAL START QUIS -->
    <div class="modal fade"  id="ConfirmStartQuis" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">KERJAKAN QUIS?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-center">
                        Apakah anda yakin Memulai Quis ini?<br>
                        Jika Quis dimulai silakan selesaikan dengan baik.
                    </p>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="quis_id" name="quis_id" value="0">
                    <button type="button" class="btn waves-effect waves-light btn-inverse btn-outline-inverse" data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light" id="btnStartQuis"><i class="fa fa-check-square"></i>MULAI</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END MODAL START QUIS -->


{% endblock %}

{% block addjs %}
    {{ asset(PathJS ~ 'main.js')|script_tag }}
{% endblock %}
