{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="ti-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}

{% if Category is not empty and State == 'Category' %}
<div class="row">
    <div class="col-sm-12">
        <div class="card bg-light">
            <div class="card-header">
                <h5>Sub Kategori</h5>
            </div>
            <div class="card-block">
                <ul class="basic-list ">
                    {% for subcategory in Category.subcategory %}
                        <a href="{{ url('elearning/forum/bysubcategory/' ~ Category.id ~ '/' ~ subcategory.id) }}">
                        <div class="alert alert-primary border-primary">
                            <strong>{{ subcategory.name }}</strong>
                        </div>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if Subcategory is not empty %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light">
                <div class="card-header">
                    <h5>{{ Subcategory.name }}</h5>
                </div>
                <div class="card-block">
                    {{ Subcategory.description }}
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if State == 'Search' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-3">
                            <p class="txt-highlight text-center m-t-20">Cari apa yang kamu inginkan disini?</p>
                        </div>
                    </div>
                    <div class="row seacrh-header">
                        <div class="col-lg-4 offset-lg-4 offset-sm-3 col-sm-6 offset-sm-1 col-xs-12">
                            <form class="form-material" action="{{ route('elearning_forum_search') }}" method="post">
                                {{ csrf_field() }}

                                <input type="hidden" name="action" value="Search">

                                <div class="md-group-add-on form-group form-primary">
                                    <span class="md-add-on-file">
                                        <button class="btn btn-primary waves-effect waves-light" type="submit">Cari!</button>
                                    </span>
                                    <div class="md-input-file">
                                        <input type="text" id="keyword" name="keyword" class="md-form-control md-form-file form-control" placeholder="Ketikan minimal satu kata..." value="{{ Keyword }}">
                                        <span class="form-bar"></span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<h4 class="m-b-20"><label id="totalMateriFound"><b>{{ TotalMateri }}</b></label> Materi ditemukan</h4>
<div class="row">
    <!-- Search result found start -->
    <div class="col-lg-12 col-xl-9 search2 search-result">
        <div class="card card-main">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="loadMateri">
                            {% for Materi in Materies %}
                                <a href="{{ route('elearning_forum_view', Materi.id) }}">
                                    <div class="search-content">
                                        <img class="card-img-top" src="{{ url('/img/learning.png') }}" alt="{{ Materi.title }}">
                                        <div class="card-block">
                                            <h5 class="card-title">{{ Materi.title }}
                                                <a href="#"></a>
                                            </h5>
                                            <p class="card-text text-muted">{{ Materi.subtitle }} </p>
                                            <p class="card-text">
                                                {% if Materi.tag %}
                                                    <i>Tags : {{ call_helpers('setFormatTag', Materi.tag) }}</i>
                                                {% endif %}
                                                <br><small class="text-muted">{{ Materi.updated_at | date('d/m/Y H:i:s') }}</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-3">
        {% if call_helpers('get_ListAccountTypebyLogin') != 'Siswa' %}
        <!-- Filter card start -->
        <div class="card">
            <div class="card-header">
                <h5><i class="icofont icofont-filter m-r-5"></i>Filter</h5>
            </div>
            <div class="card-block">
                <form action="{{ route('elearning_forum_viewFilter') }}" id="form_filter_materi" name="form_filter_materi" class="form-material">
                    {{ csrf_field() }}

                    {% if Category is not empty %}
                        <input type="hidden" id="category_id" name="category_id" value="{{ Category.id }}">
                    {% endif %}

                    {% if Subcategory is not empty %}
                        <input type="hidden" id="subcategory_id" name="subcategory_id" value="{{ Subcategory.id }}">
                    {% endif %}

                    {% if Keyword is not empty %}
                        <input type="hidden" id="keyword" name="keyword" value="{{ Keyword }}">
                    {% endif %}

                    <div class="form-group form-primary">
                        <select class="form-control {% if (errors.has('school_category')) %}form-control-danger{% endif %}" id="school_category" name="school_category">
                            {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                            {% for  key,value in ListSchoolCategory %}
                                <option value="{{ key }}" {% if SCHOOLCATEGORY %}{{ SCHOOLCATEGORY == key ? 'selected="selected"' : ''}}{% else %}{% if old('school_category') %}{{ old('school_category') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group form-primary">
                        <select class="form-control {% if (errors.has('level')) %}form-control-danger{% endif %}" id="level" name="level" disabled>
                            <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                        </select>
                    </div>
                    <div class="form-group form-primary">
                        <select name="program_study" class="form-control" id="program_study">
                            <option value="0">-- Pilih Mata Pelajaran --</option>
                        </select>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">
                            <i class="icofont icofont-job-search m-r-5"></i> Cari...
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Filter card end -->
        {% endif %}
    </div>

</div>
{% endblock %}


{% block addmodal %}

{% endblock %}

{% block addjs %}

    {{ asset(PathJS ~ 'main.js')|script_tag }}

{% endblock %}
