{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    {{ asset(ThemeAsset ~ 'pages/message/message.css') | css_tag }}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="ti-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}
<div class="row">
    <!-- Left column start -->
    <div class="col-lg-12 col-xl-9">
        <div class="card">
            <div class="card-header">
                <h5>{{ Materi.title }}</h5>
                <span class="text-muted f-14 m-b-10">{{ Materi.created_at | date('d F Y') }}</span>
                <p class="text-muted m-b-0">{{ Materi.subtitle }}</p>
            </div>
            <div class="card-block">
                <h4 class="sub-title">Detail</h4>
                <p>
                    {{ Materi.description | raw }}
                </p>
                {% if Materi.embed_video is not empty %}
                    <hr>
                    <div class="row">
                        {{ Materi.embed_video | raw }}
                    </div><br>
                {% endif %}

                <hr>
                <p><strong class="text-primary">File Pendukung</strong></p>


                <div class="row">
                    {% for file in Materi.file_support %}
                        <div class="col-sm-4">
                            {% if file.mimetype == 'image/png' or file.mimetype == 'image/jpeg' %}
                            <button class="btn-md btn waves-effect waves-light btn-primary btn-outline-primary" type="button" onclick="downloadFile({{ file.id }})"><i class="fa fa-file-image-o"></i></button>
                            {% elseif file.mimetype == 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %}
                                <button class="btn-md btn waves-effect waves-light btn-success btn-outline-success" type="button" onclick="downloadFile({{ file.id }})"><i class="fa fa-file-excel-o"></i></button>
                            {% elseif file.mimetype == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' %}
                                <button class="btn-md btn waves-effect waves-light btn-info btn-outline-info" type="button" onclick="downloadFile({{ file.id }})"><i class="fa fa-file-word-o"></i></button>
                            {% elseif file.mimetype == 'application/pdf' %}
                                <button class="btn-md btn waves-effect waves-light btn-danger btn-outline-danger" type="button" onclick="downloadFile({{ file.id }})"><i class="fa fa-file-image-o"></i></button>
                            {% endif %}
                            {{ file.name }}
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <input type="hidden" id="materi_id" name="materi_id" value="{{ Materi.id }}">
                        {% if LikeFromYou == 0 %}
                        <div id="divAction">
                            <button type="button" class="btn btn-primary waves-effect btn-sm waves-light m-r-10 m-t-10 m-b-10" id="btn-LikeMateri"><i class="ti-thumb-up"></i>
                                Like
                            </button>
                            <button type="button" class="btn btn-danger waves-effect btn-sm waves-light m-r-10 m-t-10 m-b-10" id="btn-DisLikeMateri"><i class="ti-thumb-down"></i>
                                Dislike
                            </button>
                        </div>
                        {% else %}
                            {{ TotalLike }}&nbsp;<i class="fa fa-thumbs-up"></i>&nbsp&nbsp&nbsp {{ TotalDislike }}&nbsp;<i class="fa fa-thumbs-down"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-primary">
                <div class="media">
                    <a class="media-left" href="#">
                        <img class="media-object img-radius msg-img-h" src="{{ asset('img/avatar.png') }}" alt="">
                    </a>
                    <div class="media-body">
                        <div class="txt-white">Login Sebagai</div>
                        <div class="f-13 txt-white">{{ User.name }}</div>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-lg-12 col-md-12 messages-content ">
                        <div>
                            {% if Materi.comment.count() > 0 %}
                                {% for Comment in Materi.comment %}
                                <div class="media">
                                    <div class="media-left friend-box">
                                        <a href="#">
                                            <img class="media-object img-radius" src="{{ asset('img/avatar.png') }}" alt=""><br>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="sub-title"> {{ Comment.user.name }}</h4>
                                        {% if Comment.user_id == AuthorID %}
                                            <p class="msg-send"> {{ Comment.comment }}</p>
                                        {% else %}
                                            <p class="msg-reply bg-primary"> {{ Comment.comment }}</p>
                                        {% endif %}
                                        <p><i class="icofont icofont-wall-clock f-12"></i> {{ Comment.created_at | date('d F Y H:i:s') }}</p>
                                    </div>
                                </div>
                                {% endfor %}
                            {% endif %}
                            <div id="div-comment">

                            </div>
                        </div>
                        <div class="right-icon-control">
                            <form class="form-material" name="form_comment" id="form_comment" method="post" action="{{ route('elearning_forum_viewComment') }}">
                                {{ csrf_field() }}
                                <input type="hidden" id="comment_materi_id" name="materi_id" value="{{ Materi.id }}" />

                                <div class="form-group form-primary">
                                    <input type="text" name="comment" id="comment" class="form-control" required="">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Ketikan komentar kamu disini..........</label>
                                </div>
                            </form>
                            <div class="form-icon ">
                                <button id="btn-Commentar" class="btn btn-primary btn-icon  waves-effect waves-light">
                                    <i class="fa fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-xl-3">
        <div class="card">
            <div class="card-header">
                <h5><i class="fa fa-wpforms"></i>&nbsp;Informasi</h5>
            </div>
            <div class="card-block">
                <form action="#" class="form-material">
                    <div class="form-group form-default form-static-label">
                        <input type="text" name="category" class="form-control" value="{{ Materi.elearning_category.name }}">
                        <span class="form-bar"></span>
                        <label class="float-label">Kategori</label>
                    </div>

                    {% if Materi.elearning_subcategory_id is not empty %}
                        <div class="form-group form-default form-static-label">
                            <input type="text" name="subcategory" class="form-control" value="{{ Materi.elearning_subcategory.name }}">
                            <span class="form-bar"></span>
                            <label class="float-label">Sub-Kategori</label>
                        </div>
                    {% endif %}

                    {% if Materi.school_category_id is not empty %}
                        <div class="form-group form-default form-static-label">
                            <input type="text" name="school_category" class="form-control" value="{{ Materi.school_category.name }}">
                            <span class="form-bar"></span>
                            <label class="float-label">Kategori Sekolah</label>
                        </div>
                    {% endif %}

                    {% if Materi.level_id is not empty %}
                        <div class="form-group form-default form-static-label">
                            <input type="text" name="level" class="form-control" value="{{ Materi.level.name }}">
                            <span class="form-bar"></span>
                            <label class="float-label">Tingkat</label>
                        </div>
                    {% endif %}

                    {% if Materi.program_study_id is not empty %}
                        <div class="form-group form-default form-static-label">
                            <input type="text" name="program_study" class="form-control" value="{{ Materi.program_study.name }}">
                            <span class="form-bar"></span>
                            <label class="float-label">Mata Pelajaran</label>
                        </div>
                    {% endif %}

                    <div class="form-group form-default form-static-label">
                        <input type="text" name="author" class="form-control" value="{{ Materi.author.fullname }}">
                        <span class="form-bar"></span>
                        <label class="float-label">Di publikasikan oleh</label>
                    </div>

                    <div class="form-group form-default form-static-label">
                        Tag :
                        {{ call_helpers('setFormatTag',Materi.tag) }}
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}


{% block addmodal %}

{% endblock %}

{% block addjs %}


    {{ asset(PathJS ~ 'main.js')|script_tag }}

{% endblock %}
