<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kartu Pelajar</title>
    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
    <feed/>
    <style>
        body{
            font-size: 12px;
            font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
        }
        h1{
            padding: 5px 0;
            text-transform: uppercase;
            margin: 0;
        }
        #cardwrap{
            width: 500px;
            border: 1px solid #dedede;
            margin: 0 auto;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }
        .header{
            background: #282b4e;
            color: white;
            -webkit-border-top-left-radius: 10px;
            -webkit-border-top-right-radius: 10px;
            -moz-border-radius-topleft: 10px;
            -moz-border-radius-topright: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            height:100px;
        }
        .text-cop{
            width: 380px;
            float: left;
        }
        .label-ket{
            width: 65%;
            float: left;
        }
        .header-logo{
            width: 70px;
            float: left;
        }
        .header-logo img{
            width: 100%
        }
        .cop-sekolah{
            font-size: 23px;
            font-weight: bold;
        }
        .cop-yayasan{
            font-size: 12px;
        }
        .col-foto{
            width: 30%;
            float: left;

        }
        .col-txt{
            width: 70%;
            float: left;

        }
        .clear{
            clear: both;
        }
        .main{
            padding: 10px;
        }
        .foto img, .barcode img{
            width: 100%;
        }
        .barcode{
            padding-top: 10px;
        }
        .row{
            padding: 2px 0;
        }
        .row:before, .row:after{
            display: table;
            content: "";
        }
        .row:after{
            clear: both;
        }

        .label-name{
            width: 115px;
            float: left;
        }
        .label-ket{
            width: 200px;
            float: left;
        }
        .ttd-kepsek{
            text-align: center;
            width: 200px;
            float: left;
            padding-top: 10px;
        }
        .ttd-kepsek img{
            width: 100%;
        }
        .pad-l{
            padding-left: 10px
        }

        .lst-cop{
            padding-right: 5px;
            margin-bottom: 5px;
        }
        .lst-cop img{
            width:15px;
            display:inline-block;
        }
        .icon-cop{
            width: 17px;
            height: 17px;
            display: inline-block;
            margin-right: 5px;
        }
        .icon-cop img{
            width: 100%;
            vertical-align: middle;
        }
        .col-6{
            width:50%;
            float:left;
        }
        .page-break {
            page-break-after: always;
        }

    </style>
    {#<link rel="stylesheet" href="{{ url('css/id_card/card-style.css') }}" type="text/css" />#}
</head>
<body>

{% if Result.Datas is not empty %}
    {% for Student in Result.Datas %}
<div id="cardwrap">
    <div class="header">
        <div class="main">
            <div class="header-logo">
                <img src="{{ Result.public_path }}/logo-header.jpg" alt="Logo"/>
            </div>
            <div class="text-cop">
                <div class="pad-l" style="padding-left: 10px;">
                    <div class="cop-yayasan">YAYASAN TUNAS HARAPAN</div>
                    <div class="cop-sekolah">SMP KRISTEN TUNAS HARAPAN</div>
                    <div class="cop-alamat">
                        <div class="lst-cop">
                            <img src="{{ Result.public_path }}/maps.png" alt="maps"  /> Jl. Pahlawan No. 140-142, Bogor-Jawa Barat  <img src="{{ Result.public_path }}/icon-phone.png" alt="phone" /> 0251-8322242
                        </div>
                        <div class="lst-cop">
                            <img src="{{ Result.public_path }}/icon-site.png" alt="phone" />www.tunasharapan.sch.id
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <section>
        <div class="main">
            <div class="col-foto">
                <div class="foto">
                    <img src="{{ Result.public_path }}/default_foto.png" alt="foto nama" />
                </div>

            </div>
            <div class="col-txt">
                <h1>Kartu Pelajar</h1>
                <div>
                    <table width="100%%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                        <tr>
                            <td width="100px">Nama</td>
                            <td>: {{ Student.Student['fullname'] }}</td>
                        </tr>
                        <tr>
                            <td>NIS/NISN</td>
                            <td>: {{ Student.Student['nisn'] }}</td>
                        </tr>
                        <tr>
                            <td>Jenis Kelamin</td>
                            <td>: {{ Student.Student['gender'] }}</td>
                        </tr>
                        <tr>
                            <td>Agama</td>
                            <td>: {{ Student.Student.religion.name }}</td>
                        </tr>
                        <tr>
                            <td>TTL</td>
                            <td>: {{ Student.Student['pob'] }}, {{ Student.Student['dob']|date('d F Y') }} </td>
                        </tr>
                        <tr>
                            <td>Alamat</td>
                            <td>: {{ Student.Student['address'] }}{% if Student.Student['rt'] %}&nbsp;&nbsp;RT {{ Student.Student['rt'] }}{% endif %}&nbsp;{% if Student.Student['rw'] %}RW {{ Student.Student['rw'] }}{% endif %}{% if Student.Student['city'] %}<br>&nbsp;&nbsp;{{ Student.Student['city'] }}&nbsp;{% if Student.Student['zipcode'] %}{{ Student.Student['zipcode'] }}{% endif %}{% endif %} </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-6">
                <div class="barcode"><br><br>
                    <span id="barcode_show" style="width: 200px;"><img src="{{ Student.Barcode }}" alt="barcode" /></span>
                    <br>
                    <font style="letter-spacing: 9px;">{{ Student.Student.account.barcode }}</font>
                </div>
            </div>
            <div class="col-6">
                <div class="ttd-kepsek">
                    <div><strong>Bogor</strong>, {{ "now" | date("d F Y") }}</div>
                    <img src="{{ Result.public_path }}/ttd.jpg" alt="ttd" />
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </section>
</div>

<div class="page-break"></div>
    {% endfor %}
{% endif %}


</body>
</html>
