<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kartu Pelajar</title>
    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
    <style>
        body{
            font-family:arial;
        }
        @page{
            padding: 0px !important;
            margin: 5px !important;
        }
        .label{
            display:inline-block;
            width:80px;
            float:left;
            font-size: 11px;
        }
        .label-name{
            float:left;
            font-size: 11px;
        }
        h1{
            font-size:12px;
            margin:0;
        }
        .card-frame{
            width:335px;
            height:144px;
        }
        .det-card{
            font-size:6px;
            width:70%;
            float:left;
        }
        .pic-card{
            width:30%;
            float:left;
        }
        .col-2{
            width:60%;
            float:left;
        }
        .col-4{
            width:40%;
            float:left;
        }
        .barcode img{
            width: 94%;
            text-align:center;
        }
        .footer{
            font-size:6px;
        }
        .signature{
            text-align:center;
        }
        .signature img{
            width:94%;
            text-align:right
        }
        .clear{
            clear:both;
        }
        .foto{
            width:60px;
            height: 70px;
            margin-top:10px;
            margin-left:10px;
            margin-bottom:10px;
        }
        .page-break {
            page-break-after: always;
        }

    </style>
    {#<link rel="stylesheet" href="{{ url('css/id_card/card-style.css') }}" type="text/css" />#}
</head>
<body>
{#{% set i = 1 %}#}
{% if Result.Datas is not empty %}
{#<table border="1">#}
    {#<tr>#}
    {% for Student in Result.Datas %}
        {#<td>#}
        <br><br><br>
            <div class="card-frame">
                <div class="header-card"><img src="{{ Result.public_path }}/{{ Result.header_img }}" alt="Cop Surat" /></div>

                <div class="row">
                    <div class="pic-card">
                        <div class="foto"><img src="{{ Student.Images }}" alt="foto nama"  style="width:60px; height: 70px;"/></div>
                    </div>
                    <div class="det-card">
                        <div style="padding-top:10px;">
                            <h1>Kartu Pelajar</h1>
                            <div class="label">Nama</div> <div class="label-name">: {{ Student.Student['fullname'] }}</div>
                            <div class="clear"></div>
                            <div class="label">NIS/NISN</div> <div class="label-name">: {{ Student.Student['nik_school'] }}{% if Student.Student['nisn'] is not empty %}/{{ Student.Student['nisn'] }}{% endif %}</div>
                            <div class="clear"></div>
                            {#<div class="label">Jenis Kelamin</div> <div class="label-name">: {{ Student.Student['gender'] }}</div>#}
                            {#<div class="clear"></div>#}
                            {#<div class="label">Agama</div> <div class="label-name">: {{ Student.Student.religion.name }}</div>#}
                            {#<div class="clear"></div>#}
                            <div class="label">TTL</div> <div class="label-name">: {{ Student.Student['pob'] }}, {{ call_helpers('setFormatDateIndonesia', Student.Student['dob']) }} </div>
                            <div class="clear"></div>
                            {#<div class="label">Alamat</div> <div class="label-name">: {{ Student.Student['address'] }}{% if Student.Student['rt'] %}&nbsp;&nbsp;RT {{ Student.Student['rt'] }}{% endif %}&nbsp;{% if Student.Student['rw'] %}RW {{ Student.Student['rw'] }}{% endif %}{% if Student.Student['city'] %}<br>&nbsp;&nbsp;{{ Student.Student['city'] }}&nbsp;{% if Student.Student['zipcode'] %}{{ Student.Student['zipcode'] }}{% endif %}{% endif %}#}
                            </div>
                        </div>
                    </div>
                    <div class ="footer">
                        <div class="col-2">
                            <div style="padding-right:5px;">
                                <span id="barcode_show" class="barcode"><img src="{{ Student.Barcode }}" alt="barcode" width="70%" style="margin-left: 10px;"/></span>
                                <br>
                                <div style="letter-spacing: 7.8px; padding-top:5px;margin-left: 10px;">{{ Student.Student.account.barcode }}</div>
                            </div>
                        </div>
                        <div class="col-4" align="center">
                            {% set DateNow = "now"| date('d F Y') %}
                            <strong>Bogor</strong>, {{ call_helpers('setFormatDateIndonesia', DateNow) }}<br>
                            <img src="{{ Result.public_path  }}/{{ Result.ttd_img }}" alt="ttd" width="60%"/>
                        </div>
                    </div>

                </div>
            </div>
        <div class="page-break"></div>
        {#</td>#}
        {#{% if i == 2 %}#}
    {#</tr><tr>#}
            {#{% set i = 1 %}#}
        {#{% else %}#}
            {#{% set i = i + 1 %}#}
        {#{% endif %}#}
        {#{% set x = x + 1 %}#}
    {% endfor %}
    {#</tr>#}
{#</table>#}
{% endif %}
</body>
</html>
