{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    {% if (errors.has('check_item')) %}
        <div class="m-alert m-alert--icon m-alert--air alert alert-danger alert-dismissible fade show" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
                <strong>
                    {{ errors.first('check_item') }}
                </strong>
            </div>
            <div class="m-alert__close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}

    <div class="card">
        <div class="card-header">
            <h5>{{ PageTitle }}</h5>
            <span>{{ PageDescription }}</span>
        </div>
        <div class="card-block">
            <form class="form-material" id="form-print_all" name="form-print_all" action="{{ route('student_idcard_all_action') }}" method="post">
                {{ csrf_field() }}
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <select class="form-control" id="school_category" name="school_category">
                                {% set ListSchoolCategory = call_helpers('get_ListSchoolCategory') %}
                                {% for  key,value in ListSchoolCategory %}
                                    <option value="{{ key }}" {% if SCHOOLCATEGORY %}{{ SCHOOLCATEGORY == key ? 'selected="selected"' : ''}}{% else %}{% if old('school_category') %}{{ old('school_category') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    {% if SCHOOLCATEGORY or old('school_category') %}
                        {% if(old('school_category')) %}
                            {% set SCHOOLCATEGORY = old('school_category') %}
                        {% endif %}
                        {% set ListLevelbySchoolCategory = call_helpers('get_ListLevelbySchoolCategory', SCHOOLCATEGORY) %}
                    {% endif %}
                    <div class="col-lg-3">
                        <div class="form-group">
                            <select class="form-control" id="level" name="level" {% if LEVEL is empty %}disabled{% endif %}>
                                {% if SCHOOLCATEGORY %}
                                    {% for  key,value in ListLevelbySchoolCategory %}
                                        <option value="{{ key }}" {% if LEVEL %}{{ LEVEL == key ? 'selected="selected"' : ''}}{% else %}{% if old('level') %}{{ old('level') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="0">-- Pilih Kategori terlebih dahulu --</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    {% if LEVEL or old('level')%}
                        {% if(old('level')) %}
                            {% set LEVEL = old('level') %}
                        {% endif %}
                        {% set ListClassInfobyLevel = call_helpers('get_ListClassInfobyLevel', LEVEL) %}
                    {% endif %}
                    <div class="col-lg-3">
                        <div class="form-group">
                            <select class="form-control" id="class_info" name="class_info"  {% if CLASSINFO is empty %}disabled{% endif %}>
                                {% if LEVEL %}
                                    {% for  key,value in ListClassInfobyLevel %}
                                        <option value="{{ key }}" {% if CLASSINFO %}{{ CLASSINFO == key ? 'selected="selected"' : ''}}{% else %}{% if old('class_info') %}{{ old('class_info') == key ? 'selected="selected"' : ''}}{% endif %}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                {% else %}
                                    <option value="0">-- Pilih Tingkat terlebih dahulu --</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button type="submit" name="action" value="print" id="btn-Print" class="btn btn-block btn-primary" ><i class="icofont icofont-document-search"></i> Print Kartu Siswa</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block addmodal %}

{% endblock %}

{% block addjs %}


    <script>
        var ROUTE_DATATABLE     = '{{ RouteDatatables }}';
        var TBL_NAME            = '{{ datatables }}';
        var URL_PAGE            = '{{ UrlPage }}';
        var SCHOOLCATEGORY      = '{{ SCHOOLCATEGORY }}';
        var LEVEL               = '{{ LEVEL }}';
        var CLASSINFO           = '{{ CLASSINFO }}';


    </script>

    {{ asset('modules/student/mutation/main.js')|script_tag }}
{% endblock %}
