<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kartu Pelajar {{ Data.fullname }}</title>
    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
	<style>
	body{
		font-family:arial;
	}
	@page{
		padding: 0px !important;
		margin: 5px !important;
	}
	.label{
		display:inline-block;
		width:60px;
		float:left;
		font-size: 11px;
	}
	.label-name{
		float:left;
		font-size: 11px;
	}
		h1{
		font-size:12px;
		margin:0;
		}
		.card-frame{
			width:272px;
			height:144px;
		}
		.det-card{
			font-size:6px;
			width:70%;
			float:left;
		}
		.pic-card{
			width:30%;
			float:left;
		}
		.col-2{
			width:40%;
			float:left;
		}
		.col-4{
			width:60%;
			float:left;
		}
		.barcode img{
			width: 94%;
			text-align:center;
		}
		.footer{
			font-size:6px;
		}
		.signature{
			text-align:center;
		}
		.signature img{
			width:94%;
			text-align:right
		}
		.clear{
			clear:both;
		}
		.foto{
			width:60px;
			height: 70px;
			background: red;
			margin-top:10px;
			margin-left:10px;
			margin-bottom:10px;
		}
	</style>
    {#<link rel="stylesheet" href="{{ url('css/id_card/card-style.css') }}" type="text/css" />#}
</head>
<body>
	<div class="card-frame">
		<div class="header-card"><img src="{{ public_path }}/{{ header_img }}" alt="Cop Surat" /></div>
		
		<div class="row">
			<div class="pic-card">
				<div class="foto"><img src="{{ Images }}" alt="{{ Data.fullname }}"  style="width:60px; height: 70px;"/></div>
			</div>
			<div class="det-card">
			<div style="padding-top:10px;">
				<h1>Kartu Pelajar</h1>
				<div class="label">Nama</div> <div class="label-name">: {{ Data.fullname }}</div>
				<div class="clear"></div>
				<div class="label">NIS/NISN</div> <div class="label-name">: {{ Data.nik_school }}{% if Data.nisn is not empty %}/{{ Data.nisn }}{% endif %}</div>
				<div class="clear"></div>
				{#<div class="label">Jenis Kelamin</div> <div class="label-name">: {{ Data.gender }}</div>#}
				{#<div class="clear"></div>#}
				{#<div class="label">Agama</div> <div class="label-name">: {{ Data.religion.name }}</div>#}
				{#<div class="clear"></div>				#}
				<div class="label">TTL</div> <div class="label-name">: {{ Data.pob }}, {{ Data.dob|date('d F Y') }}</div>
				<div class="clear"></div>
				{#<div class="label">Alamat</div> <div class="label-name">: {{ Data.address }}{% if Data.rt %}&nbsp;&nbsp;RT {{ Data.rt }}{% endif %}&nbsp;{% if Data.rw %}RW {{ Data.rw }}{% endif %}{% if Data.city %}<br>&nbsp;&nbsp;{{ Data.city }}&nbsp;{% if Data.zipcode %}{{ Data.zipcode }}{% endif %}{% endif %}</div>#}
				{#<div class="clear"></div>#}
			</div>
				
			</div>
			<div class="clear"></div>
		</div>
		<div class ="footer">
			<div class="col-2">
				<div style="padding-right:5px;">
				<span id="barcode_show" class="barcode"><img src="{{ Barcode }}" alt="barcode" width="96%" /></span>
				<br>
				<div style="letter-spacing: 4.1px; text-align:center; padding-top:5px">{{ Data.account.barcode }}</div>
				</div>
			</div>
			<div class="col-4" align="center">
				<strong>Bogor</strong>, {{ "now" | date("d F Y") }}<br />
				<img src="{{ public_path }}/{{ ttd_img }}" alt="ttd" width="60%" />
			</div>
		</div>
	</div>
</body>
</html>
