<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pendaftaran Siswa Baru</title>

    <style>
        .subtitle:{
            font-size: 12px;
        }
        .standar:{
            font-size: 8px;
        }

        .page-break {
            page-break-after: always;
        }
    </style>
</head>

<body>

<table width="750px" border="1">
    <tr>
        <td align="center" colspan="3">
            <div>
                <table width="750px" border="0">
                    <tr>
                        <td align="center" width="80"><img src="{{ Data.public_path }}/logo-th.png" alt="Logo" width="100px"/></td>
                        <td align="center"><h3>FORMULIR PENDAFTARAN</h3>
                            <font class="subtitle">
                                SEKOLAH KRISTEN TUNAS HARAPAN<br>
                                JL. PAHLAWAN NO. 140 - 142, BOGOR 16132, TELP. 0251 - 8322242<br>
                                <small>Website : http://tunasharapan.co.id</small>
                            </font>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td align="center" class="subtitle" bgcolor="#d3d3d3" colspan="2" style="font-size: 12px"><strong>BIODATA CALON MURID</strong></td>
        <td style="font-size: 10px">No. Formulir : {{ NoFormulir }}</td>
    </tr>
    <tr>
        <td style="font-size: 10px" colspan="2">Nama Lengkap : {{ Data.Request.fullname }}</td>
        <td style="font-size: 10px">Anak ke : {{ call_helpers('set_clearFormatNumber', Data.Request.child_to ) }} dari : {{ call_helpers('set_clearFormatNumber', Data.Request.child_max ) }}</td>
    </tr>
    <tr>
        <td style="font-size: 10px" valign="top">Tempat Lahir : {{ Data.Request.pob }}</td>
        <td style="font-size: 10px">Tanggal Lahir : <br>{{ Data.Request.dob|date('d F Y') }}</td>
        <td style="font-size: 10px" valign="top">Jenis Kelamin : {{ Data.Request.gender }}</td>
    </tr>
    <tr>
        <td style="font-size: 10px" colspan="3">Alamat Tempat Tinggal : {{ Data.Request.address }} {% if Data.Request.kelurahan %}{{ Data.Request.kelurahan }},{% endif %} {% if Data.Request.kecamatan %}{{ Data.Request.kecamatan }}<br>{% endif %}{% if Data.Request.city %}{{ Data.Request.city }}{% endif %}{% if Data.Request.zipcode %} - {{ Data.Request.zipcode }}{% endif %} {% if Data.Request.province %}{{ Data.Request.province }}{% endif %}</td>
    </tr>
    <tr>
        <td style="font-size: 10px" width="100" valign="top">RT / RW : {{ Data.Request.rt }} / {{ Data.Request.rw }}</td>
        <td style="font-size: 10px" width="200" valign="top" colspan="2">Kota/Kabupaten : {% if Data.Request.city %}{{ Data.Request.city }}{% endif %}</td>
    </tr>
    <tr>
        <td style="font-size: 10px">Kode Pos : {{ Data.Request.zipcode }}</td>
        <td style="font-size: 10px" colspan="2"> Telepon Rumah : <br>{{ Data.Request.phone }}&nbsp;</td>
    </tr>
    <tr>
        <td style="font-size: 10px"> No. HP Siswa : <br>{{ Data.Request.mobile }}&nbsp;</td>
        <td style="font-size: 10px" colspan="2"> Email Siswa : <br>{{ Data.Request.email }}&nbsp;</td>
    </tr>
    <tr>
        <td style="font-size: 10px" colspan="2">Agama : {% if Data.Request.religion_id != 0 %}{% if Data.Request.religion == 6 %}{{ Data.Request.religion_other }}{% else %}{{ call_helpers('set_Religion',Data.Request.religion_id) }}{% endif %}{% endif %}</td>
        <td style="font-size: 10px">Golongan Darah : {{ Data.Request.blood_type }}</td>
    </tr>
    <tr>
        <td style="font-size: 10px" valign="top" colspan="2">Asal Sekolah : {{ Data.Request.old_school }}&nbsp;</td>
        <td style="font-size: 10px">Alamat Sekolah Asal : <br>{{ Data.Request.address_old_school }}&nbsp;</td>
    </tr>
    <tr>
        <td style="font-size: 10px" valign="top" colspan="2">Tanggal/Nomor Ijazah : {% if Data.Request.diploma_date is not empty %}{{ Data.Request.diploma_date | date('d F Y') }}{% endif %} &nbsp;{% if Data.Request.diploma_number %}/&nbsp;{{ Data.Request.diploma_number }}{% endif %}</td>
        <td style="font-size: 10px">NISN : {{ Data.Request.nisn }}&nbsp;</td>
    </tr>
    <tr>
        <td align="center" class="subtitle" bgcolor="#d3d3d3" colspan="3" style="font-size: 12px"><strong>BIODATA ORANG TUA WALI</strong></td>
    </tr>
    <tr>
        <td style="font-size: 10px" colspan="2">Nama Ayah : {{ Data.Request.father_name }}</td>
        <td style="font-size: 10px">Pekerjaan / Pendidikan : {{ Data.Request.father_job }}</td>
    </tr>
    <tr>
        <td style="font-size: 10px" valign="top">Instansi / Perusahaan : {{ Data.Request.father_agency }}</td>
        <td style="font-size: 10px" colspan="2" valign="top">Penghasilan Bulanan :
            {% for salaryRange in call_helpers('get_ListSalaryRangeAll') %}
                <input type="checkbox" style="margin-top: 8px;">{{ salaryRange.range }}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td style="font-size: 10px" colspan="3">Tempat & Tanggal Lahir Ayah : {{ Data.Request.father_pob }}&nbsp;{% if Data.Request.father_dob is not empty %}{{ Data.Request.father_dob|date('d F Y') }}{% endif %}</td>
    </tr>
    <tr>
        <td style="font-size: 10px" colspan="2">Email : {{ Data.Request.father_email }}</td>
        <td style="font-size: 10px">Telp. Handphone : {{ Data.Request.father_phone }}</td>
    </tr>

    <tr>
        <td style="font-size: 10px" colspan="2">Nama Ibu : {{ Data.Request.mother_name }}</td>
        <td style="font-size: 10px">Pekerjaan / Pendidikan : {{ Data.Request.mother_job }}</td>
    </tr>
    <tr>
        <td style="font-size: 10px" valign="top">Instansi / Perusahaan : {{ Data.Request.mother_agency }}</td>
        <td style="font-size: 10px" colspan="2" valign="top">Penghasilan Bulanan :
        {% for salaryRange in call_helpers('get_ListSalaryRangeAll') %}
            <input type="checkbox" name="penghasilan" style="margin-top: 8px;">{{ salaryRange.range }}
        {% endfor %}
        </td>
    </tr>
    <tr>
        <td style="font-size: 10px" colspan="3">Tempat & Tanggal Lahir Ibu : {{ Data.Request.mother_pob }}&nbsp;{% if Data.Request.mother_dob is not empty %}{{ Data.Request.mother_dob|date('d F Y') }}{% endif %}</td>
    </tr>
    <tr>
        <td style="font-size: 10px" colspan="2">Email : {{ Data.Request.mother_email }}</td>
        <td style="font-size: 10px">Telp. Handphone : {{ Data.Request.mother_phone }}</td>
    </tr>
    {% if Data.Request.sda == 1 %}
    <tr>
        <td style="font-size: 10px" colspan="3">Alamat Orang Tua : {{ Data.Request.address }} {% if Data.Request.kelurahan %}{{ Data.Request.kelurahan }},{% endif %} {% if Data.kecamatan %}{{ Data.kecamatan }}<br>{% endif %}{% if Data.city %}{{ Data.city }}{% endif %}{% if Data.zipcode %} - {{ Data.zipcode }}{% endif %} {% if Data.province %}{{ Data.province }}{% endif %}</td>
    </tr>
    <tr>
        <td style="font-size: 10px" width="100" valign="top">RT / RW : {{ Data.Request.rt }} / {{ Data.Request.rw }}</td>
        <td style="font-size: 10px" width="200" valign="top">Kota/Kabupaten : {% if Data.Request.city %}{{ Data.Request.city }}{% endif %}</td>
    </tr>
    {% else %}
        <tr>
            <td style="font-size: 10px" colspan="3">Alamat Orang Tua : {{ Data.Request.family_address }}</td>
        </tr>
        <tr>
            <td style="font-size: 10px" valign="top">RT / RW : {{ Data.Request.family_rt }} / {{ Data.Request.family_rw }}</td>
            <td style="font-size: 10px" valign="top">Kota/Kabupaten : {% if Data.Request.family_city %}{{ Data.Request.family_city }}{% endif %}</td>
            <td style="font-size: 10px" valign="top">Kode Pos : {{ Data.Request.family_zipcode }}</td>
        </tr>
    {% endif %}
    <tr>
        <td style="font-size: 10px" colspan="3">Email Orang Tua: {{ Data.Request.family_email }}</td>
    </tr>
</table>
<span style="margin-left: 50px; font-size:10px;">Saudara yang masih sekolah dibawah tanggungan orangtua / wali</span>
{% set max = Data.Request.family_school|length  %}
<table width="750px" border="1">
    <tr>
        <th width="10px" style="font-size: 10px">No.</th>
        <th align="center" style="font-size: 10px">Nama</th>
        <th align="center" style="font-size: 10px">Nama Sekolah</th>
        <th align="center" style="font-size: 10px">kelas</th>
        <th align="center" style="font-size: 10px">Besarnya Uang Sekolah</th>
    </tr>
    {% for x in 0..4 %}
        {% set i = x + 1 %}
        <tr>
            <td align="right" style="font-size: 10px">{{ i }}.</td>
            <td class="standar" style="font-size: 10px">{% if Data.Request.family_name[x] %}{{ Data.Request.family_name[x] }}{% endif %}</td>
            <td class="standar" style="font-size: 10px">{% if Data.Request.family_school[x] %}{{ Data.Request.family_school[x] }}{% endif %}</td>
            <td class="standar" style="font-size: 10px">{% if Data.Request.family_class[x] %}{{ Data.Request.family_class[x] }}{% endif %}</td>
            <td align="right" class="standar" style="font-size: 10px">{% if call_helpers('set_clearFormatRupiah', Data.Request.family_school_fee[x]) is not empty  %}{{ call_helpers('set_clearFormatRupiah', Data.Request.family_school_fee[x]) | number_format() }}{% endif %}</td>
        </tr>
    {% endfor %}
</table><br>
<table width="750px" border="0" style="border-collapse: collapse;">
    <tr>
        <td>
            <span style="margin-left: 50px; font-size:10px;">* Mohon Lampirkan Copy Slip Gaji, Rekening Listrik dan Telepon (3 Bulan Terakhir)</span>
        </td>
        <td style="font-size: 10px" align="center">
            Bogor, {{ "now"|date('d F Y') }}
        </td>
    </tr>
    <tr>
        <td height="80px;">&nbsp;</td>
        <td style="font-size: 10px" valign="top" align="center">Orang Tua/Wali</td>
    </tr>
    <tr>
        <td style="font-size: 10px">Ketentuan :<br>
        - Maksimal 1 minggu setelah pengumuman penerimaan harus segera membayar Uang Muka<br>
        - Mohon lampirkan Copy slip Gaji, Rekening Listrik dan Telepon (Bulan Terakhir)
        </td>
        <td style="font-size: 10px" align="center" valign="top">({% if Data.Request.father_name %}{{ Data.Request.father_name }}{% else %}{% if Data.Request.mother_name %}{{ Data.Request.mother_name }}{% else %}......................{% endif %}{% endif %})</td>
    </tr>
</table>

<div class="page-break"></div>
<table width="750px" border="1">
    <tr>
        <td align="center">
            <div>
                <table width="750px" border="0">
                    <tr>
                        <td align="center" width="80"><img src="{{ Data.public_path }}/logo-th.png" alt="Logo" width="100px"/></td>
                        <td align="center"><h3>FORMULIR PENDAFTARAN</h3>
                            <font class="subtitle">
                                SEKOLAH KRISTEN TUNAS HARAPAN<br>
                                JL. PAHLAWAN NO. 140 - 142, BOGOR 16132, TELP. 0251 - 8322242<br>
                                <small>Website : http://tunasharapan.co.id</small><br><br>
                                PENDAFTARAN TAHUN PELAJARAN 20.../20...
                            </font>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <table border="0" width="100%">
                <tr>
                    <td align="center">
                        <h4>SURAT PERNYATAAN</h4>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 10px;">
                        Saya yang bertanda tangan dibawah ini, selaku Orang Tua / Wali Calon Murid :<br>
                        <span style="margin-left:50px;">Nama : ................................................................................................</span><br>
                        <span style="margin-left:50px;">Kelas : ................................................................................................</span>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 10px;">
                        Dengan ini menyatakan bahwa saya :
                        <ol>
                            <li>Bersedia membimbing dan mengawasi calon murid tersebut diatas untuk mentaati dan mematuhi pelaksanaan Wawasan Wiyatamandala, termasuk pakaian seragam sekolah, OSIS dan seluruh kegiatan sekolah.</li>
                            <li>Mengijinkan murid tersebut di atas untuk mengikuti Pendidikan Agama kristen dan kegiatan di dalam maupun di luar sekolah yang bercirikan krisitani.</li>
                            <li>Tidak Berkeberatan murid tersebut di atas menerima sangsi berupa:
                                <ul>
                                    <li>Tidak di perkenankan mengikuti pelajaran di Sekolah selama jangka waktu tertentu apabila:
                                        <ul>
                                            <li>Melanggar tata tertib sekolah yang ada dalam buku peraturan siswa.</li>
                                            <li>Tidak membayar uang sekolah atau uang pangkal sesuai ketentuan yang berlaku</li>
                                        </ul>
                                    </li>
                                    <li>Dikembalikan ke orang tua apabila orang tua tidak berhasil membimbing dan mengawasi  anaknya sehingga murid yang bersangkutan tidak mentaati ketentuan yang ditetapkan sekolah</li>
                                </ul>
                            </li>
                            <li>Bersedia membayar ganti rugi atas kerusakan fasilitas sekolah yang di lakukan oleh murid.</li>
                            <li>Bersedia dikeluarkan apabila keterangan yang di berikan tidak benar,</li>
                            <li>Bersedia membayar:</li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td >
                        <table border="1" style="border-collapse: collapse; margin-left: 80px;" cellpadding="3" cellspacing="3">
                            <tr>
                                <td style="font-size: 10px;" width="200px;">Uang Pangkal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td style="font-size: 10px;" width="150px;">Rp &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if call_helpers('set_clearFormatRupiah', Data.Request.in_payment) is not empty %}{{ call_helpers('set_clearFormatRupiah', Data.Request.in_payment) | number_format() }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 10px;" width="200px;">Uang Sekolah / bulan Juli&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td style="font-size: 10px;" width="150px;">Rp &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if call_helpers('set_clearFormatRupiah', Data.Request.monthly_payment) is not empty %}{{ call_helpers('set_clearFormatRupiah', Data.Request.monthly_payment) | number_format() }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 10px;" width="200px;">Dana MPLS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td style="font-size: 10px;" width="150px;">Rp &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if call_helpers('set_clearFormatRupiah', Data.Request.dana_MPLS) is not empty %}{{ call_helpers('set_clearFormatRupiah', Data.Request.dana_MPLS) | number_format() }}{% endif %}</td>
                            </tr>
                        </table>
                        <span style="margin-left: 110px; font-size: 10px;">Yang akan dibayarkan :</span>
                        <table border="1" style="border-collapse: collapse; margin-left: 80px;" cellpadding="3" cellspacing="3">
                            <tr>
                                <td style="font-size: 10px;" width="200px;">Uang Muka&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td style="font-size: 10px;" width="150px;">Rp &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if call_helpers('set_clearFormatRupiah', Data.Request.down_payment) is not empty %}{{ call_helpers('set_clearFormatRupiah', Data.Request.down_payment) | number_format() }}{% endif %}</td>
                                <td style="font-size: 10px;" width="100px;">Tgl. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if Data.Request.down_payment_date %}{{ Data.Request.down_payment_date|date('d F Y') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 10px;" width="200px;">Pembayaran ke 2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td style="font-size: 10px;" width="150px;">Rp &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if call_helpers('set_clearFormatRupiah', Data.Request.second_payment) is not empty %}{{ call_helpers('set_clearFormatRupiah', Data.Request.second_payment) | number_format() }}{% endif %}</td>
                                <td style="font-size: 10px;" width="100px;">Tgl. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if Data.Request.second_payment_date %}{{ Data.Request.second_payment_date|date('d F Y') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 10px;" width="200px;">Pelunasan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td style="font-size: 10px;" width="150px;">Rp &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if call_helpers('set_clearFormatRupiah', Data.Request.repayable) is not empty %}{{ call_helpers('set_clearFormatRupiah', Data.Request.repayable) | number_format() }}{% endif %}</td>
                                <td style="font-size: 10px;" width="100px;">Tgl.  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if Data.Request.repayable_date %}{{ Data.Request.repayable_date|date('d F Y') }}{% endif %}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <p style="font-size: 10px; margin-left: 5px;">
                Uang Pangkal yang sudah dibayar, <strong>TIDAK BISA DI KEMBALIKAN / DIALIHKAN</strong>, kecuali Murid yang
                Bersangkutan tidak lulus ujian saringan masuk.
            </p>
            <p style="font-size: 10px; margin-left: 5px;">
                Persyaratan ini saya buat sebenar-benarnya, tanpa paksaan oleh pihak manapun dan dengan penuh pengertian
            </p>
            <table border="0" width="600px;" align="center">
                <tr>
                    <td width="300px" align="center" style="font-size: 10px;">&nbsp;</td>
                    <td width="300px" align="center" style="font-size: 10px;">Bogor, {{ "now"|date("d F Y") }}</td>
                </tr>
                <tr>
                    <td width="300px" align="center" style="font-size: 10px;" height="80px" valign="top">Calon Murid</td>
                    <td width="300px" align="center" style="font-size: 10px;" height="80px" valign="top">Orang Tua / Wali Murid</td>
                </tr>
                <tr>
                    <td width="300px" align="center" style="font-size: 10px;">({% if Data.Request.fullname is not empty %}{{ Data.Request.fullname }}{% else %}................................{% endif %})</td>
                    <td width="300px" align="center" style="font-size: 10px;">({% if Data.Request.father_name is not empty %}{{ Data.Request.father_name }}{% else %}................................{% endif %})</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="font-size: 10px;margin-left:5px;">Pembayaran dapat menggunakan mesin EDC : BANK MANDIRI, BCA di sekolah TUNAS HARAPAN atau Transfer ke rekening Virtual Akun BCA No. 07019510001 (Mohon kirimkan foto bukti transfer ke Whatsapp No. +62 896 3699 1809)</td>
    </tr>
</table>

</body>
</html>
