<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kartu Pelajar</title>

    <style>
        body{
            font-size: 12px;
            font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
        }
        h1{
            padding: 5px 0;
            text-transform: uppercase;
            margin: 0;
        }
        #cardwrap{
            width: 500px;
            border: 1px solid #dedede;
            margin: 0 auto;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }
        .header{
            background: #282b4e;
            color: white;
            -webkit-border-top-left-radius: 10px;
            -webkit-border-top-right-radius: 10px;
            -moz-border-radius-topleft: 10px;
            -moz-border-radius-topright: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .text-cop{
            width: 410px;
            float: left;
        }
        .label-ket{
            width: 65%;
            float: left;
        }
        .header-logo{
            width: 70px;
            float: left;
        }
        .header-logo img{
            width: 100%
        }
        .cop-sekolah{
            font-size: 23px;
            font-weight: bold;
        }
        .cop-yayasan{
            font-size: 14px;
        }
        .col-foto{
            width: 30%;
            float: left;

        }
        .col-txt{
            width: 70%;
            float: left;

        }
        .clear{
            clear: both;
        }
        .main{
            padding: 10px;
        }
        .foto img, .barcode img{
            width: 100%;
        }
        .barcode{
            padding-top: 10px;
        }
        .row{
            padding: 2px 0;
        }
        .row:before, .row:after{
            display: table;
            content: "";
        }
        .row:after{
            clear: both;
        }

        .label-name{
            width: 35%;
            float: left;
        }
        .label-ket{
            width: calc(100% - 35%);
            float: left;
        }
        .ttd-kepsek{
            text-align: center;
            width: 200px;
            float: right;
            padding-top: 10px;
        }
        .ttd-kepsek img{
            width: 100%;
        }
        .pad-l{
            padding-left: 10px
        }
        .cop-alamat{
            font-size: 10px;
            line-height: 10px;
            padding-top: 5px;
        }
        .lst-cop{
            padding-right: 5px;
            display: inline-block;
            margin-bottom: 5px;
        }
        .icon-cop{
            width: 17px;
            height: 17px;
            display: inline-block;
            margin-right: 5px;
        }
        .icon-cop img{
            width: 100%;
            vertical-align: middle;
        }
    </style>
    {#<link rel="stylesheet" href="{{ url('css/id_card/card-style.css') }}" type="text/css" />#}
</head>

<body>
<div id="cardwrap">
    <div class="header">
        <div class="main">
            <div class="header-logo">
                <img src="{{ asset('img/logo-header.jpg') }}" alt="Logo" />
            </div>
            <div class="text-cop">
                <div class="pad-l">
                    <div class="cop-yayasan">YAYASAN TUNAS HARAPAN</div>
                    <div class="cop-sekolah">SMP KRISTEN TUNAS HARAPAN</div>
                    <div class="cop-alamat">
                        <div class="lst-cop"><div class="icon-cop"><img src="{{ asset('img/maps.png') }}" alt="maps" /></div>Jl. Pahlawan No. 140-142, Bogor-Jawa Barat</div>
                        <div class="lst-cop"><div class="icon-cop"><img src="{{ asset('img/icon-phone.png') }}" alt="phone" /></div> 0251-8322242</div>
                        <div class="lst-cop"><div class="icon-cop"><img src="{{ asset('img/icon-site.png') }}" alt="phone" /></div>www.tunasharapan.sch.id</div>
                    </div>

                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <section>
        <div class="main">
            <div class="col-foto">
                <div class="foto">
                    <img src="{{ asset('img/default_foto.png') }}" alt="foto nama" />
                </div>
                <div class="barcode"><br><br>
                    {{ Barcode | raw }}
                    <br>
                    <font style="letter-spacing: 9px;">{{ Data.account.barcode }}</font>
                </div>
            </div>
            <div class="col-txt">
                <h1>Kartu Pelajar</h1>
                <div class="row">
                    <div class="label-name">Nama </div>
                    <div class="label-ket">: {{ Data.fullname }}</div>
                </div>
                <div class="row">
                    <div class="label-name">NIS/NISN </div>
                    <div class="label-ket">: {{ Data.nisn }}</div>
                </div>
                <div class="row">
                    <div class="label-name">Jenis Kelamin </div>
                    <div class="label-ket">: {{ Data.gender }}</div>
                </div>
                <div class="row">
                    <div class="label-name">Agama </div>
                    <div class="label-ket">: {{ Data.religion.name }}</div>
                </div>
                <div class="row">
                    <div class="label-name">TTL </div>
                    <div class="label-ket">: {{ Data.pob }}, {{ Data.dob|date('d F Y') }}</div>
                </div>
                <div class="row">
                    <div class="label-name">Alamat </div>
                    <div class="label-ket">: {{ Data.address }}{% if Data.rt %}<br>&nbsp;&nbsp;RT {{ Data.rt }}{% endif %}&nbsp;{% if Data.rw %}RW {{ Data.rw }}{% endif %}{% if Data.city %}<br>&nbsp;&nbsp;{{ Data.city }}&nbsp;{% if Data.zipcode %}{{ Data.zipcode }}{% endif %}{% endif %} </div>
                </div>
                <div class="ttd-kepsek">
                    <div><strong>Bogor</strong>, 17 September 2018</div>
                    <img src="{{ asset('img/ttd.jpg') }}" alt="ttd" />
                </div>
            </div>
            <div class="clear"></div>
        </div>

    </section>
</div>
</body>
</html>
