{% extends "admin::layouts." ~ config_get('themes.able_theme') %}

{% block addcss %}
    {#{{ asset(ThemePlugins ~ 'clockpicker-gh-pages/dist/jquery-clockpicker.min.css') | css_tag }}#}
    {#{{ asset(ThemePlugins ~ 'clockpicker-gh-pages/src/clockpicker.css') | css_tag }}#}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">
                    <form id="main" novalidate action="{% if state == "add" %}{{ route(RouteSave) }}{% else %}{{ route(RouteUpdate) }}{% endif %}" method="post">
                        {{ csrf_field() }}

                        <!-- PARAM -->
                        <input type="hidden" id="id" name="id" value="{{ id }}" />
                        <!-- PARAM -->

                        <!-- LEVEL -->
                        <div class="form-group row {% if (errors.has('level')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tingkat <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <select name="level" class="form-control select2" id="level">
                                    {% set ListLevel = call_helpers('get_ListLevel') %}
                                    {% for  key,value in ListLevel %}
                                        <option value="{{ key }}" {% if state == 'add' %}{{ old('level') == key ? 'selected="selected"' : ''}}{% else %}{{ Data.level_id == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                                <span class="messages"></span>
                                {% if (errors.has('level')) %}<div class="col-form-label">{{ errors.first('level') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END LEVEL -->

                        <!-- NAME -->
                        <div class="form-group row {% if (errors.has('name')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Name <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control {% if (errors.has('name')) %}form-control-danger{% endif %}" name="name" id="name" placeholder="Contoh : Kelas III A" value="{% if state == 'add' %}{{ old('name') }}{% else %}{{ Data.name }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('name')) %}<div class="col-form-label">{{ errors.first('name') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END NAME -->

                        <!-- DESCRIPTION -->
                        <div class="form-group row {% if (errors.has('description')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Keterangan <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <textarea class="form-control {% if (errors.has('description')) %}form-control-danger{% endif %}" name="description" id="description">{% if state == 'add' %}{{ old('description') }}{% else %}{{ Data.description }}{% endif %}</textarea>
                                <span class="messages"></span>
                                {% if (errors.has('description')) %}<div class="col-form-label">{{ errors.first('description') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END DESCRIPTION -->

                        <!-- TIME IN -->
                        <div class="form-group row {% if (errors.has('time_in')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Jam Masuk <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <input type="time" class="form-control clock_plugins {% if (errors.has('time_in')) %}form-control-danger{% endif %}" name="time_in" id="time_in" placeholder="07:00" value="{% if state == 'add' %}{{ old('time_in') }}{% else %}{{ Data.time_in }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('time_in')) %}<div class="col-form-label">{{ errors.first('time_in') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END TIME IN -->

                        <!-- TIME OUT -->
                        <div class="form-group row {% if (errors.has('time_out')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Jam Pulang <label class="text-danger">*</label></label>
                            <div class="col-sm-4">
                                <input type="time" class="form-control {% if (errors.has('time_out')) %}form-control-danger{% endif %}" name="time_out" id="time_out" placeholder="17:00" value="{% if state == 'add' %}{{ old('time_out') }}{% else %}{{ Data.time_out }}{% endif %}">
                                <span class="messages"></span>
                                {% if (errors.has('time_out')) %}<div class="col-form-label">{{ errors.first('time_out') }}</div>{% endif %}
                            </div>
                        </div>
                        <!-- END TIME OUT -->


                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <a href="{{ route(RouteStore) }}" class="btn btn-inverse btn-square"><i class="ti-back-left"></i> Back</a>
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-save"></i> {% if state == 'add' %}Save{% else %}Update{% endif %}</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block addjs %}
    <!-- SELECT2 -->
    {{ asset('js/select2.js')|script_tag }}

    {#{{ asset(ThemePlugins ~ 'clockpicker-gh-pages/dist/jquery-clockpicker.min.js') | script_tag }}#}
    {#{{ asset(ThemePlugins ~ 'clockpicker-gh-pages/src/clockpicker.js') | script_tag }}#}
    {#{{ asset('js/datepicker.js')|script_tag }}#}

{% endblock %}
