{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- DATATABLE -->
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/css/dataTables.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/css/buttons.dataTables.min.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/extensions/responsive/css/responsive.dataTables.css') | css_tag }}
    <!-- END DATATABLE -->
{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{ PageTitle }}</h5>
                    <span>{{ PageDescription }}</span>
                </div>
                <div class="card-block">

                    <form id="main" novalidate action="{{ route(RouteSearch) }}" method="post">
                        {{ csrf_field() }}

                        <div class="form-group row {% if (errors.has('start_date')) %}has-danger{% elseif (errors.has('end_date')) %}has-danger{% endif %}">
                            <label class="col-sm-2 col-form-label">Tanggal Mengajar</label>
                            <div class="col-sm-2">
                                <div class="form-group form-default form-static-label">
                                    <input type="date" name="date_start" id="date_start" class="form-control" value="{% if DATESTART %}{{ DATESTART | date('Y-m-d') }}{% else %}{{ DateDefault }}{% endif %}">
                                    <span class="form-bar"></span>
                                </div>
                            </div>
                            <label class="col-sm-1 col-form-label text-center">s/d</label>
                            <div class="col-sm-2">
                                <div class="form-group form-default form-static-label">
                                    <input type="date" name="date_end" id="date_end" class="form-control" value="{% if DATEEND %}{{ DATEEND | date('Y-m-d') }}{% else %}{{ DateDefault }}{% endif %}">
                                    <span class="form-bar"></span>
                                </div>
                            </div>
                        </div>

                        <hr>

                        <!-- ACTION -->
                        <div class="form-group row">
                            <label class="col-sm-2"></label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary m-b-0"><i class="icofont icofont-search"></i> Cari</button>
                            </div>
                        </div>
                        <!-- END ACTION -->

                    </form>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5>Hasil Pencarian</h5>
                <span>Filter pencarian : {{ Filter |raw }}</span>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table id="{{ datatables }}" class="table display">
                        <thead>
                        <tr>
                            {% for Row in RowDT %}
                                <th>{{ Row }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block addmodal %}
    <!-- DELETE -->
    <div class="modal fade"  id="ConfirmDelete" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="id">
                    <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light " onclick="ActionDelete()">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END DELETE -->


    <!-- INACTIVE -->
    <div class="modal fade"  id="ConfirmInactive" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Inactive Confirmation!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Apa anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse waves-effect " data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning waves-effect waves-light " onclick="ActionInactive()">Nonaktifkan</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END INACTIVE -->

    <!-- ACTIVATE -->
    <div class="modal fade"  id="ConfirmActivate" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Activate Confirmation!</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Apa anda yakin?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse waves-effect " data-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-success waves-effect waves-light " onclick="ActionActivate()">Aktifkan</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END ACTIVATE -->
{% endblock %}

{% block addjs %}
    <!-- DATATABLES -->
    {{ asset(ThemePlugins ~ 'datatables.net/js/jquery.dataTables.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/js/dataTables.bootstrap4.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive/js/dataTables.responsive.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') | script_tag }}


<script>
    var DATESTART           = '{{ DATESTART }}';
    var DATEEND             = '{{ DATEEND }}';
    var URL_DATATABLE       = '{{ UrlDatatable }}';
    var TBL_NAME            = '{{ datatables }}';
    var URL_PAGE            = '{{ UrlPage }}';

    function deleteList(id){
        $('#id').val(id);
        $('#ConfirmDelete').modal('show');
    }

    function ActionDelete(){
        var id = $('#id').val();
        window.location = BASE_URL + "/" + URL_PAGE + "/delete/" + id;
    }

    function inactiveList(id){
        $('#id').val(id);
        $('#ConfirmInactive').modal('show');
    }

    function ActionInactive(){
        var id = $('#id').val();
        window.location = BASE_URL + "/" + URL_PAGE + "/inactive/" + id;
    }

    function activateList(id){
        $('#id').val(id);
        $('#ConfirmActivate').modal('show');
    }

    function ActionActivate(){
        var id = $('#id').val();
        window.location = BASE_URL + "/" + URL_PAGE + "/activate/" + id;
    }

</script>

    <!-- FUNCTION DATATABLE -->
    {{ asset(PathJS ~ 'datatable.js')|script_tag }}
{% endblock %}
