{% extends "admin::layouts."~config_get('themes.metronic_theme') %}

{% block addcss %}

{% endblock %}

{% block pageheader %}
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    {{ MenuActive }}
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="{{ url('/home') }}" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="{{ route('activity_show') }}" class="m-nav__link">
                            <span class="m-nav__link-text">
                                {{ MenuActive }}
                            </span>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">
                                Detail
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    </div>
{% endblock %}


{% block body %}
    {% if (session('ScsMsg')) %}
        <div class="m-alert m-alert--icon m-alert--air alert alert-success alert-dismissible fade show" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
                <strong>
                    {{ session('ScsMsg') | raw}}
                </strong>
            </div>
            <div class="m-alert__close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}

    {% if (session('ErrMsg')) %}
        <div class="m-alert m-alert--icon m-alert--air alert alert-danger alert-dismissible fade show" role="alert">
            <div class="m-alert__icon">
                <i class="la la-warning"></i>
            </div>
            <div class="m-alert__text">
                <strong>
                    {{ session('ErrMsg') | raw}}
                </strong>
            </div>
            <div class="m-alert__close">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}

<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                                <span class="m-portlet__head-icon m--hide">
                                    <i class="la la-gear"></i>
                                </span>
                            <h3 class="m-portlet__head-text">
                                {{ MenuDescription }}
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form class="m-form" method="post">
                    <div class="m-portlet__body">
                        <div class="m-form__section m-form__section--first">

                            <!-- USER INFO -->
                            <div class="form-group m-form__group">
                                <label>User</label>
                                <input type="text" class="form-control m-input" value="{{ Activity.user.username }} -  {{ Activity.user.name }} [{{ Activity.user.email }}]" readonly>
                            </div>
                            <!-- END USER INFO -->

                            <!-- CONTENT TYPE -->
                            <div class="form-group m-form__group">
                                <label>Content Type</label>
                                <input type="text" class="form-control m-input" value="{{ Activity.content_type }}" readonly>
                            </div>
                            <!-- END CONTENT TYPE -->


                            <!-- CONTENT ID -->
                            <div class="form-group m-form__group">
                                <label>Content ID</label>
                                <input type="text" class="form-control m-input" value="{{ Activity.content_id }}" readonly>
                            </div>
                            <!-- END CONTENT ID -->

                            <!-- CONTENT DESCRIPTION -->
                            <div class="form-group m-form__group">
                                <label>DESCRIPTION</label>
                                <input type="text" class="form-control m-input" value="{{ Activity.description }}" readonly>
                            </div>
                            <!-- END CONTENT DESCRIPTION -->


                            <!-- DESCRIPTION -->
                            <div class="form-group m-form__group">
                                <label>DETAIL</label>
                                <code>{{ Activity.details }}</code>
                            </div>
                            <!-- END DESCRIPTION -->



                            <!-- DATA -->
                            <div class="form-group m-form__group">
                                <label>DATA</label>
                                {{ Activity.data }}
                            </div>
                            <!-- END DESCRIPTION -->

                            <!-- USER AGENT -->
                            <div class="form-group m-form__group">
                                <label>USER AGENT</label>
                                <input type="text" class="form-control m-input" value="{{ Activity.user_agent }}" readonly>
                            </div>
                            <!-- END USER AGENT -->

                            <!-- IP ADDRESS -->
                            <div class="form-group m-form__group">
                                <label>IP ADDRESS</label>
                                <input type="text" class="form-control m-input" value="{{ Activity.ip_address }}" readonly>
                            </div>
                            <!-- END IP ADDRESS -->

                            <!-- INPUT DATE -->
                            <div class="form-group m-form__group">
                                <label>INPUT DATE</label>
                                <input type="text" class="form-control m-input" value="{{ Activity.created_at }}" readonly>
                            </div>
                            <!-- END INPUT DATE -->

                            <!-- UPDATE DATE -->
                            <div class="form-group m-form__group">
                                <label>UPDATE DATE</label>
                                <input type="text" class="form-control m-input" value="{{ Activity.updated_at }}" readonly>
                            </div>
                            <!-- END UPDATE DATE -->

                        </div>

                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions">
                                <a href="{{ route('activity_show') }}" class="btn btn-primary">
                                    Back
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block addmodal %}

{% endblock %}


{% block addjs %}

{% endblock %}
