{% extends "admin::layouts."~config_get('themes.able_theme') %}

{% block addcss %}
    <!-- DATATABLE -->
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/css/dataTables.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/css/buttons.dataTables.min.css') | css_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css') | css_tag }}
    {{ asset(ThemeAsset ~ 'pages/data-table/extensions/responsive/css/responsive.dataTables.css') | css_tag }}
    <!-- END DATATABLE -->

    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/css/select2.min.css') | css_tag }}

{% endblock %}

{% block subheader %}
    <!-- BREADCUMB -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h4 class="m-b-10">{{ MenuActive }}</h4>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url('/') }}">
                                <i class="feather icon-home"></i>
                            </a>
                        </li>
                        {% if Breadcumb1.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb1.Url }}">{{ Breadcumb1.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb2.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb2.Url }}">{{ Breadcumb2.Name }}</a>
                            </li>
                        {% endif %}
                        {% if Breadcumb3.Name %}
                            <li class="breadcrumb-item">
                                <a href="{{ Breadcumb3.Url }}">{{ Breadcumb3.Name }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END BREADCUMB -->
{% endblock %}


{% block body %}
    <div class="card">
        <div class="card-header">
            <h5>{{ PageTitle }}</h5>
            <span>{{ PageDescription }}</span>
        </div>
        <div class="card-block">
            <form method="post" id="form-absence" name="form-absence" action="{{ route(RouteSearch) }}">
                {{ csrf_field() }}

                <!-- TANGGAL -->
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Tanggal</label>
                    <div class="col-sm-3">
                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <label class="input-group-text"><i class="fa fa-calendar"></i></label>
                                            </span>
                            <input type="text" name="start" id="start" class="form-control datepicker" value="{{ STARTDATE | date('d-m-Y') }}">
                        </div>
                    </div>
                    <div class="col-sm-1">
                        s/d
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <label class="input-group-text"><i class="fa fa-calendar"></i></label>
                                            </span>
                            <input type="text" name="end" id="end" class="form-control datepicker" value="{{ ENDDATE | date('d-m-Y') }}">
                        </div>
                    </div>
                </div>
                <!-- END TANGGAL -->

                <div class="form-group row {% if (errors.has('level')) %}has-danger{% endif %}">
                    <label class="col-sm-2 col-form-label">Tingkat <label class="text-danger">*</label></label>
                    <div class="col-sm-4">
                        <select class="form-control select2" id="program_study" name="program_study">
                            {% set ListProgramStudy = call_helpers('get_ListProgramStudy', User.student.school_category_id) %}
                                {% for  key,value in ListProgramStudy %}
                                    <option value="{{ key }}" {% if old('program_study') %}{{ old('program_study') == key ? 'selected="selected"' : ''}}{% else %}{{ PROGRAMSTUDY == key ? 'selected="selected"' : ''}}{% endif %}>{{ value }}</option>
                                {% endfor %}
                        </select>
                        <span class="messages"></span>
                        {% if (errors.has('level')) %}<div class="col-form-label">{{ errors.first('level') }}</div>{% endif %}
                    </div>
                </div>
                <!-- ACTION -->
                <div class="form-group row">
                    <label class="col-sm-2"></label>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-block btn-primary" ><i class="icofont icofont-document-search"></i> Cari Data</button>
                    </div>
                </div>
                <!-- END ACTION -->



            </form>

            <table id="{{ datatables }}" class="table display">
                <thead>
                <tr>
                    {% for Row in RowDT %}
                        <th>{{ Row }}</th>
                    {% endfor %}
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}


{% block addmodal %}
{% endblock %}

{% block addjs %}
    <!-- SELECT2 -->
    {{ asset(ThemePlugins ~ 'select2/js/select2.full.min.js') | script_tag }}
    {{ asset('js/select2.js')|script_tag }}

    <!-- DATATABLES -->
    {{ asset(ThemePlugins ~ 'datatables.net/js/jquery.dataTables.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-bs4/js/dataTables.bootstrap4.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive/js/dataTables.responsive.min.js') | script_tag }}
    {{ asset(ThemePlugins ~ 'datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js') | script_tag }}

    <!-- DATE -->
    {{ asset('js/datepicker.js')|script_tag }}
    {{ asset('js/date.js')|script_tag }}

<script>
    var ROUTE_DATATABLE     = '{{ RouteDatatables }}';
    var TBL_NAME            = '{{ datatables }}';
    var URL_PAGE            = '{{ UrlPage }}';
    var START               = '{{ STARTDATE }}';
    var END                 = '{{ ENDDATE }}';
    var PROGRAMSTUDY        = '{{ PROGRAMSTUDY }}';


</script>

    <!-- FUNCTION DATATABLE -->
    {{ asset(PathJS ~ 'datatable.js')|script_tag }}
{% endblock %}
